[2017-09-14 15:30] #149 closed

[2017-09-14 15:43] gauravdhiman commented on #143
I want to try example given in your repo. When I run `npm start` in `example` folder, below out I can see on terminal, but how to load an app in Android emulator or real Android mobile device ?

[code]

[2017-09-14 15:48] jeffreyffs commented on #148
Awesome, thanks so much!

[2017-09-14 16:07] bd-arc commented on #143
Well, it's a barebone React Native project and, as such, following [the getting started guide](https://facebook.github.io/react-native/docs/getting-started.html) is all that is required (make sure to check tab "Building Projects with Native Code").

If everything is properly configured on your end, running `react-native run-android` or `react-native run-ios` is all that is required for the local s

[2017-09-14 17:03] bd-arc commented on #133
Hey @KevKo1990,

You can either copy/paste the raw code, like you did, or reference the commit in your `package.json` file:
[code]
and then run `npm install` or `yarn` depending on what you're using.

Regarding the issue, what you're showing is the expected behavior: if you remove an item, the closest one becomes active. And, as I've previously mentioned, since the callback is not fired the `Pagin

[2017-09-15 01:55] jungleyu commented on #150
It works well on version 3.2.1, thank you!

[2017-09-15 06:18] gauravdhiman commented on #143
I tried your example components with fresh `CRNA` project. Its coming up perfectly fine. Android transitions are still junky.

When I replaced you `parallax` images with my `BusinessCard` component (which is based on NativeBase) - the cards are rendering properly but their alignment is bit on right side, they are not centrally aligned. May be the reason for that is [NativeBase `Card` component](ht

[2017-09-15 06:18] #143 closed

[2017-09-15 08:05] KevKo1990 commented on #133
I talked to my team, we are fine with your solution. Your described behavior should resolve our issue, we are totally fine with it. :+1:

[2017-09-15 08:31] bd-arc commented on #143
@gauravdhiman You're welcome!

Regarding slides' alignment, you might be spot on. Still, what `itemWidth` have you specified? Also, don't you have the liberty the customize `Card` component's width?

Regarding Android transitions, make sure to take a look at [this note](https://github.com/archriss/react-native-snap-carousel/#android-performance). TLDR: always test carousel's performance in a produ

[2017-09-15 08:36] bd-arc commented on #133
Ok, perfect! Then you can start using version `3.2.1` right away ;-)

[2017-09-15 08:36] #133 closed

[2017-09-15 09:49] SnowDang opened #151 "ParallaxImage cannot change property: 'resizeMode'"
I want to change 'resizeMode' of ParallaxImage but I can not.
After set style={{resizeMode: 'contain'}} does not working for me.
                    <ParallaxImage
                        source={{ uri: item.thumbnails.medium.url}}
                        containerStyle={[Styles.imageContainer]}
                        style={{resizeMode : 'contain'}}
                        showSpinner={true}

[2017-09-15 12:39] bd-arc commented on #151
Hi @SnowDang,

If you take a look at [this line of code](https://github.com/archriss/react-native-snap-carousel/blob/master/src/parallaximage/ParallaxImage.js#L177), you'll see that component's style take precedence over yours. I did that in order to prevent potential mistakes, particularly setting the `position` to something other than `relative` (which would completely mess with the parallax eff

[2017-09-15 13:13] bd-arc commented on #151
And [here you are](https://github.com/archriss/react-native-snap-carousel/commit/b4b31048114b1555c4d1f893db12b60bd40a16e1)!

If you want to use this commit right away, you can modify your `package.json` file this way:
[code]

Can you confirm that it works as expected?

[2017-09-15 13:13] #151 closed

[2017-09-16 08:29] SnowDang commented on #151
Thank @bd-arc very much.
I can modify it with your way.

[2017-09-18 09:52] albertosgr commented on #150
I still have problems with auto play on android with 3.2.1 version.

[2017-09-18 10:01] bd-arc commented on #150
Did you take a look at [this note](https://github.com/archriss/react-native-snap-carousel#unreliable-callbacks) from the doc?

[2017-09-18 10:11] albertosgr commented on #150
Autoplay fails when enableMomentum = true.  If I set it to false, its working. Let me do some more tests on it, since its binded with a pagination control with tap enabled (autoplay + tap on pagination)

[2017-09-18 10:15] bd-arc commented on #150
Oh, you might be onto something: with the new callback mechanism, I may have forgotten to handle everything properly when `enableMomentum` is set to `true`... I'll shortly take a look at it.

[2017-09-18 14:10] bd-arc commented on #145
Hi @dnish,

Any news regarding this issue? Did you have time to try the miscellaneous suggestions I gave you?

[2017-09-18 14:10] bd-arc commented on #137
Closing as no further feedback was provided.

[2017-09-18 14:10] #137 closed

[2017-09-18 14:53] bd-arc commented on #150
@albertosgr Indeed, I did make a mistake while refactoring. [This commit](https://github.com/archriss/react-native-snap-carousel/commit/d0a10517dbf6053cc02b30859b7cb38eb2181f48) fixes the issue ;-)

[2017-09-18 14:53] #150 closed

[2017-09-18 16:35] dnish commented on #145
Hey @bd-arc,
changing the different props didn't help, I guess it's more a React/React-Navigation issue. I'll try the newest version when we release a new version of our app. I'm currently dealing with https://github.com/facebook/react-native/issues/15968 since we are using FlatList components.

BTW: I found another bug. When a song changes and the app is in background, the cover size of the selec

[2017-09-18 16:53] bd-arc commented on #145
Thanks for the feedback @dnish!

Regarding the other issue, I don't see any way for the carousel to automatically update while the app is in background. It seems to me that this should be handled on your side (e.g. snapping to the current active song index when coming back). Any thoughts about that?

[2017-09-18 16:55] dnish commented on #145
@bd-arc It snaps to the current element after going back to foreground, but the problem is, that the size isn't correct. This only happens on Android.

I've switched to the next song which is "Wonder Woman" - but the cover in the middle has the wrong (old) size.

[2017-09-18 16:59] bd-arc commented on #145
@dnish Have you tried version `3.2.1`? Because I've resolved [a similar issue](https://github.com/archriss/react-native-snap-carousel/issues/133) recently...

[2017-09-18 17:08] bd-arc commented on #132
@yogevlahyani @nichesoftgh01 Good news: I've fixed the issues with RTL layouts! It's available in version `3.2.2`.

Make sure to read [this note](https://github.com/archriss/react-native-snap-carousel#rtl-support-experimental) from the doc ;-)

[2017-09-18 17:08] #132 closed

[2017-09-18 17:08] dnish commented on #145
@bd-arc I'll will try it, thank you very much :)

[2017-09-18 17:08] bd-arc commented on #151
@SnowDang The fix is available in version `3.2.2` ;-)

[2017-09-18 17:09] bd-arc commented on #150
@albertosgr The fix is available in version `3.2.2` ;-)

[2017-09-18 18:46] yogevlahyani commented on #132
Works perfectly!! Thank you!

[2017-09-19 09:47] 6axter82 commented on #12
Hello,
thanks a lot for this awesome lib. Wanted to ask if there any updates on this issue?

[2017-09-19 09:53] bd-arc commented on #12
Hi @6axter82,

I've previously been working on it, but I did face some nasty issues and weren't able to dig deeper until... today :-)

It's easily the most wanted feature at this time, and I really want to implement it. My hope is to be able to do so before the end of the month (maybe sooner). Stay tuned!

[2017-09-19 12:43] odusseys opened #153 "onSnapToItem callback not triggering consistently"
Version 3.2.2
I am trying to use the onSnapToItem callback to track the index of the carousel. My code is :

[code]

The callback is not consistently called. It is consistently called when calling this._carousel.snapToNext/Prev, but not always when swiping (in particular almost never when swiping left).

[2017-09-19 13:31] bd-arc commented on #153
Hi @odusseys,

Have you read [this note](https://github.com/archriss/react-native-snap-carousel/#unreliable-callbacks) from the doc? Also, are you currently [testing on Android with dev mode enabled](https://github.com/archriss/react-native-snap-carousel/#android-performance)?

[2017-09-19 14:14] sitompul opened #154 "Carousel wont render anything"
I'm just trying this carousel, and it can't even rendered.

I'm using your example as a reference.

What did i do wrong?

**Code**
[code]
**Packages**

- "react": "16.0.0-alpha.12"
- "react-native": "0.46.4"
- "react-native-snap-carousel": "^3.2.2"

[2017-09-19 14:20] odusseys commented on #153
Your first link is not working for me, it's just redirecting me to the
repo. Also I am testing on the iOS simulator.

On Tue, 19 Sep 2017, 15:31 Benoît Delmaire <notifications@github.com> wrote:

[2017-09-19 14:36] albertosgr commented on #150
Thank you.

[2017-09-19 14:40] agungjk commented on #154
Same problem here

[2017-09-19 15:30] agungjk commented on #154
@sitompul
try this

[code]

[2017-09-19 15:36] sitompul commented on #154
@agungjk it still doesn't work.

Could you also provide me with your current react-native version?

[2017-09-19 15:51] bd-arc commented on #154
Hi @sitompul @agungjk,

Can you take a look at [the answer I gave to a similar question](https://github.com/archriss/react-native-snap-carousel/issues/134#issuecomment-327166846) and tell me if that helps?

[2017-09-19 15:56] agungjk commented on #154
did you using yarn?
i have some trouble with yarn, so i reinstall all package using npm

this is my code
[code]

- "react": "16.0.0-alpha.12"
- "react-native": "0.46.1"
- "react-native-snap-carousel": "^3.2.2"

[2017-09-19 16:02] sitompul commented on #154
It works now thanks @bd-arc !

[2017-09-19 16:02] #154 closed

[2017-09-19 16:05] bd-arc commented on #154
@sitompul No problem ;-) I'll make sure to add a note to the doc about handling item's height because I don't think I made it clear enough.

[2017-09-19 16:07] odusseys commented on #153
Just saw that, thanks. I tried
- enabling JS debugging : no change
- setting a higher value for callbackOffsetMargin (tried 10, 50, 500), no change

[2017-09-19 16:17] bd-arc commented on #153
Hum, that's odd. I'm using the latest version in a store app and it works flawlessly.

Can you try:
- Running [the example](https://github.com/archriss/react-native-snap-carousel/tree/master/example)? If the pagination works, then the callback is also working.
- Deploy a production version of your app on a real device with an `alert()` callback for example?

[2017-09-19 20:21] Jayiitb commented on #137
Hi @bd-arc,
I regret not replying back on time.
Your changes have worked out of the blue.
Thanks.

[2017-09-20 07:34] bd-arc commented on #137
@Jayiitb No worries ;-) Thanks for letting me know!

[2017-09-20 08:31] bd-arc commented on #153
@odusseys I think I've been able to reproduce the issue. Can you confirm that it happens only when you do a long swipe instead of a short swipe?

[2017-09-20 09:22] bd-arc commented on #153
@odusseys Indeed, I made a mistake while refactoring the callback mechanism. [This commit](https://github.com/archriss/react-native-snap-carousel/commit/e075e124124d70018853fde9346828ed37138495) fixes the issue.

Can you confirm that it works for you?

[2017-09-20 15:34] wildvalcom commented on #153
@bd-arc I've got the same problem. It seems that this only happens with long swipe.

[2017-09-20 15:36] bd-arc commented on #153
@wildvalcom Have you tried the commit referenced in my latest comment?

[2017-09-20 16:17] odusseys commented on #153
Has this been released to npm or should I link the repo directly ?

[2017-09-20 20:14] k2glyph opened #155 "Scroll is lagging with huge items"

[2017-09-20 21:56] bd-arc commented on #12
Ok guys, I've got some great news: I've been working on the "infinite loop" mode and it's coming along nicely.

In fact, you can already use the [`loop` branch](https://github.com/archriss/react-native-snap-carousel/tree/loop) and see for yourself:
[code]

You can find the description of the relevant props [here](https://github.com/archriss/react-native-snap-carousel/tree/loop#loop).

**Now I need

[2017-09-20 22:50] peterchibunna commented on #153
I had the issue describe by OP. It seems to go away when you add this config properties
[code]

[2017-09-21 07:40] bd-arc commented on #153
As previously stated, I've already pushed [a commit](https://github.com/archriss/react-native-snap-carousel/commit/edd98f36cf68e6a953881244294eaeaa69bde255) for that. You can try it this way:
[code]

@odusseys @wildvalcom @peterchibunna Does it solve the issue for you?

[2017-09-21 07:59] wildvalcom commented on #153
@bd-arc thanks mate, works good for me.

[2017-09-21 08:59] bd-arc commented on #153
@wildvalcom Perfect! Thanks for letting me know.

The fix is now available in version `3.2.3`.

[2017-09-21 08:59] #153 closed

[2017-09-21 09:10] bd-arc commented on #155
@k2glyph Is your plan really to leave this issue as is? Without providing any description, some reproducible code or even a screencast?

[2017-09-21 09:14] #155 closed

[2017-09-21 19:03] bd-arc opened #156 "Regression in Android behavior with version 3.2.2"
There has been a regression in carousel's behavior on Android starting with version 3.2.2. This is apparently linked to [this commit](https://github.com/archriss/react-native-snap-carousel/commit/d0a10517dbf6053cc02b30859b7cb38eb2181f48).

**Before**
Carousel was snapping one item at a time, without overscrolling.

**Now**
Carousel over-snaps and comes back if the gesture is too quick, which resul

[2017-09-21 19:48] Gerharddc opened #157 "Adjust index if data item is removed"
I want to use this component to let a user navigate through a (potentially endless) stream of items and as such I am adding new items to the data array as the user nears the end of the list and this works just perfectly. Obviously though I can't just keep adding items without removing older ones forever as this will exhaust memory at some point.

Removing items from the start of the data array see

[2017-09-21 21:58] KarlosQ opened #158 "[Android] App crash randomly (scrollToOffset)"
Sometimes, randomly, the app crash in Android.

The error:

![imagen](https://user-images.githubusercontent.com/15233913/30720632-9b0bb2fa-9f28-11e7-9ed9-b51a43e51715.png)

Carousel props:

![imagen](https://user-images.githubusercontent.com/15233913/30720711-f2955c2e-9f28-11e7-898a-a0b3fb5de0cd.png)

React-native versions I tried: 0.47.1 and 0.48.3
react-native-snap-carousel: 3.2.3
Android Studio

[2017-09-22 09:23] efstathiosntonas commented on #83
@chaosLegacy can you post the full code? I'm currently facing this issue and i still get undefined with your example code.

[2017-09-22 11:49] wildvalcom commented on #158
+1 for me this usually happens when I rotate device with the js debugging mode turned on

[2017-09-22 12:15] bd-arc commented on #158
I think I know where the problem is. I will push a fix as soon as possible and will ask you guys to try it before releasing it.

[2017-09-22 12:27] odusseys commented on #156
Just confirming that I am indeed having this issue on Android.
It does not seem to happen when the swipe is quick but instead when it is a long swipe.

[2017-09-22 12:33] bd-arc commented on #157
Hi @Gerharddc,

I totally get what you're after, but this might be tricky to implement.

Would you mind providing me with a simple example that would serve as a starting point to work on this feature? Something based on [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) maybe...

[2017-09-22 12:40] bd-arc commented on #156
Your guess is, indeed, spot on. I've narrowed the issue down to [these few lines of code](https://github.com/archriss/react-native-snap-carousel/compare/2568fca...d0a1051) but I really don't get why this impacts Android's behavior that much.

Currently investigating...

[2017-09-22 12:58] Gerharddc commented on #157
@bd-arc I'll have to see about getting it integrated into the example but I can already give you the relevant code that I tested with yesterday:

[code]
The slightly strange syntax is just TypeScript.

This code adds a new item just before you reach the end of the carousel and also removes an item for each one that it adds. If you run this and try to scroll to the next item after 1 has been 1 then

[2017-09-22 14:25] KarlosQ commented on #158
Thanks you! Which is the stable version for Android?

[2017-09-22 14:31] bd-arc commented on #158
If my guess is correct, you shouldn't have any issue with version `3.1.0`.

[2017-09-22 20:34] bd-arc commented on #158
@KarlosQ @wildvalcom [This commit](https://github.com/archriss/react-native-snap-carousel/commit/8b65fb771bc3f050663bf13050687cc17b0e4618) should solve the issue. Can you confirm?

To test it:
[code]

If you want a deeper understanding of the issue at stake, see [this React Native thread](https://github.com/facebook/react-native/issues/10635). Basically, you should apparently avoid using stateless

[2017-09-22 20:34] #158 closed

[2017-09-24 16:25] est7 commented on #12
**"react-native-snap-carousel": "git://github.com/archriss/react-native-snap-carousel.git#loop"**

[2017-09-25 09:58] wildvalcom commented on #158
@bd-arc well, with this fix everything works as expected. Are you planing to merge this fix into master?

[2017-09-25 10:05] bernardakl opened #159 "snapToItem isn't snapping to the last item on android"
Cannot snap to the last item of the carousel using snapToItem(`lastItemIndex`,  animated = ...)
on android, working fine on IOS; Note that when I call the method snapToItem() on any index except the last one it works fine.
react-native-snap-carousel version 3.2.3

[2017-09-25 13:12] cooleagle8837 opened #160 "iOS - Please implement so if you hold down thumb to scroll and select - it stays where you land."
Please implement so if you hold down thumb to scroll and select - it stays where you land.

[2017-09-25 13:18] bd-arc commented on #160
Hi @cooleagle8837,

Can you share your implementation so I can take a look at it?

[2017-09-25 13:19] cooleagle8837 commented on #160
import React, {Component} from 'react';
import { View, Text } from 'react-native';
import PropTypes from 'prop-types';
import Carousel, { Pagination } from 'react-native-snap-carousel'

import {Metrics, Fonts} from '@themes';

const DISABLE_SWIPE_THRES = 1000;

export default class NumberPicker extends Component {

    static propTypes = {
        pickerStyle: View.propTypes.style,
        min: Pr

[2017-09-25 13:24] bd-arc commented on #160
Does it work if you set `enableMomentum` to `false`?

When this prop is set to `false`, the carousel relies on `scrollEndDrag` while it uses `momentumScrollEnd` otherwise. And there might be an issue with the RN implementation of the latter.

[2017-09-25 13:27] cooleagle8837 commented on #160
Okay. it works. Thank you.
I have also another issues and I am gonna close this and post a new issue.

[2017-09-25 13:35] cooleagle8837 commented on #160
But in this case, it's working weird for scroll.
https://www.dropbox.com/s/2xr7chczmh8o6sp/momentum%20issue.mov?dl=0

[2017-09-25 13:42] cooleagle8837 opened #161 "Item Width Variation Issue"
<img width="144" alt="screenshot at sep 25 16-43-19" src="https://user-images.githubusercontent.com/30376020/30811372-a8961fec-a210-11e7-854e-eb6f8caf9a57.png">

AS you can see in this picture, 2-digit number and 3-digit number have the same width.

Is there any way that I can use it with different width so that 2-digit number and 3-digit number have the same spacing between.
<img width="163" alt=

[2017-09-25 14:32] bd-arc commented on #160
Unfortunately, it has to do with [React Native's `ScrollView` implementation](https://github.com/archriss/react-native-snap-carousel/#flatlist-and-scrollviews-limitations) and the randomness of the scroll events. But I agree: with small items, the momentum behavior is more natural.

I'll take a look at it as soon as possible to see if I can find a workaround for the `momentumScrollEnd` bug.

[2017-09-25 14:39] bd-arc commented on #161
Using different items' widths is not allowed at the moment as this would be really tricky to handle, but this is something I've considered adding in the future.

For now, you might be able to hack your way around by using [`letterSpacing`](https://facebook.github.io/react-native/docs/textstyleproptypes.html#letterspacing).

[2017-09-25 15:07] cooleagle8837 commented on #160
Thank you for your effort. I am looking forward to your solution.

[2017-09-25 16:42] bd-arc commented on #158
@wildvalcom It has already been merged, just not published on NPM yet ;-)

I'll publish a new release when I'm done fixing a few other issues.

[2017-09-25 17:20] bd-arc commented on #145
Closing for now, but feel free to continue the discussion if needed ;-)

[2017-09-25 17:20] #145 closed

[2017-09-25 18:37] gonzalezchris commented on #137
@bd-arc I apologize for the delayed response, this fixed the issue, thanks a bunch!

[2017-09-26 01:24] cooleagle8837 commented on #160
@bd-arc, Can you let me know where I can change the code in node_modules?
Because it's some kind of urgent bug-fix, I am going to see the possibilities if i could fix it.

[2017-09-26 04:13] trungwebsite opened #162 "Implement Flip card feature."
This will be perfect if this has feature to flip card like:
https://github.com/moschan/react-native-flip-card.
Or any guide we can integrate with it?
Thanks a lot

[2017-09-26 05:25] cooleagle8837 commented on #160
<img width="359" alt="screenshot at sep 26 08-24-09" src="https://user-images.githubusercontent.com/30376020/30843779-1da9bfa4-a294-11e7-9e10-92633f38d29b.png">
Hi, @bd-arc I have added one line of code and it's working fine.
Can you see if I have done something right?
Regards.

[2017-09-26 06:59] #159 closed

[2017-09-26 08:02] bd-arc commented on #160
Ah, I see why this wasn't working. Apparently you're not using the latest version of the plugin.This bug was already fixed in [`3.2.2`](https://github.com/archriss/react-native-snap-carousel/releases) ;-)

[2017-09-26 08:02] #160 closed

[2017-09-26 08:05] bd-arc commented on #159
Hi @bernardakl,

I see that you've opened and closed this issue numerous times. Did you figure out what was the matter?

[2017-09-26 08:09] bd-arc commented on #162
Hi @trungwebsite,

By glancing at the `flip-card` plugin's source code, I see no reason why you wouldn't be able to use it with the carousel. Have you try something along those lines?
[code]

[2017-09-26 08:09] #161 closed

[2017-09-26 08:45] bernardakl commented on #159
Hey,
Yeah figured it out at last,
In my application, I was adding a new row manually each time a button was pressed using a redux status.
The problem was that on android, the new item wasn't rendered fast enough, and the `snapToItem` function was running before the new item was rendered.
I fixed it by adding a delay of 100 ms before running the `snapToItem` function each time the new item was adde

[2017-09-26 09:27] bd-arc commented on #159
Thanks for the feedback!

This is pretty strange though; Android never fails to amaze as a source of surprising bugs.

[2017-09-26 09:45] bernardakl commented on #159
Most welcome.
Yeah totally strange!

[2017-09-26 11:27] KarlosQ commented on #158
@bd-arc  No more crash, thank you!

[2017-09-26 14:26] malashkevich commented on #38
Hi @bd-arc
Big thanks for this lib man!
I want to reopen this one. I have the same issue as described on video above.
The bug appears only for android.
Seems like it's related to https://github.com/facebook/react-native/issues/11960
I was able to 'fix' it by adding following `contentContainerCustomStyle` to carousel:

[code]
Probably you can take a look on this?

lib version: 3.2.3
rn: 0.47

[2017-09-26 16:22] bd-arc commented on #38
Hi @malashkevich,

I'm quite surprised because if you take a look at [line 765 of the source code](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L765), you'll see that I'm already using such a fix (along with a few others that you can find in [this commit](https://github.com/archriss/react-native-snap-carousel/commit/6d9d459f1f42fefc0a69c0b224304cdf436

[2017-09-26 20:56] lucienboillod commented on #146
@pcooney10 I'm facing the same problem, did you manage to fix it using @bd-arc method ?

[2017-09-26 22:42] jsappme opened #163 "Warning: Failed prop type: Invalid prop `data` of type `object` supplied to `Carousel`, expected `array`."
Even so I use the following code:

[code]

[2017-09-27 07:57] bd-arc commented on #163
Can you share a typical value of `this.images`?

[2017-09-27 14:22] enguerranws opened #164 "Render slide when visible"
Hi,

Thanks for this module, really helpful. That may be a stupid question, but I wonder if there's a way to render a component only when it becomes visible (or about to). Right now, I'm using this module to display a carousel of articles, which can really slow down global perf.

Any ideas?

[2017-09-27 14:53] bd-arc commented on #164
Hi @enguerranws,

Well, that's exactly what the underlying `FlatList` component is supposed to do. Take a look at [this note](https://github.com/archriss/react-native-snap-carousel#inherited-props) in the documentation.

Typically, you will want to play with props `initialNumToRender`, `maxToRenderPerBatch`, `windowSize`, and `updateCellsBatchingPeriod` inherited from [`VirtualizedList`](https://f

[2017-09-27 14:53] #164 closed

[2017-09-27 14:54] enguerranws commented on #164
@bd-arc Sure it does. I miss that point, thanks!

[2017-09-27 16:16] enguerranws opened #165 "From 2.4.0 to 3.2.3: Pagination disappear"
Hi,

I guess I missed something (again) in the docs. I realized I was using `2.4.0` so I updated to `3.2.3` (that was my issue here: https://github.com/archriss/react-native-snap-carousel/issues/164).

But as I migrated from 2.4.0 to 3.2.3, my Pagination component just disappeared. I checked the styles (just to be sure it wasn't hiding somewhere out of the viewport), I checked the component proper

[2017-09-27 16:48] enguerranws commented on #165
Well, I checked the `containerStyle`the issue is coming from `dotStyle` which had its width set with `flex: 1`. It seems that `PaginationDot` is wrapped into a component, so the `flex` property can't be used.

I think it comes from the `<TouchableOpacity />` that is wrapping `<Animated.View style={dotStyle}/>` here: https://github.com/archriss/react-native-snap-carousel/blob/master/src/pagination/

[2017-09-27 18:57] mtimofiiv commented on #156
Just an observation, perhaps it could help: `onSnapToItem` callback gets triggered way too early in the case where this happens, and coincidentally sends an earlier index as an argument than is relevant. So given an example carousel with 10 items, the meandering extended scroll leads the callback being called within the first 2 indexes to the current position, before the animation even completes (

[2017-09-27 19:30] jsappme commented on #163
["https://imageurl...", "https://xxx.."]

[2017-09-27 20:59] bd-arc commented on #156
Thanks for the feedback @mtimofiiv! I have been working on fixing this issue today and I'm almost done.

What you describe is more of a result than a cause. It all comes down to React Native `ScrollView`'s implementation: `onScollEndDrag` is triggered when the finger is lifted, but the momentum will continue anyway. The index is right, but calculated way too early because `ScrollView` lacks a prop

[2017-09-28 07:18] mtimofiiv commented on #156
Thanks a lot for the fantastic module and the active development on this!

[2017-09-28 09:35] entropitor opened #166 "Hot reloading doesn't work"
It crashes with the error `Cannot read property 'scrollToIndex' of null` and a warning of `Can only update a mounted or mounting component. This usually means you called setState, replaceState or forceUpdate on a unmounted component. This is a no-op. Please check the code for the Carousel component`

[2017-09-28 09:40] entropitor commented on #166
I'm guessing componentWillReceiveProps is called again which call snapToItem which calls scrollToIndex on a null reference to `this._flatlist`

[2017-09-28 16:52] bd-arc commented on #156
@mtimofiiv You're most welcome! It's nice to hear that the plugin proves useful ;-)

@odusseys @mtimofiiv The issue should be fixed by [this commit](https://github.com/archriss/react-native-snap-carousel/commit/a57da943ba518fae7cfb82330b9bf8365dcbb953). Can you confirm? To use it:
[code]

[2017-09-28 16:55] bd-arc commented on #38
@malashkevich Also, can you try [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) and let me know if everything is properly displayed for you?

It was working properly on the miscellaneous RTL devices I've tested it on, but I might have overlooked something...

[2017-09-28 22:11] skylerparr commented on #156
@bd-arc that commit worked for me on the same issue.

[2017-09-29 13:43] enguerranws opened #168 "A Carousel in another Carousel?"
Hi,

I have a simple question. Can I put a <Carousel /> in another <Carousel /> component? I made a test with a dummy <Carousel /> that I putted in a parent (and working) <Carousel />: the first (parent) carousel works as expected, not the second (child) one.

Should this be working?

[2017-09-29 13:58] bd-arc commented on #168
Hi @enguerranws,

Well, the `Carousel` component is, ultimately, a `ScrollView` and as such it should be possible to nest multiple carousels. Unfortunately, there are currently countless [React Native issues about nested `ScrollView`](https://github.com/facebook/react-native/issues?utf8=%E2%9C%93&q=nested%20scrollview).

My recommendation would be to take a look at these issues and see if you can

[2017-09-29 13:58] #168 closed

[2017-09-29 15:27] enguerranws commented on #168
@bd-arc Following your advice, I'll go for another solution: putting a carousel in a carousel doesn't make really sense (swipe gesture conflict, etc.). I'll use a solution based on https://github.com/archriss/react-native-image-gallery

[2017-09-29 15:35] bd-arc commented on #168
Well, I'm not going to try and dissuade you from using another of our plugins :p

[2017-09-29 15:43] enguerranws commented on #168
Well, I was using 2 of them, now 3. You've basically written 50% of my app.

[2017-09-30 16:34] jerolimov commented on #166
Hey, as written in your PR #167, we have this in our app as well. In our case, this has nothing odo with the hot reloading. Its happen in our production app / build.

Will try your PR in the next app update.

[code]

[2017-09-30 20:27] jonching commented on #166
I also get this error (Cannot read property 'scrollToIndex' of null) in my app. It happens whenever I remove the snap carousel from the DOM of a view that it was previously showing in.

[2017-10-01 14:44] mtimofiiv commented on #156
I also find the commit is a drop-in replacement for downgrading the version to `3.2.0`!

[2017-10-01 18:53] bd-arc commented on #166
As mentioned in the PR discussion, the issue should be fixed in the "soon-to-be-merged" [`loop` branch](https://github.com/archriss/react-native-snap-carousel/tree/loop). I would definitely appreciate your confirmation ;-)

To try out the new branch:
[code]

[2017-10-02 07:42] entropitor commented on #166
It still crashes

[2017-10-02 07:47] entropitor commented on #166
It seems to work

[2017-10-02 17:01] jsappme commented on #12
when I add loop={true} to my carousel, I am getting this error: Error while updating 'src' of a view managed by: RCTImageView

any idea why?

[2017-10-02 20:49] bd-arc commented on #166
Fix released in version `3.3.0`.

[2017-10-02 20:49] #166 closed

[2017-10-02 20:50] bd-arc commented on #156
@skylerparr @mtimofiiv Thanks for the feedback guys! The fix has been published in version `3.3.0`, along with the long-awaited "loop" feature ;-)

[2017-10-02 20:50] #156 closed

[2017-10-02 20:51] bd-arc commented on #12
At last, I've released this feature in version `3.3.0` :tada:

[2017-10-02 20:51] #12 closed

[2017-10-02 20:52] bd-arc commented on #12
@jsappme I really don't know what is going on with your issue. Can you open a new issue and share some code?

[2017-10-02 20:55] bd-arc commented on #165
Hi @enguerranws,

Sorry for not getting back to you sooner; I'm going to take a look at this issue shortly. Thanks for your detailed feedback by the way ;-)

[2017-10-02 20:57] bd-arc commented on #162
@trungwebsite In the end, have you tried implementing the flip card along with the carousel?

[2017-10-02 20:57] #162 closed

[2017-10-03 09:08] bd-arc commented on #163
@jsappme I took the time to test [the provided](https://github.com/archriss/react-native-snap-carousel/tree/master/example) example with your the exact values you provided and didn't have any issue.

It must be something on your end, probably the way you handle images' fetching...

[2017-10-03 09:08] #163 closed

[2017-10-03 09:12] bd-arc commented on #165
Can you share the exact set-up of your `Pagination` component? Because I didn't have any issue with [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example).

I must have overlooked something, but it will be easier to detect if I know the exact styles you're trying to use.

[2017-10-03 12:00] kozillla opened #170 "Cannot read property 'start'of undefined"
Hi,

After upgrading react-native-snap-carousel to 3.3.0, I''m running into issue with carousel initialization. In some occasions (happens only in debug mode) app crash with :

Cannot read property 'start'of undefined
which leads to :

(Carousel.js:487:46)
...
        const offset = this._positions[index].start;
...

Ps. Just additional question , is it any way to increase momentum for Android (it

[2017-10-03 12:49] bd-arc commented on #170
Hi @kozillla,

I assume you're having the issue on Android only, aren't you? To be honest, Android debug mode is a real mess: timeouts regularly desynchronize, scroll events are called in a pretty random order... It's a complete developer nightmare! Still, I'm going to add a check in order to prevent the issue you're currently facing.

Regarding your other question, the current `ScrollView` implem

[2017-10-03 13:51] KarlosQ opened #171 "[Android] Blank and crash when momentum is false in 3.3.0"
The carousel is blank and the app crash after a few seconds.

![screenshot_2017-10-03-15-48-59-919_com exctingproject gehoko](https://user-images.githubusercontent.com/15233913/31128555-7ca9b50e-a852-11e7-88cc-69b4a6caf15a.png)

I don't use inactiveSlideOpacity neither inactiveSlideScale (i set to 1) so if I comment the function _hackActiveSlideAnimation the carousel render ok whiout crash but, It

[2017-10-03 15:03] bd-arc commented on #171
Regarding the issue, I'm currently trying to recreate it in order to fix it. Are you rendering the `Carousel` component with an empty `data` prop initially?

Regarding Android performance, make sure to read [this note](https://github.com/archriss/react-native-snap-carousel#android-performance) from the doc. **All the problems that you describe are linked to Android's debug mode** which is a mess:

[2017-10-03 15:18] bd-arc commented on #171
The issue should be solved if you use the following commit:
[code]

Can you confirm?

[2017-10-03 15:18] bd-arc commented on #170
The issue should be solved if you use the following commit:
[code]

Can you confirm?

[2017-10-03 15:39] robertmerten commented on #171
@bd-arc Experienced the same issue when rendering with empty data prop initially. Your commit seems to fix the issue!

Thx for the great package btw. :)

[2017-10-03 15:50] bd-arc commented on #171
@robertmerten Thanks for the feedback! The fix has been published in version `3.3.1`.

[2017-10-03 15:50] #171 closed

[2017-10-03 15:50] bd-arc commented on #170
Version `3.3.1` should solve the issue ;-)

[2017-10-03 15:50] #170 closed

[2017-10-03 17:07] bd-arc commented on #165
@enguerranws Well, I ended up adding a new prop for this use case: [`dotContainerStyle`](https://github.com/archriss/react-native-snap-carousel/blob/master/src/pagination/README.md#props).

You can find it in version `3.3.2` ;-)

[2017-10-03 17:07] #165 closed

[2017-10-03 21:23] sidferreira opened #172 "onSnapToItem not working (android)"
Hi! I'm using version 3.3.2 in a brand new project and the `snapToItem` isn't working. The code is exactly the one below:

[code]

Any idea what's wrong?

[2017-10-03 23:12] kozillla commented on #170
@bd-arc
Yes that was happening only on Android.  Thanks for fixing this up. All good now :-)

[2017-10-04 08:23] bd-arc commented on #172
Hi @sidferreira,

First, have you read [this note](https://github.com/archriss/react-native-snap-carousel#unreliable-callbacks) as well as [this one](https://github.com/archriss/react-native-snap-carousel#android-performance) from the doc?

Android's debug mode is a mess: timeouts regularly desynchronize and scroll events are fired with some lag, which completely alters the logic of the carousel.

[2017-10-05 10:22] SnowDang opened #173 "inactiveSlideScale not working on android"
I set inactiveSlideScale={0.9}, working well on iOS but not working on android. Please help me!
[code]

[code]

Style:
[code]

[2017-10-05 13:03] bd-arc commented on #173
Hi @SnowDang,

I don't see any reason why it wouldn't work, unless there is something very specific with how `<TouchableHighlight />` is rendered. Have you tried replacing it with a `<TouchableOpacity />`?

Also, which version of the plugin and which version of React Native are you using?

Finally, can you try [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/maste

[2017-10-06 11:48] 6axter82 commented on #12
Hi, I have tested it on the simulator and it looks nice. I have a small jump though, when I scroll fast and reach the last item of 3-by-default-added cards than I don't see any after. One second after a small jump is seen on the simulator screen and further items are added.
I am using:

"react": "16.0.0-alpha.6",
"react-dom": "^16.0.0-alpha.6",
"react-native": "0.43.2",
"react-native-snap-carousel

[2017-10-06 12:30] bd-arc commented on #12
@6axter82 Make sure to take a look at the description of [prop `loopClonesPerSide`](https://github.com/archriss/react-native-snap-carousel#loop). Also, when developing for Android, [this note](https://github.com/archriss/react-native-snap-carousel#important-note-regarding-android) is a must-read.

Note that `0.43.x` is the first version of React Native that introduced the `FlatList` component upon

[2017-10-07 16:16] Kerumen opened #174 "`enableSnap={false}` crashes with `this._onScrollEnd is not a function`"
When I set the prop `enableSnap` to `false` and I scroll the carousel it crashes with:

[code]

![screen shot 2017-10-07 at 18 15 00](https://user-images.githubusercontent.com/5436545/31309739-793eff46-ab8b-11e7-97af-87ba61eaa1c4.png)

I'm on iOS with `react-native-snap-carousel@3.3.2`.

[2017-10-08 21:27] bd-arc commented on #174
@Kerumen Good catch! I've released a fix in version `3.3.3`. Can you confirm that it works for you?

The issue only occurs when you set `lockScrollWhileSnapping` to `true`, am I right? I must warn you that the prop doesn't have any effect when `enableSnap` is disabled.

[2017-10-08 21:27] #174 closed

[2017-10-09 03:15] SnowDang commented on #173
Version info:
"react": "16.0.0-alpha.6",
"react-native": "0.44.3",
"react-native-snap-carousel": "^3.3.2",

I made an example use the latest version of react & react-native. It works ok. I think it not working with version react & react-native in my app. But have some plugin use in my app not support the latest version of react & react-native, so I can upgrade react & react-native to the latest ve

[2017-10-09 07:17] emregurler opened #175 "Is there any option to hide carousel ?"
I want to hide carousel when screen opens. After pressed a button or smth, I want to set it visible. However, I didnt find that prop, how can I do that

[2017-10-09 07:26] bd-arc commented on #175
Hi @emregurler,

There is no need for that since you can use the layout prop `display` and set it to either `flex` or `none` (see [RN doc](https://facebook.github.io/react-native/docs/layout-props.html#display)). However, from a performance standpoint, I would recommend rendering it only when needed.

[2017-10-09 07:26] #175 closed

[2017-10-09 08:31] kadoshms opened #176 "[Android] lockScrollWhileSnapping={true} (Version 3.3.3)"
Hi!
First of all I'd like to thank you for this great library, it saved me some precious time.
Iv'e started using it a while ago and still watching changes, mostly Android performance improvements since my usage of this component is a bit non-trivial

Well, I just noticed that you added the `lockScrollWhileSnapping` prop - and got excited about it, and rushed to use it.
Now I get this exception wh

[2017-10-09 09:04] bd-arc commented on #176
Hi @kadoshms,

If you've been watching the repo for a while, I guess you've already read [this important note](https://github.com/archriss/react-native-snap-carousel#important-note-regarding-android) regarding Android. If not, make sure to do so ;-)

Regarding your issue, I'm quite surprised because it means that, sometimes, `setNativeProps()` is `undefined`. I have no idea about why this can happ

[2017-10-09 09:48] kadoshms commented on #176
@bd-arc thanks for your quick reply!
This indeed solve the problem.
Do you have plans for releasing this fix anytime soon?

[2017-10-09 10:05] bd-arc commented on #176
@kadoshms I'll make sure to release it today ;-)

Just to make sure that there wasn't a deeper issue at stake, can you confirm that the log is showing up in your debug console?

[2017-10-09 10:26] kadoshms commented on #176
@bd-arc well, actually it does not :(

[2017-10-09 12:27] bd-arc commented on #176
@kadoshms Damn! This means that the prop will do nothing for you. I don't understand it since I've tested it on a bunch of devices without having any issue.

Which version of React Native are you currently using? Also, can you try [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) and tell me if it works when patching it?

[2017-10-09 12:41] kadoshms commented on #176
I am using React native `0.46.1` (comes along with Expo sdk 19.0.0 which I am using and not able to upgrade at the moment).
Should I try to upgrade my react native version?

[2017-10-09 12:46] bd-arc commented on #176
I'm not aware of any specific issue linked to RN `0.46.x`. But in order to understand the matter at stake, I would really appreciate it if you could provide me with a feedback regarding how the example works for you since it's using RN `0.48.4`.

There is also something else I am thinking about: do you, by any chance, use stateless components within the carousel?

Apparently, one should avoid usin

[2017-10-09 12:50] kadoshms commented on #176
@bd-arc I will upgrade and give you feedback soon! (it will take a bit but I will, this feature is a game changer for me and I would really want to use it).

BTW - I am using PureComponents :)

[2017-10-09 12:58] bd-arc commented on #176
Good to know!

Note that if you don't want to upgrade your project (which, I know for a fact, can get ugly real quick), you just have to:
- download [the example](https://github.com/archriss/react-native-snap-carousel/tree/master/example)
- patch file `Carousel.js` with [the code from my previous comment](https://github.com/archriss/react-native-snap-carousel/issues/176#issuecomment-335101611)
- a

[2017-10-10 10:37] KarlosQ opened #177 "[iOS] Problem with snapToItem and lockScrollWhileSnapping=true"
Hi!

If you try to do snapToItem the scroll goes back to the next item instead of going to index sent.

[code]

If I comment 591 line to 595 it works
[code]

React native: 0.48.4
RN-SC: 3.3.3 / 3.3.2

Thanks for the support!

[2017-10-10 12:40] bd-arc commented on #177
Hi @KarlosQ,

Well, good catch! I will need to either get rid of this feature or add yet another flag...

[2017-10-10 16:01] alxvallejo opened #178 "Small swipes keep resetting to item 0"
I made a small gif to show you what I'm talking about: http://www.giphy.com/gifs/3ov9jJbGt29TIYZUas

Here's my component:

[code]

Note - i'm running 3.2.1. I'll try updating and see what happens.

I'm guessing there's some 'no-man's-land' margin somewhere so that it can't find the nearest item, but I'm curious what tactics you guys have tried if you've encountered this issue. I don't know how to

[2017-10-10 16:21] alxvallejo commented on #178
Closing because upgrading to 3.3.3 fixed this issue. Great library guys!

[2017-10-10 16:21] #178 closed

[2017-10-10 19:35] ruslanverbelchuk opened #179 "[iOS] undefined is not an object (evaluating '_react2.PropTypes.object')"
Hi
I run $react-native-git-upgrade for upgrading to react-native 0.49.3 and i ve got an error on iOS
undefined is not an object (evaluating '_react2.PropTypes.object')

<unknown>
    SliderEntry.js:9:24
loadModuleImplementation
    require.js:178:12
<unknown>
    index.js:6
loadModuleImplementation
    require.js:178:12
<unknown>
    index.ios.js:2
loadModuleImplementation
    require.js:178:12
gu

[2017-10-10 21:10] bd-arc commented on #178
@alxvallejo Thanks for the feedback ;-)

[2017-10-10 21:17] bd-arc commented on #179
Hi @ruslanverbelchuk,

Good catch! With React 0.49, `PropTypes` must be imported from the dedicated package and no longer as a subclass of `React` itself. The plugin has been ready for this for a long time, but I forgot about the example.

I'll push the required fix as soon as I can.

[2017-10-11 01:26] ethanyuwang opened #180 "Card does not get rerendered when state changes"
I have a set of cards and the last card displays the user input values from previous cards. These inputs are saved to the class' state and the last card renders the state. From my understanding, if the state changes the last card would get rerendered to display the change.  However, the last card only sticks to the original placeholder values.

class state:

[code]

I just followed the example to

[2017-10-11 10:01] infinitey opened #181 "App crashed on startup with basic example"
Hi, was trying to implement basic example when app just loaded with a blank and then crashes after a few seconds on both Android and iOS without any error message shown . My sincere apology if I made any mistakes.

Thanks

[code]
Dashboard.js
[code]
styles.js
[code]

[2017-10-11 15:01] bd-arc commented on #181
Hi @infinitey,

By glancing at your code, I don't see anything wrong with it. Can you try to build [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) and tell me if your experience a similar issue?

[2017-10-11 17:53] bispul commented on #156
I think the bug is there again. When I long swipe it the animation shows a long swipe but ends in the next index to what is showing on the screen. This is just in android till now. Can you please check?

[2017-10-12 09:07] infinitey commented on #181
I was able to find the particular code that crashes the app. It is a mistake as I had attempted to reuse an old component but did not exclude margin style from my SliderEntry (card) .

Apparently, percentage margin like `margin: '5%'` will crash the app while numeric margin `'margin:10'` will throw an proper error message.

This will crash:
[code]

No more crashes:
[code]

[2017-10-12 09:17] bd-arc commented on #181
@infinitey Thanks for the feedback, this is interesting to know. It would be interesting to know if it is a limitation of the `ScrollView/FlatList` implementation.

[2017-10-12 09:17] #181 closed

[2017-10-12 09:21] bd-arc commented on #180
Hi @ethanyuwang,

Since the `Carousel` component extends the `FlatList` one, you can try to use prop `extraData={this.state}` and see if this solves your issue. You can take a look at [RN doc](https://facebook.github.io/react-native/docs/flatlist.html) for more info.

[2017-10-12 11:48] weswes opened #182 "Force zIndex of inactive slides to be lower than the active slide"
As I'm animating current active slide to sometime take the whole width of the screen, the right inactive slide is still upside my current item.
Is there any way to force current active item zIndex to be superior than others ?

[2017-10-12 12:12] weswes commented on #182
I can do it by changing render() in carousel.js:

[code]

[2017-10-12 12:39] 6axter82 commented on #12
@bd-arc Thanks, I did implement the `loopClonesPerSide` prop and it is better now. but still there is a jump seen after I come to the edge or close to it.
I have encountered another issue though. in the onSnapToItemI do the following:

[code]

I have three Cards and do 10 clones per side in order to catch up on the gaps at the edges (my previous issue described a bit up in this ticket). I get the

[2017-10-12 12:40] 6axter82 commented on #12
![screen shot 2017-10-12 at 14 40 23](https://user-images.githubusercontent.com/13738101/31496363-596e4a90-af5b-11e7-9498-c425adfd9ca8.png)

[2017-10-12 12:47] 6axter82 commented on #12
As a work around maybe implement a new property for Carousel, which is move to next card at swipe and not further. Which is not a better solution as we want to scroll fast enough as we want and not go to the lets say 30's card one by one.

[2017-10-12 13:05] 6axter82 commented on #12
I tried to play with `loopClonesPerSide` setting it to 3 and 5.

Setting it to 3 with carousel of 3 cards does not break the app, as the indices of newly added cards on the left side do not exceed 2,1,0;

In case of `loopClonesPerSide={5}` scrolling fast to the left edge before the new cards are added makes the index set to -2

[2017-10-12 13:54] bd-arc commented on #12
@6axter82 Thanks for the useful feedback! Would you mind creating a new issue with your 4 latest comments?

[2017-10-12 14:53] bd-arc commented on #172
Closing as no further feedback was provided.

[2017-10-12 14:53] #172 closed

[2017-10-12 14:58] bd-arc commented on #173
@SnowDang In version `3.2.0`, a new mechanism for slide animation has been added. It relies on `Animated.event` and this API might be a bit broken in RN `0.44.x`.

At this point, I'm afraid that you only have two options:
- to upgrade your RN version
- to use version `3.1.0` of the plugin.

[2017-10-12 14:58] #173 closed

[2017-10-12 15:30] 6axter82 opened #183 "indices mixing"
I have encountered an issue. in the onSnapToItemI do the following:

[code]

I have three Cards and do 10 clones per side in order to catch up on the gaps at the edges (my previous issue described in #12). I get the print outs of the indices, and when I scroll fast than I get negative index, which is wrong as I want to check on `app[index]`.

this is a print out of Chrom console.log(...)

@![scree

[2017-10-12 15:35] 6axter82 commented on #12
Yes, here it is #183

[2017-10-12 20:48] ethanyuwang commented on #180
Hi thank you that solved the problem

[2017-10-12 20:48] #180 closed

[2017-10-13 13:10] bd-arc commented on #182
Hi @weswes,

I can definitely add a new prop that would allow setting a higher `zIndex` for the active slide. Still, I think that users will be facing a problem when the indexes will change: the previous active item will instantly move behind the new active one, and this will result in a sub-par user experience. What are you thoughts about that?

By the way, which version of the plugin are you usi

[2017-10-13 13:12] bd-arc commented on #179
@ruslanverbelchuk I've just migrated the example to RN 0.49.3. Everything should now work properly ;-)

[2017-10-13 13:12] #179 closed

[2017-10-13 13:24] bd-arc commented on #176
Hi @kadoshms,

Any news regarding the issue?

[2017-10-13 13:38] kadoshms commented on #176
I wasnt able to check yet, but I am deffinelty want to do that soon! please leave this ticket open :)

[2017-10-13 13:58] bd-arc commented on #176
Don't worry, I'm not closing it until we've got to the bottom of the issue ;-)

[2017-10-13 14:15] bd-arc commented on #183
@6axter82 Regarding your issue, are you able to reproduce it in a production environment? As stated in [this very important note](https://github.com/archriss/react-native-snap-carousel/#important-note-regarding-android), you unfortunately can't trust carousel's behavior in a debug environment on Android.

Note that there already is a prop that allows something along the lines of "slide by slide" s

[2017-10-13 14:39] bd-arc commented on #183
Well, forget about the app environment. I can see where the issue is coming from:
[code]

Clearly, this will return negative values if `loopClonesPerSide` is bigger than data's length. I'm going to work on a fix right away!

[2017-10-13 18:33] jay1337 opened #184 "Carousel remains hidden"
I have horizontals carousels indirectly in a vertical flatlist.
Carousels in the flatlist items that are initially rendered (index lower than initialNumToRender) stay hidden.
It seems that a rerender of the carousel without opacity style is effectively trigered but with no effect.
This bug only appears on Android platform with `__DEV__ === false` (optimization on).
If I change the initial state of

[2017-10-15 15:13] kadoshms commented on #176
@bd-arc in the meantime, can you please publish the fixed you suggested above with a fix tag?

[2017-10-15 19:06] bd-arc commented on #176
@kadoshms That's the plan. But there is another issue I want to fix before publishing a new release.

I'll keep you posted!

[2017-10-15 19:11] bd-arc commented on #184
Hi @jay1337,

Unfortunately, Android is the mighty king of unexpected and unreal issues... Can you try setting `apparitionDelay` to `0` and see if that does the trick for you?

[2017-10-16 10:13] jay1337 commented on #184
@bd-arc it seems to work. Quite logic once you've seen the code of `_didMountDelayedInit` function.

If you can't do anything to completely solve this bug, you should at least add something to the documentation (in `apparitionDelay`  description and Android issues).

[2017-10-16 10:51] bd-arc commented on #183
@6axter82 This wasn't that easy, but [this commit](https://github.com/archriss/react-native-snap-carousel/commit/f3f96f719bc7882a63b654e78e712e72bbb8568e) should fix the issue.

Can you try it and confirm that it works for you?

[2017-10-16 10:55] bd-arc commented on #184
@jay1337 Well, if you could set up an example project, I can take a look at it.

I don't know about documenting it since it doesn't have anything to do with the plugin but rather with `FlatList`'s implementation. I'll decide after being able to reproduce the issue myself from your example.

[2017-10-16 10:55] #184 closed

[2017-10-16 11:12] bd-arc commented on #156
Hi @bispul,

I wasn't able to reproduce the issue. Did you make sure to read [this note](https://github.com/archriss/react-native-snap-carousel#important-note-regarding-android)?

[2017-10-16 11:46] 6axter82 commented on #183
Hey, I tried, it works nice!

[2017-10-16 13:09] bd-arc commented on #157
Hi @Gerharddc,

I've gave your issue some thought, but I don't see an easy way to deal with it (particularly with the recent `loop` addition which just made index handling even trickier). There is no definitive way of knowing the index that should be returned by a particular item after various additions/removals.

Do you have any suggestion about how this problem might be tackled?

[2017-10-16 13:12] bd-arc commented on #183
Good to know. The fix has been published in version `3.3.4` ;-)

[2017-10-16 13:12] #183 closed

[2017-10-16 13:14] bd-arc commented on #177
I've decided to remove the code since the associated feature wasn't essential but was really error-prone. The fix has been published in version `3.3.4` ;-)

[2017-10-16 13:14] #177 closed

[2017-10-16 13:14] bd-arc commented on #176
@kadoshms The fix has been published in version `3.3.4` ;-)

[2017-10-16 13:37] jay1337 commented on #184
@bd-arc

I don't have time for a full working example but basically this should reproduce the issue (not tested, sorry):

[code]

[2017-10-16 14:40] Gerharddc commented on #157
I can definitely notify the carousel of exactly how many items I will be removing before, after or during the change. In this way it should be able to adjust adjust the internal index accordingly. Unfortunately I am unfamiliar with the code-base and do not know if this is something that can easily be implemented.

In theory I could get away with just a method to notify the carousel to adjust the i

[2017-10-16 14:52] bd-arc commented on #157
@Gerharddc Thanks for the feedback! I'll see if I can think of something that doesn't break the existing logic.

FYI, index handling already consists of more than 100 lines of code...

[2017-10-16 16:31] bispul commented on #156
ohhh now i get it. Thanks a lot @bd-arc

[2017-10-16 17:26] kadoshms commented on #176
Your'e awesome, thanks!

[2017-10-16 17:26] #176 closed

[2017-10-16 19:38] MostafaEbrahimi opened #185 "not rendering images"
I copy your sample code into my app.
slider display but not showing images.(uri images not loading but local images loads)

[2017-10-16 20:00] bd-arc commented on #176
@kadoshms No problem ;-)

I noticed that you've closed the issue; does it mean that you've been able to use `lockScrollWhileSnapping` with success?

[2017-10-16 20:02] bd-arc commented on #185
@MostafaEbrahimi Can you try [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) and tell me if it works properly for you?

[2017-10-16 20:06] kadoshms commented on #176
yes!

[2017-10-17 01:57] lichenglu commented on #150
Thank you for the great work!

I am using 3.3.3 now, but I am having issues of using autoplay along with loop (enableMomentum is set to false). The behavior is when it first starts to autoplay after 5 seconds of default delay, it starts to with a blank/white view, and if you start to scroll, it starts to jump around. You will need to scroll a few times until it works properly. If I disable `loop`,

[2017-10-17 02:33] lichenglu commented on #150
Hmm...briefly went through the code of carousel. It seems the issue I mentioned has something to do with `_getFirstItem`. As when `loop` is enabled, the first item returned is `index + loopClonesPerSide`. If I adjust the `firstItem` prop to be `sliderFirstItem - loopClonesPerSide` where `loopClonesPerSide` is smaller than data's length, then things work out fine.
@bd-arc

[2017-10-17 03:49] leogeng opened #186 "How to make active screen in center"
Implement as the following:
[code]

and get the following result:
![image](https://user-images.githubusercontent.com/3293583/31645454-b9ad4c62-b2c1-11e7-86d8-953b4a46842a.png)

Even if scroll to the fourth element, the active element is also on the left.
How to make the active element in the center?

[2017-10-17 08:02] bd-arc commented on #150
Hi @lichenglu,

I haven't been able to reproduce the issue you describe. Can you try to build [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example)? The first carousel in it uses both autoplay and loop, and it works flawlessly on every device I've tested it on.

In the meantime, can you also give version `3.3.4` a try? It fixes an issue that sometimes a

[2017-10-17 08:13] bd-arc commented on #186
Hi @leogeng,

`itemWidth`'s value should always be less than `sliderWidth`'s one, otherwise no space remains to display the previews on both side. Also, note that the width you've defined in `styles.imgs` will be overridden by `sliderWidth` (see the relevant [source code](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L970:L977)).

I recommend getting r

[2017-10-17 08:13] #186 closed

[2017-10-17 08:19] leogeng commented on #186
Thank you  @bd-arc ,it works

[2017-10-17 09:50] leogeng opened #187 "how to set space between slides"
I want to change the space between slides.
![image](https://user-images.githubusercontent.com/3293583/31658373-71ec260c-b2f6-11e7-89b4-4890fbffa3de.png)

If change the margin of each item, something as the following.
![image](https://user-images.githubusercontent.com/3293583/31658411-8e1f2946-b2f6-11e7-8f3d-8f001d4aa994.png)

Does have any property to reset the space between slides.

[2017-10-17 10:40] #187 closed

[2017-10-17 10:40] leogeng commented on #187
Margin between slides

If you need some extra horizontal margin between slides (besides the one resulting from the scale effect), you should add it as paddingHorizontal on slide's container.

⚠️ The value of itemWidth must include this extra margin.

const horizontalMargin = 20;
const slideWidth = 280;

const sliderWidth = Dimensions.get('window').width;
const itemWidth = slideWidth + horizontalMa

[2017-10-18 03:50] AdamPD opened #188 "Full screen slides not working"
Hi there,

I am trying to get full screen slides working without having to specify explicit heights, but for some reason it's simply not working:

[code]

No matter what I try, if I don't specify an explicit height on the rendered items, they will not expand to be full 100% height.

I understand this component wasn't designed for this but the example in the README seems to suggest this should work

[2017-10-18 03:59] AdamPD commented on #138
@bd-arc this doesn't seem to work.  While the slide itself becomes full height, the content inside the style is not.  For example, changing your `_renderItem` to:

[code]

The view does not flex the entire height - instead it is only high enough to fit the text.

[2017-10-18 06:10] kadoshms commented on #188
I used the following settings to have a full screen carousel:

[code]
also make sure the items and the container that contains this carousel are full height.

[2017-10-18 07:33] bd-arc commented on #188
Hi @AdamPD,

Can you take a look at [the answer I gave to a similar question](https://github.com/archriss/react-native-snap-carousel/issues/134#issuecomment-327166846) and tell me if that helps?

Basically, I think you just forgot to transfer `{ flex: 1 }` with `slideStyle`. I will make a note about it in the doc.

[2017-10-18 07:40] AdamPD opened #189 "Snapping between items is very jerky"
Hi guys,

I've searched around a lot and haven't found any information about this, but even the simplest of tests with the carousel I find are very jerky.

When swiping between items in the carousel, I notice that as soon as I release my finger, the speed of the snap changes.  This means when I quickly flick to the next item, it instantly slows the snap speed so it looks like the swipe "hit a wall

[2017-10-18 08:11] bd-arc commented on #189
1) You need to understand how the plugin works: it extends the `FlatList` component and, therefore, the `ScrollView` one. Unfortunately, and as described [in the doc](https://github.com/archriss/react-native-snap-carousel/#flatlist-and-scrollviews-limitations), there are many flaws and limitations with `ScrollView`'s implementation. This means that we have to rely on workarounds and hacks to offer

[2017-10-18 15:40] bd-arc commented on #182
Closing since no further feedback was provided.

[2017-10-18 15:40] #182 closed

[2017-10-18 21:46] thewolff opened #190 "this._scrollRef.scrollTo is not a function (nested carousels)"
Hi!

I'm getting the above error when initializing my carousel! I've got the JSX for it below.

Fun fact - I'm actually instantiating this inside something that's already within a larger Carousel component. Could that be causing the above error?

[code]

[2017-10-19 07:16] bd-arc commented on #190
Hi @thewolff,

Which version of the plugin are you using? Because this is supposed to be fixed in the most recent versions (starting with `3.3.0`).

[2017-10-19 09:01] #188 closed

[2017-10-19 09:05] bd-arc commented on #185
Closing as no further feedback was provided.

See #135 for more information about a similar issue.

[2017-10-19 09:05] #185 closed

[2017-10-19 10:10] lanjiemm opened #191 "<Pagination /> component How to set height?"
I want <Pagination /> to be short
![qq20171019-180606](https://user-images.githubusercontent.com/20971872/31765830-58bcfb52-b48b-11e7-80fa-7900d556dff1.png)
this is my code
![image](https://user-images.githubusercontent.com/20971872/31765882-8ce6bb3e-b48b-11e7-8086-84f8e5bb9672.png)

[2017-10-19 10:30] bd-arc commented on #191
If you take a look at [the source code](https://github.com/archriss/react-native-snap-carousel/tree/master/src/pagination), you'll see that `<Pagination />` receives a default style of `{ paddingVertical: 30 }`.

Using prop `containerStyle`, you can either pass a different `paddingVertical` (my recommendation) or set it to `0` and define a custom height.

[2017-10-19 10:30] #191 closed

[2017-10-19 14:30] mahomahoxd opened #192 "Scrolling the list pads the items slightly more down"
Either I am doing something wrong or the list is just not working for me. I load in a couple of notes, as soon as I scroll down, theres a strange padding or margin at the top of the list. Once I scroll down enough, eventually the items will be off screen. I've looked in the example and I didn't see the same kind of behavior. I am wondering what I am doing so different why it doesn't work that well

[2017-10-19 14:36] bd-arc commented on #192
Hi @mahomahoxd,

Would you mind sharing a screencast of the behavior you're experiencing? Also, can you try to render your carousel horizontally instead of vertically, and tell me if you're having the same issue ?

[2017-10-19 14:54] lanjiemm commented on #191
@bd-arc Thanks very much

[2017-10-19 14:55] mahomahoxd commented on #192
I can't get horizontal to work that easily as it requires me to change a lot of code while I really need it to be in vertical mode. https://im5.ezgif.com/tmp/ezgif-5-e10d2ba99d.gif is what happens, I don't want the position of the notes to move downwards, I want them to stay in one place as I scroll down

[2017-10-19 15:07] bd-arc commented on #192
@mahomahoxd The screencast helped.

The issue is the same as the one described in the second part of #61. Take a look at [this comment](https://github.com/archriss/react-native-snap-carousel/issues/61#issuecomment-325202231) as well as [this one](https://github.com/archriss/react-native-snap-carousel/issues/61#issuecomment-325244828), and I think you'll be set.

[2017-10-19 15:07] #192 closed

[2017-10-19 16:18] thewolff commented on #190
Hi @bd-arc,

I've been using 3.3.4. Please let me know if there's any more information I can give you.

[2017-10-19 16:33] bd-arc commented on #190
My mistake, I thought this was the same issue as #166 and #167. I didn't pay attention to the fact that yours has to do with `this._scrollRef` and not `this._listRef`. Clearly, this is linked to the nested carousels template.

I remember seeing an issue about something similar in React Native's issues (accessing an underlying animated component is apparently tricky sometimes, particularly when mou

[2017-10-19 16:38] bd-arc commented on #190
Here is [the relevant line](https://github.com/facebook/react-native/blob/6747a36f5dec0c49fb32c68c8c980508e6ace7db/Libraries/Lists/VirtualizedList.js#L308) in RN `VirtualizedList`'s source code.

Do you still experience the issue if you replace this line with the following?
[code]

[2017-10-19 16:50] thewolff commented on #190
Sadly no.

Even with that it's complaining that this._scrollRef.scrollTo is undefined.

[2017-10-19 16:57] bd-arc commented on #190
What about the following?
[code]
or even the utterly ugly:
[code]

This is just to make sure that the issue lies on RN's end.

Note that there are 3 occurrences of the `scrollTo()` call. The carousel should only use the one from the line I've referenced, but can you make sure to update the 3 of them?

[2017-10-19 17:10] thewolff commented on #190
Replacing it everywhere with either the first or second suggestion above allows it to render, which is great!

However, upon interaction it now throws a "Cannot read property 'onStartShouldSetRespondewrCapture' of undefined which is in Caarousel.js 620:16

[2017-10-19 19:02] guilharj commented on #190
I'm started to test nested snap Carrossel and got the same problema.  I replaced the Virtualized list code also, and I've got "onStartShouldSetRespondewrCapture" problem

ExceptionsManager.js:73 Unhandled JS Exception: Cannot read property 'onStartShouldSetResponderCapture' of undefined

I've tried first using react-native ScrollView and worked fine, but I need a bit more responsive UI so I've tri

[2017-10-19 19:21] thewolff commented on #190
After running into this I tried nesting FlatList inside a Carousel component and found it similarly buggy. However, as guilharj mentioned above, ScrollView seems to be fine.

[2017-10-20 02:17] eurobob opened #193 "Any slides after the sixth item aren't visible"
Title says it all. The carousel still works and holds space, but the content doesn't appear

[2017-10-20 07:32] bd-arc commented on #193
I'm gonna need way more info than that to be of any help. Your exact set up would be a good start.

I will also need to know:
- your React Native version
- your plugin version
- the OS you've tested it on
- ideally, a reproductible example.

I also recommend taking a look at #145, and particularly at [this comment](https://github.com/archriss/react-native-snap-carousel/issues/145#issuecomment-3286

[2017-10-20 07:52] bd-arc commented on #190
Unfortunately, I think that we're facing an issue that has nothing to do with the plugin :(

First, `onStartShouldSetResponderCapture` is not the carousel call (notice that, in plugin's source code, the method is called `_onStartShouldSetResponderCapture` with a `_`). It's an undocumented feature of the `ScrollView` component that exposes the underlying `PanResponder` (as you can see [here](https:

[2017-10-20 08:18] markortiz commented on #102
is there any known reason why on app all items are look active even I set inactiveSlide values?
Like this

[code]

[2017-10-20 08:36] bd-arc commented on #102
@markortiz What is your React Native version? If it is not one of the latest, see #173 and particularly [this comment](https://github.com/archriss/react-native-snap-carousel/issues/173#issuecomment-336163895).

[2017-10-20 09:44] markortiz commented on #102
@bd-arc i'm currently using `"react-native": "0.44.0",` I just upgraded from ` "react-native-snap-carousel": "2.3.0"` to `"react-native-snap-carousel": "3.3.4"`

[2017-10-20 12:42] hugweb opened #194 "Weird rendering last slide when loop is enable !"
Hi guys !

I'm experiencing a weird situation. When I reach the last slide when loop = true (both left or right side of the carousel) the next slide is display as a first slide : I believe according to the first state display on the first carousel rendering. This bug doesn't appear while sliding other pages.

Need to precise that I'm using children components inside pages which use the state prope

[2017-10-20 23:38] Kerumen commented on #174
It works! But `lockScrollWhileSnapping` was not enabled for me.

[2017-10-22 12:57] Pradnyana28 commented on #83
@chaosLegacy how do you implemented the this.props.navigation inside _renderItemWithParallax function ? cause I always get an undefined error. Thank you.

[2017-10-22 16:54] bd-arc commented on #102
Hi @markortiz,

I didn't realize you've edited your message. Yes, you're right: the loop feature has been released in version `3.3.0`.

You have a choice to make:
- stay with `3.1.0` to get item's animation
- update to `3.3.0+` to get the loop feature
- upgrade your RN version to get both.

No easy path here, sorry.

[2017-10-23 05:47] Aliveing commented on #193
Emm... I have the same problem before, it seems the VirtualizedList problem..
**Then I look #145, this property `initialNumToRender={length} ` is worked for me.**
Here is my environment:
- react-native@0.48.3
- react-native-snap-carousel@3.3.4
- Device:
  - iOS11.0.3(15A432) (iPad Air 2)
  - iPhone 6 Simulator 11.0
  - Redmi Note 3(Android 5.0.2)

Code:

	import React,{Component} from 'react';
	im

[2017-10-23 06:26] eurobob commented on #193
Amazing @Aliveing !!!!!! Literally just as i sat down to set up an example you saved me the time!

[2017-10-23 06:28] eurobob commented on #189
I'm also experiencing weird behaviour on iOS. It wasn't like this a few months ago. Not sure which version i had the best success with though, I will hunt it down and report back here

[2017-10-23 07:54] bd-arc commented on #193
@Aliveing As stated [in the doc](https://github.com/archriss/react-native-snap-carousel#inherited-props), `initialNumToRender` already has a default value that you might need to override to suit your needs.

Note that I won't set it to `data.length` because it would be an overkill for most users. Furthermore, I think that it would be hazardous to try and compensate for `FlatList`/`VirtualizedList`

[2017-10-23 07:56] bd-arc commented on #189
@eurobob This is strange, because I can't reproduce the issue.

Would you mind sharing a screencast or setting up an Expo example?

[2017-10-23 07:57] bd-arc commented on #190
@thewolff @guilharj Did any of you guys had time to try nested carousels with version `3.1.0`?

[2017-10-23 08:01] bd-arc commented on #194
Hi @hugweb,

This is pretty strange, indeed. Does it work properly if you wait for the data to be retrieved before rendering the carousel? Something along those lines:

[code]

[2017-10-24 08:51] bd-arc opened #195 "Implement complex items interaction (cards stack)"
The goal is to implement the following kind of interaction, relying only on the `FlatList` component and on `Animated` interpolations. It might not be possible, but we need to find out :-)

[Event-cards-iOS-interaction, by Divan Raj](https://dribbble.com/shots/3731362-Event-cards-iOS-interaction)
![react-native-snap-carousel advanced layout idea](https://i.imgur.com/rcS3VAzl.png)

[Onboarding, by

[2017-10-24 19:21] crHand commented on #78
Hi @bd-arc !

I have an issue with the example above on Android.
When working with `ParallaxImage` (parallax={true}) the topLeft and topRight borders doesn't have radius.

Although when switching to React Native's `Image` (parallax={false}) works fine...

Any suggestion? Thanks!

[2017-10-25 04:35] AdamPD commented on #189
@bd-arc I'll try to put together a screencast.  I also see this on the showcase application.  Basically, the speed of the swipe versus the speed of the snap is different, so you get this moment of switching between the swipe and the snap.

I suppose this is the best we are going to get until react-native improves ScrollView etc.

[2017-10-25 04:39] eurobob commented on #189
I thought I had already uploaded a screencast but it must not have gone through. Attaching it to this post instead
[carousel-jerk.zip](https://github.com/archriss/react-native-snap-carousel/files/1413279/carousel-jerk.zip)

[2017-10-25 06:04] bd-arc commented on #78
Hi @crHand,

I'm sad to say that I'm well aware of the issue. Unfortunately, Android is incredibly buggy when it comes to border radiuses and images. As you can see by looking at RN issues [#8885](https://github.com/facebook/react-native/issues/8885) or [#3198](https://github.com/facebook/react-native/issues/3198), this is a classic problem.

There are a couple of workarounds in these threads that

[2017-10-25 07:25] bd-arc commented on #189
@AdamPD Thanks for describing the issue in greater details.

@eurobob Thank you for taking the time to put the screencast together! You said that a previous version of the plugin wasn't affected by the issue. I'm surprised, especially because @AdamPD experiences the issue even with the showcase app that uses version `1.4.0`. Still, if you can figure out which version provided a better feeling, it

[2017-10-25 09:41] bd-arc commented on #78
@crHand I've tried it all, and there's just nothing we can do ATM; this is really a RN issue.

Good news though: apparently this has been fixed by [this commit](https://github.com/facebook/react-native/commit/30044fd531c22c4c5e8f1ede206fa7c2c3fd3aa8) which will land in RN `0.50.0`.

[2017-10-25 11:44] adamski opened #196 "Accessing this.state from within renderItem method"
I'm trying to achieve the following. I have a component within my Carousel's `renderItem` method which relies on `this.state` in order to update one of its props. However, once inside the `renderItem` method it seems longer able to access this.state (or any other member of the class).

In the case of the example below, I need to access `this.state.isRecording`, however it seems that in this contex

[2017-10-25 12:17] adamski commented on #196
So I partially solved this by using an arrow function:
[code]
However quickly realised the folly of this method, is that it sets all the Carousels components recording resulting in a crash :laughing:

So I am now adding `onSnapToItem={itemIndex => this.setState({isRecording: this.props.testList[itemIndex]})}` and changing `isRecording` to reflect the current focused card on the carousel.

[2017-10-25 13:21] bd-arc commented on #196
Hi @adamski,

It looks like you forgot to bind `this` in the constructor to provide the expected context inside `renderItem`.

[The answer](https://github.com/archriss/react-native-snap-carousel/issues/130#issuecomment-324953042) I gave to a similar question should put you back on track ;-) You can also take a look at [plugin's source code](https://github.com/archriss/react-native-snap-carousel/bl

[2017-10-25 13:21] #196 closed

[2017-10-25 17:52] crHand commented on #78
@bd-arc

Yes!! I was about to reply you with that. Let's wait and see how that fix works.

Thanks!

[2017-10-25 21:31] jsappme commented on #163
Not sure why this issue is closed, I still have the issue:

[code]
Here is my code:

[code]

[2017-10-26 06:07] gitlovenotwar opened #197 "Flatlist props "inverted" not supported"
Flatlist has inverted props which it starts from the right. Please add support on it. Thank you. Great work!

[2017-10-26 07:33] bd-arc commented on #163
The issue has been closed since I wasn't able to reproduce it based solely on the information you provided.

The error you're currently facing has nothing to do with the original issue: it's a warning from React before version 16 (see [this post](https://reactjs.org/docs/typechecking-with-proptypes.html)). This has been fixed a long time ago, [in version `2.4.0`](https://github.com/archriss/react-

[2017-10-26 08:03] bd-arc commented on #197
Hi @gitlovenotwar,

If you take a look at [the source code](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L1023), you'll see that the prop has already been implemented. But you don't have the liberty to override it because it is used to provide RTL support (by hacking around a tedious RN issue).

What would be your use case?

[2017-10-26 16:27] wkwyatt opened #198 "Pagination 'carouselRef' warning when carouselRef is set"
Hi @archriss,

I have a snap-carousel component with pagination (GREAT repo by the way!👍🏽 ).  And everything works except I get this annoying error that the Pagination carouselRef isn't set when `tappableDots` is `true`, when it actually is set..... and it works.  So the warning error is the only issue.

[2017-10-27 02:01] gitlovenotwar commented on #197
Hi, my items should suppose to start at the end.

[2017-10-27 07:56] bd-arc commented on #198
Hi @wkwyatt,

That's because the carousel reference isn't available before the component has been fully initialized, and `Pagination`'s init is usually much quicker than `Carousel`'s one.

If you take a look at [the example's source code](https://github.com/archriss/react-native-snap-carousel/blob/master/example/src/index.js#L80:L81), you'll see that I've used a simple trick to prevent this error:

[2017-10-27 08:05] bd-arc commented on #197
Well, I'll expose the prop in the next release. But be aware that overriding it will mess with RTL devices.

[2017-10-27 08:28] WienerGames commented on #193
Hello,

Can you please reopen this issue so it can be investigated? The proposed solution is not OK - it completely destroys the concept of Virtualized List. I have lists with more than 100 complex items. If I am to render them all initially the component becomes useless. I have tried all different settings and properties to no success. I am always getting the next 6 items rendered and that's it.

[2017-10-27 08:52] bd-arc commented on #193
Hi @WienerGames,

I'm ok to reopen the issue, but I would appreciate if one of you guys could provide a reproductible example since I haven't been able to reproduce the matter on my own.

By the look of it, it seems to be an issue of the `FlatList` component itself, but let's not rule out the possibility of a plugin flaw.

Just a quick test: does it help if you set `apparitionDelay` to `0`?

[2017-10-27 08:53] bd-arc commented on #190
Closing as no further feedback was provided.

[2017-10-27 08:53] #190 closed

[2017-10-27 08:57] bd-arc commented on #194
@hugweb Any news regarding the issue?

[2017-10-27 09:13] WienerGames commented on #193
Hey @bd-arc,

Thanks for the quick reply! I will send you our project in a personal message so you can check it out.

As for the apparitionDelay - we tried setting it to 0 but it didn't help. I have added logs to both item class constructor and mount methods but both are only triggered 6 times in the beginning and not any more when scrolling.

[2017-10-27 09:38] wkwyatt commented on #198
Thanks it does, as I wrote the post I came up with this solution but was unsure if there was a better way.

[code]

But thank you for responding so quickly :)

[2017-10-27 09:55] bd-arc commented on #198
You're welcome ;-) I would also like to find a better solution, but that's the best I was able to come up with for now...

By the way, `tappableDots` expects a boolean, which means you should write `tappableDots={sliderRef || false}`.

[2017-10-27 09:55] #198 closed

[2017-10-27 11:13] wkwyatt commented on #198
Yea you are right!  Just fixed it lol...thats what I get for responding as soon as I woke up.

[2017-10-27 15:15] bd-arc commented on #120
Hi @NicholasBertazzon,

I forgot to let you know that since version `3.3.0` and the introduction of the loop feature, this should work as expected for you ;-)

[2017-10-27 22:02] NicholasBertazzon commented on #120
Thanks @bd-arc for let me know!

[2017-10-28 16:37] rendomnet opened #199 "snapToItem(0, (animated = false)) snaps to SECOND item."
Cant snap to first item.
`this._carousel.snapToItem(0, (animated = true)); ` snaps to second one.
And `this._carousel.snapToItem(1, (animated = true));` snaps to third one.

[2017-10-28 17:00] bd-arc commented on #199
@rendomnet Can you share your exact `<Carousel />` set up?

[2017-10-28 17:05] rendomnet commented on #199
[code]
[code]
[code]

[2017-10-28 19:18] bd-arc commented on #199
@rendomnet This might have to do with the `loop` feature. Does it work properly if you set `loop` to `false`?

[2017-10-29 04:57] rendomnet commented on #199
@bd-arc  Yes. Turning off loop makes snapToItem act properly. But we need fix for loop=true settings.

[2017-10-29 08:55] egvrcn opened #200 "Many Items, Broken Carousel (Multiply pass)"
Hi, carousel is broken when i bind many items (~20 items).
I want to pass one by one slide.

[video showing how it works](https://vimeo.com/240345867)

My code:
[code]

[2017-10-29 10:33] #200 closed

[2017-10-29 11:31] egvrcn opened #201 "Carousel with dynamic data"
I'm using your carousel project. I wanted to bind 1000 items to carousel.
My code works, but when i update state of carouselData, app is waiting almost 10 seconds.
This wait is so long for user experience.
And carousel strange behaviour. [Like this video](https://vimeo.com/240447725).
I want to pass one by one.
How can i fast update data.
I bind data like this on onSnapToItem event:

[code]

[2017-10-30 01:56] AdamPD commented on #189
@bd-arc - I tried to implement this iOS only using `snapToInterval` but I ran into major issues with left and right padding.  If I used `contentInsets` it would not snap to the right position etc.  Seems like potentially a `react-native` bug but I gave up and went with this instead.

[2017-10-30 08:59] bd-arc commented on #201
Hi @egvrcn,

Regarding the "strange" behavior on Android, make sure to read [this really important note](https://github.com/archriss/react-native-snap-carousel/#important-note-regarding-android).

Regarding the performance of the carousel, note that the component is basically a `FlatList`. There are flaws with React Native's implementation, as you can see by looking at [the dedicated issues](
http

[2017-10-30 09:06] bd-arc commented on #201
Other things you should try:
1. Implement `shouldComponentUpdate` for the `renderItem` component or, better yet, make it a `PureComponent`.
1. Make sure `FlatList` is not a child of `ScrollView` as the latter will render all child components, even those not on the screen in `FlatList`.
1. Add prop `removeClippedSubviews` to `FlastList` so it removes items out of view

[2017-10-30 13:58] egvrcn commented on #201
Thanks for answer @bd-arc . I did 2 and 3 solutions. It works better.
1. I used onEndReached method for fetch new items. It is slowing down when execute onEndReached. I cant understand why is slowing.
2. I cant use shouldComponentUpdate for renderItem. Can you give me a sample about shouldComponentUpdate?

[2017-10-31 01:46] mdchristians opened #202 "Two-Way Control"
## Feature Request: Two-way Control
It would be very cool to see the ability to have two-way control between a main component and a pagination or another component. The example I'm trying to describe can be seen here: [Swiper's Thumbs Gallery With Two-way Control](http://idangero.us/swiper/demos/300-thumbs-gallery.html).

[2017-10-31 09:47] bd-arc commented on #202
Hi @mdchristians,

This should be achievable without too much pain. Note that the two-way control between the carousel and the pagination already exists (take a look at [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example), in which the dots are tappable).

I'll try to write an example with two carousels as soon as I can ;-)

[2017-10-31 09:56] hugweb commented on #194
Sorry for the delay !

@bd-arc This is not link to loading the data before. I'n actually not loading anything. I'm just drawing pages changing the state of the **last page** then go to the **first page**  and come back to the **last** but the state is restore for 1 sec until it gets render back to the real state.

Maybe this is more explicit :
![](https://media.giphy.com/media/l4EoV32fh7fFkoB7q/gi

[2017-10-31 10:16] bd-arc commented on #193
I think the conclusions of @PublicParadise in [this React Native issue](https://github.com/facebook/react-native/issues/15734) are really interesting.

I'll try to implement his suggestion of getting rid of `getItemLayout` and using `scrollToOffset()` instead of `scrollToIndex()`. We'll see if that helps with the current matter.

[2017-10-31 10:31] bd-arc commented on #194
@hugweb Hum, it might be linked to #199. I'll take a look at it as soon as I can.

In the meantime, I would really appreciate if you can share a minimal reproductible demo or a [Snack example](https://snack.expo.io/) ;-)

[2017-10-31 11:43] bd-arc opened #203 "[Help needed] Vote for React Native's feature requests so we can improve the plugin"
Hey there,

We're really pleased with how the plugin has grown over the past few months: there is now a large user base and it is used in numerous apps. We're proud of that and **we want to thank you all for your appreciation and for making the most out of it!** :blush: You've motivated us to devote countless hours maintaining and regularly improving the plugin, and we've been happy to give back t

[2017-10-31 11:55] bd-arc commented on #201
@egvrcn `shouldComponentUpdate` is part of [the `shallowCompare` addon](https://www.npmjs.com/package/react-addons-shallow-compare`). You can find an example usage in [the source code of this very plugin](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L164:L170) ;-).

Note that it shouldn't be needed if you use `PureComponent`.

[2017-10-31 15:25] bd-arc opened #204 "Add the ability to translate up or down the active item while scrolling"
The goal is to implement the following kind of interaction, where the active item is "higher" (or possibly "lower") than the inactive ones.

[Poster Gallery, by Jakub Nespor for STRV](https://dribbble.com/shots/3908716-Poster-Gallery)
![react-native-snap-carousel inactive slide shift](https://i.imgur.com/bwkiHoal.png)

[2017-10-31 16:52] mdchristians commented on #202
Hey @bd-arc

Thanks for the quick response!  I've done something semi-close using `snapToItem`and `onSnapToItem` with two carousels, but I can't seem to get both carousels to scroll with each other, like in the Swiper example I provided.

I look forward to the example!

[2017-11-01 07:23] egvrcn commented on #201
I have tried to use shouldcomponentupdate and purecomponent.
According to my observations shouldcomponentupdate faster than purecomponent.
But still some delay exists.
Flatlist should be fixed for android.
Thanks for everything @bd-arc

[2017-11-01 10:54] cooleagle8837 commented on #203
I am doing it now.

[2017-11-01 21:15] bd-arc commented on #201
@egvrcn You're welcome! Thanks for the feedback on `shouldComponentUpdate` by the way.

I'm going to close the issue because there is only so much we can do about it. Let's follow `FlatList`'s evolution closely and post any meaningful update to this thread ;-)

I'll make sure to add everything we've shared so far to the doc; it can prove useful for other users.

[2017-11-01 21:15] #201 closed

[2017-11-01 22:30] bd-arc commented on #193
The issue should be fixed by [this commit](https://github.com/archriss/react-native-snap-carousel/commit/ce3bf0689b6506efddf93f5c699b9e5100515b1b). To try it out, just copy/paste the following in your `package.json` file:
[code]

@WienerGames @eurobob Can you confirm that it works for you?

@WienerGames I've implemented the fix that we've discussed in private, while trying to guard against a few p

[2017-11-01 22:31] bd-arc commented on #199
The issue should be fixed by [this commit](https://github.com/archriss/react-native-snap-carousel/commit/6fca99c341de5d16f474d3eda591a35597c18b15). To try it out, just copy/paste the following in your `package.json` file:
[code]

@rendomnet Can you confirm that it works for you?

@WienerGames I've implemented the fix that we've discussed in private, while trying to guard against a few potential is

[2017-11-01 22:35] bd-arc commented on #194
The issue may have been fixed by the latest updates. To try it out, just copy/paste the following in your `package.json` file:
[code]

@hugweb Can you confirm that it works for you?

[2017-11-02 08:30] hugweb commented on #194
Looks like it's not working trying to do the Snack example today.

[2017-11-02 09:03] bd-arc commented on #193
@WienerGames Do you mind telling me if the fix also works while adding `removeClippedSubviews={true}` to the `<Carousel />`?

[2017-11-02 09:51] hugweb commented on #194
You can try this project :

[bug-carousel.zip](https://github.com/archriss/react-native-snap-carousel/files/1437193/bug-carousel.zip)

Snack expo give a blank screen but code works perfectly on my laptop. Sorry I don't have time to understand why expo is not rendering properly, maybe the dependencies.

Let me know

[2017-11-02 10:07] bd-arc commented on #194
@hugweb Ok, thanks. I'll take a look at it as soon as possible.

[2017-11-03 08:02] neilyoung opened #205 "I admit I'm too stupid to install and run an example"
Not a rant, just a fact. It's me

[2017-11-03 08:12] neilyoung commented on #205
import Carousel from 'react-native-snap-carousel';

export class MyCarousel extends Component {

    _renderItem ({item, index}) {
        return (
            <View style={styles.slide}>
                <Text style={styles.title}>{ item.title }</Text>
            </View>
        );
    }

    render () {
        return (
            <Carousel
              ref={(c) => { this._carousel = c; }}

[2017-11-03 08:43] bd-arc commented on #205
@neilyoung I don't know what you do expect from this issue, but:
- **you did not respect [the contribution guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)**
- **you did not try or analyze [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example)**
- **the error has nothing to do with the plugin** and is pretty

[2017-11-03 08:43] #205 closed

[2017-11-03 08:46] neilyoung commented on #205
Well, tried to clone your repo first, did "npm install", opened the example project and was unable to compile the iOS version. However, no issue. Will use something else. Don't have the time to mess with other's issues

[2017-11-03 09:01] bd-arc commented on #205
Well, do as you wish of course. Just note that we've devoted countless hours creating and maintaining this plugin, and even more helping other (as proved by the fact that you've been answered in less than 30 minutes).

I'm curious about what would happen if we, and every Open Source contributor, were to say *"Don't have the time to mess with other's issues"* to people asking for help...

[2017-11-03 09:14] neilyoung commented on #205
You're so right. And now rest in peace....

[2017-11-06 08:38] hugweb commented on #194
@bd-arc Any news?

[2017-11-06 08:55] bd-arc commented on #194
Hi @hugweb,

I didn't have time to debug your project yet since I currently have pressing professional matters. As I said, as soon as I can ;-) (hopefully before the end of the week)

[2017-11-06 15:12] bd-arc commented on #204
Implemented in version `3.4.0`.

[2017-11-06 15:12] #204 closed

[2017-11-06 15:13] bd-arc commented on #199
Closing as no further feedback was provided.
The supposed fix has been published in version `3.4.0`.

[2017-11-06 15:13] #199 closed

[2017-11-06 15:14] bd-arc commented on #193
Closing as no further feedback was provided.
The supposed fix has been published in version `3.4.0`.

[2017-11-06 15:14] #193 closed

[2017-11-06 15:14] bd-arc commented on #197
Done in version `3.4.0` ;-)

[2017-11-06 15:14] #197 closed

[2017-11-06 15:16] rendomnet commented on #199
@bd-arc sorry my PC is not available rn so cant test your solution. I think it will work anyway, thank you for response.

[2017-11-06 22:01] jsappme opened #206 "View.propTypes.style deprecated"
from https://blog.expo.io/expo-sdk-v22-0-0-is-now-available-7745bfe97fc6

 you need to change View.propTypes.style to ViewPropTypes.style

[2017-11-07 03:06] eurobob commented on #193
Hardly think that 5 days is an appropriate grace period. I've been on holiday so haven't seen the responses. I will report back when i've had a chance to test out the supposed fix

[2017-11-07 08:50] bd-arc commented on #193
@eurobob While I would normally agree with you, you need to take into account that:
- I've been talking and running tests privately with @WienerGames regarding the current issue.
- I've devoted countless hours helping people with their problems, and it was too often met with an unfortunate lack of feedback and/or appreciation. I got used to it, but I agree that this cost me a bit of patience.

Let

[2017-11-07 09:12] bd-arc commented on #206
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

The matter you're talking about has been taken care of [a long time ago](https://github.com/archriss/react-native-snap-carousel/commit/2c893f4d79573d600ac7acbc9cd9d6d044daab25).
[Now we use both](https://github.com/archriss/react-native-snap-carousel/commit/

[2017-11-07 09:12] #206 closed

[2017-11-08 10:05] bhagwanshelke20 commented on #43
Hi
can any one help to solve this problem . I given code here please help
**Error: **Uncaught TypeError: Cannot read property 'style' of undefined at carousel**

<script type="text/javascript">
			var myIndex = 0;
			carousel();

			function carousel() {
			    var i;
			    var x = document.getElementsByClassName("mySlides");
			    for (i = 0; i < x.length; i++) {
			      x[i].style.display = "

[2017-11-08 16:02] damathryx opened #207 "doesn’t show anything"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel#reporting-an-issue) regarding bug report?

yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your issue hasn't already been repo

[2017-11-08 18:26] bd-arc commented on #207
Hi @damathryx,

There is a problem with your `renderPropertyItem()` method. [As seen in the doc](https://github.com/archriss/react-native-snap-carousel/#required), it receives one argument: `{item, index}`. So you need to call `property.item.name` for it to work.

Be careful with `<Text />` though: if you don't specify a width, slides will take a dynamic one based on label's length and this will m

[2017-11-08 18:26] #207 closed

[2017-11-08 18:34] bd-arc commented on #207
@damathryx I've just tested what I've told you and wanted to let you know that **with a `Text` component, you need to specify slide's width**. So either:
[code]
or:
[code]

[2017-11-08 18:35] bd-arc commented on #207
@damathryx I've just tested what I've told you and wanted to let you know that **with a `Text` component, you need to specify slide's width**. So either:
[code]
or:
[code]

[2017-11-08 18:46] donnes commented on #102
@bd-arc How I can solve this problem?

[code]

![simulator screen shot - iphone 6 - 2017-11-08 at 16 45 05](https://user-images.githubusercontent.com/9506146/32568041-3fbb9860-c4a4-11e7-954f-f985de796a4d.png)

[2017-11-08 18:55] bd-arc commented on #102
Hi @donnes,

I'm going to need more info to help you with that. Can you please open a new issue and make sure to follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)?

[2017-11-08 19:10] bd-arc commented on #194
@hugweb I took the time to test your example, but it didn't help me reproduce the issue. Here is a screencast that shows your example working the way it is supposed to:

![react-native-snap-carousel issue 194](https://i.imgur.com/DhWzq89.gif)

Still, I think I've understood what's troubling you. Correct me if I'm wrong, but you are updating elements on your slides and when looping, the clone slide

[2017-11-08 19:18] donnes commented on #102
Hi @bd-arc
I think is not necessary create a new issue, because the problem is related to this issue.

I create a reproduce Snack to be easy to find the problem, here's the link: https://snack.expo.io/ryxxwAeJG

As @mazing said earlier, following your example (https://github.com/archriss/react-native-snap-carousel/issues/102#issuecomment-318061156) it's will generate a blank space at end of the sc

[2017-11-09 00:43] malonguwa opened #208 "[Please Help] Click Event on FlatList items not working during setInterval()"
I have a horizontal FlatList, where each time it reaches the end, it automatically adds new elements to the list, so it kind of is an infinite list. I want the app to scroll through the list by itself automatically, but during my testing, when I use timer to call FlatList's scrollToOffset() and make the FlatList auto scrolling, I can not click the item (onPress={this.clickItem} never get called),

[2017-11-09 03:10] damathryx commented on #207
thanks

[2017-11-09 05:37] levinhphuc91 opened #209 "activeSlideAlignment add more option when snap items"
Hi team,

Can we have one more option for first item on left side but second, third item will be center?

[2017-11-09 08:33] hugweb commented on #194
@bd-arc I'm not updating anything on loop. Each slide is a component and each component has his state. I update the state of the component by clicking on press me which change the color. Then when I slide between the last and the first slide (only when loop is enable) there is this glitch.

If you take a look, you can see that you can update the state of each component of each slide and it works p

[2017-11-09 09:40] bd-arc commented on #194
@hugweb The problem is that I'm not able to reproduce the issue. As you can see with the screencast, and unless I'm mistaken, the issue you describe doesn't occur in your example.

One important clarification though: when looping, the data you provide is cloned in order to create slide duplicates. This is pretty complicated and a hundred lines of code are dedicated to it exclusively (you can [take

[2017-11-09 10:03] bd-arc commented on #209
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

Hi @levinhphuc91,

Unfortunately no, there is no way we can provide such a feature with the current inner logic of the plugin. You might interested by #195 though.

[2017-11-09 10:03] #209 closed

[2017-11-09 10:15] bd-arc commented on #208
Hi @malonguwa,

I must warn you that you did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) and that your question has nothing to do with the plugin! It would be better suited in [React Native's dedicated issues](https://github.com/facebook/react-native/issues), and you'll have a much wider audience. Still, since you're

[2017-11-09 10:15] #208 closed

[2017-11-09 10:56] hugweb commented on #194
Yes definitely make sense. But wait, in your screencast you don't see that the background of the page 3 when you come from the page 5 is **red** and become **green** quickly after the slide movement end?!

[2017-11-09 11:21] bd-arc commented on #194
@hugweb Of course, but that's what I've described in length ;-) When you see the red background, it's a clone. Then, immediately after scroll completion,  the `ScrollView` is repositioned to the original item (green background) on which the state has been updated.

As previously stated, there is no way to duplicate states between slides. You can only handle item with your data set and the `renderI

[2017-11-09 11:55] bd-arc commented on #102
@donnes I see what you mean. I didn't provide the full example at that time and I now realize that the code from my previous answer can lead to issues like yours.

I've modified the Snack you provided to make it work as expected: https://snack.expo.io/Hynr0n-1z

They were two problems:
- `sliderItemHorizontalMargin` needed to be added as `paddingHorizontal` instead of `marginHorizontal` since the

[2017-11-10 01:06] malonguwa commented on #208
Please accept my apology, I am really new to the Rect Native~ and many thanks for your help and time!

I am willing to implement a horizontal FlatList for stock ticker like in the gif.
![example](https://user-images.githubusercontent.com/2183780/32637352-4073acec-c5f4-11e7-8cb2-92f1b429075a.gif)

So I start to write a really simple App, by using FlatList, and apply a timer to increase FlatList's c

[2017-11-10 13:23] papmodern opened #210 "Error Handling for missing itemWidth or itemHeight"
The problem is by forgetting to put itemWidth or itemHeight for Horizontal or Vertical Carousel, the proper error won't shows.

[2017-11-10 14:03] papmodern opened #211 "TappableDots in pagination miss behavior on RTL"
The tappableDots is working reverse. It means by clicking the first dot, It will move to the last slide and vice versa

[2017-11-10 20:21] bd-arc commented on #210
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

[2017-11-10 20:21] #210 closed

[2017-11-10 20:22] bd-arc commented on #211
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

[2017-11-10 20:22] #211 closed

[2017-11-11 07:03] AldoAltamira opened #212 "Navigation inside SliderEntry.js"
hi
I want to add navigation to my carousel but its not working
i try to use the issue #83 but i dont know how implement this

this is my code:

ProjectInfo.js
`import React from 'react';
import { AppRegistry, Linking, Platform, Alert, StatusBar, Animated, ActivityIndicator, ScrollView, ListView, Dimensions, WebView, TouchableHighlight, Image, FlatList, Text, View, Button, StyleSheet, TextInput } f

[2017-11-11 14:22] bd-arc commented on #212
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

[2017-11-11 14:22] #212 closed

[2017-11-11 18:35] gonzalezchris opened #213 "Modifying Animation Speed"
### Is this a bug report or a feature request?

This is a question

First off thanks for creating react-native-snap-carousel! It's been very helpful!

Do you have any tips on how I would go about modifying the swiping speed or animation? When a user swipes their finger from right to left, to view the next item, the animation seems to ease out, or slow down right before the animation ends. I'd like

[2017-11-12 01:45] donnes commented on #102
@bd-arc I believe I did not explain the problem correctly.

Below is an example of the Carousel on the Airbnb app

![airbnb-example](https://user-images.githubusercontent.com/9506146/32695077-134c5f02-c739-11e7-8dc4-c61ebf360c83.gif)

And now the example I sent earlier (https://snack.expo.io/BJ4_VmS1M)

![snap-carousel-example](https://user-images.githubusercontent.com/9506146/32695078-2c15811c-c7

[2017-11-13 08:34] bd-arc commented on #213
Hi @gonzalezchris,

Unfortunately, the `ScrollView` upon which the plugin is ultimately based [doesn't offer any kind of animation speed option](https://github.com/archriss/react-native-snap-carousel/#flatlist-and-scrollviews-limitations).

Two currently opened issues might interested you though:
- #189: in which I've explained the problem and talked about incoming attempts to implement `pagingEna

[2017-11-13 08:34] #213 closed

[2017-11-13 08:38] bd-arc commented on #102
@donnes Ah, I now see what you mean!

To be honest, this can prove tough to implement because it would require modifying `ScrollView`'s width and a bunch of the associated logic when `snapToAlignment` is set to either `start` or `end`.

But I'll make sure to take a look at it, as I agree that this would be better from a user experience point of view ;-)

[2017-11-13 10:33] florentroques commented on #203
Done!

I added a pull request to add visibility to this issue on readme file.
Another suggestion:
show this issue link when a user is installing the plugin

[2017-11-13 10:40] donnes commented on #102
@bd-arc I'll create a fork and try take a loot about it. Thank you for the good job! :D

[2017-11-13 10:41] bd-arc commented on #102
@donnes I've just played with the source code to see what I would be able to do about it, but I unfortunately don't think that it can be implemented at the moment.

Currently, we determine the active item when its position meets an imaginary line linked to the value of `activeSlideAlignment`. For example, with a `start` value this line is at `itemWidth / 2`. If we're not able to scroll to this pos

[2017-11-13 11:14] bd-arc commented on #208
Hi @malonguwa,

I'm currently taking a look at your problem. First of all, note that you should wrap your item's `<View />` container inside the `<Touchable />`, not the other way around. Only what's in the `Touchable` component responds to the `touch` event. This means that only the small `<Text />` can be clicked in your example.

Here is an updated version that allows clicking the entire item:

[2017-11-13 12:30] donnes commented on #102
@bd-arc I had previously tried implemented myself carousel component using FlatList and I got these problems too. Aparently the only way is use ScrollView (for IOs) and ViewPagerAndroid (for Android) but yet I got some problems with the latest versions of React Native (0.50+).

By the way, I'll stud the repo code and try some solutions and I back if find something. And also, I'm going to vote for

[2017-11-13 12:32] bd-arc commented on #208
@malonguwa Unfortunately, I haven't been able to make it work. The inner logic of the `FlatList` component seems to be that when programmatically scrolled, touch events are dismissed.

I've tried [this workaround](https://github.com/facebook/react-native/issues/10822#issuecomment-268142915), but it doesn't seem to work anymore. I've also tried playing with [the gesture responder system](http://fac

[2017-11-13 12:45] bd-arc commented on #102
@donnes While the plugin is based on `<FlatList />`, it is [nothing more than a `<ScrollView />`](https://github.com/archriss/react-native-snap-carousel/#flatlist-and-scrollviews-limitations) in the end ;-)

The `ViewPagerAndroid` component has been heavily considered since it behaves so much better than the regular `ScrollView` on Android. Unfortunately, the preview effect (which is the root of t

[2017-11-13 14:20] jordangrant commented on #212
@AldoAltamira After a few hours of research/trial & error I found the solution (for myself):

_In your Carousel:_
[code]
Adding the bind allows the _renderItem function to understand what "this" is in this.props.navigation.

In the _renderItem function:_
[code]

And inside SliderEntry.js:
[code]
Hope this helps!

[2017-11-13 14:24] jordangrant commented on #146
@pcooney10 @lucienboillod Hey guys, here's my solution for this:

In your Carousel:

[code]
Adding the bind allows the _renderItem function to understand what "this" is (in this.props.navigation.)

In the renderItem function:

[code]
And inside SliderEntry.js:

[code]
Hope this helps!

[2017-11-13 14:26] jordangrant commented on #83
@efstathiosntonas @Pradnyana28 Here's my solution:

In your Carousel:

[code]
Adding the bind allows the _renderItem function to understand what "this" is in this.props.navigation.

In the renderItem function:

[code]
And inside SliderEntry.js:

[code]

[2017-11-13 17:54] pcooney10 commented on #146
Hey @lucienboillod, I didn't see your message for some reason but I ended up using the `withNavigation` HOC from react-navigation: https://github.com/react-community/react-navigation/blob/master/docs/api/withNavigation.md.  I wrapped the equivalency of `SliderEntry` above.

@jordangrant's solution seem like it might be better though, thanks @jordangrant !

[2017-11-13 23:52] messpublic opened #216 "Red Android screen on first touch..("
Hi!

This is an excellent plugin, but I can not use it, for several days I can not find a solution.
I read the instructions, many times I tried to find a solution in a note about android, but unsuccessfully.

I tried to make the most simple -

![2017-11-14 2 57 57](https://user-images.githubusercontent.com/33529693/32755714-a458dc0a-c8e7-11e7-8af3-5b27d7d42d48.png)

but even here a failure.

Other

[2017-11-14 08:57] bd-arc commented on #216
Hi @messpublic,

First, be aware that **you did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)**! This is a necessary step if you want us to be able to help you.

In [the issue template](https://raw.githubusercontent.com/archriss/react-native-snap-carousel/master/ISSUE_TEMPLATE.md), you'll find some input that might help

[2017-11-14 10:29] naffiq commented on #216
This happens in my case sometimes, even if I just use ScrollView.

This issue might be helpful https://github.com/facebook/react-native/issues/16522

[2017-11-14 11:41] oximer commented on #87
Are you guys saying that react-native-snap-carousel 2.3 min version is React Native 0.43?

I couldn't find the min version for ~2.0 on any place.

[2017-11-14 13:51] bd-arc commented on #87
@oximer [This commit](https://github.com/archriss/react-native-snap-carousel/commit/292a75f0f418ea179df14da4c7485a831cfece0a) introduced retro-compatibility with older versions of React Native, but it was published in `3.0.0`.

I will see about publishing a new `2.4.x` release that includes this commit. Note that `2.2.2` shouldn't trigger the `ViewPropTypes` error.

Is there a particular reason wh

[2017-11-14 14:28] bd-arc commented on #87
@oximer I've just pushed a new branch [`v2.4.1-retrocompatibility`](https://github.com/archriss/react-native-snap-carousel/tree/v2.4.1-retrocompatibility) that includes the fix for older versions of React Native.

Can you try it and let me know if it works for you?

[2017-11-15 02:12] malonguwa commented on #208
@bd-arc Thanks for your time and effort! Really appreciate it!
I think I make it work :)

After I dump the RN’s own touchable component and implement my own touch event handler.
I also set scrollToOffset animated prop to false and disabled timer in onResponderGrant.

[code]
I will try to implement the infinite auto scroll at the next step :)

Please refer to https://snack.expo.io/@lma/timerwithcar

[2017-11-15 06:12] iChriiss opened #217 "Customizing the scrolling animation"
### Is this a bug report or a feature request?

Question/Help

Thanks for this Awesome component! :)
Is it possible to alter the swiping animation? The current animation makes it such that the carousel item does not have a consistent speed (Im assuming this is to give it the appearance of a carousel, where the item sort of swings towards you, before continuing ). Im curious to know if I could make

[2017-11-15 09:55] bd-arc commented on #217
Hi @iChriiss,

Your question is a duplicate of #213.

This is not by design; it's rooted in the fact that the `ScrollView` component upon which the plugin is ultimately based [doesn't offer any kind of animation speed option](https://github.com/archriss/react-native-snap-carousel/#flatlist-and-scrollviews-limitations).

Two currently opened issues might be of interest for you though:
- **#203: in

[2017-11-15 09:55] #217 closed

[2017-11-15 19:36] gabrielbull opened #218 "Crashes on iOS device (not sim) when an animated gif is used"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel#reporting-an-issue) regarding bug report?

No

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been repor

[2017-11-15 23:15] oximer commented on #87
@bd-arc I'm stucked on React Native version 0.41.2
It seems that your version 3.0 and above is only compatible with 0.43.0 or above, right?

[2017-11-16 08:40] bd-arc commented on #87
@oximer Yes, because it relies on a component introduced in React Native `0.43.0`.

Have you tried the aforementioned branch to see if it solves the issue for you?

[2017-11-16 08:42] #194 closed

[2017-11-16 11:12] bd-arc commented on #218
Hi @gabrielbull,

This looks like a React Native bug. I see no reason why the plugin would create a particular error since the component is basically a `FlatList`...

Two things:
- Can you share the app's stack trace when the crash occurs?
- Can you create a simple `FlatList` and see if you also have the issue? Note that you can reuse the same props `data` and `renderItem`, as well as the same sty

[2017-11-16 23:37] QQizi opened #219 "onScroll doesn't update currentIndex"
I updated the plugin to the last version from 2.x and i have now a problem with the onScroll callback.
It seem that the carousel .currentIndex doesn't update anymore in the callback function.

`<Carousel
ref={(carousel) => { this._carousel = carousel; }}
					sliderWidth={viewportWidth}
					sliderHeight={viewportHeight*55/100}
					itemWidth={viewportWidth}
					itemHeight={65}
					vertical={tru

[2017-11-17 08:36] bd-arc commented on #219
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

[2017-11-17 08:36] #219 closed

[2017-11-17 16:53] sitorush commented on #63
I just had similar issue where the carousel has long list (eg. 90 items) and set the firstItem into high number will always select the 12th item. It turns out I have to add `getItemLayout` in order for FlatList to figure out how long the list will be.
[code]

I hope this helps someone else related to `firstItem` issue.

[2017-11-17 16:57] bd-arc commented on #63
@sitorush Which version of the plugin are you using?

Because, as you can see [there](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L1024), `getItemLayout` is now always overridden (see #193 for more information).

[2017-11-17 17:21] sitorush commented on #63
`"react-native-snap-carousel": "^3.4.0",`?

[2017-11-17 17:26] bd-arc commented on #63
@sitorush Well then `getItemLayout` is not supposed to do anything :-)

If you take a look at #193, you'll see that you're not supposed to be facing the issue anymore. Let's continue the discussion there if need be.

[2017-11-17 18:42] ethanyuwang commented on #181
I experienced the same issue and was able to fix it by changing percentage margin to numeric margin.

[2017-11-18 00:46] ethanyuwang opened #220 "Invariant Violation: No item for index.."
### Is this a bug report or a feature request?

bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel#reporting-an-issue) regarding bug report?

(Write your answer here.)

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your issue ha

[2017-11-20 10:34] bd-arc commented on #220
Hi @ethanyuwang,

Unfortunately, I am not able to reproduce the issue. It would really help if you could provide a complete example.

[2017-11-20 13:06] zokypesch opened #221 "example maps"
anyone have a example carousel with maps ???

[2017-11-21 06:56] DanGDroid commented on #132
sorry i tried on latest v. but RTL with over 30 items in the list does not function,
i tried older v 2.1 but no success

[2017-11-21 08:49] bd-arc commented on #132
Hi @DanGDroid,

Can you please open a new issue? Make sure to read [the contribution guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) and to follow [the issue template](https://raw.githubusercontent.com/archriss/react-native-snap-carousel/master/ISSUE_TEMPLATE.md).

Make also sure to test with different versions of React Native; this looks like a RN b

[2017-11-21 21:57] eduardoinnorway opened #222 "Render any view as a slide?"
Trying to figure this out, in your example you have data
{
        title: 'Beautiful and dramatic Antelope Canyon',
        subtitle: 'Lorem ipsum dolor sit amet et nuncat mergitur',
        illustration: 'http://i.imgur.com/UYiroysl.jpg'
    },

So this means, I cant render any view I want? I want to slide charts for example.

[2017-11-21 22:06] bd-arc commented on #222
Hi @eduardoinnorway,

You are totally free to render whatever you want, but you need to do it through two props inherited from the `FlatList` component: `data` and `renderItem`.

I think that [this section](https://github.com/archriss/react-native-snap-carousel/#migration-from-version-2x) of the doc will clarify things for you.

[2017-11-21 22:06] #222 closed

[2017-11-21 22:49] Eyesonly88 commented on #203
Done!

[2017-11-22 15:21] bd-arc commented on #218
Closing as no further feedback was provided.

[2017-11-22 15:21] #218 closed

[2017-11-22 15:21] bd-arc commented on #216
Closing as no further feedback was provided.

[2017-11-22 15:21] #216 closed

[2017-11-23 08:35] babyjazz opened #223 "react native snap carousel cannot render image from asset folder"
![image](https://user-images.githubusercontent.com/17084428/33162248-17f07392-d05b-11e7-801b-cfde8acdcda6.png)
Here is my code

![image](https://user-images.githubusercontent.com/17084428/33162252-26429c40-d05b-11e7-83b0-2e7b74881b8f.png)
and this is error

[2017-11-23 08:48] bd-arc commented on #223
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

Moreover, this error has nothing to do with the plugin but rather with React Native. Here is a link to the dedicated issues: https://github.com/facebook/react-native/search?q=image+require&type=Issues&utf8=%E2%9C%93

If I recall correctl

[2017-11-23 08:48] #223 closed

[2017-11-23 08:51] bd-arc commented on #221
Hi @zokypesch,

It shouldn't be to complicated to implement. As stated in the doc:

[2017-11-23 08:51] #221 closed

[2017-11-24 11:45] lc3t35 commented on #220
what do you do with
[code]
It can be negative when slideIndex is 0 ....

[2017-11-27 07:45] cruisecoders opened #224 "Support for react native v0.50.1"
Feature request

Hi, I am getting this error when I updated my React Native version to 0.50.1. I think Parallax image needs to add support for <ImageBackground> Component.
![image](https://user-images.githubusercontent.com/27813353/33255672-baf0d250-d374-11e7-9f5f-38520929edf6.png)

react-native:v0.50.1

[2017-11-27 08:30] bd-arc commented on #224
Hi @cruisecoders,

If you take a look at RN's release notes for version `0.50.0`, you'll see the following:

This explains the error. But if you take a look at [the component's source code](https://github.com/archriss/react-native-snap-carousel/blob/master/src/parallaximage/ParallaxImage.js), you'll see that no content is rendered inside `<Animated.Image>`...

Have you been able to reproduce the e

[2017-11-28 08:19] plimerence opened #225 "ios change tabbar cause white screen"
i make a banner use Carousel ,but when i  click tabbar to change to other screen ,the white screen may appear.
![whitescreen](https://user-images.githubusercontent.com/13290201/33309043-c767c65e-d457-11e7-877d-75a8eb503785.gif)

my core code is here:
<Carousel
                    inactiveSlideScale={1}
                    autoplayDelay={4000}
                    sliderWidth={this.props.itemWidth}

[2017-11-28 09:17] bd-arc commented on #220
Closing as no further feedback was provided.

[2017-11-28 09:17] #220 closed

[2017-11-28 09:19] bd-arc commented on #225
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2017-11-29 08:03] m-vdb commented on #157
I've been able to work around my issue by using `this._carousel.snapToItem(index + 1, false)`, maybe it can help you!

[2017-11-29 08:33] bd-arc commented on #157
Hi @m-vdb,

I didn't have time to work on this issue lately, but if the problem is spreading I'll try to take a look at it shortly. Not before next week though, since I currently have major professional deadlines to meet ;-)

[2017-11-29 11:01] cruisecoders commented on #224
Hi, @bd-arc I used this example to create the parallax carousel.It is working good in rn version 0.49.3 but when I updated my rn to 0.50.1 then I got the following error.

[2017-11-29 19:45] chrise86 commented on #225
I think I'm facing a similar issue - did you get any further with your issue @plimerence ?

[2017-11-30 07:53] plimerence commented on #225
i do not hava any good idea, if you are hurry about it ,you can create a native module to solve this problem。 ps:andriod device is OK ,so just create ios native module . @chrise86

[2017-11-30 14:14] nadavoran commented on #203
Done!

[2017-12-05 15:27] aschenkel commented on #158
Thanks @bd-arc!
Just wanted to appreciate the effort and support this package has, it is great

[2017-12-05 15:29] bd-arc commented on #158
You're welcome @aschenkel. Always good to hear though ;-)

[2017-12-06 03:58] jordangrant commented on #199
@bd-arc Potential bug: Have been using a **looped** carousel, and let's say I start at index one, I move to the left (index 0.. index (-1)..) the carousel suddenly loops around to that same card, but on the right side? Hard to explain, here's a gif: https://imgur.com/61cmLGJ
Quite a bit of skipping, in general, looking at the commit above, I'm thinking it _could_ be related?

[2017-12-06 08:46] bd-arc commented on #199
Hi @jordangrant,

Thanks for reporting back. While the issue you describe is not linked to the one from this thread, it clearly has to do with loop handling.

When looping, the data you provide is cloned in order to create slide duplicates. When you reach the edges of the original slides, you are then scrolling duplicates (their number being defined by prop `loopClonesPerSide`). Then, when the scr

[2017-12-06 08:47] bd-arc commented on #199
Honestly, I'm not completely satisfied with the "clones" approach, but that's the only one I could think of with the `FlatList` component  in which rendering can only be handled with `data` and `renderItem()`.

If you have a better idea, I'll be glad to implement it ;-)

[2017-12-07 12:36] mahomahoxd opened #227 "Scrolling inside carousel items"
Hi, I've been using the carousel for a while, it seems to be working all well. However, I had a question about having a list in an item of the carousel. For example, I have cards that I show, in which I have a list of children that I want to be able to scroll through in each card. Is it possible to do such a thing? I can imagine it has to do with certain thresholds and such, however I am a bit clu

[2017-12-07 12:56] raduflp commented on #157
having the same issue, when deleting the last item a blank slide was displayed until you started scrolling again. Solved it by adopting @m-vdb solution, but it feels hacky.
Still, great job and thanks for this lib.

`componentDidUpdate(prevProps, prevState) {
    if (this.props.data.length < prevProps.data.length) {
      this._carousel.snapToItem(this.props.passengers.length, false);
    }
  }`

[2017-12-07 19:55] Jaafar-abusair opened #228 "It's simple feature, not sure if already exist,"
### Is this a bug report or a feature request?

It's a question as start.

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel#reporting-an-issue) regarding bug report?

Link not working

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your is

[2017-12-07 21:26] bd-arc commented on #228
Hi @Jaafar-abusair,

I don't see any question in your post; have I overlooked something?

[2017-12-08 09:53] bd-arc commented on #227
Hi @mahomahoxd,

Well, do you want to be able to scroll your inner items in the same axis as the carousel one? Because that would be almost impossible to handle.

In a perpendicular axis, it should be possible. You could, for example, render a `ScrollView` inside each of your slides. However, be aware that React Native apparently has a lot of issues with nested `ScrollView/VirtualizedList/FlatList

[2017-12-08 12:40] ifyapishore commented on #203
+!

[2017-12-11 14:17] darina-techery commented on #227
I am now trying to implement slides as `ScrollView` with `Image` inside, because pinch-to-zoom functionality is required. However, I still cannot make it work. If I use a `<View><Image/></View>` construction, everything is rendered just fine, but with `<ScrollView><Image/></ScrollView>` images aren't loaded, and the loading indicator is endlessly circling in their place. I wonder if nested lists a

[2017-12-11 17:52] bd-arc commented on #227
@mahomahoxd @darina-techery I'll be happy to help you, **but I just can't if you don't share [on Snack](https://snack.expo.io/) an example that reproduces the issue**...

[2017-12-11 19:27] mahomahoxd commented on #227
@bd-arc, I'd gladly give you that, it just feels like if I do share a piece, you'd be missing a few things that I end up sending the entire project. I can try to type an example of what its similar to, in a way you could reproduce my issue. As for @darina-techery I might be able to help with that, the loading indicator only appears if you set a variable like this.state.isLoading for example in the

[2017-12-12 11:01] darina-techery commented on #227
Hi @bd-arc! Unfortunately, I cannot now publish the whole app due to NDA, but I can provide the chunks of code illustrating the problem.

The image preview window is wrapped in Modal, so that it could be drawn over the Gallery screen.
I should also mention that we use TypeScript.

Preview:
`private renderPreview(): JSX.Element {
    const imageData: string[] = this.state.imageData.map(u => u.url).

[2017-12-12 16:01] songxiaoliang opened #229 "Android emulator device does not have animation effects, version: 3.1"
ios animation is normal, there is no animation on the Android emulator device。
 version： 3.1
Expect the author to reply as soon as possible, thank you very much

[2017-12-12 16:18] #228 closed

[2017-12-12 16:22] bd-arc commented on #229
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

For your information, I've just recorded the following screencast with my Android emulator. As you can see there isn't any issue with it. I cannot help you if you don't provide a reproductible example on [Snack](https://snack.expo.io).

[2017-12-12 16:22] #229 closed

[2017-12-12 16:25] bd-arc commented on #227
@darina-techery I'll take a look at it as soon as I can, but it smells like a React Native bug... Have you tried with different versions of RN?

In the meantime, it would really help if you could post a minimal reproductible demo on [Snack](snack.expo.io).

[2017-12-12 16:47] darina-techery commented on #227
I somehow managed to find a working solution. My hypothesis is that it was style property of ScrollView and/or Image that caused the failure, but I cannot tell the exact difference between go and no-go solutions. I suspect that `position: 'absolute'` caused the problem, but I am not 100% sure of that.

Anyway, I can now confirm that it is possible to combine pagination from Carousel with pinch-to-

[2017-12-12 16:55] bd-arc commented on #227
Well, that's good news!

I know you can't share your exact code due to the NDA, but I'm positive that if want to avoid being assaulted with "How did you do that?" mails you should share an example someday ;-)

[2017-12-12 17:00] darina-techery commented on #227
I will :)

This is not a completely bulletproof solution, however, it throws certain warnings at me, so I will have to investigate it in order not to mislead anyone.

[2017-12-12 18:14] Jaafar-abusair commented on #228
I'm sure I wrote it somewhere, but i can't find it here anymore,
Any way, What I was asking about, you have activeSlideAlignment: 'start', 'center', 'end' and it's working as expected, What I'm asking for is to have all items as 'start' except the last item as 'end', so in this way I will not have a white margin at the end

[2017-12-13 03:04] songxiaoliang commented on #229
- Scrolling animations on ios, no scrolling animations on Android devices, version: 3.4

- But I use version 2.4, this problem does not exist

![677fb4e7-0c83-43b0-8daa-c7756d1c41bc](https://user-images.githubusercontent.com/6975588/33919736-4ac3a72c-dff5-11e7-8da0-e2da620e3566.png)

- code  show as below：
[code]

[2017-12-13 03:04] songxiaoliang commented on #229
@bd-arc

[2017-12-13 03:05] songxiaoliang commented on #229
@bd-arc Above is my question, looking forward to reply as soon as possible

[2017-12-13 08:36] bd-arc commented on #228
Unfortunately, it is not possible at the moment.

If you want more info about the issues at stake, you can read #102, and particularly [this comment](https://github.com/archriss/react-native-snap-carousel/issues/102#issuecomment-343880254) as well as [this one](https://github.com/archriss/react-native-snap-carousel/issues/102#issuecomment-343908215).

[2017-12-13 12:10] Xaber20110202 commented on #157
If use same data, or when the data length is 1 and we add data items, there will be buggy too, inspired by @raduflp , I use following hack code to treat these situations

[code]

[2017-12-19 06:34] koswarabilly commented on #146
@pcooney10 can you provide example, because @jordangrant 's code work for me

[2017-12-19 14:22] MatheusParanhos opened #231 "JSON value '6'of type NSNumber cannot be converted to NSString"
Hello all. I've ran into this issue when trying to integrate the example to my app. Anybody know what this can be? Basically what I did was to copy and paste the example
![captura de tela 2017-12-19 as 12 21 16](https://user-images.githubusercontent.com/28205194/34161241-277e30c2-e4b7-11e7-9d71-ce117d79d47c.png)

[2017-12-19 16:07] jaroslav-kubicek opened #232 "Weird scrolling behavior when firstItem !== 0 & loop === true"
Hi, first of all, thanks for life saving library.

I'm facing one peculiar issue - let's have a list of 5 items and `firstItem` set to 1, so second item in a list is selected by default. Now swipe to right to scroll to 3rd, 4th items and so on. It works as expected until you swipe from 5th item (index 4) to 1st item (index 0). After animation is done, the list is somehow re-scrolled again - see ex

[2017-12-19 16:35] bd-arc commented on #232
Hi @jaroslav-kubicek,

Yes, I've also experienced it with the latest versions of React Native (it wasn't happening before RN 0.49 if I recall correctly).

I've previously tried to find the root cause, but I was left with random `FlatList` bugs. I decided to wait and hope for a resolution on Facebook side, but I fear nothing has changed since then.

The loop handling logic is the following: when lo

[2017-12-19 17:00] jaroslav-kubicek commented on #232
Thanks @bd-arc for such quick reply and provided info, in meanwhile I will probably workaround this issue and hope for better tomorrows.

[2017-12-20 07:57] koswarabilly commented on #200
why do you close it without giving any solution?

[2017-12-20 10:50] adamski commented on #203
Done, thanks for your efforts on this!

[2017-12-21 17:25] ziks21 opened #233 "Scroll is always stopped on left item"
Hello. Thank you for this great package

I'm trying to implement carousel like this:
<img width="124" alt="screen shot 2017-12-21 at 7 15 25 pm" src="https://user-images.githubusercontent.com/5039404/34266845-592bae42-e683-11e7-8537-20f302542b3b.png">
But i faced with a problem that when i drag scroll by gestures and release touch - it always go to left item of current chosen. Like this:
Moment of

[2017-12-21 21:46] bd-arc commented on #233
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

Since your items have a really small width, you will have to decrease the default value of [`activeSlideOffset`](https://github.com/archriss/react-native-snap-carousel/#behavior) accordingly. You might also want to reduce the value

[2017-12-21 21:46] #233 closed

[2017-12-21 21:47] #225 closed

[2017-12-22 05:31] wendan52 opened #234 "Android: Unable to update properties for view tag xxx"
logcat print this:
[code]

my code is:
[code]

[2017-12-22 08:15] bd-arc commented on #234
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2017-12-22 10:26] bd-arc commented on #231
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2017-12-22 10:57] akyker20 opened #235 "activeSlideAlignment not always honored"
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your issue hasn't already

[2017-12-22 11:38] bd-arc commented on #235
Hi @akyker20,

Thank you for taking the time to put up a top quality bug report!

Regarding the issue, this is indeed pretty strange. I fear an internal `FlatList` bug, but I'll dig around to find out what's really at stake. I'll probably be able to keep you posted next week.

By the way, congratulations for your app; it looks awesome ;-)

[2017-12-22 18:03] pcooney10 commented on #146
Adapting the example above:
[code]
[code]

[2017-12-28 12:59] meetajhu opened #236 "Android only: Image not displayed for the first time or alternatively"
### Is this a bug report or a feature request?
Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already b

[2017-12-28 13:05] muresanandrei opened #237 "Feature request carousel like on revolut"
I don't know if it's possible with this plugin. I tried but can't make the carousel work like on this video. https://www.revolut.com/assets/media/ios1.76bac5.mp4.

Is there a way to achieve this with this plugin now?

[2017-12-28 13:05] meetajhu commented on #236
Any way i can share a video demo on github?

[2017-12-28 20:05] afirulaf opened #238 "Carousel blank when changing tab for the first time. Will appear after first scroll."
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already

[2017-12-28 21:22] Artem-Klyuev commented on #236
Have the same issue on android. Both production and debug builds.

[2017-12-28 22:03] bd-arc commented on #237
Hi @muresanandrei,

If you're talking about the two-way control, there already is a dedicated issue regarding it: #202

I still didn't have time to put together a working example, but it should definitely be possible. Can you share what you've tried so far? I'm going to close this issue but we can continue the discussion in the other thread ;-)

[2017-12-28 22:06] muresanandrei commented on #237
Actually not the two-way control is my problem. I am trying to achieve multiple items preview like on that video.

[2017-12-29 01:23] LuisPChavez commented on #208
Hey @malonguwa I was having trouble with the same thing and I found a workaround but its not the prettiest. In your onPress write a fat arrow function instead of the name of the function you want to execute. For example it should look like this:

onPress{() => {console.log("sdf")}} instead of

logIfPressed() {
     console.log("sdf")
}

onPress{this.logIfPressed}

Of course this is messy but its t

[2017-12-29 03:51] owen12ab commented on #238
I have the same problem but i am not using expo.

**Environment**
React Native: 0.51
react-native-snap-carousel: 3.4.0

[2017-12-29 09:52] bd-arc commented on #237
Oh ok. Then you shouldn't have any issue.

There are many examples of multiple items preview in the issues (#51, #161, and others).

Since your items will have a really small width, make sure to decrease the default value of [`activeSlideOffset`](https://github.com/archriss/react-native-snap-carousel/#behavior) accordingly. You might also want to reduce the value of props `swipeThreshold` and `cal

[2017-12-29 09:56] bd-arc commented on #236
Hi @meetajhu,

Unfortunately, I think it has to do with how the `FlatList` component works. I'm currently implementing an option that would let users choose wether to use between `FlatList` and `ScrollView` (way less bugs, but not usable with huge numbers of items).

I'll let you know when it's done and then we will be able to run some tests together.

[2017-12-29 10:03] bd-arc commented on #238
Hi @afirulaf,

This is probably the same issue as #225, but you were kind enough to follow the contributing guidelines, which means I have a starting point to work with ;-)

Unfortunately, I think it has to do with how the `FlatList` component works. I'm currently implementing an option that will let users choose wether to use `FlatList` or `ScrollView` (way less bugs, but not usable with huge num

[2017-12-29 12:54] Artem-Klyuev commented on #236
as i can see this is a tmp solution https://stackoverflow.com/questions/45736887/react-native-images-are-not-getting-rendered/45751391#45751391. Also you can add this prop to flatlist component "removeClippedSubviews={true}".

[2017-12-29 21:59] muresanandrei commented on #237
I managed to have the carousel work like on the gif the only problem I have is because I have to set the width of the item same for all items for example 80 width if I have an element with longer text that width will need to be bigger.Can I somehow set auto width for items?

[2017-12-30 05:04] Guodadada commented on #238
I had the same problem

[2017-12-30 05:10] Guodadada commented on #238
adding removeClippedSubviews={false} resoved my problem, thx

[2017-12-30 09:01] bd-arc commented on #236
@Artem-Klyuev Have you tried the SO solution and does it solves the issue? Because I'm pretty sure that this a `FlatList` rendering issue rather than an image issue.

I guess `removeClippedSubviews` will do the trick, but I do not recommend using it if you have more than a few slides as this would go against the main purpose of the `FlatList` component.

[2017-12-30 09:16] bd-arc commented on #237
No, handling different item widths is not possible. This would require complex developments and would impair carousel's performance.

I'll add it to the roadmap though and will take a deeper look at it in the future to see what can be done about it.

You may get away with an intermediate width and allowing two lines of text with `numberOfLines={2}`. You can also try to define a dynamic `letterSpac

[2017-12-30 09:16] #237 closed

[2017-12-30 09:43] bd-arc commented on #238
Hi guys,

Here are a bunch of related React Native issues:
- https://github.com/facebook/react-native/issues/1831
- https://github.com/facebook/react-native/issues/8607
- https://github.com/facebook/react-native/issues/13316
- https://github.com/facebook/react-native/issues/13202

This clearly shows an issue with the `FlatList` component, an issue that Facebook doesn't seem too keen on aknowledgin

[2017-12-30 14:11] #231 closed

[2017-12-30 14:11] #234 closed

[2018-01-02 07:51] meetajhu commented on #236
tried "removeClippedSubviews={true}" on ScrollView component. Still no difference

[2018-01-02 09:03] bd-arc commented on #236
@meetajhu It should work if you set it to `false`.

[2018-01-02 15:35] bd-arc commented on #224
Hi @cruisecoders,

I've updated the example to RN `0.51.0` and I don't seem to have any issue. Can you try it and tell me if it is working properly for you?

[2018-01-02 15:35] #224 closed

[2018-01-02 15:41] bd-arc commented on #232
Hi @jaroslav-kubicek,

I've tested with the latest RN version and it seems that the internal issue has been solved 🎉 I've updated [the example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) to RN `0.51.0` if you want to give it a try.

[2018-01-02 15:41] #232 closed

[2018-01-02 15:58] bd-arc commented on #236
This issue is really driving me mad!

I've tried using a `ScrollView` component instead of a `FlatList` one, and it works... but only if the initialization is delayed with a `0` timeout. Moreover, when using a `FlatList`, it works only if `apparitionDelay` is set to `0`. This makes absolutely no sense at all and is just the result and the miscellaneous `ScrollView`/`FlatList` bugs.

Anyway, I'm cu

[2018-01-02 16:49] bd-arc commented on #236
Ok, you can now try [branch `3.5.0`](https://github.com/archriss/react-native-snap-carousel/tree/v3.5.0). See [this note](https://github.com/archriss/react-native-snap-carousel/#using-a-specific-commit) about using a commit not already published on npm.

A new prop `useScrollView` has been implemented. As the name suggests, it will make the carousel render a `ScrollView` instead of the default `Fl

[2018-01-02 17:06] bd-arc commented on #235
Hi @akyker20,

Can you tell me if you're still able to reproduce the issue when using the latest commit from [branch `3.5.0`](https://github.com/archriss/react-native-snap-carousel/tree/v3.5.0) and setting the new prop `useScrollView` to `true`? I'm trying to determine if this is a `FlatList`-specific bug...

If needed, you can take a look at [this note](https://github.com/archriss/react-native-sn

[2018-01-03 08:36] meetajhu commented on #236
@bd-arc

Tried branch 3.5.0 works properly!

[2018-01-03 09:11] bd-arc commented on #236
@meetajhu Thanks for letting me know. They are a few more things I want to implement before publishing version `3.5.0`. I'll let you know as soon as it's done!

[2018-01-03 09:20] meetajhu commented on #236
@bd-arc Thanks!

[2018-01-03 12:03] bd-arc commented on #235
I've just had an idea and tried overriding the default `initialNumToRender` by setting it to `30`. Result: it works! This means that the issue is, as I feared, a `FlatList` one and that I have no control over this behavior. It seems like the `FlatList` component is not able to properly keep track of the items that are not in the currently rendered batch...

I see three options at this point:
- Use

[2018-01-03 12:03] #235 closed

[2018-01-03 12:13] bd-arc commented on #238
You may want to try out branch [`v3.5.0`](https://github.com/archriss/react-native-snap-carousel/tree/v3.5.0). I've added a new method `triggerRenderingHack()`.

Here is the associated description:

My hope is that calling this on every tab change will solve your issue...

[2018-01-03 14:20] bd-arc commented on #157
Hey guys,

I finally had time to dig deeper into the issue. I've tried different things, but I don't see any other solution than the one you've all came up with: to snap without animation to the relevant item when the data set is updated.

With `FlatList`'s specific rendering mechanism, there is no way of keeping track of each item index when adding/removing them; that part has to be handled exter

[2018-01-03 15:20] bd-arc commented on #227
I'm going to close the issue since the feature can apparently be implemented. Feel free to continue the discussion if needed.

Still hopping for a working example though ;-) I'll work on one myself, but I won't be able to do so for the next few weeks.

[2018-01-03 15:20] #227 closed

[2018-01-03 15:23] bd-arc commented on #236
Version `3.5.0` has been published ;-)

[2018-01-03 15:23] #236 closed

[2018-01-07 11:28] devmoonsite commented on #187
how?

[2018-01-07 15:20] bd-arc commented on #187
@devmoonsite Make sure to read the doc; there is [an entire section](https://github.com/archriss/react-native-snap-carousel/#margin-between-slides) that explains how in length.

[2018-01-09 06:36] swaroopa94 opened #242 "how to get stack of cards"
Hi ,

I want a design like having stack of cards with back of one another and when we siwpe the first one it has to be dsiplayed on the back on left side and right side need to dispalyed remaing cards
Does this possible wiht this module
I am attaching a screen shots

without swiping the design should be like this:

![screen shot 2018-01-09 at 11 57 40 am](https://user-images.githubusercontent.com/

[2018-01-09 09:29] bd-arc commented on #242
Hi @swaroopa94,

Take a look at #195.

Note that I don't know yet if I will be able to implement it because this kind of interaction would usually call for a custom `PanResponder` component whereas the plugin is based on a `ScrollView` one...

[2018-01-09 09:29] #242 closed

[2018-01-09 22:21] buchereli commented on #236
I can't get my images to load using ParallaxImage even if I set useScrollView to true

[code]

[2018-01-10 06:15] meetajhu commented on #236
@buchereli Go through the example properly.

[2018-01-10 08:54] bd-arc commented on #236
@buchereli Please refer to [the issue template](https://raw.githubusercontent.com/archriss/react-native-snap-carousel/master/ISSUE_TEMPLATE.md) to know which information you should provide to help us help you.

In particular:
- Is the bug specific to iOS or Android? Or can it be reproduced on both platforms?
- Have you been able to reproduce the bug in [the provided example](https://github.com/arc

[2018-01-10 08:58] bd-arc commented on #238
@afirulaf @owen12ab @Guodadada Hey guys! Have you been able to try out the proposed fix?

[2018-01-12 00:52] WonderDev21 commented on #190
I tried to use nested carousel version 3.1.0, but I failed.
What is the solution?

[2018-01-12 08:10] ssssssssssss commented on #203
Dear @bd-arc , I think the snapToInterval for Android has been merge to RN master last time I check.

[2018-01-12 08:23] bd-arc commented on #190
Unfortunately, we can't be sure that a solution can be found since the issue comes from the `FlatList` component and not from the plugin.

Note that [a prop `useScrollView`](https://github.com/archriss/react-native-snap-carousel/#behavior) has been introduced in version `3.5.0`. I recommend that you try to activate it for both your carousels; maybe the issue won't show up when using an animated `S

[2018-01-12 08:29] bd-arc commented on #203
Hey @ssssssssssss,

Thanks for keeping me posted. Unfortunately, I don't think that the feature has been implemented yet since two PRs address it but none has been merged so far...
- https://github.com/facebook/react-native/pull/15297
- https://github.com/facebook/react-native/pull/15667

[2018-01-12 14:39] fvsch commented on #238
I had this issue and tried the fix. Only testing in the iOS emulator for now, so it’s a limited test, but it seems to force the FlatList to render the item on the left by causing a rapid scroll of the content.

It works, but also looks like a glitch — sometimes barely noticeable, sometimes a bit invasive. Is that close to what you were expectig @bd-arc ? I understand that it’s a hackish workaround

[2018-01-13 19:20] carsonwah opened #243 ""Scroll back to first child when end reached" behaviour for autoplay not working"
### Is this a bug report or a feature request?

Bug report.

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes.

### Have you made sure that your issue hasn't alrea

[2018-01-14 13:04] Gerharddc commented on #157
Not sure why I did not think of this earlier, but I think we just need to pass a unique key with each item in the list. When the carousel receives new props, it can simply check which keys have disappeared in order to adjust its index automatically.

Please correct me if I am wrong.

[2018-01-14 16:21] bd-arc commented on #243
Hi @carsonwah,

Indeed, the default behavior has changed since version `3.3.0` and the addition of the "infinite loop" feature.

If you set `loop` to `true`, the carousel will seamlessly continue autoplaying when reaching the end of the set, while if you set it to `false`, the carousel will stop autoplaying after reaching the last slide.

This prevents the old ugly effect where you would see the c

[2018-01-14 16:21] #243 closed

[2018-01-14 19:30] carsonwah commented on #243
@bd-arc Thanks for the timely reply. The infinite loop feature seems cool. Will definitely check it out.

[2018-01-15 08:04] phithu commented on #102
You can style Carousel with prop contentContainerCustomStyle
` contentContainerCustomStyle={{overflow: 'hidden', width: widthItemSlide * (numberSlide)}}`
Everything will be Okay

[2018-01-15 20:31] juanamd commented on #63
FirstItem prop not working for me if the index is greater than ~6. Could only get it to work by enabling the "useScrollView" prop, or by having "initialNumToRender" to be the same as the index + 1. Of course, using this has a great performance penalty. Is there a way for this to work correctly at the moment?
Using version 3.5.0 with RN 0.52

[2018-01-15 20:57] iremlopsum opened #244 "Custom animations"
I didn't entirely understand from the documentation, is it possible to have custom animations while swiping? For example if I want to animate translateX instead of scale or opacity to create a "dragging behind" effect.

Is that something that's currently possible?

[2018-01-15 22:37] bd-arc commented on #244
Hi @iremlopsum,

Unfortunately, what you're after is not currently possible. The custom animation options you can provide will still be used to animate the opacity and/or the scale of the items as soon as they become active (e.g. when you've scrolled past the center of the next/previous item). You can try [the example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) if

[2018-01-15 22:41] bd-arc commented on #238
@fvsch Well, the carousel should only move 1 px to the left or to the right if you don't specify the `offset` parameter. I was hoping that this would go unnoticed, particularly if done while changing tab...

Would you mind sharing a screencast or a [Snack](https://snack.expo.io/) so I can get an idea of how bad it looks?

[2018-01-15 23:01] bd-arc commented on #63
@juanamd Unfortunately, this is definitely a `FlatList` bug, which is confirmed by the fact that everything works properly when setting `useScrollView` to `true`.

I'll copy-paste [my comment](https://github.com/archriss/react-native-snap-carousel/issues/235#issuecomment-354996464) to a similar issue as this might still help you.

[2018-01-16 03:40] JetQin opened #245 "Carouse Item can't handle press event"
[code]
here is the renderItem code, when I click the item , it didn't give me any response

[2018-01-16 08:50] bd-arc commented on #245
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-01-16 13:50] bd-arc commented on #203
@ssssssssssss Apparently you were right, but the feature was added in another commit: https://github.com/facebook/react-native/commit/ddd65f1ba9cca945313d116c1dcf75f3a0556099

Can't wait to see version `0.53.0` land and try it out!

[2018-01-16 14:48] Adirael commented on #203
That's awesome!

Hopefully a vertical snap PR will be accepted soon. On the two PRs mentioned by @bd-arc is deemed as not very useful but I disagree. Vertical navigation is pretty widespread nowadays plus that will allow us to create vertical numberPickers that run smooth.

[2018-01-16 14:54] bd-arc commented on #203
@Adirael I agree with you, and that's exactly what I said in [this comment](https://github.com/facebook/react-native/pull/15297#issuecomment-334414820) to one of the PR.

Unfortunately, if `snapToAlignment` and vertical handling aren't also implemented, we won't be able to really improve the plugin...

[2018-01-17 12:39] alxgeoaln opened #246 "Change inactive cards background"
can i change the background color of inactive cards and and animated them to get back to normal when their are active?

[2018-01-18 08:24] bd-arc commented on #246
Hi @alxgeoaln,

You can't directly do that, but implementing it should be pretty straightforward.

You need to use a custom component in your `renderItem()` function and to keep track of the currently active item with `onSnapToItem(index)`. Then, whenever a change occurs, you could just animate whatever you want.

Take a look at [`PaginationDot`'s source code](https://github.com/archriss/react-nat

[2018-01-18 08:24] #246 closed

[2018-01-18 08:29] bd-arc commented on #157
@Gerharddc Well, that's an idea worth pursuing. I'll see if I can implement something along those lines.

If anyone wants to jump in and submit a PR, do not hesitate ;-)

[2018-01-18 08:32] bd-arc commented on #245
Closing as no further feedback was provided.

[2018-01-18 08:32] #245 closed

[2018-01-19 00:19] pcooney10 opened #247 "Performance implications with Carousel as an indirect child of ScrollView"
### Is this a bug report or a feature request?

General question

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't al

[2018-01-19 08:15] anvesh523 opened #248 "no such file or directory ..\node_modules\encoding\node_modules\iconv-lite"
While I'm running 'npm install' command, I'm facing below error. Please give some suggestions.

npm ERR! path D:\WorkSpace\react-native-snap-carousel\node_modules\encoding\node_modules\iconv-lite
npm ERR! code ENOENT
npm ERR! errno -4058
npm ERR! syscall rename
npm ERR! enoent ENOENT: no such file or directory, rename 'D:\WorkSpace\react-native-snap-carousel\node_modules\encoding\node_modules\icon

[2018-01-19 09:17] bd-arc commented on #247
Hi @pcooney10,

Well, you are stepping into quite a nebulous world, to say the least ;-)

Everything I've learned about `ScrollView`/`FlatList`/ `VirtualizedList` was from experience and from peers issues. Unfortunately, there is no definitive word about anything regarding those components since they are really really buggy; we're in for some empirical research... Moreover, the regular regressions

[2018-01-19 09:17] #247 closed

[2018-01-19 09:28] bd-arc commented on #248
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

Clearly, your issue has nothing to do with the plugin but rather with a `npm` mismatch.

Since I'm in a good mood, I've got two links for you:
- https://github.com/npm/npm/issues/17444#issuecomment-321851320 -> for a probable soluti

[2018-01-19 09:28] #248 closed

[2018-01-19 10:08] anvesh523 commented on #248
Thanks for the help.

[2018-01-21 20:23] 2ducanhpham opened #249 "Vertical= true show error"
react-native-snap-carousel version 3.5.0
react-native version 0.52

![simulator screen shot - iphone 6 - 2018-01-22 at 03 23 08](https://user-images.githubusercontent.com/14899775/35198588-993ac726-ff23-11e7-8eb9-bb481aac76c0.png)

[2018-01-21 21:41] bd-arc commented on #249
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-01-22 15:25] bd-arc commented on #238
Closing as no further feedback was provided.
Do not hesitate to ask for a reopening if needed.

[2018-01-22 15:25] #238 closed

[2018-01-22 15:33] bd-arc opened #250 "Replace FlatList with another component?"
The `FlatList` component is just too buggy, period.

These plugins may constitute an interesting replacement:
- https://github.com/Flipkart/recyclerlistview
- https://github.com/bolan9999/react-native-largelist

[2018-01-22 15:48] fvsch commented on #238
Hi. I’m working on different parts of the application these days but I’ll update if I have more information.

[2018-01-22 15:49] bd-arc commented on #249
FYI, **you will encounter this error if you forget to specify `itemHeight` when setting `vertical` to `true`**.

Make sure to read the doc as well as your console.

[2018-01-22 15:49] #249 closed

[2018-01-22 16:06] bd-arc commented on #250
Two major drawbacks:
- The first one extends a `ScrollView`.
- The second one is a native plugin, but it doesn't implement the missing features of `FlatList` that would greatly improve the carousel (scroll duration, scroll callback...).

[2018-01-22 22:17] julesmoretti opened #251 "Animated.createAnimatedComponent Failed prop type"
### Is this a bug report or a feature request?

Yes

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been re

[2018-01-23 08:48] bd-arc commented on #251
Hi @julesmoretti,

Since the `<Carousel />` is already an animated component, you might be facing random issues when using `Animated.createAnimatedComponent()` with it.

I would rather recommend to wrap it in an `<Animated.View />` and to apply the animated style to this view.

[code]

I've just tried it and I can confirm that it works without issuing any warning.

[2018-01-23 08:48] #251 closed

[2018-01-23 09:05] bd-arc commented on #244
Hi @iremlopsum,

I've tried different setups and this is the closest I was able to come up with:

![react-native-snap-carousel custom animations](https://i.imgur.com/C7d09qs.gif)
[code]

Another possible effect:

![react-native-snap-carousel custom animations](https://i.imgur.com/7shpgNB.gif)
[code]

If this is something that users find useful, I can add the ability to provide a custom interpolato

[2018-01-23 09:22] bd-arc commented on #195
See also #244

[2018-01-23 10:25] bd-arc commented on #195
And yes, this is possible 🎉

![react-native-snap-carousel custom animations](https://i.imgur.com/Ta3xHCn.gif)

[code]

[code]

I'm now going to work on adding the ability to use a custom interpolator like this one.

[2018-01-23 10:44] bd-arc commented on #242
Hi @swaroopa94,

I think that [my recent findings](https://github.com/archriss/react-native-snap-carousel/issues/195#issuecomment-359746362) are really going to interest you ;-)

![react-native-snap-carousel custom animations](https://i.imgur.com/Ta3xHCn.gif)

[2018-01-23 10:49] bd-arc commented on #89
Hi @pfulop,

I think that you're going to be really interested in [my recent findings](https://github.com/archriss/react-native-snap-carousel/issues/195#issuecomment-359746362) ;-)

![react-native-snap-carousel custom animations](https://i.imgur.com/Ta3xHCn.gif)

I'm currently working on allowing users to specify a custom interpolator with which you'll be able to create the kind of layout you were

[2018-01-23 11:47] pfulop commented on #89
hi @bd-arc

That looks nice but I already did my own (it was easier than I thought). Definitely keeping this one in repertoire.

[2018-01-23 13:17] leonardo2204 commented on #212
@jordangrant Great answer! I think it would be cool that the collaborators from this repo documented this kinda stuff (or put at the sample at least), to make newbies lives easier!

[2018-01-23 13:36] bd-arc commented on #89
Is your component Open Source by any chance? I'm always interested in taking a look at the solutions others have came up with ;-)

[2018-01-23 13:38] pfulop commented on #89
No, altho for the past couple of months I am trying to find some time to make it opensource (at least in article form with example repository).

I should travel tomorrow so maybe I will find some time to get it together ;)

[2018-01-23 13:48] bd-arc commented on #89
Do not hesitate to keep me posted ;-)

[2018-01-24 10:33] rogerkerse opened #252 "Release version causes white screen"
So when I have <Carousel /> anywhere in there code to render out, then the whole app turns white. And this happens only in release builds on Android and iOS. On develop/debug builds it works and looks as intended. Any ideas?

Internally it gives an error:
`TypeError: undefined is not an object (evaluating 'this._subscribableSubscriptions.forEach')`

[2018-01-24 12:43] rogerkerse commented on #252
Ok this problem gets fixed when React Native is upgraded to atleast 0.52

[2018-01-24 13:46] bd-arc commented on #252
Hi @rogerkerse,

`this._subscribableSubscriptions` is not part of the carousel logic; therefore I suspect a RN issue.

Good to know that updating to RN `0.52.0` fixed your issue though.

[2018-01-24 13:46] #252 closed

[2018-01-24 21:18] pcooney10 commented on #247
Hey @bd-arc,

Thank you for the quick reply.

I was able to put a quick bandaid on my app and increase performance by doing some of the pretty basic stuff. Namely:
 - make sure there aren't any excessive calls to `this.setState` in the component that renders the `Carousel`'s and their parents
 - utilize `shouldComponentUpdate` / `PureComponent` for my `Carousel` items - I'm using `shouldComponentU

[2018-01-24 21:55] pcooney10 opened #254 "Purpose of this.setState({ slider1Ref: c }) in example ?"
### Is this a bug report or a feature request?

General question

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't al

[2018-01-25 10:00] bd-arc commented on #254
Hi @pcooney10,

As usual, you're spot on ;-)

You've probably noticed that, in the documentation I wrote and in every sample code I've given, I've **always** used the following `<Carousel ref={ c => this._carousel = c } />`.

Indeed, this otherwise useless `setState()` is only there to prevent an error with the `<Pagination />` component. I do not recommend doing so and, at that time, I just went

[2018-01-25 10:00] #254 closed

[2018-01-25 10:26] bd-arc commented on #247
Hey @pcooney10,

Thanks for summarizing the common steps everyone can take to improve their components' performance. I've been meaning to add something like this to the doc; if you're ok with that, if think I'll use your list :-)

Regarding your question, I had the same one a while ago and tried to put it to the test. I remember testing it with two different versions of React Native. In the first

[2018-01-25 15:56] JulianKingman commented on #189
I have a similar issue (I think it's the same issue, just more pronounced), it seems to pause mid-transition (or as soon as touch is released), and is more pronounced when the carousel is released at the mid-point between slides. The closer to the middle, the more often it happens.
![react-native-snap-carousel-issue](https://user-images.githubusercontent.com/1566400/35397809-69cbb5fc-01be-11e8-88d

[2018-01-25 17:56] Q8hma opened #255 "i want to stop the user from control the Carousel"
### Is this a bug report or a feature request?

no

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes buy im noob and new in RN

### Have you made sure that your issue hasn't already been reported/solved?

i cant find it

### Is the bug specific to iOS or Android? Or can it be reproduced on both platforms?

ios

[2018-01-25 17:58] Q8hma commented on #255
this is the code i made
`

 <Carousel
            data={this.state.data}
            renderItem={this.renderItem}
			inactiveSlideOpacity={1.5}
            inactiveSlideScale={1.5}
            sliderWidth={sliderWidth}
            itemWidth={itemWidth}
            loop={true}
            enableMomentum={false}
            lockScrollWhileSnapping={true}
            autoplay={true}
            itemH

[2018-01-25 19:07] bd-arc commented on #255
Hi @Q8hma,

Make sure to take a look at [this section](https://github.com/archriss/react-native-snap-carousel#inherited-props) of the documentation ; I think that prop `scrollEnabled` is what you're after.

[2018-01-25 19:07] #255 closed

[2018-01-25 19:55] Q8hma commented on #255
Thanks for this one im so sorry to miss it

but there are any things i can do to make Carousel=1 go from right to left , Carousel=2 go from left to right its like ..
its like one normal moving and the other one is reverse

thanks and sorry to reopen it

[2018-01-26 04:30] PublicParadise commented on #250
Frankly, I find `FlatList` unusable. My workaround for `react-native-snap-carousel` (which I love BTW) is setting `initialNumToRender` to `data.length`. That's the only way to get a bugfree version.
This is a snippet from my post-install script:

[code]

Now, it would be nice if `react-native-snap-carousel` supported a feature that would allow me to set `initialNumToRender` from outside so I don't

[2018-01-26 08:44] bd-arc commented on #250
Hey @PublicParadise,

Well, `initialNumToRender` is part of [the overridable props](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L1124:L1164) so you should be able to use `<Carousel initialNumToRender={data.length} />` without any need for a patch ;-) I can guarantee that it works, since I've tried it in #235.

But if you have to do that and, therefor

[2018-01-26 09:01] bd-arc commented on #255
You're in luck because I'm currently working on implementing a way for users to specify their own custom animations to carousel's items. I hope to release it before the end of the week.

Stay tuned!

[2018-01-26 14:16] Q8hma commented on #255
wow thanks thanks thanks thanks thanks thanks thanks thanks thanks
i will wait on fire then  :)

[2018-01-26 16:46] PublicParadise commented on #250
Hi @bd-arc,

thanks for the tips. To be honest I got so frustrated with `FlatList` that I placed the hack and never touched the component again. Back then `initialNumToRender` was not an overridable prop and `useScrollView` seems even better.

It seems that `FlatList` has some weird dependency to `Animated`. That's probably where most people have problems. Just 6 days ago somebody filed a new bug

[2018-01-26 17:03] bd-arc commented on #250
Did you have any luck implementing one of those two solutions as a replacement?

[2018-01-26 18:55] bd-arc commented on #189
@JulianKingman I don't think that this is the same issue. The original one has to do with how velocity and momentum are handled, while yours looks like a performance issue.

Please open another issue with a reproductible example (take a look at [the contributing guidelines](https://raw.githubusercontent.com/archriss/react-native-snap-carousel/master/ISSUE_TEMPLATE.md)) and I'll gladly take a look

[2018-01-27 02:19] jswxwxf opened #256 "It there a possible way to implement a marquee like behavior using this component?"
As the title.

[2018-01-27 04:49] 2ducanhpham commented on #249
Thanks @bd-arc , it worked. I do not set **itemHeight**

[2018-01-27 05:56] PublicParadise commented on #250
No, I only did the research. Back then I was still hoping that they would eventually fix `FlatList`.
Let me share a few links from my research:
- [Naive Infinite scroll in Reactive Programming using RxJS Observables](https://hackernoon.com/naive-infinite-scroll-in-reactive-programming-using-rxjs-observables-4a605d3146e8)
- [Use RxJS with React](https://michalzalecki.com/use-rxjs-with-react/)
- [Re

[2018-01-27 15:30] bd-arc commented on #256
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

---

This is not the intended use of the plugin, but I'm aware of one user who actually did it. Take a look at #208, you'll even find a working example there.

[2018-01-27 15:30] #256 closed

[2018-01-27 15:34] bd-arc commented on #250
Thanks for sharing your research 👍

To be honest, I don't have time right now to put all this to the test. If you feel like taking a dive into `react-native-largelist`, that would be of tremendous help. If not, let's make sure to keep each other posted ;-)

[2018-01-27 18:28] PublicParadise commented on #250
Update: as I was digging up those links I realized that [Tal Kol](https://medium.com/@talkol) from `wix.com` has a really good Medium blog. So far I like all of his articles. This one might also be relevant for our discussion:

- [React Native ListView Performance Revisited — Recycling Without the Bridge](https://hackernoon.com/react-native-listview-performance-revisited-recycling-without-the-brid

[2018-01-28 07:20] PublicParadise commented on #250
@bd-arc Same here, I have a pretty demanding day job and my time and resources are limited.
I might look at the `BindingListView`. But yes: let's keep each other in the loop :)

[2018-01-28 09:58] bd-arc commented on #250
Yes, Tal Kol has written some top-quality articles about React Native and performance optimization.

Also, I was particularly interested in Wix's plugin [`react-native-interactable`](https://github.com/wix/react-native-interactable), but unfortunately they haven't had time lately to tackle some pesky issues.

[2018-01-29 12:38] bd-arc commented on #244
Feature released in [version `3.6.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.6.0).

[2018-01-29 12:38] #244 closed

[2018-01-29 12:38] bd-arc commented on #195
Feature released in [version `3.6.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.6.0).

[2018-01-29 12:38] #195 closed

[2018-01-29 12:39] bd-arc commented on #255
@Q8hma Feature released in [version `3.6.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.6.0).

[2018-01-29 12:43] bd-arc commented on #189
@AdamPD @eurobob This seems less of an issue with [the new layouts](https://github.com/archriss/react-native-snap-carousel/#raised_hands-new-feature-layouts) I've introduced in version `3.6.0`. What do you think?

Maybe it would be possible to create [a custom interpolation](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATIONS.md) that would compensate for t

[2018-01-29 14:51] bd-arc commented on #212
@leonardo2204 [Wish granted!](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/TIPS_AND_TRICKS.md#implementing-navigation)

[2018-01-29 17:44] leonardo2204 commented on #212
@bd-arc This is so cool, thank you very much!
Really appreciate your work!

[2018-01-29 20:26] ikalangita commented on #189
Hello, I tested today the carousel from the app [https://itunes.apple.com/lu/app/archriss-presentation-mobile/id1180954376?mt=8](url), when swiping between item it's seems not very fluid, or it's desired? does increasing the speed will remove this jerky behaviour ?

[2018-01-30 08:54] bd-arc commented on #189
@ikalangita The `ScrollView` component - on which the plugin is ultimately based - doesn't provide any way of handling momentum, speed, velocity and such, which is pretty unfortunate.

We've implemented a bunch of workarounds, but ultimately they are just poor substitutes for the missing features. Take a look at [this note](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/KNO

[2018-01-30 21:37] bd-arc commented on #189
@ikalangita Absolutely! Also make sure to try out [the brand new `layout` prop](https://github.com/archriss/react-native-snap-carousel/#layouts-and-custom-interpolations); this is a pretty neat feature ;-)

[2018-01-31 09:58] bd-arc opened #257 "Ideas for new examples"
## Default layout

## Default layout with small slides

## `inactiveSlideShift`

## 'Stack' layout

## Tinder layout

## Custom interpolations

## Others

* Full-page parallax (see [this plugin](https://github.com/zachgibson/react-native-parallax-swiper))
* 2-way control (see #202)
* Scroll inside carousel items
* Use GIF

[2018-01-31 17:07] cranberyxl opened #258 "Stop scroll event propagation"
### Is this a bug report or a feature request?

No

### Environment

  Environment:
    React: 16.2
    React native: 0.52
    react-native-snap-carousel: 3.6

  Target Platform:
    Android (6.0)
    iOS (10.3)

### Steps to Reproduce

1. Carousel nested in `react-navigation` `TabNavigation`
2. scroll to either end of the carousel and then the scroll event is propagated to the tab view

### Quest

[2018-02-01 09:07] bd-arc commented on #258
Hi @cranberyxl,

Using two different components that both respond to swipe events can lead to madness in no time. Moreover, I don't think you can stop the event propagation this way.

I see two potential workarounds:
- Wrap the carousel in a custom [`PanResponder`](https://facebook.github.io/react-native/docs/panresponder.html#basic-usage) and see where you can go with callbacks like `onStartShoul

[2018-02-01 09:18] SanyasiraoM opened #259 "[Help wanted] How to achieve below UI?"
### Is this a bug report or a feature request?

Help wanted

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already

[2018-02-01 09:43] bd-arc commented on #259
This is pretty straightforward.

Use [the provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) as a starting point and simply change [line `13` of `SliderEntry.style.js`](https://github.com/archriss/react-native-snap-carousel/blob/master/example/src/styles/SliderEntry.style.js#L13) to:
[code]

Done!

![react-native-snap-carousel issue 259](https://i.imgur.c

[2018-02-01 09:43] #259 closed

[2018-02-01 10:54] SanyasiraoM commented on #259
@bd-arc Thanks for reply,

Here left and right cards not completely visible, because of slider width

How to reduce margins between items after applied scaling or how to remove space added by scaling.

[2018-02-01 11:19] bd-arc commented on #259
You need to read [the doc](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in depth in order to understand how the plugin works.

[Here is](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/TIPS_AND_TRICKS.md#margin-between-slides) a note about margin and [here is](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/TIPS_AND_TRI

[2018-02-01 19:42] cranberyxl commented on #258
Thanks, I'll do some research and report back here in case others are interested.

[2018-02-01 19:42] #258 closed

[2018-02-01 21:53] bd-arc commented on #258
Yes, do not hesitate to share your findings. I'll even make an example out of it if you find something useful ;-)

[2018-02-02 03:39] pcooney10 commented on #247
Of course ! You notes in the README.md were a very good starting point for me.

The benefit of `InteractionManager` may be a little overstated in my post RE `react-native-snap-carousel`. I _did_ see much better Map loading when I used this API for my Map Markers (png images), but I am not sure the benefit was as great in my ScrollView.

Outside of seeing if `render()` fires for elements off the sc

[2018-02-02 10:45] bd-arc commented on #247
So far, [the React doc](https://reactjs.org/docs/optimizing-performance.html#profiling-components-with-the-chrome-performance-tab) was my reference on this matter. This means I've been using the Chrome Dev Tools, just like you.

But I've just re-read [the "Performance" part](https://facebook.github.io/react-native/docs/performance.html) of the RN doc, and my conclusion is that I should definitely

[2018-02-02 12:03] bd-arc commented on #258
@cranberyxl I previously forgot [that every view can become the touch responder](https://facebook.github.io/react-native/docs/gesture-responder-system.html#responder-lifecycle).

You can use methods like `onStartShouldSetResponder()`, `onMoveShouldSetResponder()` and such directly on the `Carousel` component (in fact, [that's what we did](https://github.com/archriss/react-native-snap-carousel/blob

[2018-02-02 19:18] pcooney10 commented on #247
Hopefully will have some bandwidth over the next 2 weeks to dig into this more! Using **Instruments** for iOS and **systrace** for Android doesn't seem like it'll be fun, but I guess you gotta do what you gotta do.

Also, I had implemented [this suggestion](https://facebook.github.io/react-native/docs/performance.html#using-consolelog-statements) (`babel-plugin-transform-remove-console`), and will

[2018-02-04 08:18] fachrinfl commented on #146
hey can help me, i want to send props navigation from wix react-native-navigator

[2018-02-06 16:14] fvsch commented on #238
Happy to report the glitchy behavior I was seeing was not a problem with this lib.
And now that I’ve fixed our code, I do see the workaround behavior happening as described.

[2018-02-06 16:17] bd-arc commented on #238
Glad to hear that @fvsch! And thank you for reporting back ;-)

[2018-02-07 13:50] filiipake opened #261 "Carousel Initial Index"
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?
Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already b

[2018-02-07 14:12] bd-arc commented on #261
Hi @filiipake,

This is the same issue as #235.

Take a look at [this comment](https://github.com/archriss/react-native-snap-carousel/issues/235#issuecomment-354996464) to learn more about the matter and to find out potential workarounds.

[2018-02-07 14:12] #261 closed

[2018-02-07 14:41] filiipake commented on #261
Ops, sorry man, i try to find in your repo and didnt found anything. Thanks!

[2018-02-08 12:21] JiboStore commented on #189
@JulianKingman sorry, a bit oot, how do you achieve the full screen slider like your gif animation? I tried setting `sliderWidth` and `itemWidth` to `Dimensions.get('window').width; but seems like each item is a little bit more than the screen width, and the next item offset becomes wrong. After a few scroll I will then need one extra scroll to get to the next item...

[2018-02-08 17:32] jordangrant opened #262 "Swipes do not register in top half of portrait-oriented Carousel Card ('stack', and 'tinder')"
@bd-arc,

Didn't follow the Template this time around due to time constraints, **but I want to put this potential issue on your radar**. It's a really weird one..

To reproduce:
- I set up a Carousel with tall (portrait-oriented) cards.
- I found that once the card exceeded a rectangular shape, the hitbox for swipes diminished.
- Did not do much else by way of customization. Occurs with layouts 's

[2018-02-09 00:19] JulianKingman commented on #189
@JiboStore for reference, I just used itemWidth and sliderWidth, and had to be careful about using absolute positioning and flex sizing.

[2018-02-09 09:19] bd-arc commented on #262
Hi @jordangrant,

Damn! I've encountered this issue before, but I was secretly hoping that this was a problem with something very specific in the provided example... Apparently not.

So far, this behavior seems linked to the carousel position in the viewport rather than having to do with the height of the item. It looks like approximately the top quarter of the screen is deaf to swipe events on th

[2018-02-09 10:12] bd-arc commented on #262
If I remove the following [style rule](https://github.com/archriss/react-native-snap-carousel/blob/master/src/utils/animations.js#L173), it works properly:
[code]

But then, of course, the layout is completely messed up:
![react-native-snap-carousel issue 262](https://i.imgur.com/rcBCQSPm.png)

A quick fix would be to use props `scrollInterpolator` and `slideInterpolatedStyle` to pass [the Android

[2018-02-09 10:26] Donhv opened #263 "Multi image in Slide"
I want show multi image like this( List img have 10 image and previous 3 image).
Image not selected have Opacity.
How I can do with this lib. thanks

![screen shot 2018-02-09 at 2 04 27 pm](https://user-images.githubusercontent.com/16864971/36023194-3483b9ec-0dbe-11e8-98ef-1696b16640a5.png)

[2018-02-09 14:10] bd-arc commented on #263
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your question, see #259 and particularly [this comment](https://github.com/archriss/react-native-snap-carousel/issues/259#issuecomment-362212146).**

[2018-02-09 14:10] #263 closed

[2018-02-09 15:18] hardcodet opened #264 "Feature request/guidance: Zoom an image?"
### Is this a bug report or a feature request?

Feature request.

I've been struggling (and failing!) quite a bit getting a decent image zoom within a page/swiper. Don't ask me how I missed this control, which looks way more polished than others I've seen so far. I basically just need a gallery, and as such, my users will want to be able to zoom into an image.

The problem I have probably exists h

[2018-02-09 16:07] bd-arc commented on #264
Hi @hardcodet,

You're right: rendering more than one gesture-aware component at a time can be a straight path to madness :-)

What about using  [`react-native-image-gallery`](https://github.com/archriss/react-native-image-gallery), another component of ours, on top of the carousel? For example, you could render a carousel of pictures and then, when the user clicks on one of them, open the gallery

[2018-02-09 17:12] hardcodet commented on #264
Thanks @bd-arc

You got the madness part right :)

I looked into the gallery - it a bit simplified (I wouldn't want to just set a few image URLs, for example), but it might be a good starting point I I have to go with a custom fork.

As far as the combination goes: I wouldn't want to use both carousel and the gallery, since they are very similar, so the distinction might be a bit weird and I would

[2018-02-09 17:12] #264 closed

[2018-02-09 22:42] bd-arc commented on #264
Do you have a visual example of what you're trying to achieve?

I'm curious and always up for a challenge ;-)

[2018-02-09 23:36] hardcodet commented on #264
Haha, awesome!

Basically, your carousel can do everything your gallery can (and more!). But I basically "just" need a control that is capable of flexibly handling some content (in the end, it's an image) that can be zoomed, with a pager and preferably some nice animations when flipping between pages.

I need it to be a bit more flexible than just supplying a list of image URIs. My current control

[2018-02-10 00:09] jordangrant commented on #262
@bd-arc Thanks for the  quick fix! No idea why the issue occurs, but this definitely helps me for the time being.

[2018-02-12 02:26] Donhv commented on #202
@bd-arc Have example for two-way control like this:
![screen shot 2018-02-09 at 2 04 27 pm](https://user-images.githubusercontent.com/16864971/36081878-a32e352e-0fd6-11e8-81aa-38ddc5c0f794.png)

If not how to make button previous & next like Application Demo:
https://camo.githubusercontent.com/3bd921828eba131cf78d3e6fc5123abb3e9045ab/68747470733a2f2f692e696d6775722e636f6d2f466f706533756a2e676966

[2018-02-12 03:45] Donhv opened #265 "How to call snapToItem(index) in SliderEntry in Example."
I want when Click onItem, Slide snapTo item Clicked.
I try modified onPress TouchableOpacity in SliderEntry.js but I can't call _slider1Ref.snapToItem.
Anyone Can help me?

[2018-02-12 07:10] Donhv commented on #265
I have fix by:
_renderItem = ({ item, index }) => {}

[2018-02-12 07:10] #265 closed

[2018-02-12 08:52] bd-arc commented on #202
@Donhv Implementing a two-way control example is clearly on my roadmap. Take a look at #257 to get a sneak peek at the miscellaneous examples I want to add.

Still, I didn't have much time recently to work on it. You'll have to wait a bit longer...

[2018-02-12 09:11] bd-arc commented on #264
Hey @hardcodet,

I think I understand what you're after. A carousel with custom animations between items, placeholders, loaders, fade-in apparition of images once loaded... This I can provide ;-)

But I wouldn't even know where to start in order to add a zooming feature without loading another view and while preserving the swiping ability.

Wix had a pretty good project going on, [`react-native-in

[2018-02-12 16:26] jacobsmith commented on #264
@hardcodet @bd-arc

Hi folks, found this issue while also trying to implement a zoom style feature with the gallery. My use case is a digital magazine where you can "flip" through pages, but where you should also be able to zoom in to read content, see images, etc.

I ended up utilizing `react-native-image-zoom` with this library and utilizing the `scrollEnabled` prop to switch between zoom of a s

[2018-02-12 16:45] hardcodet commented on #264
@bd-arc  @jacobsmith You guys are awesome!

I'll be in the mountains for two days but really looking forward to trying this out! I went a similar route wtih react-native pages, but the results where a bit underwhelming - I'll definitely try this out and will be posting back. Thanks!

[2018-02-12 17:46] bd-arc commented on #264
Hey @jacobsmith,

Thank you very much for sharing your idea! I wasn't aware of the `react-native-image-zoom` plugin, but taking advantage of its double-click feature in conjunction with the `scrollEnabled` prop looks like a very elegant solution 👍

If this isn't too much to ask, would you mind putting together a simple [Snack](https://snack.expo.io/) example so I can check on the usability and the

[2018-02-14 15:27] MichelDiz opened #266 "Proposal of channel discussion"
Hi, I took the liberty of creating a public chat in the discord facing React-Native. With the intention of uniting the React-native community and improving communication.

I'm creating a channel for public discussions about your project. To avoid flooding "chat" on your github. If you can support the initiative, great! Just share the link below xD

I'm adding RN-only projects to this public chat s

[2018-02-15 15:33] hardcodet commented on #264
@jacobsmith

I tried to apply your pattern, but the problem is that the nested `ImageZoom` appears to steal all the move events from carousel (I guess its `PanResponder` grabs all the gesture events). Accordingly, as soon as I replace a regular image with the `ImageZoom`, I can zoom and pan the image, but not scroll anymore (a swipe just moves my image a few pixels, then snaps it back into place).

[2018-02-15 18:49] jacobsmith commented on #264
@bd-arc and @hardcodet

I've attached a quick snack [here](https://snack.expo.io/@jacobwesleysmith/carousel-zoom). I haven't noticed any issues with performance (tested up to 100 pages, scrolling and zoom still seem to work fine). Of note, you are either in "Scrolling" mode or in "Zoom" mode.

And @bd-arc yes, I've looked at the possibility of adding custom swipe animations. If I end up implementi

[2018-02-15 18:58] hardcodet commented on #264
@jacobsmith

Thanks for putting in the work! Unfortunately, I can confirm that I'm seeing the same issue with your snack - I can easily zoom the bear, but wouldn't know if there are other pictures since swiping doesn't work. Question: Are you testing on a real device?

Test done on Android (Samsung Galaxy S6)

[2018-02-15 19:33] jacobsmith commented on #264
@hardcodet I've been testing on a real iPhone 5c, but I haven't done it on Android. I'll pull out an old android phone I have later and give it a test (because I need to support Android for the project I'm working on, so if this doesn't work, I'll need to re-evaluate the approach and find something that works on both platforms). Thanks for giving it a shot; hopefully I'll find the issue on the And

[2018-02-15 23:12] jarecsni commented on #247
I have 500 items and despite using the properties initialNumToRender and maxToRenderPerBatch (10 and 20 respectively) the carousel still renders all the items beforehand, which results in very slow performance. Not sure what I'm missing?

[2018-02-16 08:23] bd-arc commented on #247
@jarecsni Have you made sure to implement every trick described [here](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/TIPS_AND_TRICKS.md#optimizing-performance)?

If the answer is "yes", can you provide a [Snack](https://snack.expo.io/) example that reproduces the issue?

[2018-02-16 16:49] hardcodet commented on #264
The problem is the competing gesture listeners. In theory, it would be simple:

* If it's a two-finger gesture (nbr of touches > 1) OR the scale is bigger than 1: The `PanResponder` of the `ImageZoom` should handle the gesture
* One finger gestures with scale == 1: `ImageZoom` shouldn't grab the gesture and let the carousel do the swiping

The problem now is that the number of touches is always 1

[2018-02-16 18:16] jacobsmith commented on #264
Yes, I've come to roughly the same conclusion myself. I very rarely do see swiping on android (maybe 5% of the time), so I wonder if it's a race condition between gestureResponders? (I haven't dealt with eventing in React Native much so that could be way off, just learning as I go).

From RN docs:

I'm not quite sure what the impact of that statement is yet...

[2018-02-16 18:37] hardcodet commented on #264
The problem is that in the `onStartShouldSetPanResponder` where you determine whether you want to handle the gesture or not, `numberActiveTouches` just as `nativeEvent.touches.length` is always `1`. If this was reported differently (correctly?), you could easily determine whether to handle the gesture or not.

[2018-02-17 16:24] hansen94 opened #268 "onSnapToItem is not fired when difference between sliderWidth and itemWidth is not much."
### Is this a bug report or a feature request?

bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your issue hasn't already

[2018-02-17 21:04] jacobsmith commented on #264
@hardcodet would you mind sharing that "dirty hack" of a solution? 😄

[2018-02-17 21:45] hardcodet commented on #264
Sure. Keep in mind that it's really hackery and not in a good state (also, I have only been a RN developer for a few weeks ;)

Basically, I have a model that declares a `PanResponder`. That model maintains state to make a distinction between scroll mode and zoom mode, and it maintains `GestureHandler` instances for every image I have. If the user makes a gesture, it just invokes the `GestureHandle

[2018-02-18 11:17] hardcodet commented on #264
@jacobsmith

I just realized an additional touch responder in the hierarchy also makes things much harder :)
When I removed that one, I got very nice result using just an adjusted ImageZoom. You can use this one as a drop-in replacement. It basically just opts out of zooming in case of regular swipes. This works very nicely for me on Android without and jerking:

    export class ImageZoom2 extend

[2018-02-18 12:36] fotoflo commented on #189
Hi, I have a similar issue, though the movement seems smooth, the snapping is not... Snappy.

https://www.youtube.com/watch?v=zlLHIGqNdOA

[2018-02-18 12:39] bd-arc commented on #264
First, I'd like to thank you both for the top-quality discussion :-)

@hardcodet Thanks for putting the example together! I've tried it on miscellaneous devices; while it works pretty well on iOS (not without a few glitches, but that was expected since there was a bit of hack involved), it unfortunately isn't usable on Android: the swipe gesture works once and then it becomes permanently supersede

[2018-02-18 16:04] hardcodet commented on #264
@jacobsmith @bd-arc

Benoit: Yes, please forget my first implementation. I discoverd the issue you noticed as soon as I removed a `TouchableWithoutFeedback` from the component hiearchy. (Don't ask me why it was working on all carousel pages with that touchable in place!)

One thing to note:
With the current implementation, taps or double clicks on the `ImageZoom` are not reported if the image isn'

[2018-02-18 22:43] bd-arc commented on #189
Hi @fotoflo,

Do you mean that the carousel doesn't snap to the desired position after releasing the touch?

If so, can you open a new issue including a [Snack](https://snack.expo.io/) example that reproduces the problem?

[2018-02-18 23:26] fotoflo commented on #189
hi @bd-arc,
  actually it snaps... just happening very slowly.  Also it's offcenter.

Here in the snack it seems to work better... (still off center)

https://snack.expo.io/H1LOjtwPf

[2018-02-19 09:04] john1jan opened #269 "Getting error while swiping the cards in android"
[code]

[2018-02-19 09:05] bd-arc commented on #189
@fotoflo It's definitely not a plugin issue. My guess is that you've inadvertently activated the "Slow animations" feature of the iOS simulator (see the "Debug" menu).

Regarding slides' alignment, you made three mistakes:
- You didn't specify a width for your `ThumbnailBackgroundView`.
- You used a RN-specific style prop (`justifyContent`) while declaring your styles with styled components; you s

[2018-02-19 09:19] bd-arc commented on #269
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-02-19 10:51] fotoflo commented on #189
@bd-arc  Thank you, excellent debugging job! works great 👍

[2018-02-19 11:23] fotoflo commented on #189
Here's an updated example.  I think it shows a few important things:

1) Styling
2) Handling onPress and onSnapToItem
3) Controlling the carousel with the ref.

https://snack.expo.io/@fotoflo/react-native-snap-carousel-example

I'm just a beginner, so there may be things you want to change, but please feel free to use it as a more complete example.

[2018-02-19 13:32] fotoflo commented on #257
Here are some thoughts on how to make examples easier to use.

1. Put them in snacks and or update installation instructions
   - Actually i couldn't get it installed easily.  The instructions are simply to use npm install, but ive already installed the main repo and it's not a subdirectory.... so how do you really install it?

2.  Pair it down or make multiple versions.
   - the current example s

[2018-02-19 13:34] fotoflo commented on #189
Thanks @bd-arc  I was aware. I took a look at that app and was lost pretty quickly (sorry, i'm more of a product manager than an engineer) .... [here](https://github.com/archriss/react-native-snap-carousel/issues/257#issuecomment-366694131) are my thoughts (from memory, if you don't mind).