[2018-02-19 14:08] MichelDiz commented on #257
Please add an example of Infinite Scroll. Especially in the case of Tinder, technically it would be an infinite load. Until the resource queue ends.

cheers

[2018-02-19 14:20] bd-arc commented on #257
@fotoflo Those are valid points. I had similar thoughts and they led to the decision that a complete overhaul of the example app was needed ;-)

@MichelDiz I'll see what I can do about it :-)

Note that I don't have time at the moment to work on it, but it seats at the top of my to-do list.

[2018-02-20 08:27] bd-arc commented on #268
Hi @hansen94,

Would you mind recreating on [Snack](https://snack.expo.io/) a minimal example that reproduces the problem ?

I'll gladly take a look at your issue, but having a Snack project at hand will save me a lot of time ;-)

[2018-02-20 10:37] bd-arc commented on #266
Hey @MichelDiz, thanks for the initiative!

Unfortunately, I'm not a Discord user myself and don't intend to become one at the moment. Still, I'm going [to tag this thread with an asterisk](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/TIPS_AND_TRICKS.md#useful-threads) so that users who are interested can find it ;-)

[2018-02-20 10:37] #266 closed

[2018-02-20 21:48] jacobsmith commented on #264
@bd-arc @hardcodet

Thank you both for that info! I agree, as I've been working with that hacky solution, I've found more edge cases that don't play nicely together.

@hardcodet I'll have to give that updated code a shot; thanks!

[2018-02-21 03:20] hansen94 commented on #268
Sure. Here's the link: https://snack.expo.io/SJy6EP9DM

In the example, the number suppose to change when onSnapToItem is fired.
If you change the difference between sliderWidth and itemWidth to be greater than 50, it will work fine.
otherwise, onSnapToItem is not fired.

[2018-02-21 08:36] bd-arc commented on #268
@hansen94 Thanks for the Snack!

I can't seem to reproduce the issue. Here is an updated Snack in which I've made sure to use the same `itemWidth` value everywhere: https://snack.expo.io/SkNX1hqDf

Can you reproduce the issue in this one? I'll try on other devices this afternoon.

[2018-02-21 09:51] hansen94 commented on #268
Here's the updated code: https://snack.expo.io/rkV-CnqDz

In here, I made a new const SLIDE_WIDTH that is smaller than ITEM_WIDTH to make the next slide "peeks out". onsnaptoitem is not fired in the transition to the last slide only. If I made the data array to have only 2 entries, it does not fire at all.
I tested this on Samsung S8 with Android 7.0
Are you able to reproduce this?

Here's some sc

[2018-02-21 19:30] harrysolovay opened #271 "Using Animated.createAnimatedComponent(Carousel) results in undefined carouselRef methods"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes. I've extensively researched the topic. Nevertheless, I do apologize if I missed the solution and am wasting anyone's time.

### Have you read [the documentation](https://github.com/archriss/rea

[2018-02-21 20:40] bd-arc commented on #271
Hey @harrysolovay,

Thanks for putting in the time required to produce a high quality issue ;-)

The bad news is that you should definitely avoid creating an `Animated` component from the `Carousel`. The good news is that [it's already an `Animated` component](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L19:L20) :-) Moreover, it is [native-powered](h

[2018-02-21 21:12] harrysolovay commented on #271
Hi @bd-arc,

Thank you for getting back to me so quickly! Definitely a good lesson: re-wrapping an already-Animated component with createAnimatedComponent seems messy.

Maybe I'm misunderstanding your suggestion, but I want the carousel to trigger an Animation event for the adjacent Header component (I'm not trying to animate the carousel itself). I tried wrapping the carousel in an Animated.View,

[2018-02-21 21:25] bd-arc commented on #271
My mistake: I haven't been precise enough. Here is what you need to do:
- Remove the `Animated.View` wrapper; it is useless for your use case.
- Implement the following:
[code]
- Use the value of `scrollX` to animate your header component.

And this is it ;-)

[2018-02-21 21:52] harrysolovay commented on #271
The header animation was working before. Making the change above broke the onScroll animation. Instead of restoring it to its previous form, I tried swapping out the Animated.event(...) with the following _onScroll:
[code]
The animation is working again and corresponds to the scrollX, but pressing on the pagination dots still results in an error:
<img width="375" alt="screen shot 2018-02-21 at 4 4

[2018-02-21 22:18] bd-arc commented on #271
Could you create a [Snack](https://snack.expo.io/) example that reproduces the issue?

It would really make it easier for me to help you :-)

[2018-02-21 22:36] harrysolovay commented on #271
No need–I just got it working!!!

I didn't realize, but I'd accidentally command+z'd back to using the Carousel component made from Animated.createAnimatedComponent(Carousel). Upon fixing that, using the _onScroll method from my last post worked without creating conflict for the pagination control.

Thank you so much for all of your suggestions. It's really nice to know that other developers have

[2018-02-21 22:39] bd-arc commented on #271
Thanks for the kind words!

Happy to know that everything is now working as expected and that you're going to create awesome apps with this plugin ;-)

[2018-02-21 22:39] #271 closed

[2018-02-21 22:39] #269 closed

[2018-02-21 22:48] bd-arc commented on #268
@hansen94 That's clearly not the proper way to get "peeking" items ;-) In fact, you're messing with the carousel logic, hence your issue.

Forget about using a different value for `slideStyle: { width }` and `itemWidth`. You should just play with [prop `inactiveSlideScale`](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#style-and-animation) to a

[2018-02-22 02:32] hansen94 commented on #268
Oh i see. Thank you for you guidance. inactiveSlideScale does what i want.
Here's the final code that i use:
`import React, { Component } from 'react';
import { Text, View, Dimensions } from 'react-native';

// You can import from local files
// import AssetExample from './components/AssetExample';

// or any pure javascript modules available in npm
// import { Card } from 'react-native-elements';

[2018-02-22 02:33] #268 closed

[2018-02-22 06:58] nakulkundaliya opened #272 "Vertical corousel not working properly"
I am trying to implement vertical corousel but facing issue with 3rd component, http://prntscr.com/ii58si
I want center one to be on the top and 1st and 3rd elements should go behind the focused one.

[2018-02-22 10:08] bd-arc commented on #272
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**The carousel is working properly. To achieve what you're after, you need to implement a custom interpolation. I've written [an entire guide](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATI

[2018-02-22 10:08] #272 closed

[2018-02-22 14:13] sfatih commented on #9
@bd-arc thanks for answer, i was looking for this

[2018-02-22 16:56] harrysolovay opened #273 "Custom renderDots components do not trigger snapToItem on press when tappableDots is enabled"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes.

### Have you made sure that your issue hasn't alread

[2018-02-23 00:06] harrysolovay commented on #273
Just updated the original post with the Snack demo :)

[2018-02-25 09:25] bd-arc commented on #273
Hey @harrysolovay,

I haven't made it clear in the doc, but when you use the `renderDots` prop, dots' `onPress` logic is lost and you need to provide yours. I admit that this can be pretty confusing and I'll fix this in the next release.

For now, I've updated your Snack example and brought in [the logic of the `PaginationDot` component](https://github.com/archriss/react-native-snap-carousel/blob/

[2018-02-25 09:25] #273 closed

[2018-02-25 14:24] harrysolovay commented on #273
Worked like a charm. Thank you @bd-arc !!!

[2018-02-26 03:37] keung7251 opened #274 "when loop true and scroll from last item to first item, it sometimes comes up a weird behaviour"
Is this a bug report or a feature request?
Bug report.

Have you read the guidelines regarding bug report?
Yes.

Have you read the documentation in its entirety?
Yes.

Have you made sure that your issue hasn't already been reported/solved?
Yes.

Is the bug specific to iOS or Android? Or can it be reproduced on both platforms?
Both.

Is the bug reproductible in a production environment (not a debug

[2018-02-26 07:05] koswarabilly commented on #146
@fachrinfl `const { data: { title, icon, screen}, even, navigate} = this.props;` . it must have been `navigator` as the props not the `navigate` isn't it?

[2018-02-26 07:09] fachrinfl commented on #146
@koswarabilly when i tried using this.props.navigator directly , the result is still 'TypeError: undefined is not an object (evaluating 'this.props.navigator')'

[2018-02-26 08:16] koswarabilly commented on #146
[code]

in that code the `navigate` should change to `navigator` isn't it? @fachrinfl

[2018-02-26 09:43] bd-arc commented on #273
@harrysolovay You've edited your message, so your question doesn't appear anymore, but here is my answer anyway ;-)

You should definitely use another plugin to create tabs; in fact, I recommend [`react-native-tab-view`](https://github.com/react-native-community/react-native-tab-view) which I've used in production with great success.

For more info about why I'd rather go with other plugins for fu

[2018-02-26 09:52] fachrinfl commented on #146
[code]

@koswarabilly i tried changing with navigator but eror is

[code]

[2018-02-26 15:39] univers3 commented on #102
Yeah, it's a huge miss in my opinion too.
Amazing module but in this situation (multi elements) the space totally kills the user interface.

[2018-02-26 16:32] bd-arc commented on #102
@univers3 I heartily agree with you and I'd really like to be able to implement it this way.

But if you've read [this comment](https://github.com/archriss/react-native-snap-carousel/issues/102#issuecomment-343880254), you already know that this is no piece of cake and that the horde of React Native bugs add another layer of complexity...

[2018-02-27 01:24] koswarabilly commented on #146
@fachrinfl what library are you using? if you are using react-navigation then`navigator.push` is not a correct syntax. you should change `navigator.push `to `navigator.navigate`

[2018-02-27 01:27] fachrinfl commented on #146
@koswarabilly i used library 'https://wix.github.io/react-native-navigation/', this library using 'this.props.navigator.push' to move screen

[2018-02-27 09:58] QQizi opened #275 "Detect strenght of throw"
Hi everyone,

I'm currently working on an app with a "wheel of fortune" feature.
I'm using react-native-snap-carousel as a horizontal wheel and it's working great.

My question is, is it possible to detect the "power/strenght" of a throw from the user ?
I don't want the user to be able to select there item by throwing the carousel very slowly.

[2018-02-27 15:10] bd-arc commented on #275
Hey @QQizi,

There is only one callback in the `ScrollResponder` component that provides a velocity value directly: [`onScrollEndDrag()`](https://github.com/facebook/react-native/blob/26684cf3adf4094eb6c405d345a75bf8c7c0bf88/Libraries/Components/ScrollResponder.js#L315:L327). You use it this way:
[code]

**:warning:  This will only work is prop `enableMomentum` hasn't been set to `true`**, since [

[2018-02-27 15:10] #275 closed

[2018-02-27 15:11] bd-arc commented on #275
@QQizi By the way, I'm interested in seeing how your "wheel of fortune" looks like ;-)

[2018-02-27 15:17] bd-arc commented on #274
Hi @keung7251,

This is a bug I've sometimes seen in a dev environment, but never in a production one.

I've previously tried fixing it, but it was rooted in miscellaneous issues with the `ScrollView` component; therefore, there was apparently nothing I could do about it.

Still, it would help if you could provide a [Snack](https://snack.expo.io/) example that reproduces the issue so I can get a c

[2018-02-27 19:27] QQizi commented on #275
@bd-arc Thx for your help.
I didn't know PanResponder and managed to use it with this plugin (didn't had to ditch it) and get the velocity of the throw.

[Here is the "wheel"](https://im3.ezgif.com/tmp/ezgif-3-26dad604d4.gif)

[2018-02-27 21:06] meurling opened #276 "Render resized images on top/bottom of carousel instead of in the middle!"
### Is this a bug report or a feature request?

Feature request

As it is right now, when using the carousel with images having the `resizeMode: 'contain'`, the image is vertically centered. My request is to make it customizable, so that I.E the images always will be rendered at the top of the carousel.
I.E. the following screenshot, the carousel is bordered by the red borderlines, and I would lik

[2018-02-27 21:23] harrysolovay commented on #273
I actually emailed that to you directly (but kept the issue string as the subject––never posted it here)... sorry if that was confusing. Thank you for recommending me react-native-tab-view. You've been so so so helpful!!!

[2018-02-27 22:02] bd-arc commented on #273
@harrysolovay Happy to help! And, indeed, you're right: I got confused :-)

[2018-02-27 22:27] bd-arc commented on #275
@QQizi Unfortunately, the link to your gif doesn't seem to work...

Would you mind sharing your implementation with the `PanResponder`? I think this could really help other people ;-)

By the way, your "wheel" idea has motivated me to check if the following kind of design could be implemented with the carousel:

And the answer is **yes**, with nothing but a few lines of code. I thought I'd share i

[2018-02-28 05:36] jarecsni commented on #247
@bd-arc apologies for slow response I was on hols.

I had a look at the tricks but I either already comply or the trick would not solve the issue. Once again my key problem is that all 500 cards are materialised (rendered) upfront. Can you point me toward an example where the carousel is configured to render only a few items at a time? Thanks!

[2018-02-28 08:28] barron9 opened #277 "Call custom function inside renderitem gives error"
outrun(){
	alert('aa')
	this.props.navigation.navigate('ProductDetail', { name: uri.replace('/product/','') , token:this.state.token })
	}
 _renderItem ({item, index}) {
	 var self=this;

        return (
            <TouchableOpacity onPress={()=>this.outrun()} style={{height:180,backgroundColor:'#fbb034'}}>
		<Image style={{width:Dimensions.get('window').width,height:150}} resizeMode={'contain'}

[2018-02-28 09:07] bd-arc commented on #277
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Your issue looks like a classing binding mistake and has nothing to do with the plugin. See [this comment](https://github.com/archriss/react-native-snap-carousel/issues/9#issuecomment-268195473) for more info.**

**There is also [

[2018-02-28 09:07] #277 closed

[2018-02-28 09:52] QQizi commented on #275
@bd-arc here's the [link](http://gph.is/2oBrTAF)

My wheel looks kind of like yours, kudos 👍  ! Your exemple is dope tho !

The panResponder :
[code]

Thx for your help !

[2018-02-28 10:27] keung7251 commented on #274
Thanks a lot.

[2018-02-28 10:27] #274 closed

[2018-02-28 14:48] bd-arc commented on #275
@QQizi Absolutely! The carousel [inherits miscellaneous props from `ScrollView`](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#inherited-props), including `scrollEnabled`.

Your wheel looks great; I'd love to see how the custom interpolation I've shared would suit it ;-)

[2018-02-28 14:51] bd-arc commented on #276
@meurling I'm not sure that I've properly understood what you're after.

Can you share a minimal [Snack](https://snack.expo.io/) example with the "koala" setup? This way I can quickly make a few tests and tell you how to achieve the desired layout.

[2018-02-28 16:41] donnes commented on #262
@bd-arc How I implement the same fix but for the "Tinder" style?

[2018-03-01 10:32] QQizi commented on #275
Thx for your help @bd-arc !

I'v tried real quick the interpolation but the "scrollInterpolator" & "slideInterpolatedStyle" did not seem to be triggered. The effect on round slide wouldn't be that obvious anyway.

[2018-03-01 10:37] bd-arc commented on #275
The "custom interpolation" feature was implemented in version `3.6.0` of the plugin ;-)

[2018-03-02 09:25] bd-arc commented on #247
@jarecsni Unfortunately, this clearly looks like a `FlatList` issue. By default, the carousel uses this RN built-in component to benefit from a bunch of performance optimizations. Unless you've set prop `useScrollView` to `true` or used one of [the custom layouts](https://github.com/archriss/react-native-snap-carousel/#built-in-layouts), the carousel will render a `FlatList` component (with its ma

[2018-03-02 09:42] bd-arc commented on #262
Hi @donnes,

Here is the code in case you're facing the issue and need to fix the "Tinder" layout. I've just adapted the code you can find in [`/src/utils/animations.js`](https://github.com/archriss/react-native-snap-carousel/blob/master/src/utils/animations.js).

[code]

Note that, as for the stack layout, you'll get the Android effect (inverted compared to the original iOS one).

![react-native-

[2018-03-02 16:44] LukasNavickas opened #278 "Examples 5-8 do not work on Android"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Sure

### Have you made sure that your issue hasn't already

[2018-03-02 17:38] bd-arc commented on #278
@LukasNavickas Yes, that's on purpose.

If you read [the source code](https://github.com/archriss/react-native-snap-carousel/blob/master/example/src/index.js#L138) and [this note](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATIONS.md#android) you'll understand why. To be honest, I went the easy way because I was tired of having to do everything twice thank

[2018-03-02 17:38] #278 closed

[2018-03-05 10:49] soulso commented on #262
Hello,

I'm facing the same problem, i can't swipe with the entire area of my cards because of zIndex issue on stack layout. I tried your solution but that revert my cards display and into vertical mode it's very not a good display and other think i can't use looping options. Is there another solution to swipe normaly and keep the all the functionalities??

[2018-03-05 10:52] bd-arc commented on #276
Closing as no further feedback was provided.

[2018-03-05 10:52] #276 closed

[2018-03-05 11:09] bd-arc commented on #262
@soulso Unfortunately, I haven't been able to pinned down the root of the issue yet. Even though I fear a React Native bug, **any insight that could point me in the relevant direction would be of great help!**

I'm currently considering horrible workarounds like setting `pointerEvents={'none'}` for non-visible elements for example... I'll let you know if I find anything that works.

For now, unles

[2018-03-05 14:48] soulso commented on #262
Hello thanks for the answer, i hope you will found a solution.
How i can know that an element is non-visible?

[2018-03-05 15:26] bd-arc commented on #262
@soulso You can use [the `measure()` method](https://facebook.github.io/react-native/docs/direct-manipulation.html#measurecallback) in conjunction with prop `onSnapToItem(index)`. For example, you could check if `index - 1`, `index` and `index + 1` are located in the viewport and then set `pointerEvents` to `none` for every item but those three, given that they are currently visible.

Or, you can

[2018-03-06 00:45] donnes commented on #262
@bd-arc Thank you very much! It's fixed the problem on iOS using the Android style.

[2018-03-07 04:10] akiwarheit commented on #172
I noticed that Android's `onSnapToItem` was never reliable when I swiped too fast or when I reached the edges.

`enableMomentum` mitigated the issue - it calls `onSnapToItem` albeit with a little delay.

[2018-03-07 07:29] jarecsni commented on #247
@bd-arc Thanks for the Snack example, I have checked it and made some interesting discoveries.

1) The performance problems I was talking about ONLY impacting the layout='stack' mode. So when I delete that property in my project, the 500 cards load INSTANTLY

2) There was another problem I haven't mentioned so far. I was quite puzzled as I noticed that the cards are not registering clicks all over

[2018-03-07 07:33] jarecsni commented on #247
Ok just seen an issue raised about the 2nd problem. However I think it only talks about swipes, whereas clicks events in general are missed.

[2018-03-07 08:52] bd-arc commented on #247
@jarecsni The root of the missing swipe/click events is the same: it has to do with the custom `zIndex` needed to display advanced layouts. Unfortunately, I haven't been able to understand the exact why yet...

Regarding carousel performance, and as stated [in prop `layout`'s description](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#style-and-

[2018-03-07 09:16] bd-arc commented on #172
Hey @akiwarheit,

Have you read the following sections of the documentation?
- [Important note regarding Android](https://github.com/archriss/react-native-snap-carousel#important-note-regarding-android)
- [Android performance](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/KNOWN_ISSUES.md#android-performance)
- [Unreliable callbacks](https://github.com/archriss/react-native

[2018-03-07 10:40] jarecsni commented on #247
OK thanks, that clarifies it. For me this means that I will need to go with default layout as the performance with deck is not good enough. Will keep an eye on the project for any fix you may do on this in the future. Thanks!

[2018-03-07 12:31] sweatC opened #280 "Swipe several slides"
Hey, is there a way to scroll several items that depends on how strong/fast the swipe is?

[2018-03-07 13:49] bd-arc commented on #280
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

---

Regarding your question, take a look at [prop `enableMomentum`](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#behavior).

[2018-03-07 13:49] #280 closed

[2018-03-08 07:11] amyogiji opened #281 "Undefined is not an object data.length"
Undefined is not an object data.length

i am using default one

<Carousel layout={'stack'} layoutCardOffset={`18`} />

[2018-03-08 07:57] bd-arc commented on #281
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Make sure to read the doc, particularly the section about [the required props](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#required).**

[2018-03-08 21:43] machester4 commented on #281
you are not sending the property `data` or you are sending it empty.  in your code I do not see `renderItem`

[2018-03-09 10:26] EJohnF opened #282 "Android wrong display when using custom scrollInterpolator, slideInterpolatedStyle (ios is fine)"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes!

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes, and tip/tricks, and know issues (while it seems that

[2018-03-09 14:30] EJohnF commented on #282
also there are problems with swiping on android - after one gesture several cards channged, then scroll back to the one, which should be actually shown

[2018-03-10 12:15] hardcodet commented on #264
Started a new job three weeks ago, so I didn't really have time, but will be hopefully back to working on my project as of next week. @jacobsmith - did you by any chance make some progress?

[2018-03-12 08:23] bd-arc commented on #282
Hey @EJohnF,

Thanks for the detailed and illustrated issue! It would really help if you could manage to get the Snack example working on Android.

I might be able to try out your code later this week, but I could give it a look sooner with a working example ;-)

In the meantime, can you confirm that you've read the "Custom interpolations" section of the doc, and particularly [the "caveats"](https

[2018-03-12 11:24] EJohnF commented on #282
Read it now once again - but this Caveats section not really help - bcs I don't use `zIndex` style

inverted and useScrollView also tried - helps a bit with second (overscroll) problem

[2018-03-12 11:30] radiodario commented on #182
Hi @bd-arc this would be beneficial for me as well since i have an interaction which scales up the current slide on dragging up (to reveal some details) and currently this makes the next slide appear under the current one, How would you go about enabling this? I would definetely want the next and previous slides to have a lower z-index than the current:

`[ 1 ] [ 2 ] [ 1 ]`

[2018-03-12 11:45] EJohnF commented on #282
@bd-arc fixed snack: https://snack.expo.io/@ejohnf/android-wrong-display-problem

(also update link in issue)

[2018-03-12 13:57] bd-arc commented on #182
Hi @radiodario,

You can use the new prop [`slideInterpolatedStyle`](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#style-and-animation) to provide custom styles.

You can learn more about this feature in [the "custom interpolations" documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATIONS.md).

[2018-03-12 16:38] radiodario commented on #182
thanks a lot @bd-arc! amazing work on this library 💪

[2018-03-12 20:31] brenohq commented on #9
thanks @sfatih this solved my problem too

[2018-03-13 06:57] sksahil030 opened #283 "Got unexpected null or undefined"
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already

[2018-03-13 07:21] mohdInno commented on #283
Getting same issue

[2018-03-13 07:45] bd-arc commented on #283
Hey guys,

I'm willing to take a look at the issue, but I cannot do that without a complete example that reproduces the issue ;-)

[2018-03-14 02:42] abhi06991 opened #284 "It takes too long to render the content"
Initially I thought I was having some content rendering issues, but then I noticed it was taking around 5 minutes just to render a simple text. The way I found out that it took so long was, when I was typing my issue of content not getting rendered to post in here and noticed it just got rendered. Even If I navigate to previous screen and come back, it takes a long time to render. Tested this out

[2018-03-14 13:18] emregurler opened #285 "You have a large list that is slow to update"
### Is this a bug report or a feature request?

Bug, actually may be performance issue.

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes.

### Have you made sure

[2018-03-14 14:00] #281 closed

[2018-03-14 14:01] bd-arc commented on #285
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

[2018-03-14 14:13] bd-arc commented on #284
@abhi06991 Five minutes to render a simple text?! There must be something really wrong with your code.

Here are two basic Snack examples you can try out in order to check that everything loads instantly:
- https://snack.expo.io/SkNX1hqDf
- https://snack.expo.io/@akyker20/react-native-snap-carousel-bug

If you can't find out where the issue is coming from, please share a Snack example that reprodu

[2018-03-15 14:51] dbarner1 opened #286 "Default to card #2 instead of #1?"
### Is this a bug report or a feature request?

Feature request

 First, thank you.
Second, I'd love, when the carousel loads, to start the carousel on the 2nd card, instead of the 1st.  Is this possible, or can this be added?

Happy to get this going if not already here, and you'd like an extra hand to scope it.

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-car

[2018-03-15 14:52] dbarner1 commented on #286
Also: Is there a way to identify which card is 'active' (being shown in center of view)?

[2018-03-15 15:01] bd-arc commented on #282
Hey @EJohnF,

I've taken a look a the example. The fact that only the first item is affected and that it happens only on Android reminds me of an issue I had with a previous version of React Native.

If you take a look at [these lines](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L1199:L1200), you'll see that the first slide is centered thanks to some

[2018-03-15 15:11] #286 closed

[2018-03-15 15:14] bd-arc commented on #282
Hum... Just created a quick example from scratch: apparently, there is a centering issue with vertical carousels on Android.

I need to look into it.

[2018-03-17 05:54] abhi06991 commented on #284
It worked out. I guess may be it was a problem with the way the it bundles the app. I had to plug out the device, then plug in and re run the command `react-native run-android` and it worked.
Closing the issue

[2018-03-17 05:54] #284 closed

[2018-03-17 05:56] EJohnF commented on #282
@bd-arc when I've changed these rows to
[code]
And then last item looks better:

![screenshot_1521266084](https://user-images.githubusercontent.com/8780514/37552177-e438b46e-29c0-11e8-94f8-ae678025905f.png)

Thanks!

Now problems that all cards show only 2 cards in the stack (instead of 6 in IOS)

[2018-03-17 11:54] iremlopsum opened #287 "Question about layout={'stack'} on android"
I understand that there are issues with android, but my question is the following.

The initial layout that I get before swiping is this:
![image](https://user-images.githubusercontent.com/8178748/37555056-4fc62cba-29ea-11e8-8c97-4e54854c9f26.png)
and after swiping the layout looks like:
![image](https://user-images.githubusercontent.com/8178748/37555057-5c65ec44-29ea-11e8-8066-1913cc044685.png)

[2018-03-17 19:44] iremlopsum commented on #287
Ok, I figured it out. You kinda had the answer in the docs as well, but I wish you would be more verbose in what needs to be done.

For future people here's the solution:

[code]

And then you probably want to add `transform: [{ scaleX: -1 }]` to your rendered item as well :)

[2018-03-17 19:44] #287 closed

[2018-03-18 09:01] bd-arc commented on #287
@iremlopsum Well, the real solution solution would be for React Native to fix the Android `zIndex` bug ;-)

Anyway, you did find a pretty interesting hack. Previously, I've tried something like that to handle RTL layouts, with mixed results. But I didn't think about using it to work around Android limitations.

Did you experience any drawback? I'll run a few tests myself and see if this hack can m

[2018-03-18 09:11] iremlopsum commented on #287
@bd-arc Haha, yeah, the real solution is for RN to fix their shit.

So far no drawbacks, performance is the same as it is with default layout. I think you should be able to add it to the core, most stuff works, and some stuff I haven't tested.

[2018-03-18 16:30] iremlopsum commented on #287
@bd-arc Here's a quick demo of the performance in a release build - https://cloudup.com/cQhHns5eCk4

[2018-03-18 20:30] bd-arc commented on #287
@iremlopsum Thanks for the heads up! Indeed, this looks pretty good, and so does your app ;-)

I'll try to find some time in order to work on testing and implementing it.

[2018-03-19 10:14] Jhonsem commented on #159
same issue

[2018-03-19 22:21] juanlacruz commented on #283
I'm facing the same error and it happens with the `tinder` layout.

[2018-03-20 04:59] GarimaMathur07 opened #288 "FirstItem index does open wrong index when length of list is greater than 6."
[code]

@bd-arc Can you please suggest any solution of this issue

[2018-03-20 08:51] bd-arc commented on #283
Hi @juanlacruz,

Same answer as above: one of you guys needs to provide me with a [Snack](https://snack.expo.io/) example that reproduces the issue, otherwise there is no way for me to help you.

[2018-03-20 09:07] bd-arc commented on #288
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your issue, see [this comment](https://github.com/archriss/react-native-snap-carousel/issues/235#issuecomment-354996464).**

[2018-03-20 09:07] #288 closed

[2018-03-20 12:36] nHiRanZ opened #289 "Invariant Violation: Listener is not supported for native driven events"
Hi, I've been trying to implement the Snap Carousel with my app. But it gives the following warning and doesn't load up.

The class with the carousel is as follows.

[code]

And this component is used as following, in the parent class.

[code]

Environment:
    React: 15.3.1
    React native: 0.37.0
    react-native-snap-carousel: 3.6.0

Target Platform:
    iOS (11.2)

Any workaround for this? Th

[2018-03-20 13:36] bd-arc commented on #289
Hi @nHiRanZ,

You should take a look at #271 as it seems somewhat related.

If this doesn't help, you need to provide me with a [Snack](https://snack.expo.io/) example that reproduces the issue because the matter could be linked to something specific to your app.

[2018-03-22 07:58] adityak16 opened #290 "scroll not working efficiently"
HI,
I am using version 3.6.0 and and scroll not working properly if someone slides image fast, it comes back to first image.

react-native: 0.48.4

This is my code :

        <Carousel
              data={ _.get(this.props, 'userDropDetails')}
              sliderWidth={deviceWidth}
              itemWidth={deviceWidth / 2}
              inactiveSlideScale={0.53}
              inactiveSlideOpacity

[2018-03-22 09:18] Akarsh08 commented on #290
+1

[2018-03-22 18:15] bd-arc commented on #290
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**=> Can you share a screencast of the issue?**

Also, note that the plugin is tested only on the most recent versions of React Native. Indeed, it is based on the built-in `FlatList` component that is regularly updated by the Facebo

[2018-03-22 18:24] bd-arc commented on #285
@emregurler Unfortunately, this clearly looks like a `FlatList` issue. The component is not as good as it's supposed to be with a large dataset.

You can try to load smaller chunks of data and add some more when the user scrolls to the end of the carousel (see the inherited [`onEndReached`](https://facebook.github.io/react-native/docs/virtualizedlist.html#onendreached) prop). In fact, for your use

[2018-03-22 18:24] #285 closed

[2018-03-23 00:10] VitaliiK91 commented on #190
useScrollView for nested carousel worked in my case. Thanks @bd-arc

[2018-03-23 16:03] GollyJer opened #291 "Is there a way to make an initial placeholder slide?"
Hi. I have the carousel all hooked up and working great.  THANKS a ton for this component!

The last thing I'd like to do is conditionally render a first slide if more than one slide exists.
The line `myProps.images[0] === image` is an example of what I'm attempting to do.
Is this concept possible?  Thanks!

[code]

[2018-03-23 16:21] bd-arc commented on #291
Hi @GollyJer,

Unless I haven't properly understood your need, it should be as simple as the following:

[code]

[2018-03-24 22:45] dwilt opened #292 "Bug: When inside of Tabs for react-native-router-flux, slides don't show until you begin to swipe"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

I'll be honest, probably not.

### Have you made sure that

[2018-03-25 03:57] GollyJer commented on #291
@bd-arc Thanks for the reply.  I didn't explain myself very clearly... sorry.

As an example... if there are 3 images I want to render 4 slides.
[title slide] [image1] [image2] [image3]

So some way of saying "when there are more than one slide, put an extra title slide at the front".

[2018-03-25 12:37] bd-arc commented on #292
Hi @dwilt,

This looks like #238; I think you'll find some useful information there ;-)

To sum up: this is an unfortunate [React Native bug](https://github.com/archriss/react-native-snap-carousel/issues/238#issuecomment-354536859). I've exposed two ways of dealing with:

[2018-03-25 12:37] #292 closed

[2018-03-25 12:48] bd-arc commented on #291
Since the carousel extends the `FlatList` component, you can take advantage of the inherited [`ListHeaderComponent` prop](https://facebook.github.io/react-native/docs/flatlist.html#listheadercomponent). Something along those lines:

[code]

[2018-03-25 16:45] GollyJer commented on #291
@bd-arc thanks so much for the helpful ideas!
It didn't quite work but got a lot closer.

_This is a test app with test images..._
Here's an example with three slides.
![20180325_123445](https://user-images.githubusercontent.com/689204/37877467-cb462ad0-3029-11e8-9639-4db0a2792f4d.gif)

And here is test with a 4th slide "Title" slide added in the `ListHeaderComponent` prop.
You'll notice the visib

[2018-03-25 21:19] bd-arc commented on #291
@GollyJer Damn, sorry! Of course it can't work since I've never thought about taking the header and footer into account for index handling... The bright side though is that's an update I'm now considering ;-)

For now, do you have any way of altering your dataset if it contains more than two items? For example, you can prepend some specific data for your title item and then render this one conditi

[2018-03-25 21:52] GollyJer commented on #291
@bd-arc You've given me an idea.  I'll let you know how it goes.

`handling the header and footer`
This would be a simple way for users to optionally add leading and trailing slides... +1.  😄

[2018-03-26 08:44] leojiang opened #293 "question: the example is not running smoothly on IOS simulator but pretty good on android simulator."
I just wanna ask why the example is not running smoothly on IOS, even a simple animation will take several seconds to finish.

Is there anything I can do to make it better or it's just because of the performance of simulaor?

[2018-03-26 09:16] bd-arc commented on #293
There must be something wrong on your end, because the example runs pretty smoothly. Every screencast that you can find in the doc has been taken from it and even with the necessary GIF compression, you can tell that there is no performance issue ([see for yourself](https://github.com/archriss/react-native-snap-carousel#raised_hands-new-feature-layouts)).

My guess is that you've activated the "Sl

[2018-03-26 09:16] #293 closed

[2018-03-26 10:04] #290 closed

[2018-03-26 10:05] bd-arc commented on #289
Closing as no further feedback was provided.

[2018-03-26 10:05] #289 closed

[2018-03-26 12:55] leojiang commented on #293
Thanks, man, I did turned on 'Slow animation'.

[2018-03-26 15:33] asadm opened #295 "Tinder but with like/dislike on swipe"
Thank you for making this awesome project!
I am trying to implement the following "tinder-style" swiper:
![tinder](https://axurewidgets.com/wp-content/uploads/2016/11/tinder-swipe.gif)

I see that there is a tinder example. The only problem I have is how do I make it unidirectional? ie. no matter which direction I swipe the current item (yay or nay), it always should go to the next item in the dec

[2018-03-26 15:40] bd-arc commented on #295
Unfortunately no. The reason is that the component is basically a `ScrollView`, which mean we can apply miscellaneous interpolations based on scroll position, but not prevent the user from going back.

You should check the following plugin which does exactly what you're after: https://github.com/alexbrillant/react-native-deck-swiper

[2018-03-26 15:40] #295 closed

[2018-03-27 07:29] EJohnF commented on #282
I think I've found how to solve displaying problem:

1) change `paddingBottom` as above
2) change props `removeClippedSubviews` to false

and it looks like https://yadi.sk/i/cB5-fZsO3TnyEw

[2018-03-27 07:49] bd-arc commented on #282
@EJohnF Good finding :-)

But a workaround was already mentioned [in the doc](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATIONS.md#the-flatlist-component). I didn't think about telling you because I was assuming that you were already aware of the need to set `useScrollView` to `true` in order to avoid rendering bugs.

I would recommend this solution over

[2018-03-27 08:02] EJohnF commented on #282
I've tried to use `useScrollView: true`
And it doesn't help with required stack view (checked once again right now)

And `removeClippedSubviews={false}` may be will not be a big problem, since in 0.54 added support to loading items in both directions...
Anyways thanks for your time and warning!!

But now get the problem with some overscrolling on Android (while `overScrollMode: 'never',`)
Within o

[2018-03-27 09:33] bd-arc commented on #282
Regarding your Android issue, have you tried on a device with a production build? I can't emphasize what's being said in [this note](https://github.com/archriss/react-native-snap-carousel/#important-note-regarding-android) enough :-)

To provide more context, you need to know that despite being [one of the most wanted feature](https://github.com/archriss/react-native-snap-carousel/issues/203), the

[2018-03-28 07:42] marcmo opened #296 "Add option to limit number of scrolled items to 1"
### Is this a bug report or a feature request?

Feature Request

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

## Description

would be great to enable a mode w

[2018-03-28 07:53] bd-arc commented on #296
Hi @marcmo,

Prop `lockScrollWhileSnapping` should help with that. Also, make sure to test [in a production environment](https://github.com/archriss/react-native-snap-carousel/#important-note-regarding-android).

To provide a bit more context about why this is not an easy thing to accomplish, you need to know that despite being [one of the most wanted feature](https://github.com/archriss/react-nat

[2018-03-29 14:30] marcmo commented on #296
thanks for the fast reply @bd-arc ...yes I know about the snapToInterval issue in Android...a pity! that's actually the reason I tried your library ;)
I understand that this is not an issue that might not be easy to accomplish so I will close it for now.
I did try your `lockScrollWhileSnapping` property but had no success (still able to scroll more than 1 item when flinging).

[2018-03-29 16:11] Akilasusmy opened #297 "Swiper with optimized initial rendering"
How can I improve the time taken for initial rendering when the data set is huge?
Precisely, is there a way to pass "onEndReached" ,"initialPageSize" props to carousel for flatlist optimizations?

[2018-03-29 16:40] bd-arc commented on #297
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Make sure to read the doc: particularly [this section on inherited props](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#inherited-props) and [this one on performance optimizati

[2018-03-29 16:40] #297 closed

[2018-03-30 06:51] matyj opened #298 "lib crashes when running it with existing native app"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already

[2018-03-30 08:11] bd-arc commented on #298
Hi @matyj,

I genuinely don't see how to help you. There is no way for me to reproduce your issue and there is nothing that clearly links it to the plugin...

[2018-03-30 11:19] dwilt commented on #232
@bd-arc I'm also experiencing this exact issue with RN `0.52.2`. I've noticed that every time I change to a new slide, `firstItem` (if a function is passed to it), get's called every time. See the attached video.

[![snap-carousel-issue-232](https://img.youtube.com/vi/X28Mv6zeIqI/0.jpg)](https://www.youtube.com/watch?v=X28Mv6zeIqI)

[2018-03-30 11:25] dwilt commented on #232
Just realized. `getInitialAvatarIndex` in `firstItem` is firing again because the `render` method that the `snapCarousel` is in is getting fired again. Still, the issue remains.

[2018-03-30 11:26] dwilt commented on #232
Another note -- this problem doesn't happen if I don't set `firstItem`.

[2018-03-30 11:35] dwilt commented on #232
I think I discovered the issue. Since the `avatar` field is bound to my state, and the state changes, that's what causes it to loop. If I hardcode `firstItem={2}` the issue doesn't happen.

[2018-03-30 21:27] bd-arc commented on #232
Thanks for sharing your findings @dwilt! This is pretty interesting.

[2018-04-02 07:36] b8ne commented on #35
Did you get a solution to adding slides dynamically? Im unable to do it... Getting a `Warning: Cannot update during an existing state transition (such as within 'render' or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects are an anti-pattern, but can be moved to 'componentWillMount'.`

[code]
[code]

[code]

[2018-04-02 10:18] #298 closed

[2018-04-03 03:52] RoarRain opened #299 "Hi, How to do this UI？"
<img width="268" alt="swiper" src="https://user-images.githubusercontent.com/10494442/38228193-b71435f4-3734-11e8-9a38-a28b4dcf59ca.png">
<img width="500" alt="swiper" src="https://img.ctolib.com/uploadImg/20180224/20180224203645_591.gif">

I want to do like this。swipe past one below the next card like the right. please help me. thx

@bd-arc

[2018-04-03 07:49] bd-arc commented on #299
@RoarRain You have [an entire documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATIONS.md) dedicated to custom interpolations.

Be aware of [the miscellaneous caveats](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATIONS.md#caveats) though.

[2018-04-03 07:49] #299 closed

[2018-04-03 17:50] lefoy commented on #159
I'm also having this issue and I'm not using a dynamic list, when I call snapToItem for the last item it snap to the second last item in the list.

[2018-04-03 20:37] bd-arc commented on #159
@lefoy Would you mind sharing a [Snack](snack.expo.io) example that reproduces the issue?

[2018-04-04 02:53] RoarRain commented on #299
thx very mach!

[2018-04-04 12:29] lefoy commented on #159
@bd-arc it would take some time to make an isolated example to demonstrate the issue but I will do my best to give you as much information as possible.

I'm displaying a list of pictures using a ListView (think of a picture gallery) and when the user tap on one of the pictures, I open a new view using react-native-navigation and I display the pictures using this plugin. What I'm trying to do is to

[2018-04-04 16:18] bd-arc commented on #159
@lefoy Ah, I see. This is an unfortunate `FlatList` bug that has been referenced in #63, #235, #261 and #288.

Take a look at [this comment](https://github.com/archriss/react-native-snap-carousel/issues/235#issuecomment-354996464) to learn more about the exact matter and to find out potential workarounds.

[2018-04-04 16:20] lefoy commented on #159
@bd-arc Thank you! I will take a look at it.
Have a good day

[2018-04-05 03:38] zeeshanjan82 opened #300 "Carousel not working with dynamic data"
I am trying to assign the dynamic data from api to the carousel in the below code:

![image](https://user-images.githubusercontent.com/8342604/38346171-fc142d58-38b0-11e8-942f-5946b6f1a3df.png)

however I am getting the following error:

![image](https://user-images.githubusercontent.com/8342604/38346149-dd3d54d6-38b0-11e8-9890-443fe38d0e67.png)

[2018-04-05 07:25] bd-arc commented on #300
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your issue, see #253.**

[2018-04-05 07:25] #300 closed

[2018-04-05 07:26] zeeshanjan82 commented on #300
np I was able to resolve the issue :)

[2018-04-05 21:40] jrounsav commented on #283
Hey all,

I was seeing this myself and it appears to have been in response to the way that I was allowing my home screen elements to be customizable.

**Long story short** I just had to remove this from my carousel in order to diagnose the root of my issue: useScrollView={true}

After removing that prop the error disappeared and I realized that a wrapper component rendering a list of components(on

[2018-04-06 07:58] bd-arc commented on #283
Hey @jrounsav,

Thanks for sharing your findings ;-)

Still, regarding the issue, I'm going to implement [the `getNode()` method](https://github.com/facebook/react-native/pull/9944) in order to have something more bulletproof. Hopefully, this will solve the issue for everyone.

[2018-04-07 10:00] CodeLuca commented on #296
Could we keep this open in case someone else has an alternative solution, I really need this for a project I'm working on :P

[2018-04-07 18:29] ragunaru opened #301 "Calling snapToItem results in: undefined is not an object (evaluating 'this._venueCarousel.snapToItem')"
Hi folks,

I'm trying to snap to a new item based on a condition.

My carousel setup:

[code]

I have this function that uses the snapToItem callback.

[code]

And then I call that function in an if statement:

[code]

But I keep getting this error:

![image](https://user-images.githubusercontent.com/795389/38458715-5458455c-3a6f-11e8-9169-eebf00a26774.png)

The strange thing is if I wrap the call

[2018-04-07 22:05] cyphire opened #302 "firstItem does not work with Android."
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already

[2018-04-08 15:10] bd-arc commented on #301
@ragunaru My guess is that `onSnapToItem` is called during init before the reference has been created.

Try the following:
[code]

[2018-04-08 15:13] bd-arc commented on #302
@cyphire This is an unfortunate `FlatList` bug that has been referenced in #63, #159, #235, #261 and #288.

Take a look at [this comment](https://github.com/archriss/react-native-snap-carousel/issues/235#issuecomment-354996464) to learn more about the exact matter and to find out potential workarounds.

[2018-04-08 15:13] #302 closed

[2018-04-08 16:10] bd-arc commented on #296
@CodeLuca Sure, but don't get your hopes too high for now ;-)

Unless the Facebook team implement a proper `snapToInterval` on Android and make the `ScrollView` component behave properly on this OS, we're kind of stuck...

FYI, I've been thinking about implementing a custom `PanResponder` on top of the `FlatList` to see if I can anyhow get the best of both worlds, but this is more work than I can

[2018-04-09 07:36] xiaoshuangshuang opened #303 "At the example when loop true and scroll from last item to first item, it comes up a flicker behaviour"
At the example when loop true and scroll from last item to first item, it  comes up a flicker behaviour

[2018-04-09 09:06] bd-arc commented on #303
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your issue, see #232**

[2018-04-09 09:06] #303 closed

[2018-04-09 09:32] xiaoshuangshuang opened #304 "At the example when loop is true and scroll from last item to first item, it comes up a flicker behaviour"
### Is this a bug report or a feature request?

yes

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your issue hasn't already been re

[2018-04-09 10:35] #304 closed

[2018-04-10 17:30] jfrense opened #305 "feature request: willSnapToItem - callback triggered onPress release"
### Is this a bug report or a feature request?

Feature Request

Feature:

for the onSnapToItem calllback, I noticed it gets triggered when the item has fully snapped into its next position (index).

Is there a way for a new callback to get triggered so that when we know the delta threshold has been reached that will trigger a snapToItem, that a new callback is triggered as soon as the user releas

[2018-04-11 06:10] jarecsni opened #306 "Exception with small number of items"
Hi,

Just to try something out I reduced number of items in my app from 20 to 5 and got this exception:

[code]

I've tried a similar thing in this snack: https://snack.expo.io/@akyker20/react-native-snap-carousel-bug but it seems to be working fine there. Also, debugging lead me nowhere.

 It seems to break below 12 items, anything with 12 or more works fine. Any idea what may be causing this?

T

[2018-04-11 06:16] jarecsni commented on #306
Apologies, this turned out to be application related - the error stack trace was a bit misleading, the error was caused inside my itemrenderer fn. Closing.

[2018-04-11 09:17] delvedor commented on #283
Hi @bd-arc, same issue here.
My code is very simple:
[code]
There are no conditionals operators, nor `return null` and the item is just an `Image` wrapped by a `View`.

I'm using `react-native-snap-carousel` version 3.6.0 and react native version 0.53.3.
I've noticed that the problem appears only if the js debugger is not active.

[2018-04-12 00:53] jlo1 opened #307 "[Feature request] flag for whether to trigger callback for snapToItem"
Would like to add flag so that `onSnapToItem` can be disabled when the carousel is manually snapped via the method `snapToItem`.
e.g. `carousel.snapToItem(4, {:animated true :callback false})` would _not_ trigger the `onSnapToItem` callback.

Reason being that we want to trigger the callback when the item is snapped via the user swiping, but we don't want to trigger the callback when we programmat

[2018-04-12 08:00] iuliuvisovan commented on #292
Hello, one question. I have "snapToItem" to a high index, say 30, and it scrolls to the ninth position, and only after that loads the next items. Will `triggerRenderingHack` help in this case? If yes, when exactly should I call it? I'm calling before and after calling `snapToItem`, is there anything else I'm missing? :/

[2018-04-12 14:06] GillesVercammen opened #308 "Refresh when scrolling to the edge at first/last item"
### Is this a bug report or a feature request?

feature request

Hello,

I'm trying to implement a refresh on swipe mechanic on the carousel but so far i have been unable to make it work. I tried making use of onScroll and onScrollBeginDrag/onScrolEndDrag. But that didn't suffice. Is there another way of implementing a swipe to refresh?

use case: I want my list to call a refresh method whenever t

[2018-04-12 16:25] bd-arc commented on #308
Hi @GillesVercammen,

Have you tried playing with `VirtualizedList`'s [inherited props](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#inherited-props)? Particularly [`onEndReached`](https://facebook.github.io/react-native/docs/virtualizedlist.html#onendreached).

[2018-04-12 16:35] bd-arc commented on #291
Hi @GollyJer,

Any news regarding this issue?

[2018-04-12 17:14] bd-arc commented on #307
@jlo1 Wish granted in version `3.7.0` ;-)

[`snapToItem()`](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#available-methods) now accepts an optional third parameter for this use case.

[2018-04-12 17:14] #307 closed

[2018-04-12 17:16] bd-arc commented on #283
Hey guys,

I've refactored a few things in version `3.7.0`. Can you try and let me know if you still experience the issue?

[2018-04-12 17:18] bd-arc commented on #305
@jfrense Wish granted in version `3.7.0` ;-)

A new callback method has been introduced: [`onBeforeSnapToItem()`](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#callbacks). Enjoy!

[2018-04-12 17:18] #305 closed

[2018-04-12 19:33] bd-arc commented on #301
@ragunaru This should be fixed in version `3.7.0`.

[2018-04-12 19:33] #301 closed

[2018-04-12 22:16] Benguin commented on #164
If I've got a carousel with 10 items and starts on item 5, is there a way to prevent it from rendering the first 4 items? Flatlist seems to render items from the start of the array up to the current array index.

[2018-04-14 15:58] GillesVercammen commented on #308
Tnx for the suggestion. I tried it out and it seems super buggy. It sometimes calls onEndReact on the first render of the component. Also It calls onEndReached twice with the bounce from flatlist.
I could make it work. But it is super dirty en fragile. sadly onRefresh en is refreshing props do not work for horizontal list.

[2018-04-15 01:07] betonix opened #309 "There's any way to disable scrolling by the touch, and scroll to specific item by index ?"
There's any way to disable scrolling by the touch, and scroll to specific index item?

[2018-04-15 08:38] bd-arc commented on #309
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your question, the answer is yes. You'll find everything you need in [the doc](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md).**

[2018-04-15 08:38] #309 closed

[2018-04-16 20:18] rafaelpizzaia commented on #283
I was facing this issue on version 3.5. After upgrade to version 3.7.0, looks like the issue is solved.

[2018-04-16 20:59] bd-arc commented on #283
@rafaelpizzaia Thanks for letting me know ;-)

[2018-04-16 20:59] #283 closed

[2018-04-18 13:24] sujitpk-perennial opened #310 "Parallax image is not showing"
Hello team,

     Thanks for creating such fabulous library. I am using carousel to show the images in sections. I wrote following code.

[code]
   Here I can't see the image on the screen. I can see red background color. My image uri is correct. I can see only loading indicator. I tried by hardcoding the image path, but still no luck. Also in the view I can't see text also.
   Am I missing someth

[2018-04-18 20:15] bd-arc commented on #310
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

Also, I don't know how you did come up with the following props as they never we

[2018-04-19 05:47] futantan commented on #187
@bd-arc sorry to re-comment on this issue. I have read almost all the doc, but still not found a way to **reduce** the space between slides. Is there a way to do this?

[2018-04-19 07:28] bd-arc commented on #187
@futantan Basically, this is determined by the `inactiveSlideScale` prop.

Play with its value until you find something that suits you. If you set it to `1`, you'll have no space between the slides.

[2018-04-19 15:10] bd-arc commented on #291
Closing as no further feedback was provided.

[2018-04-19 15:10] #291 closed

[2018-04-20 07:54] hoangvuanhdevelopervn opened #311 "Example app error"
**I clone example app and run but it's not success. This is error.**

![simulator screen shot - iphone 6 - 2018-04-20 at 14 53 34](https://user-images.githubusercontent.com/29293495/39037410-a11110a0-44aa-11e8-9f34-60d496917001.png)

[2018-04-20 09:01] bd-arc commented on #311
@hoangvuanhdevelopervn `npm` sometimes have trouble with relative file paths. Edit the example's `package.json` file and modify [line 13](https://github.com/archriss/react-native-snap-carousel/blob/master/example/package.json#L13) to the following:

`"react-native-snap-carousel": "3.7.0"`

This should solve your issue.

[2018-04-20 09:01] #311 closed

[2018-04-20 16:09] alexma01 opened #312 "[react-native-snap-carousel] firstItem option not work"
Hi guys,

I set firstItem={2} but not work, why?

Thanks

[2018-04-20 20:44] bd-arc commented on #312
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-04-23 01:45] futantan commented on #187
@bd-arc Thanks for your help!

[2018-04-23 07:52] bd-arc commented on #187
@futantan Sure. You just need to create an inner container and to set its padding to the value you want.

If you have trouble doing it, please create a [Snack](https://snack.expo.io/) example so I can take a look at it.

[2018-04-23 19:35] amitassaraf commented on #38
I am just going to add the it took me a while to figure out this is related to RTL. So for SEO reasons Im gonna add that if you encounter flickering or snap flickering in the carousel then it is related to this issue. The solution by @malashkevich works.

[2018-04-25 03:26] neilzhengzx opened #313 "3.7.0 android , if set firstItem Greater than 4 or 5，the firstItem only display 4"
### Is this a bug report or a feature request?

bug report

in android ,i use Carousel with 8 page, when i set firstItem 7, Carousel only go to 4 page.but in ios, Carousel go to the current page.

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

yes

### Have you read [the documentation](https://github.com

[2018-04-25 10:48] Maestro501 opened #314 "RTL jumps to left-most item when data gets longer"
### Is this a bug report or a feature request?

Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your issue hasn't already been re

[2018-04-25 11:08] cklinx commented on #313
Same problem here. I think is a rendering issue cause if you set a big value in

it render more objects list but rendering performance decrease; Even if you set

list show the 27 item.

[2018-04-26 09:03] iwangx opened #315 "Is it possible to disable ios's right slide return?"
### Is this a bug report or a feature request?

feature request

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

yes

### Have you made sure that your issue hasn't alr

[2018-04-30 03:24] QQizi opened #316 "snapToItem animation with ease"
### Is this a bug report or a feature request?

Feature request

Is it possible to snapToItem with animated as true with an ease ? So the animation look a little bit more natural ?

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react

[2018-05-02 04:53] isurugajasinghe opened #317 "At react-native-snap-carousel@3.7.0 not display inside the carousel ?"
At react-native-snap-carousel@3.7.0
first app launch it is not render the cards, after I click somewhere of screen or swap da carousel view, then display cards.

  _renderCarouselItem_Cards({ item, index }) {
    console.log('ITEEEEMMMMM : ', item.image) // this **log working with image names**
    return (
      <Image key={index} source={item.image} style={{
        height: 180,
      }} resizeM

[2018-05-02 07:24] neilzhengzx opened #318 "in android,this._scrollOffsetRef with a decimal will case this._repositionScroll not enter."

[2018-05-02 20:57] jonixj commented on #316
+1 The snap effect feels very unnatural.

[2018-05-03 13:43] bd-arc commented on #316
@QQizi I totally get what you're after, and I'd really love to be able to implement it, but unfortunately this is out of my hands. Unless the Facebook team improves the `ScrollView` component and provides an option to do so, there is nothing I can do about it.

See #203 for more info and to vote for React Native's feature request.

[2018-05-03 13:43] #316 closed

[2018-05-03 13:48] bd-arc commented on #318
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-05-03 13:49] bd-arc commented on #317
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-05-03 13:50] bd-arc commented on #316
See also #189 ;-)

[2018-05-03 14:00] bd-arc commented on #315
Hi @iwangx,

Can you explain what you mean by *"ios's right slide return"*?

If you're talking about the overflowing (or "bouncing") ability, read the section about [inherited props](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#inherited-props) again and set the `bounces` prop to `false`.

[2018-05-03 14:00] #315 closed

[2018-05-03 14:03] bd-arc commented on #313
@neilzhengzx @cklinx  This is an unfortunate `FlatList` bug that has been referenced in #63, #159, #235, #261, #288, #302...

Take a look at [this comment](https://github.com/archriss/react-native-snap-carousel/issues/235#issuecomment-354996464) to learn more about the exact matter and to find out potential workarounds.

[2018-05-03 14:03] #313 closed

[2018-05-03 14:09] bd-arc commented on #314
Hi @Maestro501,

Thanks for the detailed feedback.

A lot of features have been added during the past few months that haven't been tested with RTL layouts. Therefore, I'm not surprised to learn that some fine-tuning is needed.

I'll look into this issue as soon as possible, but it might not be before a little while. In the meantime, feel free to share every suggestion or solution you come up with

[2018-05-04 08:01] bd-arc commented on #318
@neilzhengzx I don't understand what this is supposed to solve. Can you explain in depth and provide some context?

[2018-05-06 17:25] bd-arc commented on #317
Closing as no further feedback was provided.

[2018-05-06 17:25] #317 closed

[2018-05-06 17:25] bd-arc commented on #312
Closing as no further feedback was provided.

[2018-05-06 17:25] #312 closed

[2018-05-06 17:26] bd-arc commented on #310
Closing as no further feedback was provided.

[2018-05-06 17:26] #310 closed

[2018-05-07 06:41] neilzhengzx commented on #318
i set my project in Millet mix2，in
![image](https://user-images.githubusercontent.com/12807303/39688256-6f879ee8-5204-11e8-8ca8-8eea18e45fe0.png) , scrollOffset is 3874, but this._scrollOffsetRef is 3874.1042, case this._repositionScroll not enter.

[2018-05-07 09:54] bd-arc commented on #318
I don't understand how `this._scrollOffsetRef` can be a decimal number since it is defined by `this._scrollOffsetRef = this._positions[index] && this._positions[index].start;`, e.g. prop `itemWidth`.

What is your `itemWidth` value?

[2018-05-08 01:09] neilzhengzx commented on #318
i test it. i got onLayout of its parent View，and get a  decimal number of itemWidth. Do you means my mistake is the result of this problem？

[2018-05-08 08:02] adityak16 opened #319 "Carousal image align to left after certain image"
HI,
I am using version 3.6.0 and the issue is that images render with center align but after like 20th or 22nd image when a image is clicked it goes to left side.

react-native: 0.48.4

This is my code:

        <Carousel
              data={list}
              sliderWidth={deviceWidth}
              itemWidth={deviceWidth / 2}
              inactiveSlideScale={0.53}
              enableMomentum =

[2018-05-08 09:27] nitish1099 opened #320 "How do I conditionally render active/inactive items?"
I want to have different Imagebackgrounds and text colors for both.

[2018-05-09 18:55] nitish1099 opened #321 "onBeforeSnapToItem not working correctly?"
when I use onBeforeSnapToItem it behaves no different than onSnapToItem.
`<Carousel
            ref={(c) => { this._carousel = c; }}
            data={this.props.events}
            loop
            enableSnap
            renderItem={this._renderItem.bind(this)}
            sliderWidth={responsiveWidth(100)}
            itemWidth={responsiveWidth(45)}
            inactiveSlideScale={1}

[2018-05-09 21:17] d41z commented on #146
hey @pcooney10 if I want to add an image where it is? into of SliderEntry?
I wait for your answer thanks.

[2018-05-10 17:14] barnir opened #322 "Active item styling"
Heya guys, i'm using this as a horizontal picker sort to speak... with text data (almost like the simple example on start page)
Is there a way to style the active item?

[2018-05-11 08:26] bd-arc commented on #322
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your question, see #320.**

[2018-05-11 08:26] #322 closed

[2018-05-11 18:47] falcon11 opened #323 "When set itemWidth={WINDOW_WIDTH * 0.8} doesn't works well"
Environment:
"react": "16.3.1",
"react-native": "0.55.3",
iOS 11.3, iPhone 8 Plus

Unexpected bahavior:
when i set `itemWidth={WINDOW_WIDTH * 0.75}` works well, when i set `itemWidth={WINDOW_WIDTH * 0.8}` works unexpected as the gif show.

gif:
<img width=375 src="https://raw.githubusercontent.com/falcon11/Light/master/2018-05-12%2002_31_55.gif" />

this is my code, thanks.
[code]

[2018-05-11 19:17] falcon11 commented on #323
It works fine on iPhone 8, but still works unexpected in iPhone 8 Plus.

[2018-05-16 20:54] Norfeldt commented on #247
It took me a long time to figure out that this was my root cause for the performance issues I see in my repo https://github.com/Norfeldt/LionFood_FrontEnd

Say I drop the `FlatList` and use `View` and some navigation instead to reach every section. Then I might run into some off-screen issues with children in the `View` - since I'm setting a lot of styles by pixels.

Is there any magic wand trick

[2018-05-17 16:28] PabloJimenez opened #325 "[SOLVED] Implement dynamic autoplayInterval to display Images at different times."
### Is this a bug report or a feature request?

Feature request...

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been reported/solved?

Yes

### Is the feature specific to iOS or Android?

Both

### Environment

    React: 16.0.0
    React native: 0.52

[2018-05-17 17:14] PabloJimenez commented on #203
[Implement dynamic autoplayInterval to display Images at different times.](https://github.com/archriss/react-native-snap-carousel/issues/325)

[2018-05-21 10:42] tayfunyasar opened #326 "How to get currentItem on render / if onSnapToItem not fired."
### Is this a bug report or a feature request?

Neither both. This is a simple question.

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes I did. But couldn't find.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

[2018-05-22 05:18] MbF-Sathya opened #327 "How to auto height the carousal's height ?"
Hi.,
I have used this carousal like a fixed heighten image like 400 px width and height. so under that i have pagination dots then under that i have content about the image.

so now what i tried to do is , for example i have 5 slides so each and every slides contains different lines of contents. so here i what the carousal's height should auto height.

Because, i have some other component under th

[2018-05-22 07:04] bd-arc commented on #327
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your question, this is not possible because the plugin is based on the `ScrollView` component which doesn't support dynamic height sizing.**

[2018-05-22 07:04] #327 closed

[2018-05-22 07:08] bd-arc commented on #326
Hi @tayfunyasar,

I think you should be able to use [the `currentIndex` getter](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#getters).

[2018-05-22 07:15] bd-arc commented on #325
Hi @PabloJimenez,

I can confirm that the current logic of the carousel doesn't allow for what you're after; some updates are required.

I'll look into it as soon as I can, but to be honest I haven't had much time recently to focus on the plugin. If you feel like working on a PR, do not hesitate ;-)

[2018-05-22 07:18] bd-arc commented on #323
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your question, please read again the description of [the `loopClonesPerSide` prop](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#loop).**

[2018-05-22 07:18] #323 closed

[2018-05-22 07:26] bd-arc commented on #308
@GillesVercammen Sorry for not getting back to you sooner. Indeed, the `FlatList` component is super buggy in vertical mode and it only gets worse when going horizontal...

I have been facing too many issues with horizontal FlatLists to recommend implementing an infinite scroll feature with it. For now, I would clearly go with a manual refresh button, as per your suggestion.

I'm going to close th

[2018-05-22 07:26] #308 closed

[2018-05-22 15:28] brunoci commented on #262
Not sure if this has been already reported, but I noticed that the area where swipe actions are not detected is actually occupied by one or more "ghost" cards.
If you inspect the layout (CMD+I) and tap in those areas, you can see that there is an invisible card partially overlapping the active one.
That said, given that the first two or three cards in the carousel seem to work well, I suppose that

[2018-05-25 04:56] jarecsni opened #328 "How to rerender an item?"
I have some cards with buttons on them. When the buttons pressed the cards need rerendering as the information on them will change according to the button press. How could I trigger this rerender - ideally such that only the impacted card gets rerendere?

Thanks!

[2018-05-25 08:04] bd-arc commented on #328
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

Regarding your question, and since the `Carousel` component extends the `FlatList` one, you can try to use prop `extraData={this.state}` and see if this solves your issue. You can take a look at the [RN doc](https://facebook.github.

[2018-05-25 08:04] #328 closed

[2018-05-25 13:37] amitassaraf opened #329 "More than 9 items in the data causes the Carousel to re-render all the items indefinitely"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes.

### Have you made sure that your issue hasn't alread

[2018-05-25 15:54] bd-arc commented on #329
Hi @amitassaraf,

This clearly looks like a React Native bug. First, have you made sure that your carousel is not a child of a `ScrollView` component? (see [here](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/TIPS_AND_TRICKS.md#optimizing-performance) for more info)

Then, does the issue persist with a newer version of React Native? The `FlatList` component upon which the

[2018-05-25 17:48] amitassaraf commented on #329
@bd-arc Yes the ScrollView is definitely not a direct child of ScrollView. React Navigation might be using a ScrollView somewhere, could this be the issue?

[2018-05-25 20:07] bd-arc commented on #329
@amitassaraf I can't find the exact issue again, but I remember reading that when a `FlatList` is a child of a `ScrollView` (this includes `FlatList`, `VirtualizedList` and many plugins) it apparently renders all child components, even those currently off-screen.

This may have been fixed since then; that's why I recommend that you try with a newer version of React Native.

[2018-05-26 00:15] amitassaraf commented on #329
@bd-arc I upgraded to 0.55 with no luck. I will tomorrow try to use the carousel on a page outside the React Navigation cycle to see if it works. Maybe React Navigation uses a ScrollView of some sorts.

Even if this solves it I have no idea what to do, because I need React Navigation haha :) Maybe I'll look for a different navigation library :/

[2018-05-27 19:43] amitassaraf commented on #329
@bd-arc I have tested this in a sandbox environment and it still happens. Just use a carousel and add 10+ objects and it will infinitely render the items.

[code]

[2018-05-28 07:53] bd-arc commented on #329
@amitassaraf Can you try the same thing with a regular `FlatList` component and see if it behaves the same? We need to determine if this is a `FlatList` ou a `Carousel` bug.

Note that you can keep your `data` and `renderItem` props exactly the same.

[2018-05-28 17:12] douglaslondrina commented on #329
I'm using the carousel as a pager, loading large local images and I'm having the same problem, but in addition, some random itens do not show. It gets worse from page 10-12 ahead.

Using a PureComponent helped with unnecessary renders, but pages still don't render randomly.

I'm now trying to isolate the problem and will update if I find something useful. Thanks.

[2018-05-28 20:16] bd-arc commented on #329
@douglaslondrina I'm definitely interested in your findings. If this is an issue with the plugin itself, I'll have to work on a fix; if this has to do with the `FlatList`, let's hope we can hack our way out.

[2018-05-29 08:17] pheromone opened #330 "example can not run."
example can not run.
<img width="310" alt="2018-05-29 4 17 03" src="https://user-images.githubusercontent.com/14305431/40646447-c11377e2-635b-11e8-9048-d86e8afbb577.png">

[2018-05-29 08:52] bd-arc commented on #330
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Take a look at the error log; you'll see this has nothing to do with the plugin itself.**

[2018-05-29 08:52] #330 closed

[2018-05-29 10:31] pheromone commented on #330
@bd-arc
Let me just run your example.
I run the following environment:
![image](https://user-images.githubusercontent.com/14305431/40653706-8b411d78-636e-11e8-94bc-274f7e3cc9d2.png)

[2018-05-30 06:39] jzhw0130 commented on #254
@bd-arc  The setState() is used to prevent the <Pagiantion /> bug.
The bug as follows:

`
    renderList(guideData) {

        return (
            <Content>
                <Carousel
                    ref = {(carousel) => {console.log(`.......${carousel}`);  if(!this.state.carouselRef) {this.setState({carouselRef: carousel})}}}
                    data = {guideData}
                    renderIt

[2018-05-30 07:02] bd-arc commented on #254
@jzhw0130 I've refactored the example since then and had no issue with [the current setup](https://github.com/archriss/react-native-snap-carousel/blob/master/example/src/index.js#L53-L84), which doesn't require altering the state of the component.

Have you tried it?

[2018-05-30 12:04] douglaslondrina commented on #329
The problem really seams to be with FlatList, I tried it isolated and still got weird blank pages on android real devices (on emulator it works ok). I'm on a tight schedule and am working now with https://github.com/Flipkart/recyclerlistview lib, but I'll investigate it further as soon as possible.

[2018-05-31 03:50] pheromone opened #332 "Switch to the next image, reset, and start again"
Switch to the next image, reset, and start again.
npm -v  5.6.0
node -v  v8.11.2
"react-native": "0.55.4"
"react-native-snap-carousel": "^3.7.0",

code:
 {/*轮播*/}
                    <Carousel
                        data={data}
                        onSnapToItem={(index) => this.setState({ activeSlide: index }) }
                        renderItem={this._renderItem}
                        slid

[2018-05-31 04:51] jarecsni commented on #328
It helped thanks!

[2018-05-31 07:49] jzhw0130 commented on #254
@bd-arc
It seems like an issue of package, not the example.

[2018-05-31 07:52] pheromone commented on #332
fix ok, need to render the interface when the data request arrives......

[2018-05-31 07:52] #332 closed

[2018-06-01 18:36] PabloJimenez commented on #325
Hello I did solve my problem with the props of the Carousel and some logic, it is not the best way to do it because I have some minnor render issues with the Carousel and the transition of the images, but as they're minnor view issues it isn't a problem to us.

**What I did to achieve my problem:**

First I set a ref to my Carousel as the doc says:
`  ref={(c) => { this._carousel = c; }}
`

Then I

[2018-06-04 12:19] IronTony commented on #311
I tried but I get the same error.

[2018-06-04 16:07] #325 closed

[2018-06-04 20:30] bd-arc commented on #325
Hey @PabloJimenez,

Thanks a lot for sharing your solution! I'm sure this will come in handy for some users ;-)

[2018-06-05 14:58] PabloJimenez commented on #325
Hello Benoit,

No problem man, if I have the time, I will try to improve it and make a
upload of the solution :)

Regards~

On Mon, Jun 4, 2018 at 3:30 PM, Benoît Delmaire <notifications@github.com>
wrote:

[2018-06-06 05:44] naqvitalha commented on #250
@bd-arc What's the problem with `recyclerlistview` extending `ScrollView`? Both `large-list` and `FlatList` build upon the same.
I wrote recyclerlistview and recently my team used this carousel component. We swapped FlatList with recyclerlistview and it works great.

[2018-06-06 08:14] bd-arc commented on #250
Hey @naqvitalha, thanks for shining in!

From my experience, and until now, everything built upon a `ScrollView` ultimately shows performance limitations when there is a huge number of items to handle and/or feature limitations. But rest assured that my goal is to be proven wrong ;-)

Would you be interested in submitting a PR for this evolution so that it can be broadly and thoroughly tested?

[2018-06-06 12:32] daveteu opened #333 "Loop set to true will cause index to skip on loading."
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes.

### Have you made sure that your issue hasn't already

[2018-06-07 01:54] #333 closed

[2018-06-07 03:47] naqvitalha commented on #250
@bd-arc Sure. Let me do that.

[2018-06-07 14:18] liyanxi opened #334 "vertical scroll（loop property） invalid"
### Is this a bug report or a feature request?

(Write your answer here.)

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

(Write your answer here.)

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

(Write your answer her

[2018-06-07 21:53] bradleat commented on #197
Please include this in the documentation.

[2018-06-08 02:27] rendy14s opened #335 "Does not display anything on the screen ?? Version ^3.7.0, correct me if wrong code! Thanks"
### Is this a bug report or a feature request?

(Bug report.)

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

(Yes)

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

(Yes)

### Have you made sure that your issue hasn't a

[2018-06-08 07:38] bd-arc commented on #334
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-06-08 09:16] junibrosas commented on #264
Did you guys had a chance to make some progress? I did not find any decent carousel + zoom RN libraries.

[2018-06-08 13:19] steverob opened #336 "Input inside Carousel Item causes jump back to previous item on swipe"
### Is this a bug report or a feature request?

This is a bug that happens when you have `<TextInput>` elements inside the carousel items.

When you swipe from `cardA` to `cardB`, if the `cardA` has an input and the user happens to be swipping by touching over the input, as `cardB` comes into view, the carousel snaps back to `cardA` and the input that was touched gains focus. It must be noted that

[2018-06-08 14:20] jacobsmith commented on #264
I have been pulled away on another project for a while, but I'm coming back to this now. I will try to update if I find anything!

[2018-06-09 08:50] Devid2727 opened #337 "Loop feature not working properly when we reach end and scroll to first it scroll back completely not to next"
When i enable loop feature in react-native-snap-carousel , the behaviour of loop feature is very weird. when i reach to last item and continue scrolling for first item, it not scrolling to for next item, it scroll back and come to first item, even i have used different method to scroll the item by like 'snapToPrev' ,
'snapToItem' and 'snapToNext' but i am not able to solve this issue. is there any

[2018-06-09 09:05] Devid2727 opened #338 "How to scroll two carousel same time"
I  have used two different  carousel in one screen,  i want scroll two items it same time, i mean if i scroll
carousel-1 then carousel-2 should be scroll with carousel-1 and vice versa. i have added two carousel in one screen , but i am not able to take event when scroll start of any carousel  just programatically start scrolling of another carousel. let me is it possible to scroll both items at s

[2018-06-09 19:32] bd-arc commented on #335
Hi @rendy14s,

If would be easier if you could provide a [Snack example](https://snack.expo.io/). But the first thing that strikes me is this: you wrote `ource` instead of `source` for the image prop.

[2018-06-09 19:46] bd-arc commented on #336
Hi @steverob,

Thanks for taking the time to put together a qualitative issue!

My guess is that the input focus messes with the scroll animation and therefore with the inner logic of the carousel ([some important code](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L745-L747) will never be triggered if the carousel hasn't had a chance to scroll to the

[2018-06-09 19:50] bd-arc commented on #337
Hi @Devid2727,

I know that the loop feature can sometimes get messy, particularly in debug mode and/or on Android. This has to do with a few `ScrollView` limitations.

Is setting `loopClonesPerSide` to at least `3` fixes this somehow?

Also, it would really help if you could put together a simple [Snack example](https://snack.expo.io/) that reproduces the issue.

[2018-06-09 19:59] bd-arc commented on #338
@Devid2727 Implementing a "two-way control" has been discussed in #202.

To be honest, I haven't tried it yet. But since the carousel is basically a `ScrollView`, you should be able to implement it the way that's mentioned in [this SO thread](https://stackoverflow.com/questions/33232776/react-native-sync-two-scrollviews).

[2018-06-09 20:36] SKempin commented on #245
I can confirm that a carousel item _can_ handle an onPress event - tested in `3.7.0`

[2018-06-10 04:52] Devid2727 commented on #337
I have tried with  `loopClonesPerSide={3}`  and removed `useScrollView` but still i am facing same issue.

[2018-06-10 11:46] Devid2727 commented on #337
Are you guys planning to support proper loop feature in future ?

[2018-06-11 07:52] bd-arc commented on #337
Could you provide a Snack example that reproduces the issue?

We've used the "loop" feature in many apps currently in production and, so far, we have not experienced the problem you describe.

Note that this feature is really complex and is impaired by some pesky `FlatList` issues. Have you taken a look at #203?

[2018-06-11 08:45] neilzhengzx commented on #318
Thank you!

[2018-06-11 16:15] steverob commented on #336
@bd-arc AWESOME! :) The `pointerEvents` solution worked perfectly. `lockScrollWhileSnapping` did not work though.

Thanks so much!

[2018-06-11 16:15] #336 closed

[2018-06-11 21:38] bd-arc commented on #336
@steverob You're welcome :-)

[2018-06-16 15:12] amitassaraf commented on #250
@naqvitalha @bd-arc Any status updates with the PR to replace `flatlist` with `recyclerlistview`? I would love to use it

[2018-06-19 16:00] SKempin commented on #11
Hi guys, I'm trying to implement the carousel inside of the `MapView`. Currently I can only implement it underneath, so the carousel doesn't overlay the map. Any pointers on this? Thanks

[2018-06-19 16:01] SKempin commented on #221
@zokypesch I'm trying to implement the carousel inside of the `MapView`. Currently I can only implement it underneath, so the carousel doesn't overlay the map. Did you attempt to do something similar? Thanks

[2018-06-19 20:37] #326 closed

[2018-06-21 11:23] geolabZura opened #341 "snap multiple items on fast scroll"
I am uploading  video record of my example.

I want vertical scroll pagination. But it seems to have a bug while I am scrolling fast,  it is not snapping to next item, it returns on the active page. Also, I want to disable snapping multiple items simultaneously on fast and long swipe, I want to make it snap one by one in all cases.

https://media.giphy.com/media/28evzIAPMMunZEnQBC/giphy.gif

[2018-06-21 13:36] fliptechkumar commented on #130
Thanks @NicholasBertazzon  its working for me

[2018-06-21 20:58] pcooney10 commented on #250
Unrelated to `ScrollView` `FlatList` and `recyclerlistview`, but has anyone looked into how [react-native-gesture-handler](https://github.com/kmagiera/react-native-gesture-handler) might be able to improve this lib?

From the docs:

It requires `react-native link`, which is unfortunate in terms of keeping this lib dependency free. But it is now included in Expo/CRNA.

[2018-06-22 04:49] mrra commented on #262
I'm also experiencing the same issues. I thought I was going mad (hence the awes-inspiring background colors).
**So if this helps at all:** In the image below I'm on the 6th slide, and the *ghost image* is from the 2nd slide.
<img width="1440" alt="screen shot 2018-06-22 at 06 44 16" src="https://user-images.githubusercontent.com/834872/41758299-fc251720-75e7-11e8-8242-65a792712843.png">

[2018-06-22 07:42] bd-arc commented on #341
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Regarding your issue, have you read [this section](https://github.com/archriss/react-native-snap-carousel#important-note-regarding-android) of the doc? See also #296 for more information about the 1-slide snap feature.**

[2018-06-22 17:32] brunoci commented on #262
Very interesting! However I confirm that the problem goes away if you use
[code]
If you don't have too many cards it shouldn't be a big deal.

[2018-06-23 10:32] mrra commented on #262
@brunoci doesn't help me 😢

[2018-06-25 08:28] bd-arc commented on #341
Closing since no further feedback nor additional info were provided.

[2018-06-25 08:28] #341 closed

[2018-06-25 08:33] bd-arc commented on #250
Hey @pcooney10,

I've previously considered implementing a custom `PanResponder` on top of the `ScrollView`/`FlatList` one (as you can see in #40).

Have you tried something similar with `react-native-gesture-handler`? I'd love to get some feedback in order to determine if this is a legitimate idea or a straight way to madness...

[2018-06-26 05:18] shamca0633 opened #342 "Clicking/Tapping image or Navigating leading to stop auto play"
### Is this a bug report or a feature request?
Bug report ( or need help , not sure if this is achievable through existing code )

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its

[2018-06-26 06:55] dugginenisagar commented on #342
Hi @shamca0633 ,
This is not relevant to your problem, but I have a question in the above demo code you provided.

I am trying to call a function when I click on an Item, onPress of Touchable if I call any method it is giving an error saying not a function.
`<TouchableOpacity
              onPress={this.onPress.bind(this)}

Error is `_this6.onPress is not a function`.

I am able to directly alert

[2018-06-26 07:46] AmeliaZielinska opened #343 "Pagination dots colours depending not only on active/inactive state? Is that possible?"
Hi, what I'm trying to achieve is showing something like 'completed steps' by carousels pagination, i.e.:
![zrzut ekranu 2018-06-26 o 09 44 08](https://user-images.githubusercontent.com/38068065/41896686-85523b78-7925-11e8-97b2-55fadca85799.png)
So when user is currently on step 2, then both first and second dot should be specific colour, not only the active (second) one. Is that even possible? If

[2018-06-26 10:32] bd-arc commented on #343
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

---

Regarding what you're trying to do, you can't achieve that with the build-in `Pagination` component.

I recommend creating a custom component that will simply update its own state once, and to leverage prop `onSnapToItem(index)` to make it happen. See [

[2018-06-27 12:08] sridhard opened #344 "scrolling one slide at a time"
Hi,

I am using react-native-snap-carousel to scroll one item/slide at a time. I have set enableMomemtum to false.

When the user scrolls the slide fast, carousel will first scroll 3-4 slides forward and then comeback to the next slide. How to resolve this issue.

this problem is same as #27 and also #90

[2018-06-27 12:10] sridhard commented on #27
@prithsharma @bd-arc @jasongrishkoff any update on this issue..how this issue can be resolved. I am facing the same issue

[2018-06-27 12:15] sridhard commented on #90
@codejet I am also looking for this feature. How you have supported this?

[2018-06-27 13:32] bd-arc commented on #342
Hi @shamca0633,

Regarding your issue, this is a known bug that I haven't addressed yet. I'll take a look at it as soon as possible. FYI, the root of the matter lies [here](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L811-L816).

To answer your questions:

1. The "margin" is linked to the `inactiveSlideScale` prop. You can set it to `1` if needed, bu

[2018-06-27 13:35] bd-arc commented on #344
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**There is already an opened issue for that (#296), which contains an explanation about why this is not currently possible.**

[2018-06-27 13:35] #344 closed

[2018-06-27 13:37] bd-arc commented on #337
Closing as no further feedback was provided.

[2018-06-27 13:37] #337 closed

[2018-06-27 17:53] LeviWilliams commented on #338
Any progress on this?

[2018-06-27 19:56] shamca0633 commented on #342
Thanks for you quick response.
I wanted to check few more things which is blocking us to move forward on this plug-in.

1. I am observing a delay in initial loading of images. We have small set of images(max 10) only still facing this issue. Also to compare we tested it with some simple code (without auto scroll/loop,etc) and can see images getting load faster.Is it this plug-in adding some delay

[2018-06-27 20:08] shamca0633 commented on #342
Thanks, setting "inactiveSlideScale" to 1 solved the margin b/w slides issue.

[2018-06-28 06:57] codejet commented on #90
sorry @sridhard, i don't have access to the code anymore and after one year also don't remember the details/solution

[2018-06-28 18:50] ankero commented on #264
@hardcodet your solution is great, especially the latter one. At least with 10 min testing, it runs smoothly on Android. This whole issue of image lightbox with zoom has been a surprising one, just like when we tried to find a working @mentioning -package.. just could not find any that worked.  In any case, thanks again for the solution.

For those who want to use my fork of @hardcodet's solution:

[2018-06-29 12:17] vish2595 opened #345 "last item scroll up broken"
when my vertical stack carousel reaches the last item, I am not able to scroll back up normally, then only way the scroll works is if i scroll at the left or right margin.

[2018-06-29 13:09] bd-arc commented on #345
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-06-30 14:33] datvtwakumo opened #346 "Support immutable object!"
### Is this a bug report or a feature request?

Feature Request

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes
### Have you made sure that your issue hasn't alre

[2018-07-02 07:47] bd-arc commented on #225
@meiqi1992 See #238.

[2018-07-04 04:50] nguyenvanphuc2203 opened #347 "how to loop rotation when scroll to end of slide"
![screen shot 2018-07-04 at 11 57 17 am](https://user-images.githubusercontent.com/33291479/42257604-71ba085e-7f81-11e8-8f15-634b5a2d1873.png)
i want to loop rotate per 1 side

[2018-07-04 08:36] bd-arc commented on #347
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the issue will be closed.**

[2018-07-04 08:36] bd-arc commented on #343
Closing as no further feedback was provided.

[2018-07-04 08:36] #343 closed

[2018-07-04 08:37] bd-arc commented on #345
Closing as no further feedback was provided.

[2018-07-04 08:37] #345 closed

[2018-07-04 12:36] ajaykumar97 opened #348 "Vertical Scroll view adds some extra vertical padding around inactive items."
I am using react-native-snap-carousel for vertical carousel. But when I set vertically=true, inactive items get vertical padding like the below screenshot:
![simulator screen shot - iphone 6s - 2018-07-04 at 18 02 51](https://user-images.githubusercontent.com/38132295/42277297-849d9124-7fb4-11e8-80e0-06e793d72240.png)

My Carousel component looks like:
<Carousel
                    ref={(c) => { t

[2018-07-04 12:46] bd-arc commented on #348
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the thread will be closed.**

[2018-07-04 13:02] ajaykumar97 commented on #348
Here is snack.expo.io working example of the issue

https://snack.expo.io/@ajaykumar97/demo

[2018-07-04 15:52] bd-arc commented on #348
What you call "vertical padding" is the necessary result of the scale effect. As you can see below, if you set `inactiveSlideScale` to `1` no extra padding is added.

![react-native-snap-carousel #348](https://i.imgur.com/M1zuTxuh.png)

[2018-07-04 16:34] ajaykumar97 commented on #348
But I need to have effect like as image below:

![step1gif](https://user-images.githubusercontent.com/38132295/42287860-c45147cc-7fd5-11e8-91ce-79979618e585.gif)

Setting inactiveSlideScale to 1 will no longer be scaling inactive item. I changed animation style in defaultAnimationstyle from scale to scaleY to achieve vertical scaling.

[2018-07-04 16:38] bd-arc commented on #348
If you need a custom animation, you should take a look at [the 'custom interpolations' section](https://github.com/archriss/react-native-snap-carousel#custom-interpolations) of the documentation.

[2018-07-04 16:38] #348 closed

[2018-07-05 03:50] naqvitalha commented on #250
@amitassaraf Contracts of this component are very similar to FlatList since props are passed down. For RLV layout provider is mandatory. It'll be a breaking change or we'll need to introduce a new mode.

[2018-07-06 09:59] bd-arc commented on #347
Closing as no further feedback was provided.

[2018-07-06 09:59] #347 closed

[2018-07-07 12:10] Bimpong commented on #43
hi @bshelke ...i actually have your same problem right now... any chance you found a fix you could share?

[2018-07-07 12:30] sridhard opened #349 "Rendering items multiple times"
### Is this a bug report or a feature request?
Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?
Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?
Yes

### Have you made sure that your issue hasn't already been repor

[2018-07-08 07:50] little-buddy opened #350 "slowly snapping, the onSnapToItem not run [Android]"
### Is this a bug report or a feature request?
This is a bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?
Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?
Yes

### Have you made sure that your issue hasn't a

[2018-07-08 21:48] UdaraJay commented on #329
Any update on this!

[2018-07-08 21:50] UdaraJay commented on #329
Any update on this? Ran into the same issue...

[2018-07-09 08:57] bd-arc commented on #349
Hi @sridhard,

I'm afraid this has to do with the inner logic of the `FlatList` component.

Can you try swapping your `Carousel` component for a regular `FlatList` one (`data` and `renderItem` props are the same) and tell me if, when `onLayout` is called, you're faced with the same issue?

[2018-07-09 09:01] bd-arc commented on #350
Hi @little-buddy,

Could you share a [Snack example](https://snack.expo.io/) that reproduces the issue? Otherwise, there is no way for me to help you.

[2018-07-09 13:20] karimkhamwani opened #351 "Slider align vertical"
How to slides items in vertical direction? not in horizontal direction

[2018-07-09 15:47] bd-arc commented on #351
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Please read the doc, there is a dedicated prop for that: `vertical`.**

[2018-07-09 15:47] #351 closed

[2018-07-10 03:57] qym790838213 opened #352 "When I selected default layout,how can I set the layoutCardOffset"
I want to set the distance of each card item,plz help me~~

[2018-07-10 08:41] bd-arc commented on #352
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Please read [the doc](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/TIPS_AND_TRICKS.md#margin-between-slides) and take a look at prop `inactiveSlideScale`.**

[2018-07-10 08:41] #352 closed

[2018-07-10 10:33] LeviDeng opened #353 "Autoplay doesn't work after scrolling one loop with vertical property"
### Environment
    React: 16.0.0-alpha.12
    React native: 0.54.4
    react-native-snap-carousel: 3.7.2

### Target Platform:
    Android (7.0)
    iOS (10.3)

### Steps to Reproduce
[code]

### Actual Behavior
Autoplay doesn't work after scrolling one loop

[2018-07-11 04:48] NdozHH opened #354 "Error when using the carousel in Animated.View"
### Is this a bug report or a feature request?

Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been re

[2018-07-11 08:14] bd-arc commented on #354
Hi @NdozHH,

From a quick glance at your code, I can see that your `Carousel` is wrapped in an `Animated.View` with `pointerEvents="none"`. Couldn't it be the root of your issue?

[2018-07-11 12:05] RutujaSoftKoash opened #355 "Swipe for android for stack layout"
In Android swipe for stack layout is from left side but i want that swipe from right side like ios,what can i do for it?

[2018-07-11 12:07] #355 closed

[2018-07-11 12:34] bd-arc commented on #335
Closing as no further feedback has been provided.

[2018-07-11 12:34] #335 closed

[2018-07-11 12:37] bd-arc commented on #346
@datvtwakumo Unfortunately, swapping `FlatList` for `VirtualizedList` is not trivial by any means.

I'll accept a PR for that if you're willing to work on it and if you're able to do so without altering any the plugin features...

[2018-07-11 12:37] #346 closed

[2018-07-11 12:39] bd-arc commented on #353
Hi @MelonDeng,

Could you please share a simple [Snack example](https://snack.expo.io/) that reproduces the issue?

[2018-07-11 15:41] NdozHH commented on #354
@bd-arc Thanks, of course I did, that's it; I hadn't thought about it.

[2018-07-11 15:41] #354 closed

[2018-07-13 02:42] MelonDeng commented on #353
@bd-arc sure, here it is:
https://snack.expo.io/rkgnecBmQ

The Carousel can't loop back after scrolling at the last one

[2018-07-13 12:44] joecaraccio opened #356 "Feature/Question: Programmatically Scroll variable amount"
### Is this a bug report or a feature request?

Feature Request.. more of a question as I wouldn't be suprised if it is already implimented

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes
### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.m

[2018-07-15 07:48] leekuo commented on #320
I tried this so that I can wrap the active item in a TouchableOpacity, as I don't want to inactive items to be touchable.  But when renderItem is called on the active item, the item flashes briefly.  Does that happen for anyone else?

[2018-07-16 10:18] bd-arc commented on #356
Hi @joecaraccio,

I confirm that the plugin [inherits `ScrollView`'s props and methods](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#inherited-props). You should therefore be able to call [`scrollTo()`](https://facebook.github.io/react-native/docs/scrollview#scrollto) whenever needed, as long as [a reference to the component](https://github.co

[2018-07-16 10:19] bd-arc commented on #350
Closing as no further feedback has been provided.

[2018-07-16 10:19] #350 closed

[2018-07-16 10:20] bd-arc commented on #349
@sridhard Any news regarding the issue? Have you been able to reproduce the matter with a regular `FlatList` component?

[2018-07-16 19:15] nlwiskus opened #357 "Android will not snap / snap callback when pulling towards index 0."
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes.

### Have you made sure that your issue hasn't alread

[2018-07-18 01:43] nguyenvanphuc2203 opened #358 "carousel stop when i swiper to right, it can't loop"
![screen shot 2018-07-04 at 11 57 17 am](https://user-images.githubusercontent.com/33291479/42854575-a11ea4f2-8a66-11e8-9ea9-e45388486e55.png)
my code:
[code]
example when i swiper end of right, slider not loop
![68747470733a2f2f692e696d6775722e636f6d2f574e4f4259666c2e676966](https://user-images.githubusercontent.com/33291479/42922191-c8a35138-8b49-11e8-9c66-057142854898.gif)

[2018-07-18 05:01] gersonmontenegro opened #359 "Is it possible to refresh the control manually?"
I don't know under what template put this question. Is not a bug, is not a problem actually, I just wanna to know if it is possible, just in case.

If not, there is any way to do that?. Thanks

[2018-07-18 07:30] bd-arc commented on #357
Hi @nlwiskus,

I fear this has to do with a strange vertical padding bug that appeared on Android in the latest versions of RN. I recommend that you take a look at #282 for more info.

Also, can you provide me with a [Snack example](https://snack.expo.io/) that reproduces the issue? This would definitely help in finding a solution.

[2018-07-18 07:33] bd-arc commented on #359
I'm not entirely sure about what you're trying to do. Does [this SO thread](https://stackoverflow.com/questions/43397803/how-to-re-render-flatlist) answers your question?

[2018-07-18 17:04] alexlevy0 commented on #290
+1

[2018-07-18 18:10] alexlevy0 commented on #245
+1

[2018-07-18 18:56] nlwiskus commented on #357
@bd-arc Thank you for the reply! My assumption was some issue with top-padding, since adding more space to the bottom (`sliderHeight=sliderHeight * 1.3`) fixed my issue with snapping to the final index.

Here is a working example in snack. https://snack.expo.io/HyVl6Z6XX

[2018-07-19 04:50] nguyenvanphuc2203 commented on #358
i had add gif image demo my issue, please help me :(

[2018-07-19 04:58] nguyenvanphuc2203 commented on #358
![screen shot 2018-07-19 at 11 56 30 am](https://user-images.githubusercontent.com/33291479/42922476-daae1d9e-8b4a-11e8-9963-c8fca5f42c2b.png)
i see in docs props , Number of clones to append to each side of the original items, but it not append to end of right

[2018-07-19 07:58] bd-arc commented on #358
@nguyenvanphuc2203 Ok, so you not only don't care about what's asked of you in order to assist you (e.g. reading and filling the issue template, providing a snack example), you also downvote the very people who are devoting their spare time to maintain/improve the plugin and help others.

This behavior is not appreciated here and is not going to get you anywhere. Good luck figuring things out on y

[2018-07-19 07:58] #358 closed

[2018-07-19 08:37] bd-arc commented on #349
Closing as no further feedback has been provided.

[2018-07-19 08:37] #349 closed

[2018-07-19 08:38] #356 closed

[2018-07-20 19:07] yasir-netlinks opened #360 "Invariant Violation: VirtualizedList: The windowSize prop must be present and set to a value greater than 0"
I am getting error as shown in the title
react-native: 0.56.0
react-native-snap-carousel: ^3.7.2

[code]

[2018-07-20 20:15] bd-arc commented on #360
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the thread will be closed.**

[2018-07-21 04:07] yasir-netlinks commented on #360
I created a a fresh project, installed `react-native-snap-carousel` and simply ran the app with the code above, and I'm getting this error, I honestly don't know what else to tell you

[2018-07-21 04:42] yasir-netlinks commented on #360
Ok I added `windowSize={1}` and it worked

[2018-07-21 04:42] #360 closed

[2018-07-23 05:47] shx1545 opened #361 "Paginagion:When I clicked dot, the picture was switched, but the timer did not start again."

[2018-07-23 07:43] bd-arc commented on #361
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) that reproduces the issue, we won't be able to help you and the thread will be closed.**

[2018-07-23 10:10] nadirHomeFriend commented on #314
Hello,
aim having the same issue on android, in production also . any updates concerning the issue ?

[2018-07-23 10:39] matteoferigo opened #362 "Change Pagination vertical margin"
Hi, I'm working with version `3.7.2`.

How can I change Pagination vertical margin/padding? I tried setting values to containerStyle, dotContainerStyle and dotStyle… but nothing changes.

[2018-07-23 12:50] bd-arc commented on #362
Hi @matteoferigo,

Could you please provide a simple [Snack example](https://snack.expo.io/) with your setup so I can take a look at it?

[2018-07-23 13:07] matteoferigo commented on #362
Hi @bd-arc , here is my sample: https://snack.expo.io/@matteoferigo/carousel-dots
I would like to reduce the edge between the carousel and the image below. How can I do that?

[2018-07-23 14:01] bd-arc commented on #362
I'm surprised that changing `containerStyle` didn't have any effect for you in the first place because I've just tested the following and it works as expected:

[code]

Or maybe you've indeed tried with `paddingTop` and `paddingBottom`, but not with `paddingVertical` ;-)

[2018-07-23 14:01] #362 closed

[2018-07-23 15:08] matteoferigo commented on #362
You got it. I tried with `paddingTop` and `paddingBottom` but I didn't find the `paddingVertical` reference.
I also found an interesting `marginHorizontal` to apply on `dotContainerStyle`.
Thanks

[2018-07-23 16:36] nlwiskus commented on #357
@bd-arc did you get a chance to see the example? I haven't had any luck trying to find the root of the issue

[2018-07-24 09:34] bd-arc commented on #357
Hi @nlwiskus,

I didn't have time to tackle it yet since I've been really busy lately. But rest assured that I didn't forget about the issue ;-)

I'm hoping on finding some time this week to try a few things out...

[2018-07-24 10:55] bd-arc commented on #349
@sridhard Glad you're finally gracing us with some "feedback"...

What would really help understanding and therefore fixing the issue would be:
- to stop spamming other threads;
- to test on iOS and determine if the issue is specific to Android;
- to explain what makes you so positive that `FlatList` has nothing to do with the issue since [other users](https://github.com/archriss/react-native-snap

[2018-07-24 10:56] bd-arc commented on #359
Closing as no further feedback has been provided.

[2018-07-24 10:56] #359 closed

[2018-07-24 16:33] lukasgjetting opened #363 "snapToItem does not work with an index larger than initialNumToRender"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README.md) in its entirety?

Yes.

### Have you made sure that your issue hasn't alread

[2018-07-25 14:55] UdaraJay commented on #329
I had the same issue and at-least in my case it turned out to be the case the issue was the content in the carousel component - the items were re-rendering continuously... which slowed down the carousel and made it very glitchy.

So I'd suggest taking a second look at the content you put in the carousel.

[2018-07-25 14:59] UdaraJay commented on #349
I had the same issue and at-least in my case it turned out to be the case the issue was the content in the carousel component - the items were re-rendering continuously... which slowed down the carousel and made it look very glitchy.

So I'd suggest taking a second look at the content you put in the carousel. Also debug around setting widths or using absolute positioning in there. (You'd know if t

[2018-07-25 15:17] bd-arc commented on #363
Hi @lukasgjetting,

Thanks for taking the time to put up a top quality bug report!

I ran the ultimate test to find out if this was a `FlatList` bug: I've set prop `useScrollView` to `true` on the carousel. Well, the bad news is that everything works properly when the prop is enabled, which therefore reveals a classic `FlatList` problem...

Your suggestion of using `scrollToOffset` is spot on in o

[2018-07-27 01:18] Ding95 commented on #353
same issue

[2018-07-28 00:34] bpdarlyn opened #364 "inputRange must be monotonically, what is it ?, excuse I am news in this."
<img width="321" alt="screen shot 2018-07-27 at 20 33 08" src="https://user-images.githubusercontent.com/13193490/43351166-55da60b2-91dc-11e8-88a5-48a042c02319.png">

[2018-07-28 01:33] cauyeung-wco commented on #364
What solved this for me was making sure the prop itemWidth was set properly.

[2018-07-30 08:11] bd-arc commented on #364
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**This question has a direct answer in the doc.**

[2018-07-30 08:11] #364 closed

[2018-07-31 13:17] niantuo commented on #337
i changed the code :snapToNext(animated = true, fireCallback = true) {
        // const itemsLength = this._getCustomDataLength();
        const itemsLength = this.props.data.length;
        let newIndex = this._activeItem + 1;
        if (newIndex > itemsLength - 1) {
            if (!this._enableLoop()) {
                return;
            }
            newIndex = 0;
        }
        console.l

[2018-08-01 08:28] eng0mustafa opened #365 "problem in landscape orientation"
hello sir,

i use the example but i have problem when i try to rotate device (landscape orientation)
i read the tricks of handling device rotation

![simulator screen shot - iphone 6 - 2018-08-01 at 11 25 53](https://user-images.githubusercontent.com/29033508/43510338-ffd2eb58-957d-11e8-915a-81fec6758508.png)

is there any way to solve that ?

Thank you

[2018-08-01 09:33] bd-arc commented on #365
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-08-02 13:43] swati-kholiya opened #366 "Nested Carousels not working"
I have Cards which I am rendering as slides(full screen card) .Each card has galaries of images within it . Is it possible to implement this ? I tried but galaries are not swiping up. Instead on gallery swipe , i see entire Card swiping up.

[2018-08-02 14:04] bd-arc commented on #366
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-08-02 14:05] bd-arc commented on #361
Closing as no further feedback has been provided.

[2018-08-02 14:05] #361 closed

[2018-08-02 15:45] nlwiskus commented on #357
@bd-arc Hey pinging you again, we're getting close to release.. this is for a smaller company dealing with helping people with mental health issues and I really don't want to bleed them for cash by hand rolling my own solution. If you don't have the time to look at this issue right now, could you point me in the right direction to maybe solving this issue within the package? I took a look and was

[2018-08-02 16:35] swati-kholiya opened #367 "Is it possible to nest fixed height carousels inside full screen carousel?"
### Is this a bug report, a feature request, or a question?

Question

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x] I

[2018-08-04 01:59] muhamad-rizki commented on #232
i got same issue with #304  and #303, when loop true and combined with pagination component it's become flickering when moving from first to last and also last to first. Props I used:
loop={true}
onSnapItem={} // function to set state active index, cause it's needed by pagination component
and below the carousel i call pagination like this:
`<Pagination
                        activeDotIndex={this

[2018-08-04 03:16] muhamad-rizki commented on #232
i have send PR request to fix my issue above, maybe its not the best solution, but i used it to fix my current issue

[2018-08-04 12:56] shukiAnavi commented on #333
@daveteu
How did you solve that?
I'm having the same problem.

[2018-08-04 20:39] spotsadmin commented on #238
This issue still exists.. on iPhone 8 Plus the carousal shows up blank.

[2018-08-05 11:12] sani723 opened #369 "Carousel with long pagination"
### Is this a bug report, a feature request, or a question?

feature request.

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).

[2018-08-06 06:14] mrafei commented on #187
@bd-arc is it possible to have the inactive scaled behavior without the extra space between slides?
thanks.

[2018-08-06 09:00] bd-arc commented on #238
@spotsadmin As you've probably understood, this is a `FlatList` issue and, therefore, I have no direct control over it. The aforementioned RN issues have been closed despite the fact that no solution have been provided by the Facebook team...

As a temporary workaround, you can set `useScrollView` to `true`. Be aware that you'll lose all performance optimizations by doing so.

I'm currently fed up

[2018-08-06 09:45] bd-arc commented on #187
@mrafei It can be done thanks to [custom interpolations](https://github.com/archriss/react-native-snap-carousel#custom-interpolations).

You can base yours on [the default interpolation](https://github.com/archriss/react-native-snap-carousel/blob/master/src/utils/animations.js#L29-L64) and add a `translateX` one on top of the `scale` one.

[2018-08-06 09:47] bd-arc commented on #369
@sani723 This is an interesting feature request.

How would you animate the dots when switching between items? Do you have an exemple?

[2018-08-06 09:48] bd-arc commented on #365
Closing as no further feedback has been provided.

[2018-08-06 09:48] #365 closed

[2018-08-06 09:49] #366 closed

[2018-08-06 12:30] mrafei commented on #187
@bd-arc Thanks for the response.
I tried implementing what you said, this is my custom interpolator and animatedStyle:
`_scrollInterpolator(index, carouselProps) {
    const range = [3, 2, 1, 0, -1, -2, -3];

    const inputRange = getInputRangeFromIndexes(range, index, carouselProps);
    return {inputRange, range};
  }

  _animatedStyles(index, animatedValue, carouselProps) {
    const sizeRef =

[2018-08-06 14:18] bd-arc commented on #187
Sure @mrafei!

Can you please provide a [Snack example](https://snack.expo.io/) that includes your latest developments?

[2018-08-06 17:52] mrafei commented on #187
Gladly @bd-arc!

this is the [snack](https://snack.expo.io/HyKwc-IHX).

Thanks.

[2018-08-07 18:06] sani723 commented on #369
@bd-arc I know one library for Android

https://github.com/rbro112/Android-Indefinite-Pager-Indicator

[2018-08-08 10:34] jariwalabhavesh opened #370 "How to show edge of previous card in stack layout"
### Question

1. How to show bit of edge of previously swipe card in **stack** layout?  any have idea regarding. so it will be like edge of previous card on left and then stack of card,  as i swipe stacked card,  instead of hiding swiped card, It's edge should be visible at left side of stack so user will come to know by seeing that there is card on left he/she can swipe left to get it back.

[X]

[2018-08-09 07:16] jariwalabhavesh commented on #27
@bd-arc
I am facing same issue with in my app. Here is my env details

react-native: 0.49.0,
react: 16.0.0-beta.5
react-native-snap-carousel: 3.7.2

Here my code
[code]
Still we have issue regarding swiping more then one cards

[2018-08-10 14:12] StuartMorris0 opened #371 "Android not showing all local images in carousel"
### Is this a bug report, a feature request, or a question?

Bug Report/Question

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [ x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.

[2018-08-12 16:02] evert-smit commented on #371
Do your images or image containers (the ones where nothing shows up) show a loading indicator?

[2018-08-12 17:25] StuartMorris0 commented on #371
No loading indicator. Note these images are local and so we use Source not uri for them.

[2018-08-13 09:32] JensDebergh opened #372 "Vibration on scroll"
Feature Request

Add support for `Vibration` in react-native. Maybe we could use `Vibration` api to add simple vibrations inside the carousel to give users haptic feedback when scrolling.

Each scrolled item  triggers a small vibration.

[2018-08-13 09:59] wachidyulio commented on #371
Have same problem here

[2018-08-13 17:38] bd-arc commented on #371
@StuartMorris0 I haven't been able to reproduce the issue so far. It would really help if you could provide me with a Snack example.

Also, here are two things to check:
1. Can you try setting the inherited prop `initialNumToRender` to something like `50` and see if this has any kind of effect?
2. Can you reproduce the issue if you use remote images only?

[2018-08-13 17:42] bd-arc commented on #370
@jariwalabhavesh This should be pretty easy, thanks to [custom interpolations](https://github.com/archriss/react-native-snap-carousel#custom-interpolations). I'll try to do it and put it in a Snack example for you ;-)

In the meantime, make sure to read [the dedicated documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/CUSTOM_INTERPOLATIONS.md), particularly the "

[2018-08-13 17:45] bd-arc commented on #187
Hey @mrafei,

I've played with your example a few days ago and, as far as I can tell, it should just work!

I'm going to try and recreate it from scratch because this leaves me rather confused :-)

[2018-08-13 19:17] bd-arc commented on #372
Hey @JensDebergh,

This is a good idea. It seems to me that we can already leverage the `onSnapToItem()` callback to do so, can't we?

[2018-08-14 00:11] sbefort commented on #94
Is there a way to make the pager dot move as soon as scrolling begins?  As of now the pager dot does not become active until scrolling snaps and it appears like lag.

[2018-08-14 08:26] bd-arc commented on #94
@sbefort Unfortunately, there is no easy way to do that since the entire logic of the plugin is based upon determining the snap breakpoint (when the center of a slide reaches the center of the carousel).

I'll keep your comment in mind though, because it definitely makes sense.

[2018-08-14 09:05] JensDebergh commented on #372
@bd-arc I'm trying a combination of [react-native-haptic-feedback](https://github.com/mkuczera/react-native-haptic-feedback) with the provided on scroll events like `onSnapToItem` although this works and it works great out of the box. It's not the given effect I'm after.

The problem with `onSnapToItem` is that it is called only when snapping to an item (it is only fired once). Imagine scrolling t

[2018-08-14 10:18] bd-arc commented on #372
@JensDebergh I had a feeling that you were after something more user friendly :-)

Unfortunately, the scroll accuracy is the best that React Native can provide (as far as I know). I've leveraged [the native driver for scroll events](https://facebook.github.io/react-native/blog/2017/02/14/using-native-driver-for-animated.html) and set `scrollEventThrottle` to `1` in order to get top-notch performan

[2018-08-14 10:42] JensDebergh commented on #372
@bd-arc I'll create a sample project tonight.

[2018-08-14 14:14] bd-arc commented on #367
Hi @swati-kholiya,

I've never done it so far. It is theoretically possible, but I tend to advise against it unless you have a small number of slides to display.

Apparently, nesting components based on `ScrollView` (such as `VirtualizedList`, `FlatList` and this plugin) results in every child being rendered, even those currently off-screen. This will lead to extremely poor performance unless you

[2018-08-14 14:14] #367 closed

[2018-08-14 14:54] bd-arc commented on #353
@MelonDeng @Ding95 Just a quick update: I'm currently working on replacing the `FlatList` component with another one. My hope is to make this kind of irritating bug disappear completely.

I'll keep you posted!

[2018-08-14 19:43] hggz opened #373 "Question: Smooth updates during property state changes"
### Is this a bug report, a feature request, or a question?

Question

Hey, first of all, thank you so much for maintaining this module. Its great (as I'm sure you guys already know from the popularity on this repo)

I have a question regarding a use case that I'm aware isn't technically designed to play well but I am using.

Would it be possible to ease state changes to the carousel during mid sn

[2018-08-15 10:37] jariwalabhavesh commented on #370
@bd-arc
Thanks for response and reference link

[2018-08-15 10:37] #370 closed

[2018-08-15 19:40] rapind opened #374 "Add a note in the docs about turning "Slow animations" off (iOS Simulator only)"
### Is this a bug report, a feature request, or a question?

Documentation suggestion.

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBU

[2018-08-16 08:28] bd-arc commented on #370
@jariwalabhavesh I didn't have time to create a Snack example, but it should work if you reuse stack effect's [interpolator](https://github.com/archriss/react-native-snap-carousel/blob/master/src/utils/animations.js#L116-L124) and [styles](https://github.com/archriss/react-native-snap-carousel/blob/master/src/utils/animations.js#L125-L198), and then change lines [186 to 193](https://github.com/arc

[2018-08-16 08:47] bd-arc commented on #161
@erickreutz Unfortunately, this would prove incredibly complex with the plugin's current logic.

I'm working on replacing the `FlatList` component altogether; this will maybe help with this request.

[2018-08-16 09:45] bd-arc commented on #374
@rapind Thank you for this sound suggestion!

I've just [added it](https://github.com/archriss/react-native-snap-carousel#important-note-regarding-ios) to the doc, with a screenshot in order to make things perfectly clear ;-)

[2018-08-16 09:45] #374 closed

[2018-08-16 10:03] bd-arc commented on #373
Hi @hggz,

Thanks for the kind words; it's always nice to hear ;-)

Unfortunately, the real problem is that the `ScrollView` component - on which the plugin is ultimately based - doesn't provide any way of handling momentum, speed, velocity and such. No easing of any sort is currently possible. You can take a look at #189 for more info.

I've been considering implementing a custom `PanResponder` o

[2018-08-16 10:03] #373 closed

[2018-08-16 10:07] bd-arc commented on #369
@sani723 Unfortunately, the library you've mentioned is a native one which is a no-go for us since we want to keep this plugin free of any native dependencies.

I don't see any easy way to introduce this feature. If you or another contributor wants to jump in and submit a PR, do not hesitate ;-)

[2018-08-16 11:52] narobertson42 opened #375 ""Failed to dispatch window animation state change" crash occasionally on Android LayoutAnimation"
I posted this in react-native issues but feel it might be more appropriate to post it here as appears to be associated with the Carousel component in particular.

[React-Native Issue](https://github.com/facebook/react-native/issues/20685)

## Environment

Environment:
  OS: macOS High Sierra 10.13.6
  Node: 10.4.1
  Yarn: 1.7.0
  npm: 6.2.0
  Watchman: Not Found
  Xcode: Xcode 9.4.1 Build version

[2018-08-16 12:37] jariwalabhavesh commented on #370
@bd-arc
Thanks, i am able to do it with you hint.
Thanks a lot for quick response.

[2018-08-17 10:46] bd-arc commented on #375
Hi @nar213,

Since the bug is random and you therefore don't have a reproductible example, it's quite hard to investigate, especially since I haven't encountered this issue yet.

Still, the fact that it may be an issue with the plugin rather than with the `FlatList` component makes me wonder if this could be the sign of an overlooked problem.

I'm currently working on replacing the FlatList compon

[2018-08-17 10:50] bd-arc commented on #357
@nlwiskus Just a quick update: I'm currently working on replacing the FlatList component altogether (see #250) because I'm fed up with the incredible amount of bugs it carries.

My hope is that it will help solving your issue.

[2018-08-21 03:14] lanzosuarez opened #376 "IOS ONLY: Image doesnt show in renderItem"
Im just wondering why my Images wont show in ios but in android it works

This is my renderItem method

[code]

it literally works fine on android. but in ios images doesnt show.
But if the image is not showed programatically. like this
[code]
Image shows.

Do you have any idea on how should i fix it.

[2018-08-21 03:46] lanzosuarez commented on #376
Solution: Remove the cache: "only-if-cached"

[2018-08-21 03:47] #376 closed

[2018-08-21 05:16] mrafei commented on #187
@bd-arc
any news on this?

[2018-08-21 09:03] tomtomgo92 commented on #205
@neilyoung i ask the same question this is the answer
https://stackoverflow.com/questions/51944706/cant-use-react-native-snap-carousel

As the screenshot says it, this.state.entries is null.

You must initialize it :

[code]
In this exemple, entries: [] wont display anything since there's no object in it. You can initialize with wanted data:

[code]

[2018-08-21 09:41] bd-arc commented on #187
@mrafei And here you are: https://snack.expo.io/H10cT8K8Q ;-)

The key was to change `const outputRange = [0, 1, 0];` (default value) to `const outputRange = range;` in the `scrollInterpolator` function and to modify the output ranges in `animatedStyles` accordingly.

[2018-08-21 09:59] mrafei commented on #187
@bd-arc
This is great. Thanks again for the great library. :)

[2018-08-21 11:31] StuartMorris0 commented on #371
I was able to resolve the issue in the end.

I used a flatlist and was able to reproduce the issue. The issue seemed to be because we were using large images at 1600x1600. The issue only occurred on Android devices and not emulators.

We tried the large heap change too to no avail. Making the images smaller worked out the issue for us with flatlist, so at a guess it will be the same issue here. We

[2018-08-21 12:45] bd-arc commented on #371
Thanks a lot for the feedback @StuartMorris0

[2018-08-21 12:45] #371 closed

[2018-08-21 13:16] 3luyka opened #377 "using KeyboardAvoidingView"
It's possible to use "KeyboardAvoidingView" with carousel? Inside or Outside carousel?

[2018-08-21 15:14] bd-arc commented on #377
@3luyka You shouldn't have any issue including the carousel inside a `KeyboardAvoidingView`. I wouldn't do it the other way though.

Do not hesitate to create a [Snack example](https://snack.expo.io/) with your trials and to share it with us.

[2018-08-21 15:14] #377 closed

[2018-08-21 18:20] tgmcguire opened #378 "How to set paddingRight on slide container?"
Hey there! I have a carousel where I'm trying to eliminate the `paddingRight` after the slides:

<img width="391" alt="screenshot 2018-08-21 11 13 22" src="https://user-images.githubusercontent.com/2480113/44420596-3a9bbc00-a533-11e8-9153-ce1af65e9a1d.png">

I tried specifying the `contentContainerStyle` with something like `paddingRight: 20`, like so:

[code]

... but it looks like `_getComponent

[2018-08-22 09:43] 3luyka opened #379 "Android slide disappear"
I'm using "TextInput" inside carousel slide and when keyboard is showing on Android slide is disappear.

Versions of packages:
RN: 0.56
Snap-carousel: 3.7.2
Android OS: Android 6.0

[2018-08-22 14:06] evertlund commented on #238
Expo: 29.0.0
React: 16.4.1
React Native: 0.55.4
react-native-snap-carousel: 3.7.2
react-navigation: 1.5.11

Have tried:
1) Setting `useScrollView` to `true`
2) Using `triggerRenderingHack();`

Issue still persists unfortunately.

[2018-08-22 17:38] reinvanimschoot opened #381 "Height adds space for non-rendered components"
### Is this a bug report, a feature request, or a question?

Question

I am trying to add a Carousel for posts that contain an image and text. The image is required but the text is not.

However, on slides where there is not text to see, the height is still adjusted for an empty text block, while this is actually a conditionally rendered component. So I end up with too much whitespace on posts wit

[2018-08-22 23:10] wesleyguirra opened #382 "Signaler Screen example"
Hi, I’m trying to do something like the signaler screen on showcase app, it’s a signup walkthrough, could you share some example or tutorial about how can I do it?

[2018-08-23 08:50] bd-arc commented on #378
@tgmcguire Unfortunately, by doing so you might have messed with the inner logic of the carousel. Is `onSnapToItem(index)` still called with the proper index and at the right time?

If yes, then you're clearly onto something ;-)

If no, please see [this comment](https://github.com/archriss/react-native-snap-carousel/issues/102#issuecomment-343880254) and the follow-up discussion.

[2018-08-23 16:28] bd-arc commented on #382
@wesleyguirra There is nothing much to it, really. It's simply a custom component with pages between which you alternate when pressing the prev/next buttons.

Today, I would use something like [this plugin](https://github.com/jfilter/react-native-onboarding-swiper) in order to simply button handling. Combine this with a bit of logic in order to check that all the criteria are met before enabling y

[2018-08-23 16:28] #382 closed

[2018-08-23 16:28] bd-arc commented on #381
@reinvanimschoot Can you please share a [Snack example](https://snack.expo.io/) in order for me to see what you've tried so far?

[2018-08-23 16:44] reinvanimschoot commented on #381
@bd-arc I did some more research and I believe this behaviour is inherent to FlatList itself. I am trying to show the Carousel, nested in a vertical FlatList. And in this case, the nested Carousel always takes the hight of the highest item, even when for items that are lower in height.

When I tried this with a pure horizontal FLatList, nested instead of the Carousel, I got the same problem. So I

[2018-08-23 18:35] wesleyguirra commented on #382
Hey @bd-arc thank you for your time answering my question, I really appreciate your suggestion to use that plugin, I have one more doubt: As what I'm trying to reach is signup screen, I'll have some validations on fields, and I'll need to add new sliders when the field is valid, i.e. I need to add some conditional slides/screens. is this possible, there's a specific plugin for that?

[2018-08-23 19:42] bd-arc commented on #381
@reinvanimschoot Thanks a lot for sharing your findings!

There are so many limitations with `FlatList` that it never takes long before running into frustration :-) I'm currently working on ditching the component myself...

I'm going to close the issue since it's not related to the plugin, but feel free to share more discoveries if you manage to achieve the layout you're after  ;-)

[2018-08-23 19:42] #381 closed

[2018-08-23 19:51] bd-arc commented on #382
@wesleyguirra Well, I don't have any particular plugin in mind regarding your use case, but here is what I suggest:
- [tcomb-form-native](https://github.com/gcanti/tcomb-form-native) for form validation
- [JsCoach](https://js.coach/?collection=React+Native) for finding interesting plugins of all sorts.

Hope this helps!

[2018-08-23 22:45] LegaciPro commented on #221
@SKempin Try using absolute positioning to place the carousel inside the MapView rather than beneath it.

[2018-08-24 10:40] SKempin commented on #221
@LegaciPro Thanks, I had previously figured this out and have added it to the documentation for RN Google maps - https://github.com/react-community/react-native-maps#overlaying-other-components-on-the-map

[2018-08-24 23:19] wesleyguirra commented on #382
Hey @bd-arc could you share how to do the signaler example of archriss example, I think that  effect is exactly what I'm trying to reach did you use the snap-carousel to achieve that effect?

[2018-08-25 06:18] vadsaaa opened #383 "how to turn off the navigation keyboard event right left arrow on the carousel"
I did not find a way to turn off the left and right arrow keyevent, I have tried via the ScrollView component by adding accecibility = {false} or importanAccesibility = {no} but it has no effect, the method can still be controlled by the left and right arrow keys. please indicate how to turn it off

[2018-08-26 08:37] khaledwj90 commented on #203
+1

[2018-08-26 14:39] miya1201 opened #384 "Question - How to control rendering timing ??"
Instead of rendering at the same time, I want to render a few and render a new slide at the same time as snapping.
How to do this ?

[2018-08-26 19:47] bd-arc commented on #384
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

[2018-08-27 00:15] Alanz2223 opened #385 "Items appear offset by half the width of the container width, how do I align it at the start of the container?"
### Is this a bug report, a feature request, or a question?

question

What I would like to have is just two entries inside the carousel that take the full width of the screen when active. I am not sure whether I am setting the width values correctly but the items (I only have two fixed ones) appear centered off by half the width of the container and I cannot scroll horizontally. As you can see he

[2018-08-27 03:09] #385 closed

[2018-08-27 03:10] Alanz2223 commented on #385
removed flex:1 from the containers and that fixed the not scrolling part.. Set activeSlideAlignment to 'start' for alignment

[2018-08-27 06:03] srameshr opened #386 "Feature request - Support pagination on both sides of the list."
### Is this a bug report, a feature request, or a question?

Feature request

Could you try to support pagination on either side of the list? More explanation here: https://github.com/facebook/react-native/issues/20500

### Have you followed the required steps before opening a bug report?

- [x ] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carous

[2018-08-27 22:32] JakeRawr opened #387 "Scrolling issue with Android Pixel devices on OS Android Pie."
Hi, All

I seems to have a problem scrolling through Carousel on Android Pixel devices with OS Android Pie.
Android Pixel Device with OS before Android Pie (OS 8 or below) runs carousel smoothly. Has anyone encounter this problem?

If the carousel runs fine your Android Pixel devices with OS Android Pie. Please help me and reply to say your carousel runs fine on Android Pixel devices with OS Andro

[2018-08-28 09:26] bd-arc commented on #387
Hi @JakeRawr,

We didn't have a chance to try the carousel on Android Pie yet. Still, I'm curious about what other users have experienced so far.

[2018-08-29 02:41] machester4 commented on #250
Hello everyone, I want to share a little of my experience using this component. I needed to use it within `ScrollView` which generated the problem that all the items will be shown by more than you would indicate the property `removeClippedSubviews` the elements are not deleted from the memory, otherwise, each path created new elements causing the app to drain the **RAM** memory in **Android** To o

[2018-08-29 07:30] bd-arc commented on #250
@machester4 Thanks for sharing your findings! Those values won't fit everyone's use case, but the approach is sound ;-)

[2018-08-29 09:00] miya1201 commented on #384
### Is this a bug report, a feature request, or a question?

question

Instead of rendering at the same time, I want to render a few and render a new slide at the same time as snapping.
How to do this ?

![untitled 3x](https://user-images.githubusercontent.com/37892222/44776843-fef89600-abb3-11e8-880a-f01ba64e477d.png)

![untitled2 3x](https://user-images.githubusercontent.com/37892222/44776850-06

[2018-08-29 10:57] bd-arc commented on #384
@miya1201 Short answer: leverage props `onEndReached` and `onEndReachedThreshold` which are inherited from `VirtualizedList`.

Long answer: this question has been addressed in #139, #308, #201, #285, #297... Take a look at this threads for more information and some user feedback.

[2018-08-29 10:57] #384 closed

[2018-08-29 17:39] machester4 commented on #250
You can apply that logic to your horizontal lists that are within a vertical list. in my case all my horizontal lists have 3 elements visible at a time. for that reason the values ​​are of `maxToRenderPerBatch `and `initialNumToRender `are in **4** which is where I get a better experience for the user.

[2018-08-30 05:00] miya1201 commented on #384
@bd-arc thank you

[2018-08-30 16:00] c100k commented on #349
I had the same issue as well and disabling `loop` renders items only once. Don't know if it helps.

[2018-08-31 07:17] bd-arc commented on #386
Hey @srameshr,

While I agree that this would be a top-notch feature, we're not willing to alter `FlatList`'s core since it is already a big buggy mess...

Note that we are currently working on replacing `FlatList` with another component; see #250 if you want more info ;-)

I'm going to close the issue, but make sure to keep us posted if the component is updated by the Facebook team.

[2018-08-31 07:17] #386 closed

[2018-08-31 07:39] srameshr commented on #250
@naqvitalha Could you share how you replaced FlatList with RecylerView inside carousel?

[2018-09-01 12:20] ZeroCool00 opened #388 "installation failed"
i run this code: `npm install --save react-native-snap-carousel`
and get this error:
[code]

npm: 6.2.0
react-native: 0.56
os: macOs high sierra

[2018-09-03 08:16] bd-arc commented on #388
**Useful link: http://lmgtfy.com/?q=npm+%22ERR_TLS_CERT_ALTNAME_INVALID%22**

---

**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

[2018-09-03 08:16] #388 closed

[2018-09-04 07:44] geminiyellow opened #389 "`onSnapToItem` not working in `react-native-web` project"
### Is this a bug report, a feature request, or a question?

A QUESTION

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x]

[2018-09-05 05:15] ZeroCool00 commented on #388
Thank you so much for solution.. i didnt realize its that simple.. i thought its library problem..
i solved by using `yarn add react-native-snap-carousel`, you should add this line in documentation.

[2018-09-06 14:33] bd-arc commented on #389
Hi @geminiyellow,

The plugin has never been designed to be used with `react-native-web`.

I'm pretty sure that a lot of work is required to make it play well. I've got too much on my plate at the moment, but if someone is willing to take a stab at it, a PR is most welcome :-)

[2018-09-08 10:27] shashank19909 commented on #342
@bd-arc any estimate to when can we excpect this fix?
Also thank you very much for this wonderful library

[2018-09-12 13:35] PublicParadise commented on #250
@bd-arc Heads up, I am pretty sure this will affect `react-native-snap-carousel` clients:
https://github.com/facebook/react-native/issues/21070

[2018-09-12 14:18] bd-arc commented on #250
Thanks for the heads up @PublicParadise!

`FlatList` never stops to amaze... It looks like an `InteractionManager` might be running somewhere, thus postponing the component logic's execution.

It's definitely time to get rid of `FlatList` for good :-)

[2018-09-12 14:46] dpogoda opened #392 "Swiper freezes on second slide."
### Is this a bug report, a feature request, or a question?

Bug report

### Have you followed the required steps before opening a bug report?

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x] I have reviewed [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README

[2018-09-12 21:36] bd-arc commented on #392
Hi @dpogoda,

The bug might be linked to PR #390. Does it work properly if you remove [the added line](https://github.com/archriss/react-native-snap-carousel/pull/390/files)?

[2018-09-13 11:45] dpogoda commented on #392
@bd-arc
Thanks for the fast reply. Yes in fact deleting that line fixes the issue :)

[2018-09-13 13:03] bd-arc commented on #392
Well, I should have tested the PR myself... Ok, I'll try and fix it as soon as I can.

Thanks for the feedback ;-)

[2018-09-13 13:33] dpogoda commented on #392
@bd-arc  Thank you for this amazing react native component :-)

[2018-09-13 19:52] bd-arc commented on #392
@dpogoda Should be fixed in version `3.7.4` ;-)

[2018-09-17 05:42] zeropaper opened #395 "strange behavior when using long array for data and firstItem prop"
### Is this a bug report, a feature request, or a question?

Bug report

### Have you followed the required steps before opening a bug report?

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x] I have reviewed [the documentation](https://github.com/archriss/react-native-snap-carousel/blob/master/README

[2018-09-17 14:02] #383 closed

[2018-09-17 14:02] #379 closed

[2018-09-17 14:03] bd-arc commented on #378
Closing as no further feedback has been provided.

[2018-09-17 14:03] #378 closed

[2018-09-17 14:08] #363 closed

[2018-09-17 14:12] bd-arc commented on #395
@zeropaper Unfortunately, this is a `FlatList` issue.

You can learn more about it in [this comment](https://github.com/archriss/react-native-snap-carousel/issues/363#issuecomment-407791298). I've ran the same test on your example, and it sadly proves that `FlatList` remains full of bugs...

[2018-09-17 14:12] #395 closed

[2018-09-21 07:20] littlehome-eugene opened #396 "How to vertically center items when carousel is horizontal?"
I'd like to center the items  vertically in horizontal carousel.

I tried giving

`contentContainerCustomStyle={{flex:1, alignItems: 'center', flexDirection: 'row' }}`

to  `Carousel` component as a prop but it doesn't seem to work as I hope.
How to vertically center items in horizontal carousel?

Currently my items(images) are aligned at the top of the screen

### Is this a bug report, a feature

[2018-09-21 08:08] bd-arc commented on #396
@littlehome-eugene Can you please provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced?

[2018-09-21 08:27] NichAga opened #397 "[PROPOSAL] forceCallback/forceSnap"
### Is this a bug report, a feature request, or a question?

Feature request, more or less.

Hi @bd-arc ,
I'm again here to ask you for a feature. In my app, I needed the fireCallback of the snapToItem to always being fired, but it wasn't happening. I moved to the code of this dependecy and I introduced a new parameter: forceCallback

This is my modified snapToItem:
[code]

And this is _snapToItem

[2018-09-21 08:45] bd-arc commented on #397
Hi @NichAga,

It would be easier for me to properly understand the implications if you could open a PR with your changes.

I'll close the thread and let you open a dedicated issue. Rest assured that it will be reviewed as soon as possible ;-)

[2018-09-21 08:45] #397 closed

[2018-09-21 09:30] NichAga commented on #397
Of course, just a question: is another parameter allowed in snapToItem? Does they start to become too many? (index, animated = true, fireCallback = true, initial = false, lockScroll = true, forceCallback = false)

[2018-09-21 09:43] bd-arc commented on #397
No worries; go ahead and add it.

Still, I think I'll need to convert this to an option object pretty soon :-)

[2018-09-21 16:15] bd-arc commented on #389
For those who want to work on this feature, leveraging the CSS `scroll-snap` property seems like the simplest and best way to make the carousel compatible with recent browsers.

For more info, start here: https://developers.google.com/web/updates/2018/07/css-scroll-snap

[2018-09-21 21:18] CarlosJJR opened #399 "KeyboardAvoidingView not working"
### Is this a bug report, a feature request, or a question?

Bug report

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x]

[2018-09-24 08:35] bd-arc commented on #399
Hi @CarlosJJR,

Does it work properly if you use a `FlatList` instead of a `Carousel`? Note that you can reuse the same `renderItem` and `data` props in order to try it.

Also, does it work if you use a `KeyboardAvoidingView` inside each item instead of outside the carousel?

[2018-09-24 15:49] nadirHomeFriend commented on #314
any updates ?

[2018-09-27 03:48] anniewey commented on #369
@sani723 you can use this [react-native-pagination](https://github.com/garrettmac/react-native-pagination)

[2018-09-27 22:31] hesusdios commented on #101
Did you ever figure out what the issue was? I get the same problem.
My code is

  _renderItem ({item, index}) {

        return (
            <TouchableOpacity onPress={() => this._carousel.snapToNext() }

        );
    }

  <Carousel layout={'default'}
                              ref={(c) => { this._carousel = c; }}
                              data={this.state.data}

[2018-09-28 05:09] aibrahim3546 opened #400 "How to make sliderWidth 100% with the screen?"
I find that you on set the sliderWidth using pixels. How if I want to set the sliderWidth 100% instead of 100px?

[2018-09-28 05:14] #400 closed

[2018-09-28 08:09] bd-arc commented on #203
[This recent commit](https://github.com/facebook/react-native/commit/fd744dd56ca183933a67e8398e1d20da14a31aab) smells pretty good!

The version `0.58` of React Native might finally gives us the means to improve the plugin drastically. Wait and see ;-)

[2018-09-28 17:30] victormax94 commented on #212
hi i tried to follow @jordangrant  instructions  but im getting this error when i tap on carousal element, TypeError: TypeError: TypeError: TypeError: TypeError: undefined is not an object (evaluating 'this.state.new.content.rendered'), can anyone help me???

[2018-09-30 14:23] EmptyCrown opened #401 "Unable to access Carousel ref"
### Is this a bug report, a feature request, or a question?

Bug report

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x ] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x

[2018-09-30 22:39] nebmesemaou opened #402 "Autoplay switch items too fast. Can u pls add autoplay item change animation duration."

[2018-10-01 08:10] bd-arc commented on #392
@benobab Damn! Could you share the configuration of your carousel?

[2018-10-01 08:14] bd-arc commented on #401
@EmptyCrown Can you provide a [Snack example](https://snack.expo.io/) that reproduces the issue?

Also, have you tried playing with the provided example? You can see in the code how accessing the carousel's reference is done.

[2018-10-01 08:17] bd-arc commented on #402
@nebmesemaou Unfortunately, it can't be done because the Facebook team has failed to expose such a prop.

See #203 for more info.

[2018-10-01 08:17] #402 closed

[2018-10-01 08:38] rohit280 opened #403 "Type Eroor :Undefimed is not an object(evaluating: data.length)"
<Carousel
              ref={(carousel) => { this._carousel = carousel; }}

              onSnapToItem={(index) => this.setState({ activeSlide: index }) }
              enableSnap={true}

                {this.renderImages()}
            </Carousel>
            <Pagination
              dotsLength={this.state.product.images.length}
              activeDotIndex={this.state.activeSlide}

[2018-10-01 08:59] rohit280 commented on #281
<Carousel
              ref={(carousel) => { this._carousel = carousel; }}

              onSnapToItem={(index) => this.setState({ activeSlide: index }) }
              enableSnap={true}

                {this.renderImages()}
            </Carousel>
            <Pagination
              dotsLength={this.state.product.images.length}
              activeDotIndex={this.state.activeSlide}

[2018-10-01 09:08] bd-arc commented on #403
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Read the doc: you didn't pass [the required `data` prop](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#required).**

[2018-10-01 09:08] #403 closed

[2018-10-01 09:29] benobab commented on #392
Thanks for the reply!

Tell me if the code below is enough

[code]

[2018-10-01 09:30] benobab commented on #392
The problem doesn't appear in the default mode.

[2018-10-01 09:45] bd-arc commented on #392
@benobab This is interesting. Have you been able to isolate the prop responsible for the bug appearance then?

[2018-10-01 14:53] EmptyCrown commented on #401
Hi @bd-arc -- I got it to work following the example. The issue from before was that the Carousel was embedded inside one of our own components, and the ref was passing in as a prop. I'm still unsure why that would result in different behavior. For now, we've put the Carousel right into the parent component, and things are working. Thanks!

[2018-10-01 15:17] bd-arc commented on #401
@EmptyCrown I can't answer that without looking at some code ;-) Happy to know that you got this sorted!

[2018-10-01 15:17] #401 closed

[2018-10-01 17:58] CarlosJJR commented on #399
Sorry for the delayed answer. I tried the options suggested but it didn't work, however I traced the error back to a different library that we are using. Once I removed the library `Carousel` worked just fine. So it wasn't an issue after all. Thanks for your time anyway!

[2018-10-01 18:07] Zyphxion commented on #392
I am also encountering a similar issue, however it's only appearing on Android.  The slider is unable to be moved when swiping.  Autoplay seems to work, and the elements are clickable, just swiping seems to be busted.

My configuration:
`<Carousel
          ref={(c) => { this._carousel = c; }}
          data={this.props.items}
          renderItem={this.singleItem}
          sliderWidth={Dimension

[2018-10-01 20:48] bd-arc commented on #399
@CarlosJJR Thanks for the feedback!

[2018-10-01 20:50] bd-arc commented on #392
@benobab @Zyphxion Can you tell me if this works properly when you use version `3.7.2`?

[2018-10-02 13:47] jamesmcn1 opened #404 "Swiper not working if it's being using in a react-navigation Stack Navigator"
### Is this a bug report, a feature request, or a question?

Bug report

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x]

[2018-10-02 13:52] #404 closed

[2018-10-03 07:01] harrison0723 commented on #392
Not to complicate things further, but I encounter a similar issue which only happens on iOS, the third swipe would freeze...

[2018-10-03 08:16] bd-arc commented on #392
@harrison0723 Same question: does it work properly if you use version `3.7.2`?

[2018-10-03 08:18] harrison0723 commented on #392
@bd-arc Nope, same issue with `3.7.2` for me

[2018-10-03 08:33] harrison0723 commented on #392
@bd-arc So sorry I've decided to switch to another library due to the Android inverted issue :-( This library seems pretty amazing though, hope this issue can be resolved soon

[2018-10-04 04:35] rakeshdadamatti opened #405 "3 items in a screen with big image in the center & the other two scaled down"
**I have been trying to achieve 3 items per screen, where the central active item will be enlarged and the remaining two will be scaled down...Had tried to change the margin, paddingHorizontal but not able to achieve it.**

Something like this...Please help.

![somethinglikethis](https://user-images.githubusercontent.com/8947572/46452858-b38d6500-c7bb-11e8-84bf-683363f1fe53.jpg)

Here is the code

[2018-10-05 09:58] bd-arc commented on #392
This has been fixed in version `3.7.5` thanks to @ifsnow. Kudos to him!

[2018-10-05 09:58] #392 closed

[2018-10-06 04:55] rakeshdadamatti commented on #405
I have changed inactiveSlideScale={0.60} and reduced the sliderWidth but still it doesn't comes as intented.
In some cases we can see 3 slides, but the side two slides would be too far away from the central slide item.

[2018-10-09 03:01] zupodaniel opened #408 "Loop and firstItem parameters doesn't work together"
### Is this a bug report, a feature request, or a question?

Bug Report

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x]

[2018-10-09 09:11] bd-arc commented on #408
@zupodaniel Can you please provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced?

[2018-10-09 14:12] zupodaniel commented on #408
Of course, I thought that it was too simple to make a snack.

[https://snack.expo.io/@calindratech/carousel-loop-vs-firstitem](https://snack.expo.io/@calindratech/carousel-loop-vs-firstitem)

[2018-10-10 12:01] simonedavico commented on #387
Is this reproducible on a virtual device (emulator)?

[2018-10-10 19:43] duongkhoilinh opened #409 "Carousel animation is not smooth (has some delay)"
### Is this a bug report, a feature request, or a question?

This is a question

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [ x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.m

[2018-10-11 07:54] bd-arc commented on #409
Hey @duongkhoilinh,

Oh, I totally get you! Unfortunately, this is a well known issue that has to do with the lack of exposed options for the `ScrollView` component. We've been trying to compensate for that for a long time, without much success...

You can learn more about it in #189 and #203.

[2018-10-11 07:54] #409 closed

[2018-10-11 10:15] harrison0723 commented on #392
For anyone who still seems to have a similar issue, `removeClippedSubviews={false}` might solve your problem.

[2018-10-11 12:53] bd-arc commented on #405
@rakeshdadamatti Here is a Snack example that implements what you're after: https://snack.expo.io/H10cT8K8Q

Hope this helps!

[2018-10-11 12:53] #405 closed

[2018-10-11 13:10] rakeshdadamatti commented on #405
@bd-arc  Thanks! I have checked your snack example. It initializes with 2 items on the first load & catches up with 3 on sliding. I think we can achieve this 3 items problem by placing two Image tags on either side of central item and load them using image links obtained from Json.

Something like this...
`<Image />
<Carousel />
<Image />
`

[2018-10-11 14:04] zupodaniel commented on #408
The default firstItem is equal to 0 and in the snack I sent to you is possible to see that the first image to open is the 3rd

[2018-10-11 14:36] bd-arc commented on #408
@zupodaniel The problem has nothing to do with the plugin. You used `this.windowWidth` for props `sliderWidth` and `itemWidth` while never defining it.

Here is a working example with a proper value set: https://snack.expo.io/BJtCR0hq7

Still, there is apparently another issue with your example since the snap effect doesn't occur...

[2018-10-11 14:36] #408 closed

[2018-10-11 15:03] zupodaniel commented on #408
I understand you point, these vars was only in my production code and I made a mistake creating the snack. My real code does not have this undefined. ASAP I'll check and create another proper example of the problem.

[2018-10-11 18:13] zupodaniel commented on #408
I noticed that the error is occurring when I call a setState to update the data used as input of the carousel. My bannerList is generated by a http request to a server.

I made changes to the first snack using your sample and included a timeout simulating the change of state by http.

When I use the real data direct in the constructor the carousel opens in the correct position.

https://snack.expo

[2018-10-11 21:11] GollyJer opened #410 "Images randomly not rendering on iOS?"
I'm was having an issue with images randomly not rendering on iOS.  Sometimes I'd open the screen and images rendered then closing and opening the same screen they wouldn't. Sometimes they wouldn't render the first time but would on the second or third.

Images render as expected, every time, on Android.

If you have this problem try adding `removeClippedSubviews={false}` to `Carousel`.
---
![imag

[2018-10-11 22:15] harrymash2006 opened #411 "Infinite scroll (back and forth) possible?"
I want to provide the following this. Is this possible with current implementation? Any idea?
this is related to default carousel style.

Suppose there are 30 pages/views in carousel. Now, when you are on the first page you should be also able to scroll back to left and it should go to 30th page and then 29, 28...etc. Same way when you are on 30th page next page should be #1, then 2, 3, 4...etc

P

[2018-10-12 13:19] bd-arc commented on #411
Sure, that's what [the `loop` prop](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#loop) is for.

[2018-10-12 13:19] #411 closed

[2018-10-12 13:30] harrymash2006 commented on #411
ok but when I enable look it does not show the left element edges when I slide to past slides. This is how it shows the preview when moving to +slides (1,2,3,4...365..etc) and after moving to -slides(like 365, 364, 363..etc). How can I fix it?
![pastslides_before_1](https://user-images.githubusercontent.com/5957516/46872172-0cf73300-ce51-11e8-902c-28999abe4c80.png)
![slides_after_1](https://user-i

[2018-10-12 13:53] bd-arc commented on #411
As stated in [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md), you need to provide a Snack example in which the issue can be reproduced for us to be able to help you

[2018-10-16 09:52] AmmarTariq10 commented on #199
snaptoprev and snaptoItem(0) both are not working I want to slide back to the first item
here is how I'm creating my carousel
 <Carousel
                        onSnapToItem={(slideIndex)=>{
                            console.log('slideIndex')
                            EventRegister.emit('goHard:segmentChange')
                            this.setState(p=>{
                                retur

[2018-10-16 12:40] bd-arc commented on #199
@AmmarTariq10 Please create a new thread that includes a Snack example in which the issue can be reproduced. Make sure to follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).

[2018-10-17 08:58] iamtb opened #413 "Do not display images when using Parallax Image."
Hello everyone.
I'm having a problem displaying images using ParallaxImage. Please can anyone help me.
The deadline for submitting my project is 30/10/2018.
thank you everyone

<img width="1440" alt="nh ch p man hinh 2018-10-17 luc 15 53 17" src="https://user-images.githubusercontent.com/23580920/47074688-215a7780-d225-11e8-87c3-125f26bad6d7.png">
<img width="1440" alt="nh ch p man hinh 2018-10-17

[2018-10-17 09:32] bd-arc commented on #413
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-10-17 09:33] iamtb commented on #319
How to display image? please

[2018-10-19 08:37] Titozzz commented on #203
@bd-arc I linked it in the community discussion to try and get it in 0.57.4

[2018-10-19 10:08] Titozzz commented on #203
@kelset gave me that link : https://github.com/facebook/react-native/commit/ef7e99c1bbc7f3a99093961bc5e7717c9e45dc79

Turns out it's **already here in 0.57** @bd-arc , so what are the next steps

[2018-10-19 17:34] bd-arc commented on #203
@Titozzz Well, a huge bunch of tests awaits us then! We need to see how props `snapToInterval` and `snapToOffsets` behave on both iOS and Android.

If someone wants to jump in and create a few public test cases [on Snack](https://snack.expo.io), this would be awesome!

There is one problem though: we still don't have a proper callback mechanism. The aim is to ditch the current hacky solution altog

[2018-10-23 08:09] nromptea42 commented on #387
Hi, I have a pixel 2 XL on Android 9 and I don't see any lags when i'm scrolling the carousel on my app in production. But on virtual device, every animation is really laggy.

[2018-10-24 08:51] warlock opened #415 "Victory-native (SVG) charts not "swipping""
**Version**

"expo": "^30.0.1"
"react": "16.3.1"
"react-native": "https://github.com/expo/react-native/archive/sdk-30.0.0.tar.gz"
"react-native-swiper-flatlist": "^1.0.8"
"victory-native": "^30.5.0"

**How to reproduce it**

I have inserted victory-native graphics in Swiper and the swiper-scroll does not work for me. I understand that victory-native uses SVG. I have tested with zIndex of the View

[2018-10-24 09:10] bd-arc commented on #415
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-10-24 11:54] warlock commented on #415
The solution:
[code]

[2018-10-24 11:54] #415 closed

[2018-10-24 14:53] kenkotch commented on #68
is there a way to disable swipe in only one direction?
I have questions in my slides and only allow going to the next if q is answered, but can go back.

[2018-10-24 15:05] bd-arc commented on #68
@kenkotch There is no built-in way to do that.

You can try to leverage the `onScroll` prop, read the offset in the `event` argument and see if you find a way to prevent scrolling in the previous direction. There is no guarantee that it will work, but I can't think of any other way to try and implement this feature.

[2018-10-25 08:19] arifrach31 opened #416 "Banner image resize to small after swipe and pull down"
I have an app and there is a problem in Home page.
There is banner with max three images.
When scroll banner to index 1 or 2. After I use React Native Refresh Controller,
the image will resize/small than the banner image I have set.
Except at index 0 of banner image, that's still good when refreshing.

Before swipe banner and pull down (refresh control react native):
<img width="291" alt="screen s

[2018-10-25 09:15] bd-arc commented on #387
@nromptea42 No problem; just wanted to provide insight in case you didn't have a chance to read it ;-)

[2018-10-25 09:19] bd-arc commented on #416
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-10-25 14:35] kondratk commented on #238
@evertlund same behavior in here.

React 16.5.0,
React Native 0.57.1
react-native-snap-carousel: 3.7.5
react-navigation: 2.17.0

@bd-arc this issue should not be closed I think.

[2018-10-25 14:43] bd-arc commented on #238
@kondratk Unfortunately, this is a RN issue so there is nothing we can do about it. This is why I think that keeping this thread opened would be misleading.

Anyway, have you tried adding `removeClippedSubviews={false} `?

[2018-10-26 08:04] kathychauhk01 opened #417 "Loop is not work for some android devices"
### Is this a bug report, a feature request, or a question?

Bug

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [ x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [ x] I ha

[2018-10-26 15:41] srameshr opened #418 "Please don’t publish experimental syntax on npm"
### Is this a bug report, a feature request, or a question?

Yes, trying to use this plugin with react native web is breaking.
https://github.com/material-components/material-components-web-react/issues/107
[code]

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x

[2018-10-26 15:46] srameshr commented on #418
@bd-arc Could you please transpile the experimental code and update the lib on npm?

[2018-10-26 16:57] bd-arc commented on #418
@srameshr Sorry, but we have no plan on making this plugin compatible with `react-native-web`, especially if it means coping with a syntax that we've been more than happy to forget.

Note that your are absolutely free to create a fork, transpile it for your own usage and publish it on `npm` :-)

[2018-10-26 16:57] #418 closed

[2018-10-26 17:45] srameshr commented on #418
That would add to more confusion, keeping it in sync with this repo etc.
It would really help if you could fix this.

[2018-10-29 22:40] ShaMan123 commented on #157
Ran into this problem as well.
I gave it some thought and I came up with this:
[code]
I think the right place in the code would be [here](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L264).
I tested a simple static implementation (adding one child) => it worked:
[code]

However this is far from a viable solution.

Implementing keys as suggested by @Ge

[2018-10-30 14:03] ps0305 opened #420 "vertical behavior is not working in Android"
### Is this a bug report, a feature request, or a question?

question

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x] I

[2018-10-30 14:28] bd-arc commented on #420
Hi @ps0305, could you please provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced?

[2018-10-30 14:29] bd-arc commented on #420
Also, you are using old versions of both the plugin and React Native. Could you try updating those and see if it works?

[2018-10-30 15:15] ps0305 commented on #420
@bd-arc, let me try with latest react-native version if won't work i'll share the snippet over Snack.

[2018-10-30 22:38] Return-1 opened #421 "Properties sliderHeight and itemHeight dont seem to work"
### Is this a bug report, a feature request, or a question?

bug report

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x]

[2018-10-31 07:37] bd-arc commented on #421
@Return-1 As stated [in the doc](https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#required), those two props are required only for vertical carousels. I might need to add a note explaining that they aren't used at all for horizontal ones — and vice versa.

Make sure to take a look at [the provided example](https://github.com/archriss/react-native-

[2018-10-31 07:37] #421 closed

[2018-10-31 08:10] Return-1 opened #422 "Proper parallax image setup based on documentation ( solved, is documentation ok ? )"
### Is this a bug report, a feature request, or a question?

question

### The question

I must be somehow missing a step on the `ParallaxImage` documentation but i dont seem to see what that is. The same example works fine with a plain `Image` component but in the case of `ParallaxImage` no image is rendered.

`parallaxProps` are passed in `renderItem` properly.

If im not missing something let m

[2018-10-31 13:13] bd-arc commented on #422
@Return-1 I confirm that prop `dimensions` is optional. Take a look at [the example's source code](https://github.com/archriss/react-native-snap-carousel/blob/master/example/src/components/SliderEntry.js#L20-L28) for instance.

Have you tried replacing your prop `style` with `containerStyle`?

[2018-10-31 13:13] #422 closed

[2018-11-01 06:57] devlinb opened #423 "Best way to wrap carousel in a touchable?"
### Is this a bug report, a feature request, or a question?

Question

I want my entire carousel to be touchable, while at the same letting users go through photos. I basically have a view with a carousel and a card in it, and I want that entire thing to be touchable.

so the code looks like

[code]

As soon as a touchable* is added, panning stops working on the carousel. If I swipe really fast th

[2018-11-01 11:09] evanjmg commented on #90
adding  decelerationRate={0} works for me though the scroll is a little slow

[2018-11-03 13:25] dopey2 opened #424 "Property 'maxToRenderPerBatch' does not exist on type [React-Native + Typescript]"
Hello, i have a project where i use React-Native + typescript. When I use properties **maxToRenderPerBatch** or  **initialNumToRender** i have the following error when I compile my ts files into js

     Property 'maxToRenderPerBatch' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Carousel<Event>> & Readonly<{ children?: ReactNode; }> & Readonly<CarouselProperties<Event>>'

[2018-11-05 14:56] StephentTom commented on #353
same issue

[2018-11-05 14:57] StephentTom commented on #342
same issue

[2018-11-06 00:16] jkdf2 opened #425 "onSnapToItem & onBeforeSnapToItem do not fire reliably on left / right edges on Android"
### Is this a bug report, a feature request, or a question?

Bug report

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x]

[2018-11-06 05:16] geminiyellow commented on #389
opps, maybe nobody

[2018-11-06 10:05] bd-arc commented on #425
Hey @jkdf2,

Have you tried to get rid of `containerCustomStyle={{ paddingLeft: 36 }}`? Because it can mess with the active slide calculations...

[2018-11-06 12:20] LiuYibin opened #427 "How to remove zIndex animation on all devices?"
How to remove zIndex  animation on all devices?

[2018-11-06 14:00] bd-arc commented on #427
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-11-06 15:44] jkdf2 commented on #425
Hi @bd-arc,

Great suggestion. Unfortunately, removing the `containerCustomStyle` does not change the behavior.

[Here is a Snack](https://snack.expo.io/BJBlSE1Tm) that shows the issue remains.

[2018-11-06 18:46] jkdf2 commented on #425
It would appear that the issue is rooted in `_onScroll`'s `itemReached` being incorrectly set to `false` if the finger is dragged all the way to the left / right slides on Android.

[2018-11-07 12:03] bd-arc commented on #425
@jkdf2 Thanks for the heads up! I'll look into it as soon as possible.

[2018-11-10 00:46] birkanu commented on #424
I am running into the same issue. Can someone shed some light on this behavior? @dopey2, have you resolved this?

[2018-11-11 13:34] dopey2 commented on #424
@birkanu , no I didn't solve it

[2018-11-12 04:30] #420 closed

[2018-11-14 09:41] jwan3453 commented on #101
@hesusdios , simply change the _renderItem to arrow function like    _renderItem = ({item, index}) => {} will solve the problem, or renderItem={this._renderItem.bind(this)}.

[2018-11-14 10:06] hesusdios commented on #101
Thanks I will try it out

[2018-11-15 03:32] syq7970 commented on #417
same issue here.

[2018-11-15 03:40] syq7970 commented on #417
I found a workaround.
set `loopClonesPerSide` > 3

[2018-11-19 09:10] poison8 commented on #417
where is setting loopClonesPerSide?

[2018-11-20 19:39] codex7 opened #429 "problem in renderItem"
When I use return in renderItem, an empty slide is displayed
My code is as follows

[code]

please help

[2018-11-21 08:57] bd-arc commented on #429
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-11-21 08:57] bd-arc commented on #427
Closing as no further feedback has been provided.

[2018-11-21 08:57] #427 closed

[2018-11-21 16:21] codex7 commented on #429
expo link :
https://snack.expo.io/HJpyEWmAX

When I use return in renderItem, an empty slide is displayed
Please scroll the number **1**, you will see an empty slide

[2018-11-21 17:38] bd-arc commented on #429
@codex7 I don't know what you expect. Of course, if you return nothing, nothing gets rendered...

[2018-11-21 17:59] codex7 commented on #429
An empty slide should not be displayed. what should I do?
There is no problem with flatlist

[code]

please help

[2018-11-22 08:17] codex7 commented on #429
Okay, I'm going to implement a slide to show 2 rows of data depending on the input in each slide, a solution that I thought came up with using the array as below, but it also displays an empty slide.

[code]

What is your solution?

[2018-11-22 08:54] bd-arc commented on #429
Well, there is no `return` statement in your `else` condition. Therefore nothing gets shown.

It would help to have a clear understanding of what you're after.

[2018-11-22 09:23] codex7 commented on #429
I do not want to show an empty slide, what's the solution? (It displays an empty slide)

[2018-11-22 09:41] bd-arc commented on #429
I mean what is the end result you're after? What does your app look like? What's the end feature?

[2018-11-22 09:55] codex7 commented on #429
A small sample of my original program

I need you, like the link below:
https://photos5.appleinsider.com/gallery/21614-24967-astorecomposite-top-l.jpg
subject:
new games we love
new appa we love

[2018-11-22 10:01] bd-arc commented on #429
Ok, but I still don't see why you need to avoid rendering some slides. Can't you deal with that in the data array directly?

[2018-11-22 10:10] codex7 commented on #429
When the renderItem runs, the slide is displayed. What is the solution if I intend to have 2 rows of data in each slide? Can you give an example(without empty slide)?

[2018-11-22 10:32] codex7 commented on #429
There are two problems
First:
Data is loaded from the database (dynamic).
Second:
5 data may be loaded (odd number)

[2018-11-22 10:53] bd-arc commented on #429
1) There is no problem if you store your data in the state and update it accordingly.

2) Handling this is pretty straightforward:
[code]

[2018-11-22 10:53] #429 closed

[2018-11-23 09:37] Djinne opened #430 "remove whitespace at end of horizontal default, active item left"
Hi,
how do you remove the whitespace at the end of the list when active item is floated left?

I have tried negative/postitive margins, on the containerCustomStyle and contentContainerCustomStyle.

If I reduce the sliderWidth by a ratio some unintended slider effects happen.
Currently: I have added a onbeforesnap to snap to second last item if user scrolls to last item, but not ideal

Only thing I

[2018-11-23 09:46] bd-arc commented on #430
Hi @Djinne,

Unfortunately you can't.

Please read https://github.com/archriss/react-native-snap-carousel/issues/102#issuecomment-342919321 and the follow-up discussion to understand why — TL;DR: `FlatList` issues all the way!

[2018-11-23 09:46] #430 closed

[2018-11-23 10:00] Djinne commented on #430
Thank you, guessing firstItem={1} with activeSlideAlignment={"center"} is good enough! :D This plugin is awesome, too bad you guys seem to be fighting with the flatlist on every turn

[2018-11-23 12:09] bd-arc commented on #430
Thanks for the kind words :-)

And yes, `FlatList` is the main limiting factor. A few interesting evolutions have been made to the `ScrollView`/`FlatList` components lately, but unfortunately they've basically introduced even more bugs...

[2018-11-23 13:42] WhiteNightMorningStar commented on #362
hi, bd-arc.
thank you.

[2018-11-26 14:14] Rajdeepc opened #432 "How to add left and right arrow to navigate between slides instead of swipe?"

[2018-11-26 14:47] bd-arc commented on #432
**⚠️ You did not follow [the contributing guidelines](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md)!**

As stated in these:

---

**Unless you provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced, as well as a complete description of everything you've tried, we won't be able to help you and the thread will be closed.**

[2018-11-26 19:38] rollsroyc3 opened #433 "Disabled swipe partially"
### Is this a bug report, a feature request, or a question?

Question

I am using the carousels to show `cards`, which essentially have a header with a list under them. These list rows use react native swipeout to show edit/delete menu options. But this causes an issue with the carousel swipe, is it possible to disable the carousel swipe on a container (the list), but allow the swipe to work on th

[2018-11-26 23:04] jwietelmann commented on #238
Trying `removeClippedSubviews={false}` as an alternative fix.

[2018-11-27 09:58] bd-arc commented on #433
Hi @rollsroyc3,

I don't see any easy solution to your problem. Using multiple touch-aware libraries together usually lead to issues because one has the precedence over the other.

You can try creating an absolutely-positioned `PanResponder` over the rows that would receive the touch events, bypass the carousel, and "forward" them to the rows. To be honest, I don't have much clue about this soluti

[2018-11-27 12:46] hronnro commented on #314
I also have this issue on iOS (haven't tested Android) - any suggestions on workarounds or will this be fixed soon?

[2018-11-27 14:19] rollsroyc3 commented on #433
OK, thanks for the detailed response. Im going to look into the second solution.

[2018-11-29 05:56] HanAsteroid commented on #417
it does not work

[2018-11-29 09:33] MohamadKh75 opened #434 "snapToNext() and snapToPrev() are not working when using snapToItem()"
### Is this a bug report, a feature request, or a question?

Bug report

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [x]

[2018-11-29 12:21] bd-arc commented on #434
Hi @MohamadKh75,

Can you please provide a [Snack example](https://snack.expo.io/) in which the issue can be reproduced?

[2018-11-29 15:48] MohamadKh75 commented on #434
I'll do that asap, for now, i just use `this.carousel.snapToItem(index + 1)` and `this.carousel.snapToItem(index - 1)`  :grin:

[2018-11-29 22:10] valeriashpiner commented on #281
@rohit280 you need to add line `data={this.state.product}` to you <Carousel />

[2018-12-03 15:44] Debrup-nitdgp opened #435 "Fading out images without parallax effect"
Hi

I am new to react native, stumbled upon this awesome library but juts wanted to know if it can fit my requirement,

1. I need fading effect after images get out of the view, I mean when the image is not centered it should fade out slowly, I do see that effect coming out in parallax view but when I change to layout = default I dont see that effect, is there any way to achieve it ?

2. Can there

[2018-12-03 15:49] #435 closed

[2018-12-03 15:51] Debrup-nitdgp opened #436 "Some questions regarding the library usage"
Hi

I am new to react native, stumbled upon this awesome library but juts wanted to know if it can fit my requirement,

I need fading effect after images get out of the view, I mean when the image is not centered it should fade out slowly, I do see that effect coming out in parallax view but when I change to layout = default I dont see that effect, is there any way to achieve it ?

Can there be mo

[2018-12-04 08:31] geminiyellow commented on #389
@srameshr 1 month later, i check the code again, and i found that `react-native-web` not support the `scroll` props. here -> [fix(ScrollView): support scroll props #1091](https://github.com/necolas/react-native-web/pull/1091)

so, this package cannot exec `onSnap` and this issue come.
am i right ?

and @bd-arc can you give some more detail about the lifecycle about the state change ?
i not really

[2018-12-04 09:49] srameshr commented on #389
I am currently using full-screen slides, so I don't need the support for snap function.
I am using this plugin by transpiling and it works on web.

[2018-12-04 10:21] geminiyellow commented on #389
@srameshr why?  i don't think so, when you release at half slider,  it will not auto snap to item, that is not right behavior for this package. but, could you give some code about you how to use it on web?

[2018-12-04 10:48] srameshr commented on #389
Just npm install it and import. I use it with react-native-web

[2018-12-05 01:41] geminiyellow commented on #389
@srameshr ok, got it, so, i should wait `react-native-web` fix this or give up .

[2018-12-05 02:09] jordenchang55 commented on #141
To implement lazy loading, I found [this answer](https://stackoverflow.com/questions/47218953/load-only-visible-images-in-flatlist-react-native#answer-49405408) on SO.
And it works for me to render image lazily by adding both `windowSize` and `initialNumToRender` into props.
[code]

[2018-12-06 12:21] gautham20 commented on #360
I'm facing the same issue, and `windowSize={1}` did not fix it

[2018-12-09 13:03] 592da commented on #314
+1 👍

[2018-12-09 15:02] 592da opened #437 "snapping stuck in the middle of the list, when RTL forced."
### Is this a bug report, a feature request, or a question?

(bug report)

### Have you followed the required steps before opening a bug report?

(Check the step you've followed - replace the space character between the square brackets (`[]`) by an `x`.)

- [x] I have read [the guidelines regarding bug report](https://github.com/archriss/react-native-snap-carousel/blob/master/CONTRIBUTING.md).
- [

[2018-12-11 09:42] bd-arc commented on #437
Hey @592da,

I know that currently there are a lot of issues with the RTL feature. There was some huge logic updates a few months ago, and I haven't been able to find the time to modify the RTL part accordingly. If you want to dive in, you're more than welcome ;-)

By the way, does the issue persists if you set prop `loop` to either `true` or `false`?

[2018-12-11 12:37] 592da commented on #437
@bd-arc confirmed that `loop` false/true still has the issue
any possibility to deactivate the RTL feature maybe?

[2018-12-11 15:19] thymikee opened #440 "Setup automated tests and linters on CI"
### Is this a bug report, a feature request, or a question?

Choring! 🧹

I like the project and would like to last long and prosper. That's why I propose to setup a CI (e.g. CircleCI or Travis) that would run following jobs:

- [ ] unit/integration tests with Jest – for components and utility functions (feel free to use [react-native-testing-library](https://github.com/callstack/react-native-testi

[2018-12-11 15:37] bd-arc commented on #437
@592da Unfortunately I made [a built-in detection](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L26).

Can you try PR #414 and tell me if it solves your issues?

[2018-12-12 09:09] bd-arc commented on #440
Thanks @thymikee for the issue and the miscellaneous ideas!

I don't currently have time to tackle this, but I'd love to see someone jump in :-)

Regarding type checking, it has to be TypeScript since this is what we use on all of our projects.

[2018-12-14 18:44] HananeAlSamrout opened #441 "undefined is not an object (evaluating this.props)"
![simulator screen shot - iphone 8 plus - 2018-12-14 at 20 41 07](https://user-images.githubusercontent.com/8542325/50021094-aa511d80-ffe0-11e8-83b9-1ca30a6c6075.png)

i am getting this error when first using the module, i installed it and then used it with the below code
[code]