[2016-10-13 05:33] me-abhinav opened #1 "Observing onScrollToPage event"
It will be useful if there is a function prop for observing the scroll events like onScrollToPage / onScrollToItem. e.g.
[code]

[2016-10-13 08:54] bd-arc opened #3 "Add a property 'snapToAlignment'"
The idea is to add control over the position of the active slide in the viewport. See:
- [React doc](https://facebook.github.io/react-native/docs/scrollview.html#snaptoalignment)
- [Video example](https://vid.me/aoby)

Implementation ideas:
- [Arch Studio, by Kévin Gautier](https://dribbble.com/shots/3136590-Arch-Studio)
- [Swipe cards interaction, by Valentin Salmon](https://dribbble.com/shots/29

[2016-10-17 07:28] #1 closed

[2016-11-14 15:44] jbrodriguez opened #5 "Example ?"
Hi, the component looks interesting.

Any example to better show how widths should be calculated ?

[2016-11-18 15:00] bd-arc commented on #5
@jbrodriguez Hi there. We will make sure to add an example as soon as we find the time to do so. Unfortunately, this might take a couple of weeks.
Is there any way to help you get a better understanding in the meantime? Maybe with an example of your own for which you need some insight?

[2016-11-30 03:05] imjameshall commented on #5
Yeah its really unfortunate theres really no hope how to get it started . This seems like such a great component but I can't even get anything to show on the scroll.

[2016-11-30 08:04] bd-arc commented on #5
@imjameshall We totally understand you. Ok, you got us motivated; you'll have an example by the end of the week :)

[2016-12-01 20:57] cbilgili commented on #5
+1

[2016-12-01 21:07] cbilgili opened #9 "How can we handle on press in items?"
Thanks for very nice plugin. I am newbie at React Native. I could not handle on press to child item. Is it something that I could figure out or possible issue to be fixed?

[code]
On press method;
[code]

[2016-12-01 21:10] Exilz commented on #9
Remove the view. It's not doing anything. Put the key prop on the
TouchableOpacity.
Le jeu. 1 déc. 2016 à 22:07, Canbey Bilgili <notifications@github.com> a
écrit :

[2016-12-02 09:03] bd-arc commented on #5
Ok guys, as promised you can now play with the following [example](https://github.com/archriss/react-native-snap-carousel/tree/master/example). Hope this will help you get started!

![react-native-snap-carousel](http://i.imgur.com/FxMg5md.gif)

[2016-12-02 09:03] #5 closed

[2016-12-02 09:04] cbilgili commented on #9
Thanks for advice. But it doesn't work even like this. Can it be related to something like https://github.com/facebook/react-native/issues/7572 ? I think any working example would be very beneficial.

[2016-12-02 09:35] bd-arc commented on #9
@cbilgili I've added a `onPress` prop to items in the example. See [this commit](https://github.com/archriss/react-native-snap-carousel/commit/6bcb23d907ba0db6b7355bdfe40692f5b418d1b0). You can use this as a starting point.

[2016-12-02 09:35] #9 closed

[2016-12-02 09:39] cbilgili commented on #9
I will try it, merci beaucoup!

[2016-12-06 12:34] matthijsdewit opened #11 "Example with maps view"
Would love to see the example with the maps view (3rd gif) as well.

[2016-12-06 13:18] Exilz commented on #11
All the code related to `react-native-snap-carousel` would be pretty much the same as the first example. I don't think you'd learn much from it.

The trick is to use the prop `onSnapToItem` to trigger the map's methods to center it. Like so :

[code]

`onSnapToItems` arguments are the index of the item you've just scrolled to on the carousel and its data (that you supplied in the `items` prop). It

[2016-12-06 14:13] umer990 commented on #11
Hi All contributors!! Great work! Just added in a project today! But In prototype on which I am working on have this carousal with continuous slow motion rather than jump from slide to slide..!! Is there any option to do the behavior in that way??

[2016-12-06 14:56] bd-arc commented on #11
@umer990 Hi! You can use the prop `enableSnap` to enable/disable the snapping effect. Is it what you're looking for?
By the way, next time you should open a dedicated issue ;)

[2016-12-06 14:56] #11 closed

[2016-12-06 15:15] umer990 commented on #11
I couldn't find any difference by using that property as I am using autoplay=true.I am looking for the slider/carousal with motion like rail(move continous instead of jumping from one slide to another) of pics!!

[2016-12-06 15:21] bd-arc opened #12 "Implement 'loop' mode"
If `autoplay` is set to `true`, the carousel jumps from the last slide to the first one whereas it would be better to provide an infinite loop.

[2016-12-06 15:23] bd-arc commented on #11
@umer990 I can confirm that we haven't implemented it yet. It's on our to-do list, stay tuned!
Further discussion will take place in the dedicated issue #12

[2016-12-16 03:29] 1325718308 opened #13 "How to hide the underline of carousel?"
How to hide the underline of carousel?

[2016-12-16 08:32] bd-arc commented on #13
@1325718308 Not so sure about what you mean. Can you provide a screenshot of the issue?

[2016-12-16 09:03] 1325718308 commented on #13
Thanks  I have already solved

[2016-12-16 09:53] #13 closed

[2016-12-19 16:03] bozzmob opened #14 "Customise each card of the carousel"
This is the BEST ever carousel for React Native I've ever seen or used till date. Looks amazing and a lot promising.

How about exposing a way to customize each card in the carousal. We can have say many layouts predefined and the developer can use the layout that suits his/her requirement.

I can send a PR soon once I get more hands on.

[2016-12-20 03:57] ahyong87 commented on #9
Hi,

i try to simple change view, but is not working

          <TouchableOpacity
                        activeOpacity={0.9}
                        style={styles.slideInnerContainer}
                        onPress={() => this.OpenDetailView() }>

OpenDetailView(){
console.log('OpenDetailView work ?');
}

This is error i get

 [error][tid:com.facebook.react.JavaScript] _this2.OpenDetailView is n

[2016-12-20 09:09] bd-arc commented on #14
@bozzmob Thank you for the kind words. Regarding your suggestion, it shouldn't be to complicated. I suppose that we could create another method besides `renderItem()` that would just loop through an array of custom components.
To be honest, we are a bit short on time at the moment to implement it, but you are more than welcome to submit a PR :)

[2016-12-20 09:27] bd-arc commented on #9
@ahyong87 I will need to see a bit more code to answer you properly, but this apparently has nothing to do with the plugin in itself. I'm pretty confident that this is a classic 'function binding' issue.
Try binding your method in the class's constructor, like this : `this.OpenDetailView = this.OpenDetailView.bind(this)`, and call it this way : `onPress={this.OpenDetailView}`. See this [Stack Over

[2016-12-21 01:35] ahyong87 commented on #9
@bd-arc thanks~!!!!

[2016-12-22 14:49] FakeYou opened #16 "Use onMomentumScrollEnd instead of onScrollEndDrag"
Using the option `snapOnAndroid` currently results in very bad experience where carousel snaps on the item where the drag was released. By using `onMomentumScrollEnd` instead of `onScrollEndDrag` here https://github.com/archriss/react-native-snap-carousel/blob/master/index.js#L404 the experience is made much smoother.

Example with `onScrollEndDrag`: https://gfycat.com/SmallCaringAfricanharrierhaw

[2016-12-22 15:06] Exilz commented on #16
Hi @FakeYou , thanks for the suggestion. I guess we haven't noticed this since our swipers entries are usually very wide components, unlike your example, so we couldn't swipe to far away entries like you did :)

This needs to be tested on iOS and we have to check for potential drawbacks (I guess there aren't).
Maybe `onScrollEndDrag` behaves better in some cases. If so, I guess we could add a new

[2017-01-02 17:25] superical opened #17 "Issue with interpolators when upcoming items prop has more elements than current items prop"
I've noticed that when there is a change to the `items` prop, if the length of the upcoming `items` prop is larger than the current `items` prop, there will be issues with the interpolators.

Assuming if `this.state.myItems` currently has 2 items like so:

[code]
No issue when it was initialised at start.
However, when there is change to `myItems` state at a later time to have more elements, for e

[2017-01-02 17:41] superical commented on #17
I was trying to get it to work with my code and have created a PR with what I've done which seems to fix the problem.

I've really enjoyed using this component. Keep up the great work!
Looking forward to more updates and features! 👍

[2017-01-02 17:54] Exilz commented on #17
@superical thanks for helping out ! At first glance, your PR seems to be allright. I'll try it ASAP and merge it with other minor improvements.

[2017-01-02 19:30] superical commented on #17
Sure. I've also just updated the PR after looking through the code again. Missed out the positions in my first commit. Thanks again for this really cool component! :)

[2017-01-09 09:41] #17 closed

[2017-01-09 09:41] #16 closed

[2017-01-09 09:42] Exilz commented on #16
Thanks a lot for the suggestion, it will be added to the next release.
See https://github.com/archriss/react-native-snap-carousel/pull/20

[2017-01-09 09:44] Exilz commented on #17
Looks like it's working like a charm. I just made the linter a little happier. It will be part of the next release. 😄

[2017-01-09 23:04] FakeYou commented on #16
Awesome man! Thank you for the update.

[2017-01-10 04:15] pesakitan22 opened #21 "why slideStyle is number?"
i mean, should it be stylesheet?

[2017-01-10 08:29] Exilz commented on #21
Actually, if you log an import of a stylesheet, you'll find a number. I guess it's a reference used by React-native. Since you could also pass an object, it should be `PropTypes.oneOfType([PropTypes.number, PropTypes.object])` or `View.propTypes.style`, yes.
I'll update it in the next minor release.

[2017-01-11 01:41] supei328 opened #22 "demo Application"
hi,the first preview demo App,where i can see.

[2017-01-11 08:20] bd-arc commented on #22
@supei328 Hi, you can try our company demo app on [Android](https://play.google.com/store/apps/details?id=fr.archriss.demo.app) and [iOS](https://itunes.apple.com/lu/app/archriss-presentation-mobile/id1180954376?mt=8), but we don't plan on releasing its source code.

Still, [our example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) should get you started and you can

[2017-01-11 08:20] #22 closed

[2017-01-12 10:34] #21 closed

[2017-01-23 05:34] sabbyt opened #25 "On swipe right on IOS, the view pulls down"
Not sure why but only seems to be happening on IOS. Works fine when swiping left but when change direction, the first swipe, will pull down the view revealing the main container. Could this be incompatibility with being nested inside a tab bar view?

[2017-01-23 08:30] bd-arc commented on #25
@sabbyt Hi. Indeed, there might be a conflict with how libraries interact with each other. Could you try with version 1.4.0 of the plugin? We started handling touch events with version 1.5.0 in order to provide better momentum handling, but some fine tuning might be needed.

[2017-01-23 13:18] sabbyt commented on #25
@bd-arc Thanks for suggestion but issue still persisting. Using the react-native TabBarIOS.

[2017-01-23 13:36] Exilz commented on #25
I've never tested the component inside `TabBarIOS`.
You might try to use [react-native-tab-view](https://github.com/react-native-community/react-native-tab-view) instead, we've already used it with snap-carousel and it worked like a charm.

As you can see in this gif :
![](https://camo.githubusercontent.com/a26d08bfbf8a02590ba4a4f0f0433d7781b87edb/68747470733a2f2f6d656469612e67697068792e636f6d2f6d

[2017-01-23 13:38] sabbyt commented on #25
@Exilz actually started with react-native-tab-view but the issue was present. So thought we'd try with TabBarIOS. Have you tried implementing with TabBar in the footer?

[2017-01-23 15:11] Exilz commented on #25
Nope I haven't tried it. Can you put the header on top just to be sure this
isn't the issue ?
Le lun. 23 janv. 2017 à 14:38, Sabrina Tee <notifications@github.com> a
écrit :

[2017-01-27 22:47] grundmanise opened #26 "Does it render all items at once?"
Hi,
does this component render all items at once or only visible items are rendered?
does it support `removeClippedSubviews` prop of `ScrollView`?

[2017-01-28 14:36] bd-arc commented on #26
@grundmanise Hi! For now, all items are rendered at once. But we are currently working on implementing a `preload` prop that will allow rendering only the current item as well as a specific number of the previous and next ones. Stay tuned!

As for your other question, and as [stated in our README](https://github.com/archriss/react-native-snap-carousel#props), you can use any prop from the original

[2017-01-29 14:11] grundmanise commented on #26
p.s. maybe this would help you https://github.com/sghiassy/react-native-sglistview :)

[2017-01-29 17:54] grundmanise opened #27 "Archriss' showcase app swipe behaviour"
Hi,

Can you please share what `animationFunc` & `animationOptions` do you use in the Archriss' showcase app? The feeling of the swipe in the `example` app and in the `Archriss' showcase app` drastically differ...

[2017-01-30 08:35] bd-arc commented on #27
@grundmanise Well, nothing but the default values. But I'm pretty sure that what you're experiencing has to do with [this](https://github.com/archriss/react-native-snap-carousel#momentum).

I assume you are testing on an iOS device, aren't you? Can you try setting `enableMomentum` to `false` and see if this solves the 'feeling' issue?

[2017-01-30 08:38] bd-arc commented on #27
@grundmanise Setting the ScrollView prop `decelerationRate` to `'fast'` will probably help too ;)

[2017-01-31 19:13] Jonarod opened #28 "Include ListViews as items"
Hello,

First of all: nice component, thank you for sharing.

My expected behaviour would be to have items being ListView components.

I copy/pasted you example which works perfectly.
However, If I put a simple ListView instead of the Images for example: nothing renders at all... Not even an error... So I am a bit confused.
This would be what I am trying to achieve:

[code]

NOTES:
`this.state.num

[2017-02-01 16:21] Jonarod commented on #28
I inspected source code, and I see everything is centered around this function:

[code]

When I manually add...
`<ListView dataSource={dataSource} renderRow={(rowData) => <Text style={{margin:20, fontSize:30, fontWeight:'bold'}}>{rowData.title}</Text>}/>`
...instead of...
`{ renderItem(entry, index) }`
...it just works fine, but it is impossible to make it work through the renderItem() function...

[2017-02-01 18:12] bd-arc commented on #28
@Jonarod Thank you for providing some code. I am going to run a few tests as soon as possible, and I'll get back to you shortly afterwards.

[2017-02-01 22:26] Jonarod commented on #28
Closing the issue with PR #29 .

[2017-02-01 22:26] #28 closed

[2017-02-02 16:37] #14 closed

[2017-02-02 20:23] Tkoefod opened #31 "after change to ver 2.0.0"
when trying to change to the new version all I get is an error on some length as follows:

Cannot read property 'length' of undefined
handleException @ ExceptionsManager.js:63
handleError @ InitializeCore.js:114
reportFatalError @ error-guard.js:44
guard @ MessageQueue.js:48
callFunctionReturnFlushedQueue @ MessageQueue.js:107
(anonymous) @ debuggerWorker.js:71
ExceptionsManager.js:71 Unhandled JS

[2017-02-03 08:51] bd-arc commented on #31
@Tkoefod Hi there! Have you read about the [breaking change](https://github.com/archriss/react-native-snap-carousel#breaking-change) introduced with version 2.0.0?
Could you provide some code for us to check?

[2017-02-03 11:16] bd-arc commented on #25
@sabbyt Hi there! Any news about the issue? Did you have a chance to try @Exilz's suggestion?

Also, have you tried disabling swipe gestures betweens tabs, e.g. `<TabViewPagerPan swipeEnabled={false} />`? FYI, we use version 0.40.0 of react-native-tab-view. There were some breaking changes since then, so I'm not sure if this still applies...

[2017-02-03 11:19] bd-arc commented on #27
Closing as there was no feedback.
Feel free to reopen if the provided suggestions didn't fix it for you.

[2017-02-03 17:17] Tkoefod commented on #31
Yes I did read about the breaking changes, and now it works but only if I delay loading your component until after the init render for some reason, but at least it works now I just don't run the component until the componentDidMount execs.  I took your component back all the way to basics and it still wouldn't run for me before, my guess without looking into your code much is something about my la

[2017-02-03 17:43] bd-arc commented on #31
@Tkoefod You are fetching some data, aren't you? My guess is that you're trying to render the carousel while it has no child at all. Am I right? Indeed, this would fail since the component depends on children's length.

I would recommend you to render the carousel conditionally. Something along those lines:

[code]

Do not hesitate to share some code if this doesn't do the trick!

[2017-02-03 19:40] JakeRawr commented on #31
I believe this is the same bug.
After I upgrade, I'm getting
[code]

My Code is very simple
[code]

[2017-02-03 21:21] Jonarod commented on #31
@JakeRawr Have you tried without the `onSnapToItem` prop ?
I believe this callback can get a bit funky. I don't think this is the idiomatic approach, but I kinda solved a similar issue by enclosing the function into a `setTimeout()` like this:
[code]
Could you give it a try ?

@bd-arc In fact, with momentum disabled, I already faced some troubles with `onSnapToItem()` callback: when calling it for

[2017-02-03 21:26] Jonarod opened #32 "Example use of snapToItem()"
Dumb question but... How can I programaticaly jump to a given Item respecting animation ?
I see the documentation exposes a  snapToItem() method but... do you have some example of using it please?

[2017-02-03 21:50] JakeRawr commented on #31
@Jonarod Thanks for getting back to me so quickly

removing `onSnapToItem` still doesn't do the trick. I've put a timeout to load the `Carousel`.

I'm going to take some time and run the exact code from the example folder. I may be missing something.

[2017-02-03 21:50] Jonarod commented on #32
Step 1: Define a Ref for the carousel

[code]
Step 2:  `this._myCarousel` now inherits methods from the Carousel component... So we can use it anywhere like this:

[code]

Cool methods are referenced in the [README](https://github.com/archriss/react-native-snap-carousel#methods)

@bd-arc @Exilz  I let you decide if this is relevant to be pushed to the docs or not. :)

[2017-02-03 21:50] #32 closed

[2017-02-06 09:02] bd-arc commented on #32
@Jonarod [Done ;)](https://github.com/archriss/react-native-snap-carousel#methods) We thought this was pretty self-explanatory, but you're right: this can be tricky for developers who never had to use refs before. As a result, I've documented the two ways of keeping a reference to a component (as a string attribute or as a callback method).

Thank you for pointing this out!

[2017-02-06 09:17] lsps9150414 opened #33 "Slider shift when item clicked"
The slider shift when item is clicked.
![2 -06-2017 17-16-05](https://cloud.githubusercontent.com/assets/5022617/22640995/f7d10e3c-ec8f-11e6-97a7-36f10cf139b1.gif)

Here's my code:
[code]

[code]

This does not happen when I set my `SLIDE_ITEM_MARGIN` to 0, which is setting `SLIDE_ITEM_WIDTH` = `SLIDER_WIDTH` = `Dimensions.get('window').width`

[2017-02-06 09:24] bd-arc commented on #31
@JakeRawr I can see that your carousel has two children but you've set `firstItem` to `2`. Since this prop is index-based, it should be `0` or `1`. Can you try that and get back to me?

@Jonarod Thank you for your investigation. You're absolutely right: `onSnaptoItem()` shouldn't be called *before* the scrolling animation is finished. We'll look into it as soon as possible :)

[2017-02-06 10:00] bd-arc commented on #33
@lsps9150414 Hi! Thanks for providing an animated screenshot; that really helped clarifying the issue. What's happening there is that the ScrollView is scrolled past its bounds because you've overridden the carousel container's style with `style={{ paddingHorizontal: 0 }}`.

First, you need to make sure to use the `containerCustomStyle` prop whenever you want to style carousel's container.

Then,

[2017-02-06 12:02] bd-arc opened #34 "Make sure that `onSnapToItem` is triggered AFTER scroll animation's completion"
Currently, React Native [doesn't provide a callback for the `scrollTo()` method](https://github.com/facebook/react-native/issues/11657), which is a bummer.

The ScrollView component has a prop `onScrollAnimationEnd`, but unfortunately this works on iOS only (even though it is referenced [in the Java file](https://github.com/facebook/react-native/blob/ee737e7d1c2b60d2226bc9fcab372ce98b5976f1/ReactA

[2017-02-06 12:04] bd-arc commented on #31
@Jonarod Well, this isn't going to be a walk in the park. I've created a [dedicated issue](https://github.com/archriss/react-native-snap-carousel/issues/34) so that everyone can find out why and provide ideas...

[2017-02-06 15:14] lsps9150414 commented on #33
@bd-arc Thanks for the fast reply!

It seems to be some other reason causing the problem. I've removed any styles attached to `Carousel`. Not `style` nor `containerCustomStyle`. It still happens.
![2 -06-2017 23-12-06](https://cloud.githubusercontent.com/assets/5022617/22652585/f9851b1a-ecc1-11e6-902f-9bae66c47b8f.gif)

[2017-02-06 15:31] lsps9150414 opened #35 "Adding slides dynamically not rendered at first time"
![2 -06-2017 23-25-47](https://cloud.githubusercontent.com/assets/5022617/22653156/9bc57932-ecc3-11e6-91f6-91eb951ed62d.gif)

By logging out my slides (`medicationCards`) I am sure that new slide is added to the children of `Carousel` every time I click `ADD`.
[code]

However, it is not rendered for the first time.
Based on my loggings, the actual rendered slides fall 1 cycle before slides childre

[2017-02-06 15:48] bd-arc commented on #33
@lsps9150414 I still think that the issue probably has to do with a faulty padding's calculation. Something might have changed with recent versions of React Native. Which version are you using and on which OS are you testing?

This is working properly for me with versions 0.38 to 0.41 of RN, on both iOS and Android. So I'm confident that we can find a solution to your issue ;)

[2017-02-06 15:53] bd-arc commented on #35
@lsps9150414 This is odd, considering I've tried appending dynamic slides just last week, and this was working as expected. Would you mind using the [provided example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) as a starting point? You can add just a bit of logic and check if this works.

Note that the example still uses RN version 0.38.0. We plan on updating it so

[2017-02-07 07:02] lsps9150414 commented on #33
It turns out to have something to do with `enableMomentum`. Using your example, when I set it to false same thing happens. I haven't got time to dig into the src code to figure out the problem.
![2 -07-2017 14-59-10](https://cloud.githubusercontent.com/assets/5022617/22681050/46dc9120-ed46-11e6-9ea3-5faa267a0cfd.gif)

[2017-02-07 07:26] lsps9150414 commented on #35
@bd-arc I tried playing with the example but got the same result.
![2 -07-2017 15-22-22](https://cloud.githubusercontent.com/assets/5022617/22681663/661e64b6-ed49-11e6-9b5e-8170f6e1667a.gif)

All I did with the example is replacing `this.getSlides(ENTRIES2)` with my custom `this.renderSlides()`, which takes `this.state.slides` and returns a simple `View`.

[code]

Do you still have the code that y

[2017-02-07 08:36] bd-arc commented on #33
@lsps9150414 This is really surprising as we are using it with `enableMomentum` equally set to `false` or `true` without any issue.

Can you tell me the version of React Native you are using as well as the OS on which you have tested the behavior ?

[2017-02-07 08:41] bd-arc commented on #35
@lsps9150414 I think your guess is spot on. I'm going to run a few tests as soon as I can before getting back to you. By the way, thank you for providing thorough details ;)

[2017-02-07 08:56] lsps9150414 commented on #33
The above demo is RN 0.38, on mac simulator iOS v 9.3.

[2017-02-11 08:52] chitezh commented on #31
@JakeRawr @bd-arc The problem is with un-handled exception in `componentWillReceiveProps`.

[code]

Two possibile solutions.

* Initialize `this.state.interpolators` in the constructor

[code]

* Defend against undefined `interpolators`

[code]

[2017-02-11 08:54] chitezh commented on #31
I could submit a PR if you want

[2017-02-13 09:03] bd-arc commented on #31
@chitezh Thank you very much for the PR! This has been merged and published ;)

[2017-02-13 09:03] #31 closed

[2017-02-14 09:27] hugohow opened #37 "vertical implementation"
Hello,

I'm trying to implement it in vertical, and I want it to know if you have any evolutions on this subject ?

Thanks for this great library !

[2017-02-14 10:37] bd-arc commented on #37
@hugohow Hi there! As you [might have seen](https://github.com/archriss/react-native-snap-carousel#todo), adding vertical implementation is clearly on our radar.

Unfortunately, we haven't had time to work on this feature yet. If you want to dig in the source code and submit a PR, you're more than welcome ;) Since you've requested it, I'll try to take a look at it in the near future.

[2017-02-14 10:57] bd-arc commented on #33
@lsps9150414 Hi! I've tried the current example with the same configuration as yours (on both emulator and real device), and I wasn't able to reproduce the issue you're facing...

![preview](https://media.giphy.com/media/26xByqT1X8SlZiYow/giphy.gif)

Could you download [this version of the example](https://github.com/archriss/react-native-snap-carousel/tree/c115df61dc44aae97671c499b8edac6a8a3f2459

[2017-02-15 04:09] JakeRawr commented on #31
Thank you guys for fixing this! I've gotten it to work. I do have another problem with enableMomentum but create another issue to discuss the problem.

[2017-02-15 08:32] bd-arc commented on #25
Closing the issue as there was no further feedback. Feel free to reopen if needed.

[2017-02-15 08:32] #25 closed

[2017-02-15 14:27] hugohow commented on #37
Thanks ;) I will try to do it !

[2017-02-17 10:00] dyaacov opened #38 "Layout is messed up with RTL devices"
The example from google play doesn't work on LG G2

[2017-02-21 09:01] bd-arc commented on #38
@dyaacov Hi! Thank you for letting us now. Could you be a bit more specific? Is the app crashing at startup? Are some parts of the app unavailable? Is it another kind of issue?

[2017-02-24 14:08] NewOldMax opened #39 "Non-standard implementation"
Hi! Thanks for this awesome library!
Can I build something like this with it?
![asd24](https://cloud.githubusercontent.com/assets/1328473/23306272/d1e7376e-fab3-11e6-8751-c7e174af8ac6.gif)

[2017-02-24 14:25] bd-arc commented on #39
@NewOldMax Absolutely :) The only distinctive characteristic of your example is the background animation. In order to do that, you'll need to rely on the `onSnapToItem` prop. It will then be easy to update the color based on current slide's index.

Still, be aware that, as stated in [this issue](https://github.com/archriss/react-native-snap-carousel/issues/34), the callback will be fired immediate

[2017-02-24 14:25] #39 closed

[2017-02-24 14:34] NewOldMax commented on #39
I already implemented it :)
It works fine with touches, but I have some issues with swipe, for example, i can't swipe to end of carousel at one time, or sometimes position of last element is wrong
![asd25](https://cloud.githubusercontent.com/assets/1328473/23307130/73edd290-fab7-11e6-80db-370c7ad157fd.gif)

[2017-02-24 16:08] bd-arc commented on #39
@NewOldMax Cool ;) Regarding your issues:
- Scroll inertia varies depending on slide's size relative to viewport's size, e.g. the larger your slide is, the more difficult it is to swipe more than one slide at a time. You can try playing with [this ScrollView prop](https://facebook.github.io/react-native/docs/scrollview.html#decelerationrate) and see if it helps.

- The positioning issue is clearly

[2017-02-24 16:22] NewOldMax commented on #39
I'll create some reproduction component on next week.

Unfortunately I'm working only with android, so this prop couldn't help me :(

[2017-02-24 17:43] bd-arc commented on #39
And does playing with `enableMomentum` change anything for you?

[2017-02-24 18:16] NewOldMax commented on #39
As I remember, with momentum behavior was strange, but I'm not sure

[2017-02-27 07:36] prithsharma commented on #27
While `enableMomentum`helps, I am still not able to achieve the 'displaying one main slide' behavior.
For example, setting `enableMomentum={false}` and `deceleration={'fast'}` would achieve moving only one slide on every scroll - but the scroll still goes far to further slides and then moves reversely to snap to only the next item.
Something like this -

![videotogif_2017 02 27_12 44 29](https://c

[2017-02-27 08:51] bd-arc commented on #27
@prithsharma Thank you for the screencasts and the detailed explanation. To be honest, handling momentum is really tricky since there are huge differences between Android and iOS regarding ScrollView's behavior.

The app has been published with version 1.4.0 of the plugin, before we tried to enhance momentum's handling. Would you mind trying with that version and see if that solves the issue for y

[2017-02-27 09:06] NewOldMax commented on #39
Seems to I fixed wrong offset with dynamic changing width of items.
[code]
where index = 2 - my last item
After this I can't reproduce case with wrong position.

[2017-02-27 09:27] bd-arc commented on #39
@NewOldMax Ok, good to know. I confirm that dynamically changing items' width will lead to issues since this value is critical for snap thresholds' calculation and must remain the same for all items.

[2017-02-27 11:47] bd-arc opened #40 "Implement a custom PanResponder"
Current momentum implementation doesn't always feel right, particularly on Android. The best way to enhance it and to unify interactions between Android and iOS seems to implement a [PanResponder](https://facebook.github.io/react-native/docs/panresponder.html).

Here are some implementations that could serve as a starting point:
- [react-native-deck-swiper](https://github.com/alexbrillant/react-na

[2017-02-28 03:05] jonathandion opened #41 "Problem using dynamic data"
Hi,

When I use dynamic data I have an error ``` undefined is not an object (evaluating 'this._positions[index].start')``` but when I use static data everything seem to work.

What I'm doing wrong ?

Thanks.

[2017-02-28 08:25] bd-arc commented on #41
@jonathandion Hi,
This is probably the same issue as #35. There must be something wrong with component's state management. I'll look into it as soon as possible.

[2017-02-28 12:11] jonathandion commented on #41
@bd-arc Hey Benoit,

Thanks sorry for the misunderstood. When I mean dynamic" I mean using data from my server using Ajax. When I use ```this.state.items``` I have that error.

[2017-02-28 14:18] bd-arc commented on #41
@jonathandion I'll reproduce my answer to [this issue](https://github.com/archriss/react-native-snap-carousel/issues/31#issuecomment-277313108) :)

My guess is that you're trying to render the carousel while it has no child at all. Am I right? Indeed, this would fail since the component depends on children's length. We need to improve component's state management in order to handle this kind of us

[2017-03-01 02:25] jonathandion commented on #41
@bd-arc thanks it's working 👍

[2017-03-08 10:07] yantakus opened #42 "Adding dots navigation"
Is there a way to add dots navigation:

![pip app designs copy 2017-03-08 13-06-46](https://cloud.githubusercontent.com/assets/2179726/23699442/3314934c-0400-11e7-9236-832c2044d6e1.png)

[2017-03-08 10:09] Exilz commented on #42
Hi,
it’s not implemented by default but it should be relatively easy to do thanks to the `onSnapToItem` prop.

[2017-03-08 12:27] yantakus commented on #42
@Exilz Yes, exactly. Thanks!

[2017-03-08 12:27] #42 closed

[2017-03-08 14:25] #41 closed

[2017-03-09 12:01] prithsharma commented on #27
Thank you for the reply.
I tried doing this -
- used version 1.4.0
- kept `enableMomentum` as `false` and `decelerationRate` as `fast`.
- refactored for using the old props, like you mentioned

With only these 2 changes on my earlier code, I didn't see any resolution of the problem quoted above. If anything, the snapping also became a little unpredictable. On a fast swipe, the scroll moving till a

[2017-03-10 11:35] dyaacov commented on #38
Hi,
Sorry for the late response.
The app doesn't crash, the carousel doesn't work nor doesn't look good.
See attached screenshots (this is from your demo app in Google Play
archriss)

*carousel_1.png*: this is how it looks when you open the app
*carousel_2. png*: when you click next/previous, all the images disappear

On Tue, Feb 21, 2017 at 11:01 AM, Benoît Delmaire <notifications@github.com>
wro

[2017-03-10 14:30] bd-arc commented on #38
@dyaacov Thank you for getting back to me!
It seems your screenshots didn't make it to GitHub ;) Would you mind hosting them online (on [imgur](http://imgur.com/) for example)?

[2017-03-10 19:17] dyaacov commented on #38
http://i.imgur.com/LPJaUbo.png

http://i.imgur.com/aGhzfAS.png

On Fri, Mar 10, 2017 at 4:30 PM, Benoît Delmaire <notifications@github.com>
wrote:

[2017-03-13 08:53] bd-arc commented on #38
@dyaacov Thank you for taking the time to upload these screenshots. Now begins the painful journey of trying to reproduce the bug on our devices ;)

[2017-03-13 09:17] dyaacov commented on #38
Thank you.
I tested LG g2 and g3, same results.
On Nexus 5x it works fine.
I hope you can provide a fix soon cause I really want to use this feature
in my new app.
Maybe a wrong calculation of sizes due to different resolutions. Let me
know if you need my assistance. I can test on several different devices.

May the force be with you!
Dekel

On Mar 13, 2017 10:53, "Benoît Delmaire" <notifications@

[2017-03-13 09:19] bd-arc commented on #27
@prithsharma Hi, I understand your need for clarification ;)

Since 1.5.0, we started using the `onMomentumScrollEnd` callback instead of relying solely on `onScrollEndDrag`. Unfortunately, momentum handling is both tricky and a bit buggy. Furthermore, its React Native implementation varies greatly between iOS and Android (see #34 for more information). That's why we're currently considering imple

[2017-03-13 09:28] bd-arc commented on #38
@dyaacov We've tried the app on a LG G3 and weren't able to reproduce the issue. I fear a buggy React Native's `ScrollView` implementation on some Android versions :-( That's why we're currently considering implementing our own `PanResponder` (see #40), but this requires major developments.

Can you share the Android versions on which you've tried the app, and specify the ones that were buggy?

[2017-03-13 10:06] dyaacov commented on #38
Android 5.0, core 3.4.0, software v20n-456-01
Android 4.4.2, core 3.4.0, software d80220a-isr-xx

On Mar 13, 2017 11:28, "Benoît Delmaire" <notifications@github.com> wrote:

[2017-03-15 06:05] prithsharma commented on #27
Thanks a lot! Let me try this out and get back.

[2017-03-15 15:28] AntoineGrandchamp opened #43 "Cannot read property 'style' of undefined"
I get this error when I run my tests with jest and it tries to import react-native-snap-carousel :
`
TypeError: Cannot read property 'style' of undefined
      at Object.<anonymous> (node_modules/react-native-snap-carousel/index.js:472:842)
`

[2017-03-16 10:53] bd-arc commented on #38
@dyaacov Just a quick update: I wasn't able to reproduce the issue, either on a simulator or a real device. Still investigating though ;)

[2017-03-16 12:34] dyaacov commented on #38
Have you tried on LG devices?
It doesn't work on 3 different LG devices.

On Mar 16, 2017 12:53, "Benoît Delmaire" <notifications@github.com> wrote:

[2017-03-16 13:10] stivaugoin commented on #43
Same problem here!

[2017-03-16 14:15] bd-arc commented on #38
@dyaacov I've tried on the only one that was around, a LG G3, without seeing any issue. My guess is that there is something wrong with `ScrollView` implementation on some specific Android devices, but I need to be able to reproduce the bug to investigate further.

I'll look around for other LG devices.

[2017-03-16 14:25] dyaacov commented on #38
You can send me apk with a lot of debug logs and I will reproduce and send
you the logs

On Mar 16, 2017 16:16, "Benoît Delmaire" <notifications@github.com> wrote:

[2017-03-16 18:36] bd-arc commented on #38
@dyaacov That's an idea, thanks! I'll prepare a debug apk as soon as I can (not before a few days I'm afraid).

In the meantime, and if this is not too much trouble, a short video of the issue might help figuring out what's happening.

[2017-03-17 04:58] prithsharma commented on #27
Thanks a lot again for sharing this.
I tried this out and I actually realized that the weird behavior that I have specified in my first GIF is actually the behavior of the Archriss Android app too. Explaining it better than before below -
Let's say there are 4 cards/slides - A, B, C, and D. If you are one slide A and swipe very fast, the ScrollView ends up scrolling to a C or D(momentarily) and th

[2017-03-17 08:34] bd-arc commented on #27
@prithsharma I totally get you, and that's what we're aiming at. Unfortunately, we rely on the RN `ScrollView` implementation at the moment, which clearly lacks some granularity to suit our needs.

That's why we're considering implementing our own `PanResponder` (see #40), but this is a whole new level. I'm afraid that, for now, you won't be able to provide the "feeling" you're after.

[2017-03-17 09:12] bd-arc commented on #43
@AntoineGrandchamp I am not familiar with Jest, but I can investigate in order to see what triggers this error. Can you share your test script?

[2017-03-17 13:26] AntoineGrandchamp commented on #43
Here is my test file :
[code]

The error pops when `import Carousel from 'react-native-snap-carousel';` is called in the file `Guides.js`.

I did some tests and it seems like `ScrollView.propTypes` at line 44 and 48 of your `index.js`file is undefined when the test is run.

[2017-03-17 16:06] prithsharma commented on #27
Very well. Thank you @bd-arc for talking through this. Appreciate it.
I'll be on the lookout. Will also see if I can contribute anything.

[2017-03-18 08:09] wangxm87 opened #45 "do you have any plan to support loop mode?"
hi~do you have any plan to support loop mode?

[2017-03-18 10:09] Exilz commented on #45
Hi, it's planned, yes. #12

[2017-03-21 13:20] vishalpachpande opened #46 "want to highlight active item"
I want to apply css to acive item and for that I am not getting particular active item

[2017-03-21 13:22] #45 closed

[2017-03-22 07:29] vishalpachpande opened #47 "Apply Cutom Css On "onSnapToItem""
I want to apply custom css "onSnapToItem"  for  this I am  using this.setState({paddingTop: 20})  , I can see this css code when I print "this", but it wont get render, is there anything that I need to do, so that above changes will get reflect on selected item.

[2017-03-22 10:12] Exilz commented on #47
Here's a quick example of how you can throw it together. It has nothing to do with the component itself but with how you want to play with React.

[code]

You can do this with a lots of different ways. This one is a little bit more complicated but you can set a specific style for each child you pass to the component.

[2017-03-22 10:13] #46 closed

[2017-03-22 11:08] vishalpachpande commented on #47
Hey Exilz thanks for you reply , actually I want to highlight active item when I swipe my list and get one item , and this selected item I use to get by using "onSnapToItem" method. and here I am unable to that selected item to apply css.

[2017-03-22 12:21] yaronlevi opened #48 "Error when using RN 0.42.3"
I've created a barebones react-native init@0.42.3 project and copied the carousel:

[code]

And getting this error:
![screenshot_20170322-141944](https://cloud.githubusercontent.com/assets/5398977/24197569/cc109c84-0f0a-11e7-9b6c-3e5f248017ec.png)

[2017-03-22 12:51] bd-arc commented on #48
@yaronlevi This error is triggered when the carousel only has one children. I thought I had already pushed a fix, but I apparently forgot. I'll do it shortly.

In the meantime, can you confirm that with two or more children the error is gone?

[2017-03-22 12:54] bd-arc commented on #46
See #47

[2017-03-22 14:07] yaronlevi commented on #48
Ok, I've tried putting two child Image elemnts, and the error is gone, but now I only see the first image. When I swipe to second one, I see just white background. As if the image was not loaded.

I've created a repo to reproduce the bug:

https://github.com/yaronlevi/carousel

[2017-03-22 14:59] bd-arc commented on #48
@yaronlevi I've just downloaded and built your project, but I didn't face any issue. You can see the result with [this gif](http://www.giphy.com/gifs/xUPGcmrfDMCKMsDFXa).

You might be facing #38. Can you try on an emulator, on another device, and/or with another Android version?

[2017-03-22 15:57] yaronlevi commented on #48
Mmm very strange
My device is nexus 5
lollipop
how can this be related to the device...?

[2017-03-22 16:23] bd-arc commented on #48
@yaronlevi Well, this kind of issues has only been experimented on Google devices; this might be linked to React Native's `ScrollView` implementation.

Unfortunately, we haven't been able to reproduce the issues so far (it works properly on every one of our Android devices, including a LG G3). This makes them pretty complicated to debug.

We're working on implementing a custom [PanResponder](https

[2017-03-23 16:55] #27 closed

[2017-03-23 18:25] bd-arc commented on #35
@lsps9150414 I'm happy to let you know that this issue should be resolved with version 2.0.3 of the plugin.

[2017-03-23 18:25] #35 closed

[2017-03-24 08:34] shrinandhini2801 opened #50 "currentIndex how to work with it ?"
I need to get which item is showing or brought to front now . Is it possible through current index? There is no sample provided. Can you help on it ?

[2017-03-24 11:21] bd-arc commented on #50
@shrinandhini2801 You need to keep a reference to your carousel's instance like this :
[code]

Then, whenever needed, you can call the following:
[code]

If you need to update your state every time a change of slide occurs, make sure to use the `onSnapToItem` prop instead.

[2017-03-24 11:21] #50 closed

[2017-03-24 11:26] bd-arc commented on #38
@dyaacov Would you mind building the latest version of the example and tell me if you can still reproduce the issue on your devices?

I've made a few bug fixes in the latest release and also bumped the RN version of the example to the latest stable one; that might have helped ;)

[2017-03-24 11:28] bd-arc commented on #48
Follow-up discussion about the Android issue will take place in #38

[2017-03-24 11:28] #48 closed

[2017-03-24 11:46] bd-arc commented on #47
@vishalpachpande If you are mapping your slides from an array of data or components, this should be pretty straightforward.

Make sure to update a state variable on `onSnapToItem`:
[code]

And then you can apply a specific style to the current active slide, based on index comparison:
[code]

Is it what you were after?

[2017-03-24 13:40] bd-arc commented on #33
@lsps9150414 Would you mind trying with the latest version of the plugin and tell me if you can still reproduce the issue?

[2017-03-26 12:05] alialaa opened #51 "Choppy behaviour on iOS when slide's width is small"
I am having a situation where I want to use the carousel to act like an option picker, the user will swipe to choose a certain option. so I am having a slide width of 80 and the width of the slider is the same as the device width. It's working pretty well on android however it's acting very weird on iOS. it may not be clear here but it's even choppier on an actual device.

**Android**
![mar-26-201

[2017-03-26 19:09] dyaacov commented on #38
Sorry, same issues. when you first open it, the first slide is adjusted to left and when you try to swipe everything is mess.

[2017-03-27 06:21] cinder92 opened #52 "not compatible with RN 0.37"
Hello i just want to install this plugin but i receive this error...

![captura de pantalla 2017-03-27 a la s 00 20 25](https://cloud.githubusercontent.com/assets/4725556/24343367/4a987f92-1283-11e7-9725-0d5a7bcf03b1.png)

how can i fix this?

[2017-03-27 08:50] bd-arc commented on #51
@alialaa Hi! Could you tell me which version of the plugin you're currently using? Also, can you try to set `enableMomentum` to `false` and see if that improves the behavior?

[2017-03-27 10:01] alialaa commented on #51
@bd-arc Hey, I am using 2.0.3 and I think enableMomentum is false by default, I tried setting it to true it got even worse that it won't even change the slide at all.

[2017-03-27 12:54] bd-arc commented on #38
@dyaacov Thank you very much for the video! Thanks to it, I've finally understood the root of the issue. This has to do with left-to-right UI. If you change your settings to right-to-left, you'll see the issue vanish.

You can see that items are rendered left-to-right but that our snap calculations are applied right-to-left. I'll look into a fix as soon as possible.

[2017-03-27 13:11] bd-arc commented on #52
@cinder92 Hi! This error shouldn't necessarily prevent you from using the plugin. This just means that it's looking for a version of React that is, at least, 15.4.2.

However, RN 0.37 uses version 15.3.1 and version 15.4.0 introduces [some specific changes](https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html). You should try the plugin anyway and see if you run into any issue.

[2017-03-27 15:08] bd-arc commented on #51
@alialaa I must admit that we didn't create this plugin with small slides in mind, which means we might need to adjust a few things for this use case. I will take a look at it shortly and keep you posted.

[2017-03-27 16:14] yaronlevi commented on #38
It is a known issue. ScrollView + RTL = bug.
https://github.com/facebook/react-native/issues/10852

[2017-03-27 17:35] cinder92 commented on #52
@bd-arc  ok cool, thanks!

[2017-03-27 17:35] #52 closed

[2017-03-28 07:10] alialaa commented on #51
@bd-arc thanks a lot, please update me even if it can't be done so that I can find another solution.

[2017-03-29 16:36] #47 closed

[2017-03-29 16:42] bd-arc commented on #38
@dyaacov @yaronlevi Good news! I've just published a new version of the plugin that adds RTL support and should resolve your issue.

As @yaronlevi stated, the issue had to do with React Native's RTL handling. I had to tweak a few things, so make sure to read [the notes](https://github.com/archriss/react-native-snap-carousel#rtl-support) about this feature.

Can you both confirm that this solves th

[2017-03-29 16:46] bd-arc commented on #51
@alialaa Hi! I've just published a new version (`2.1.0`) that exposes a previously private property: [`activeSlideOffset`](https://github.com/archriss/react-native-snap-carousel#props).

Setting a smaller value than the default `25` should resolve your issue. Can you please confirm?

[2017-03-29 18:25] dyaacov commented on #38
Hi,
I still see the same issue as in my previous video.
I verified I got the latest Git changes.

:(

[2017-03-29 22:00] bd-arc commented on #38
@dyaacov This is strange...

Two days ago, I was finally able to reproduce the issue with `I18nManager.forceRTL(true)`, and I've worked around it thanks to some heavy head-scratching.

I'm positive that this works since I've tested the fix on iOS and Android, on both emulators and real devices. Anyway, I'll triple-check tomorrow.

In the meantime, can you locally change [this line](https://github.

[2017-03-30 05:51] dyaacov commented on #38
YES!!!
1. I changed to "react-native-snap-carousel": "2.1.0"
2. removed node_modules and ran npm install again

Well done!
I'll do more testing in the next 2 days.

[2017-03-30 07:39] bd-arc commented on #38
@dyaacov Good to hear! I'm closing the issue, but do not hesitate to keep me posted with the results of your tests ;)

[2017-03-30 08:23] alialaa commented on #51
@bd-arc Hey, this was useful but I don't think it's what was causing my issue, I am posting you an actual video to illustrate the issue a bit more accurately. as you can see the slide is set to active when it has a 100% opacity but when I release my hand some weird bouncing animation happens.
[snaptest.mp4.zip](https://github.com/archriss/react-native-snap-carousel/files/881459/snaptest.mp4.zip)

[2017-03-30 13:00] bd-arc commented on #51
@alialaa Thanks for the video; it helps clarifying the issue.

If this is not too much trouble, could you create a basic React Native project with your picker? Nothing fancy, just the carousel implementation and your styles. I would then use this as a starting point to investigate further.

[2017-03-30 15:31] alialaa commented on #51
@bd-arc Ok I'll do it next week, thanks a lot.

[2017-03-31 14:51] delvedor commented on #51
Hello, same issue here!
- React Native version: `v0.42.0`
- react-native-snap-carousel: `v2.1.0`

The size of a slide is:
- 200 width
- 100 height
- 15 margin horizontal
- 5 margin vertical

As above, `enableMomentum` didn't solve the problem and `activeSlideOffset` either.

[2017-03-31 18:32] dyaacov commented on #38
Found another bug in **RTL** only.
First time you load the carousel, the first image is not in focus (gray color and same size as the other images)

[2017-04-03 07:43] bd-arc commented on #38
@dyaacov I have faced this issue while implementing RTL support, but I got rid of it and haven't been able to reproduce it since then.

Are you talking about the first slide to the left or to the right?

[2017-04-03 08:06] alialaa commented on #51
@bd-arc @delvedor  When I created a project from scratch surprisingly the carousel worked just fine, so probably it's something in my other project. I will let you know if I figured it out. Thanks for your time.

[2017-04-03 08:12] dyaacov commented on #38
The first active slide, I don't now what you mean by the first to the right
or to the left.
Another small bug, the slides are reversed order in RTL, I fixed locally it
by calling this.state.items.reverese if I'm in RTL

On Mon, Apr 3, 2017 at 10:43 AM, Benoît Delmaire <notifications@github.com>
wrote:

[2017-04-03 08:21] delvedor commented on #51
@alialaa can you past the code you used in the new projetc?

This is mine:
[code]

[2017-04-03 08:33] alialaa commented on #51
@delvedor
[index.ios.js.zip](https://github.com/archriss/react-native-snap-carousel/files/889384/index.ios.js.zip)

[2017-04-03 08:50] delvedor commented on #51
Thanks!
I found that if I wrap the Carousel in this way:
[code]
The problem disappear (but in my case disappear the Map component as well :P)

[2017-04-03 09:43] bd-arc commented on #51
@alialaa Thanks for letting me know ;)

@delvedor I assume that you're trying to recreate something along the lines of our map implementation, aren't you? :) There might be a touch handling conflict between the two components. One thing you should know is that our `Carousel` component is wrapped in a [`Modal` component](https://github.com/maxs15/react-native-modalbox). Could you try to do the same

[2017-04-03 09:47] bd-arc commented on #38
@dyaacov The reversed order is by design. I was assuming that, if you have an array of [1, 2, 3], you would expect slides to be rendered [3, 2, 1] so that they can be read from right to left in the same order as they would in a LTR layout. Was that a mistake?

[2017-04-03 09:47] delvedor commented on #51
Oh, I see!
Just to understand better, you have something like this?
[code]

[2017-04-03 09:49] bd-arc commented on #51
@delvedor Absolutely.

[2017-04-03 09:50] dyaacov commented on #38
In my design, the slides have timestamp so I want to present them order by
creation date, regardless RTL

On Mon, Apr 3, 2017 at 12:47 PM, Benoît Delmaire <notifications@github.com>
wrote:

[2017-04-03 09:50] delvedor commented on #51
Perfect, now I give it a try and I let you know, thanks!

[2017-04-03 09:51] dyaacov commented on #38
I think you should not interfere in the slides order, each implementer
should order it according to his logic.

On Mon, Apr 3, 2017 at 12:50 PM, dekel yaacov <dekel.yaacov@gmail.com>
wrote:

[2017-04-03 10:03] delvedor commented on #51
Nope, same issue :S
[code]

[2017-04-03 10:06] bd-arc commented on #38
@dyaacov Well, I'm not used to RTL interfaces but I'm trying to foresee what would seem more "natural" to every user of this plugin. My understanding was that everything was reversed between LTR and RTL layouts.

You mentioned slides with timestamp. In a LTR layout, I would render the following ('X' marks the first active slide):
[code]

Shouldn't it be the following with a RTL layout?
[code]

[2017-04-03 10:18] bd-arc commented on #51
@delvedor Yes, we're using the AirBnb plugin. It's broken in many ways, but there are no real alternatives at the moment :(

Could you try with the `backdrop` prop enabled?

[2017-04-03 10:22] delvedor commented on #51
@bd-arc I know :S
By the way, nothing changed with `backdrop` prop enabled.

[2017-04-03 10:30] bd-arc commented on #51
@delvedor Then I'm currently out of ideas :-)
Could you create a simple React Native project that would allow me to reproduce the issue and investigate?

[2017-04-03 10:40] delvedor commented on #51
At the moment I cannot create it, if you want we can talk in private (mail?).
In this way I can tell you a little bit of my configuration and if we solve the issue we can update here :)

[2017-04-04 13:08] XavierColombel opened #54 "Not compatible RN 0.43?"
I've got these errors:

[code]

![capture d ecran 2017-04-04 a 15 27 58](https://cloud.githubusercontent.com/assets/1059964/24658926/802379c2-194b-11e7-908d-3ba46bf7a5b2.png)

[2017-04-04 13:33] bd-arc commented on #54
@XavierColombel That's because RN 0.43 uses React version `~16.0.0-alpha.3`, while our plugin dependencies expect version `15.x.y`. This latest version of React [hasn't been documented yet](https://github.com/facebook/react/releases), so I don't know if we should expect breaking changes.

Note that we haven't tested compatibility with RN 0.43 since it hasn't been officially released yet. My guess

[2017-04-04 13:36] pratomchaip opened #55 "Tapping/Clicking last item causes carousel to snap back to second last item"
I have TouchableOpacity child Items within the Carousel component - where the onPress on the TouchableOpacity items work fine.

However, when tapping/clicking on the last item, it will cause the carousel to snap back to the second last item.

Has anyone else experienced the same issue?

[code]

[2017-04-04 13:36] XavierColombel commented on #54
Ok I see what you mean. I've created a brand new project and I've added react-native-snap-carousel only, in order to test it. It doesn't work with RN 0.43 (see the red screen).

[2017-04-04 14:17] Sky891028 commented on #55
same happend to me

[2017-04-04 14:40] XavierColombel commented on #55
Same here.

[2017-04-04 15:56] XavierColombel commented on #45
Can't wait to get it!

[2017-04-04 16:04] bd-arc commented on #54
@XavierColombel Thanks for the link (you should edit it by the way, since it redirects to a 404 error page ;-). Here is what seems to be the plan for the `shallow-compare` addon:

Still, I don't like that part:

The issue is that `react-addons-shallow-compare` wasn't installed with our plugin, which probably has to do with those changes. We'll try to migrate to RN 0.43 and see what we can do about

[2017-04-04 16:20] bd-arc commented on #55
Ok, seems like a top priority :-) I'll try to reproduce and fix it shortly.

[2017-04-04 16:20] XavierColombel commented on #54
@bd-arc I just updated the link! ;) Ok, so I wait for a RN 0.43 compatible version. Thanks for your help.

[2017-04-04 16:23] gaearon commented on #54
Which version of `react` package are you using?

[2017-04-04 16:25] XavierColombel commented on #54
With RN 0.43, by default:

[code]

[2017-04-04 16:39] gaearon commented on #54
And which versions of addons?

[2017-04-04 16:39] gaearon commented on #54
(Can you double check their `package.json` in `node_modules` please)

[2017-04-04 16:39] bvaughn commented on #54
Chiming in kind of late, but here's a bit more context:

As you've noticed, `shallowCompare` is no longer accessible from `react/lib/shallowCompare` for react v16+. Going forward the shallow-compare code has been moved _into_ its own package (instead of just forwarding to react). This change was made in `react-addons-shallow-compare@15.5.0-alpha.0`.

We wanted to update the version of react used i

[2017-04-04 17:04] bd-arc commented on #54
@bvaughn Thank you very much for the detailed information! I appreciate that. I'll make the necessary adjustments to our plugin.

Since `shallowCompare` [has apparently been deprecated](https://facebook.github.io/react/docs/shallow-compare.html), would you recommend migrating to `React.PureComponent` instead?

[2017-04-04 17:06] bvaughn commented on #54
No problem! 😄

`react-addons-shallow-compare` should continue to work indefinitely, even though we don't plan any future releases of the add-on past version 15.5.0.

`PureComponent` is the recommended path going forward though. If you can easily switch, go for it!

[2017-04-05 13:47] bd-arc commented on #55
@pratomchaip @Sky891028 @XavierColombel I've released version 2.1.1 that should fix this issue. Can you try it and let me know how it goes?

[2017-04-05 13:52] bd-arc commented on #54
@XavierColombel Issue should be resolved with version 2.1.1. Can you try and confirm?

@gaearon @bvaughn Thanks for your help with this matter ;)

[2017-04-05 13:54] bd-arc commented on #33
Closing as the issue should be resolved in version 2.1.1.
Feel free to reopen if needed.

[2017-04-05 13:54] #33 closed

[2017-04-05 14:10] pratomchaip commented on #55
2.1.1 fixed it. Great work @bd-arc

[2017-04-05 14:23] #55 closed

[2017-04-05 14:40] XavierColombel commented on #54
@bd-arc You rock! Thank you so much!

[2017-04-05 14:40] #54 closed

[2017-04-05 14:47] XavierColombel commented on #55
@bd-arc Wow, it was fast! Great job! I don't know if you still working on it but the loop mode (without `autoplay`) would be really appreciated. 😉

[2017-04-08 19:54] skeie opened #56 "contentContainerStyle - padding"
Hi,

First off, thanks for this package. It's amazing 🖖.

I was wondering something, is there a special reason why
`{ paddingHorizontal: containerSideMargin }` is added to `contentContainerStyle` as an own object in an array, instead of doing something like this

[code]
The reason I am asking is because I would like to overwrite the paddingHorizontal property
![image](https://cloud.githubuserconte

[2017-04-08 20:39] bd-arc commented on #56
Hi there!

`paddingHorizontal` has precedence over any other style because it's a critical value responsible for slide's centering. Overriding it would mess with slider's layout.

Could you describe your use case and the reason why you need to change inner horizontal padding? Is there no way for you to deal with it at slide's level?

Regarding you other question, we declare styles that way because

[2017-04-08 20:43] bd-arc commented on #38
Closing as no further feedback was provided.
Feel free to continue discussion if needed.

[2017-04-08 20:43] #38 closed

[2017-04-09 08:32] skeie commented on #56
Aha, thanks for the clarification :-).

So what I would like to do is to center the first element of the slider:
![image](https://cloud.githubusercontent.com/assets/1346122/24835940/60daf08c-1d0f-11e7-8943-6b38e1f35aa7.png)

like this:
![image](https://cloud.githubusercontent.com/assets/1346122/24835934/39b4721c-1d0f-11e7-88f5-bc6206369016.png)

Here you can see the padding, I don't know how to so

[2017-04-10 08:02] bd-arc commented on #56
@skeie Thanks for the screenshots! I totally get what you're trying to achieve (in fact, an issue has already been opened for this a few months ago; see #3).

Implementing it is a bit complicated because all of our calculations are based on slider's center (usually viewport's center). It would require some heavy tweaking to achieve the behavior you're after. Since it has been asked multiple times,

[2017-04-12 06:48] RCiesielczuk commented on #43
Hi @bd-arc, I've ran into the same issue as @AntoineGrandchamp. Did you manage to have a look at it?

Thanks

[2017-04-12 10:39] ariona opened #57 "Disable stretch height on Carousel Container"
Hello,

I am having a problem here, current carousel height is stretched. If i inspect there is a view that having flex:1. I have tried to set containerCustomStyle, contentContainerCustomStyle, slideStyle flex to 0 but the carousel still stretching the height.

[code]

![screenshot_20170412-173449](https://cloud.githubusercontent.com/assets/752483/24953761/bc233136-1fa6-11e7-82e5-c99529699862.png)

[2017-04-12 12:56] skeie commented on #56
Thanks for the detailed feedback. I understand that this could be tricky... I tried changing to a 'random' number. And I don't have any issue with scrolling for my use case at least.

If you don't have time to fix it, I made a suggestion [here :-)](https://github.com/archriss/react-native-snap-carousel/pull/58)

Keep up the good work, this library is amazing 🖖

[2017-04-13 20:51] thurt commented on #43
hi guys,

ran into this problem as well.

i think the problem is related to these three lines
https://github.com/archriss/react-native-snap-carousel/blob/master/index.js#L56
https://github.com/archriss/react-native-snap-carousel/blob/master/index.js#L60
https://github.com/archriss/react-native-snap-carousel/blob/master/index.js#L87

if I temporarily comment those lines out in `node_modules/react-n

[2017-04-14 22:46] bd-arc commented on #43
Hi guys,

First, kudos to @thurt for your thorough investigation and your temporary solution :)

To be honest, I couldn't find time to play with Jest and try to understand the root of the issue; sorry about that. Still, I really don't get why declaring style proptypes this way would result in `ScrollView` being `undefined`...

I guess I could fall back to something along those lines: `PropTypes.on

[2017-04-14 22:55] bd-arc commented on #57
Hi,

Well, I don't think that your issue has to do with the plugin since there is not a single `flex: 1` in its source code ;)

I can't help but notice that, in the sample code you provided, the first container is being stretched. Could it be the cause of your issue? Also, is the height of your slides fixed?

[2017-04-15 12:20] rogerkerse commented on #55
I am using 2.1.1 and it still has weird scroll behaviour happening when i tap on the last item. So it seems that some cases might not be fixed

[2017-04-19 19:04] gajus commented on #37
@hugohow Are you still continuing with this?

[2017-04-21 13:05] bd-arc commented on #55
@rogerkerse Hi! Would you mind sharing your `Carousel` implementation as well as the relevant styles? This would help me reproduce the issue ;-)

[2017-04-21 16:38] bd-arc commented on #57
@ariona After giving this a second thought, I realized that I've made a mistake: our `<Carousel />` is basically a `<ScrollView />` and, as such, inherits from [its default styles](https://github.com/facebook/react-native/blob/master/Libraries/Components/ScrollView/ScrollView.js#L746), especially `flexGrow: 1`.

You should be able to deal with it thanks to the prop `containerCustomStyle`. I know y

[2017-04-24 10:58] bd-arc commented on #51
@delvedor Hi! Unless I'm mistaken, I haven't heard from you yet. Are you still facing the issue?

[2017-04-25 03:11] ariona commented on #57
Thanks for giving this issue another look :) , It's working now. by setting the flexGrow:0 to containerCustomStyle.

I was using fixed height for workaround but it's bad for dynamic content height.

[2017-04-25 03:11] #57 closed

[2017-04-25 09:12] rogerkerse commented on #55
@bd-arc Unfortunately I don't have the old code :(

[2017-04-25 10:14] bd-arc commented on #55
@rogerkerse Would you mind creating a simple test case? Because I am not able to reproduce the issue on my side...

[2017-04-26 02:29] ajonno opened #60 "how to simply make each 'slide' full screen ?"
I couldn't easily see how to just set each view on this component 'full screen', so the user can simply swipe left / right. We don't want them to see a preview of the next slide etc. The snippet below is just to try different 'width' setting attempts. flex=1, or screen's width etc.  Is this actually possible or does this component require a preview of the next slide etc ?

[code]

[2017-04-27 07:29] bd-arc commented on #56
Closing as prop `carouselHorizontalPadding` [was introduced in 2.1.2](https://github.com/archriss/react-native-snap-carousel/blob/master/CHANGELOG.md).
This prop will remain as long as #3 isn't figured out.

[2017-04-27 07:29] #56 closed

[2017-04-27 07:30] bd-arc commented on #51
Closing are no further feedback was provided.

[2017-04-27 07:30] #51 closed

[2017-04-27 08:07] delvedor commented on #51
Hi!
Sorry for the delay, but in this period I'm working a lot! :P
I've tried my app on a physical device and this "choppy" behaviour It's disappeared, while there is still in the simulator, so probably is something related to the simulator itself.

If something changes I let you know, thank you for your help and patience.

[2017-04-27 13:21] bd-arc commented on #51
@delvedor Thank you for letting me know. Do not hesitate to ping me if the issue comes back ;)

[2017-04-28 07:29] Symous commented on #13
it's better if you put your answer to slove this here :D

showsHorizontalScrollIndicator={false}

to hide the scrollindicator.

[2017-05-02 21:57] bd-arc commented on #60
@ajonno Hi there!
I must admit that the plugin wasn't created with this use case in mind. Still, you should be able to achieve what you're after. Could you try the following and let me know if this works ?

[code]

[2017-05-03 03:44] piuccio commented on #60
Hi, I was trying to do just the same, eventually I managed to get what I wanted with

[code]

[2017-05-03 07:41] bd-arc commented on #60
@piuccio Hi, thanks for sharing! I'm closing the issue since either your solution or mine should do the trick ;)

[2017-05-03 07:41] #60 closed

[2017-05-03 08:52] vTrip opened #61 "Difficulty understand itemWidth / slideWidth props"
Would be great to get more clarification around the itemWidth and sliderWidth - especially relating to the examples where calculations are made with inclusions of slideWidth, slideHeight and itemHorizontalMargin

[2017-05-03 09:47] ajonno commented on #60
Brilliant thanks both for your help

[2017-05-03 13:35] bd-arc commented on #61
Hi! I guess you're referring to the following lines in [`SliderEntry.style.js`](https://github.com/archriss/react-native-snap-carousel/blob/master/example/src/styles/SliderEntry.style.js#L11:L16):
[code]

Slider's width and slide's width must be defined at `<Carousel />` level (props `sliderWidth` and `itemWidth`), while slide's height and slide's inner padding are up to you and should be defined

[2017-05-03 23:29] vTrip commented on #61
hey @bd-arc thanks for replying so quickly.

I understand the basics of what the props are doing. However I have this issue where after I slide each 'slide', each successive slide snaps further to the left side of the carousel.

i.e. slide 1 is 20px from edge of screen.....slide to snaps to 10px from edge of screen.....slide 3 snaps to 0px from edge of screen....slide 4, 5 and so on snap further o

[2017-05-04 04:57] ranjithnori commented on #12
Hey @Exilz @bd-arc, how do you plan to implement loop mode ?
Great work on the package btw!

[2017-05-04 06:29] thepinyo opened #62 ""Cannot read property 'stopTracking' of undefined " how to solve"

[2017-05-04 07:54] bd-arc commented on #61
@vTrip Do not hesitate to share your code so that I can take a look at it ;)

[2017-05-04 08:00] bd-arc commented on #12
Hey @ranjithnori, to be honest, this is pretty complicated. We've played with different approaches so far, but everything we've tried had a flaw. Still, we are not giving up since we really want to implement this feature.

If you are aware of any article or code example that might help us, do not hesitate to share it with us ;)

[2017-05-04 08:01] bd-arc commented on #62
Hi @thepinyo, could you please provide a bit more context and could you describe a way to reproduce the issue?

[2017-05-04 08:02] ranjithnori commented on #12
@bd-arc Sure thing! 👍

[2017-05-05 19:03] dnish opened #63 "firstItem not working"
Hey,
I'm having an issue with setting firstItem. Most of the time, the wrong item is selected. We are using a function which returns the children, so we got something like this:

[code]
In our case, the 8th item wasn't selected when the component mounts. If we do something like this:

[code]

...the correct item is selected. Are there any issues when generating the childrens via function?

[2017-05-06 18:00] yanush opened #64 "Scroll constantly auto scrolls to the first item"
I was trying to use this library on my project, and for some reason whenever I scroll, the list auto jumps to the first Item.
Have any idea what am I doing wrong?

[2017-05-06 18:18] yanush commented on #64
nm. found the problem

[2017-05-06 18:18] #64 closed

[2017-05-07 23:16] yanush opened #65 "How can I center the selected item on landscape mode?"
Using the example project, I have enabled landscape mode, and when I rotate the device, the selected item is not centered anymore.
How can I fix this behavior?

[2017-05-08 02:18] JohnProg opened #66 "_onScroll fails after remove a scrolled item"
activeItem in _onScroll is undefined when I remove one item:
In this part after to remove a scrolled item, `this.state.interpolators[activeItem]` is undefined.
[code]

<img width="371" alt="screen shot 2017-05-07 at 9 31 57 pm" src="https://cloud.githubusercontent.com/assets/2661653/25788155/9fbad6fa-336c-11e7-9dee-0098d5c71f68.png">

[2017-05-08 04:08] vTrip commented on #61
`const slides = this.props.results[index].value.map((rowData, rowID) => this.renderCard(index, rowID, rowData) );`

`return (
        <Carousel
          sliderWidth={sliderWidth}
          itemWidth={itemWidth}

          { slides }
        </Carousel>
      )`

`renderCard(section, row, data) {
    return (
      <FlightCard
        key={`entry-${row}`}
        lookup={false}
        index={row}

[2017-05-08 04:24] vTrip commented on #61
@bd-arc for props:
sliderWidth & itemWidth I use 350 and 300 respectively.

As i scroll through the list, the offset of each card increases from the left. Leaving each successive card with a larger left margin than the previous card.

[2017-05-09 03:53] piuccio commented on #34
marginally related to this, inside `onSnapToItem` callback the value of `this.carousel.currentIndex` is still the previous index not the one we're snapping too.

I noticed this because I'm using

[code]

`CarouselControls` is my custom component that uses `this.carousel.currentIndex` so I'm using `forceUpdate` instead of duplicating the state in my component, but the `currentIndex` is not uptodate

[2017-05-09 08:27] bd-arc commented on #34
@piuccio Thanks for your feedback! This is pretty strange; I'll take a look at it as soon as possible.

[2017-05-09 08:41] bd-arc commented on #63
Hey @dnish,

You shouldn't have any issue when returning children from a custom method (in fact, that's the way we're doing it). Still, there might be a problem if your children are generated asynchronously. This is supposed to be handled, but you might have uncovered some dirt :)

Could you share your method `getCovers()` so I can try to reproduce your issue? Could you also try [this workaround](

[2017-05-09 08:46] bd-arc commented on #65
Hey @yanush,

We haven't tried that yet, but I would use the prop [`onLayout`](https://facebook.github.io/react-native/docs/view.html#onlayout) on the carousel or its container to update `sliderWidth` and `itemWidth`.

Could you tell me if that works for you?

[2017-05-09 14:04] dnish commented on #63
Hey,
our childrens are generated synchronously.

This is our getCovers method:

    getCovers() {
        return _.map(Playlist.getUserFiles(PlayerStore.playlist),(doc) => <Image style={styles.cover} key={doc._id} source={(doc.formattedCover) ? doc.formattedCover : require('app/images/no_cover.jpg')}/>);
    }

The getUserFiles method:

    Playlist.getUserFiles = function(playlistDoc) {
     cons

[2017-05-09 15:22] bd-arc commented on #63
@dnish Thanks for the detailed info! I'll take a look at it as soon as possible.

[2017-05-10 09:09] nguyenchanhnghia opened #68 "How can i disable/enable swipe to next/pre slide?"
Solution:
Add scrollEnabled to props

[2017-05-10 09:19] #68 closed

[2017-05-15 20:47] bd-arc commented on #62
Closing as no further feedback was provided.

[2017-05-16 05:36] dittmarconsulting opened #70 "onScroll doesn't get invoked"
Env:
"react": "16.0.0-alpha.6",
"react-native": "0.43.3",
"react-native-snap-carousel": "^2.1.2"

Problem:
onScroll does not get invoked whilst scrolling

     <Carousel
        ref={(carousel) => { this._carousel = carousel }}
        sliderWidth={width}
        inactiveSlideScale={1}
        inactiveSlideOpacity={1}
        enableMomentum={false}
        itemWidth={width}
        onSnapToItem={:

[2017-05-16 07:47] bd-arc commented on #70
Hey @dittmarconsulting,
Looking at [the relevant source code](https://github.com/archriss/react-native-snap-carousel/blob/master/index.js#L545), it is obvious why this can't work. My mistake: I've merged a [PR](https://github.com/archriss/react-native-snap-carousel/pull/69) yesterday without actually checking that it was working.

I'll quickly add a specific prop for this use case.

[2017-05-16 15:10] bd-arc commented on #70
@dittmarconsulting I've just published version 2.1.4 that adds prop `onScrollViewScroll`. Could you please confirm that it works for you?

[2017-05-16 23:47] dittmarconsulting commented on #70
That works like a charm @bd-arc .

Thanks for the fast response.

Keep up with the great work.

[2017-05-16 23:47] #70 closed

[2017-05-17 05:27] cinder92 commented on #26
any update about this?

[2017-05-17 05:31] cinder92 opened #71 "Android snap is very bad"
When you scroll to fast on Android, the snap item is very bad, an is not like in you show case app.
[code]

any fix about this?

[2017-05-17 07:27] bd-arc commented on #26
Hey @cinder92,
Yes, I confirm that we are still working on it. It's taking some time though, because this requires a lot of refactoring and miscellaneous solutions are tested. FYI, we are currently considering using the new `<FlatList />` component.

[2017-05-17 07:30] bd-arc commented on #71
@cinder92 Unfortunately, it has to do with React Native's `<ScrollView />` implementation.
You can find some useful information in [this thread](https://github.com/archriss/react-native-snap-carousel/issues/27).

[2017-05-18 15:10] joseygordev commented on #34
Some answer about this problem ?

[2017-05-19 15:04] fendorio commented on #26
Hey there, nice repo - I've just been checking it out on IOS.

Quick question for anyone a bit more knowledgable on this project.

In the meantime, is the workaround for this to watch the current index of the slide and utilise some AJAX logic to go fetch more items / populate the carousel with more items which are stored in the apps memory but just not rendered yet?

Hope that makes sense

[2017-05-19 15:32] nghiadt91 opened #72 "Cannot swipe the carousel on Android devices"
I have run an example using code from your source. It work fine on iOS but totally stuck on Android.
I cannot swipe or move any item like the list is stuck.
Tried on both emulator and real device but it still not working.
Using react v0.44.0
![screenshot_20170519-222547](https://cloud.githubusercontent.com/assets/5374576/26255193/0a25a1bc-3ce3-11e7-991c-021df8e8bb4c.png)

[2017-05-19 18:59] bd-arc commented on #72
@nghiadt91 This is strange since we are using the plugin with RN 0.44 without any issue.
On which version of Android have you tested it?

[2017-05-19 19:05] bd-arc commented on #26
@fendorio Yes, you could totally do that to provide some sort of infinite scroll. You can use `onSnapToItem` to check if you've reached the last slide, fetch some more items and update your state.

Note that we haven't tested this use case yet, but since our plugin supports dynamic slides, you should be able to easily implement it.

[2017-05-20 02:36] nghiadt91 commented on #72
@bd-arc I have found the root issue. That is I put the flex:1 into sliderContainer style.
The issue was fixed when I remove this property
Thanks a lot

[2017-05-21 18:28] bd-arc commented on #72
@nghiadt91 Thanks for letting us know. And I can confirm that you should never use `flex: 1` with `contentContainerCustomStyle` in a `<ScrollView />` ;-)

[2017-05-21 18:28] #72 closed

[2017-05-21 18:41] bd-arc commented on #34
Hi @joseygordev, are you referring to @piuccio's issue or to the original one?

Regarding the former, I should be able to take a look at it in the next few days; regarding the latter, we are still awaiting an evolution of React Native's source code. [The issue](https://github.com/facebook/react-native/issues/11657) is still pending 6 months later, without any feedback from RN's team...

[2017-05-22 10:03] scerelli opened #73 "Consider to use FlatList."
Did you consider to use `FlatList` instead of `ScrollView`? it will improve a lot performance and it has lazy load for items that works properly

[2017-05-22 12:51] bd-arc commented on #73
Hi @scerelli, and thanks for the suggestion.
In fact, yes, we have considered this. Unfortunately, at this point, issues like [this one](https://github.com/facebook/react-native/issues/14037) are a no-go for us.

Still, we'll continue to experiment with `FlatList` and watch the component's evolution closely.

[2017-05-25 06:22] fdwcomune commented on #62
Hi, I also got this issue recently. In my case it happened when changing the number of carousel items. When the active item index before the change is greater than the highest possible index after the change the error is thrown.

[2017-05-26 14:16] hoangnm commented on #43
It's because React Native does mock ScrollView for you when you write unit test with Jest https://github.com/facebook/react-native/blob/master/jest/setup.js. You can use jest.unmock('ScrollView') before a test file.

[2017-05-26 14:42] LeoTianJLL opened #75 "How to support infinite loop."

[2017-05-26 16:33] bd-arc commented on #75
Hi @LeoTianJLL,
As you can see in [this issue](https://github.com/archriss/react-native-snap-carousel/issues/12), we are working on it. Unfortunately, it is quite complicated. That's why we haven't been able to implement a stable version for now.

[2017-05-26 16:33] #75 closed

[2017-05-26 18:40] gmverdon commented on #71
The problem especially seems to occur when you have not yet scrolled through all the carousel childrens. When you do scroll to them, scrolling back goes much much smoother.

[2017-05-26 18:49] bd-arc commented on #62
Hi @fdwcomune and thanks for the detailed info.

Note that many currently opened issues seem to be related to component's state management, meaning that we apparently need to improve it. I'll take a closer look at this matter shortly.

[2017-05-28 21:17] bd-arc commented on #71
@gmverdon This is an interesting lead.
@cinder92 Could you try adding `renderToHardwareTextureAndroid={true}` to either the slides or the `Carousel` component itself? As you can read [here](https://facebook.github.io/react-native/docs/performance.html#moving-a-view-on-the-screen-scrolling-translating-rotating-drops-ui-thread-fps), it might help with scrolling performance.

[2017-05-28 21:31] bd-arc commented on #43
Thanks @hoangnm for this very useful info! I've added it to the [README](https://github.com/archriss/react-native-snap-carousel/#error-with-jest) ;-)

[2017-05-28 21:31] #43 closed

[2017-05-28 21:32] bd-arc commented on #65
Closing as no further feedback was provided.

[2017-05-28 21:32] #65 closed

[2017-05-29 10:00] Venumteam commented on #62
Hey guys, had the same issue - when trying to remove the item from items, hope that soon it will be fixed.

[2017-06-01 03:12] PublicParadise commented on #26
@bd-arc: I do like `react-native-snap-carousel`. But unfortunately I can't use it. It just breaks down at around 2000 items. Render time balloons to 10s. Would you guys be interested in creating an experimental branch exploring that `<FlatList/>` idea? That's the only way to solve my performance problem with the current version of `react-native-snap-carousel`. I'd be willing to chip in and push PR

[2017-06-01 07:29] bd-arc commented on #26
Hi @PublicParadise,
I understand your concern but, as stated [here](https://github.com/archriss/react-native-snap-carousel/issues/73#issuecomment-303090987), `<FlatList />` is shipped with bugs that are really problematic for our most common use cases.

To be honest, we've never thought that it would be used to display that many items. May I ask you to provide a bit more context?

Still, we're ope

[2017-06-01 10:05] arnsa commented on #62
https://github.com/archriss/react-native-snap-carousel/pull/67 this PR fixes the issue.

[2017-06-01 18:12] PublicParadise commented on #26
Hi @bd-arc,

my use case is a real estate app that shows pictures of properties - similar to what [Trulia](https://www.trulia.com/mobile/) does. Another use case would a simple photo album. In these days 2000 photos is nothing!

This is an interesting topic. Let me mover over to https://github.com/archriss/react-native-snap-carousel/issues/73. That seems to be the right place for this discussion.

[2017-06-01 18:25] PublicParadise commented on #73
Hello folks,
@bd-arc just brought this thread to my attention.

I am interested in using `react-native-snap-carousel` with large number of items (~2000). From what I understand `FlatList` is still a bit immature and has bugs like https://github.com/facebook/react-native/issues/14037 that are pretty much show stoppers.

What do you guys think getting started with a port to ListView first?
Facebook'

[2017-06-01 22:31] cinder92 commented on #71
where do i need to put renderToHardwareTextureAndroid?

[2017-06-02 08:08] bd-arc commented on #71
Well, you could try either:
[code]
or in your `_renderItems()` method:
[code]

This is not a guaranteed fix, but @gmverdon's comment made me think that it could help.

[2017-06-02 08:21] bd-arc commented on #73
@PublicParadise Note that there is one major drawback with using either `ListView` or `FlatList`: one would no longer be able to use different components as carousel's slides, which can ruin the plugin for some users...

With that in mind, it would be great to offer the best of both worlds:
- `ScrollView` for shiny carousels with miscellaneous slides' types and less than, for example, 50 items
- `

[2017-06-02 08:39] bd-arc commented on #73
@PublicParadise Well, forget about what I just said; the prop `getItemLayout` of `FlatList` should really help smoothing things out. We might even be able to provide support for children with different `itemWidth`.

So let's focus on migrating to `Flatlist` in the medium term ;-)

[2017-06-02 14:49] PublicParadise commented on #73
@bd-arc I like the idea of offering both worlds. You could always decide later if you want to retire the `ScrollView` version.

[2017-06-02 16:05] bd-arc commented on #34
Hi guys,

I finally had time to dig into this issue. I can confirm that, sadly, it is deeply related to React Native's implementation.

For all the reasons explained in my first post, we can't rely on anything but the `onScrollEndDrag` callback when `enableMomentum` is disabled. Unfortunately, this means that `activeItem` computation will be wrong if you haven't scrolled enough so that the next sl

[2017-06-02 16:28] bd-arc commented on #34
I just had an idea worth trying, which is to rely on slide animation's completion and to combine it with a time threshold to "determine" if scroll has ended.

This is clearly far from ideal, but it might still lead to better results than `onScrollEndDrag`. I'll keep you posted!

[2017-06-02 17:34] bd-arc commented on #61
Hi @vTrip,
Sorry for the late answer, but I finally had time to work on your issue.

Good news: I was able to reproduce and fix it. I'll publish a new release in the next few days ;-)

[2017-06-02 18:32] gmverdon commented on #71
I tried it, but unfortunately it did not have a significant boost in the snapping behaviour.

[2017-06-03 20:49] bd-arc commented on #62
Hi guys,

I'm currently working on fixing the issue. @fdwcomune @Venumteam Would you mind sharing some code in order to help me reproduce the bug? So far, I haven't been able to do so.

FYI I won't merge #67 for now since the fix is, in my opinion, a bit hacky. Moreover, it will work only if a single item was removed. I'm trying to find another solution, but I might be mistaken since I haven't rep

[2017-06-05 00:37] vTrip commented on #61
@bd-arc awesome news - looking forward to the fix !!

[2017-06-05 10:05] bd-arc commented on #63
Hi @dnish,

I'm desperately trying to reproduce the issue you are facing, but to no avail so far. I've made a short screencast to show you that everything works fine for me: https://media.giphy.com/media/3o7bufKXOwspGnnbpe/giphy.gif

I initialize my `Carousel` with `firstItem={2}` and, as you can see, the third item is the one that's shown after init.

If you could set up a test case, I would glad

[2017-06-05 10:06] bd-arc commented on #62
Linked to #66

[2017-06-05 10:58] bd-arc commented on #71
@gmverdon @cinder92 Could you post a short screencast of the issue so I can clearly see what's at stake and try to hack a way around?

[2017-06-05 15:28] PublicParadise commented on #63
@bd-arc I can easily reproduce this problem using this setup:

[code]

[2017-06-07 09:21] bd-arc commented on #63
@PublicParadise Would you mind setting up a simple example project? Because I'm not able to reproduce the bug with only the code you've shared.

Since it works properly for me, I guess this has to do with how slides are generated...

[2017-06-07 10:12] bd-arc commented on #34
@piuccio @joseygordev Version 2.2.0 should resolve your issue with the faulty index.

I've completely refactored the way callbacks are handled when momentum is disabled. Let's face it: this is hacky since `ScrollView` neither provides callbacks to the `scrollTo` method nor gives access to a `onScrollEnd` event.

Make sure to play with the new props `scrollEndDragThrottleValue` and `snapCallbackDeb

[2017-06-07 10:22] bd-arc commented on #71
Version 2.2.0 adds the prop `scrollEndDragThrottleValue` that can help smoothing things a bit.

Still, bear in mind that we have no control over `ScrollView`'s implementation on which the plugin is based. Android's `scrollTo` animation is unfortunately too quick and quite brutal and, at the moment, there is no way for us to change this. Go spam [React Native's Feature Request](https://react-native

[2017-06-07 10:22] #71 closed

[2017-06-07 10:23] bd-arc commented on #61
@vTrip I've just published version 2.2.0 that should solve your issue. Can you confirm that it now works as intended for you?

[2017-06-07 10:23] #61 closed

[2017-06-07 10:24] bd-arc commented on #37
@hugohow @gajus I'm pleased to let you know that version 2.2.0 introduces vertical support ;-)

[2017-06-07 10:24] #37 closed

[2017-06-07 12:45] #34 closed

[2017-06-07 13:17] bd-arc commented on #66
@JohnProg Sorry for not getting back to you sooner.

Could you please provide more details about how to reproduce the bug, particularly about how you "remove" an item?

[2017-06-07 15:15] bd-arc opened #78 "Create a specific <Image /> component for parallax effect"
The idea is to create a custom `<Image />` component aware of `Carousel`'s current scroll position and thus able to offer a nice parallax effect when scrolling.

[`react-native-parallax`](https://github.com/oblador/react-native-parallax) can serve as a good starting point.

For a preview of the effect we're after, see:
- [News App, by Krijn Rijshouwer for Framer](https://dribbble.com/shots/3370126

[2017-06-07 16:00] typhoon2099 opened #79 "Can't scroll any more than one item at a time"
I'm working on a app and using react-native-snap-carousel to slide cards related to map markers. When the carousel snaps then the map is moved to the related marker. Currently this is working but I can't get the slider to move any more than a single card at a time. I have another carousel of images which does this but doesn't use the onSnapToItem property, and this snaps correctly to the item that

[2017-06-07 16:20] joseygordev commented on #34
@bd-arc  thank you very much  for you attention, component very nice.

[2017-06-07 16:51] bd-arc commented on #79
Hi @typhoon2099, I'm guessing you're having the issue on Android, am I right?

First, please read [this recent addition to the doc](https://github.com/archriss/react-native-snap-carousel#scrollviews-limitations) as well as #27 and #71.

Then, have you tried version 2.2.1 in conjunction with props `scrollEndDragThrottleValue` and `snapCallbackDebounceValue`? This might help a bit. Also, have you tr

[2017-06-07 17:22] bd-arc commented on #65
For the record, here is the current way to handle device rotation: https://github.com/archriss/react-native-snap-carousel#handling-device-rotation

[2017-06-07 18:58] kylanhurt commented on #62
Make sure that you use the `<Animated._____>` part of that tag. I've gotten similar issues for trying to animate a `<View>` instead of `<Animated.View>`

[2017-06-09 08:23] typhoon2099 commented on #79
Hi, it's your carousel, it allows scrolling through multiple items at once. I haven't tried changing `scrollEndDragThrottle` and `snapCallbackDebounceValue` yet but I have set `enableMomentum` to true. I've fiddled with most of the values but end up with largely the same result.

[2017-06-09 09:07] bd-arc commented on #79
@typhoon2099 I need to see your code to investigate further, especially the differences between the two carousels you've implemented.

Could you please share the relevant code and styles?

[2017-06-09 09:21] typhoon2099 commented on #79
I'll see what I can get to you, it's part fo a project for a client so I'll need to see what I'm permitted to share first.

[2017-06-09 09:24] bd-arc commented on #79
@typhoon2099 Ok, but do not bother too much. A simple test case that helps me reproduce the bug would be enough ;-)

[2017-06-12 10:55] MathieuSemain commented on #12
@bd-arc this repo has implemented Infinite loop with the same scale animation / multiple slider displayed : https://github.com/juangl/react-native-infinite-carousel.
No doc or proper example, however the code can maybe help you !
This is the only feature that prevent me from using your lib :(

[2017-06-12 18:56] bd-arc commented on #12
Hi @MathieuSemain,
Thanks for the info; `react-native-infinite-carousel` seems interesting. I'm going to dissect its source code in order to see how it could help improving our own plugin.

Regarding your test, would you mind sharing a bit more code so I can have a better understanding of what you did?

[2017-06-12 21:56] tiaaaa123 commented on #64
Which is? I have the same problem :/

[2017-06-13 09:16] MathieuSemain commented on #12
Hi,
Here is my code :
[code]

And the snapToItem method :
[code]

[2017-06-13 09:47] FrancisShi opened #80 "onSnapToItem not fired"
My device is Android Galaxy note 4

[2017-06-13 14:45] bd-arc commented on #80
Hi @FrancisShi,

We can't help you without seeing your code and knowing which version of the plugin you're using...

[2017-06-14 10:34] renhongguang commented on #79
i fix it like this:
 _onScroll (event) {
       ...
            // Animated.parallel([
            //     Animated[animationFunc](
            //         this.state.interpolators[activeItem],
            //         { ...animationOptions, toValue: 0 }
            //     ),
            //     Animated[animationFunc](
            //         this.state.interpolators[newActiveItem],
            //

[2017-06-14 11:06] bd-arc commented on #79
Thanks @renhongguang! I guess this is linked to #81 then.

I'll run a few tests and publish a fix soon.

[2017-06-15 15:25] typhoon2099 commented on #79
Hi,
enableMomentum seems to have fixed the issue. I'm sure I had it set on before and still had issues, or perhaps I changed too many options at the same time. Apologies for the wild goose chase.

[2017-06-15 16:08] bd-arc commented on #79
@typhoon2099 Thanks for letting me know, but I've still uncovered a bunch of edge cases (including this very issue) that I'm currently working on eradicating ;-)

[2017-06-15 21:36] bd-arc commented on #71
@gmverdon I've just thought about this: have you tried passing `useNativeDrive: true` to the carousel with prop `animationOptions`? Something along those lines:
[code]

It shall give you a huge boost in scrolling performance...

[2017-06-15 22:00] typhoon2099 commented on #79
@bd-arc Glad I've managed to help out (even if it is only tangentially)!

[2017-06-16 09:19] bd-arc commented on #80
@FrancisShi I've made a lot of refactoring regarding callback handling recently.

I recommend you to try version 2.3.0 and see if this solves your issue.

[2017-06-16 09:19] #80 closed

[2017-06-16 09:22] bd-arc commented on #79
@typhoon2099 Version 2.3.0 should solve your original issue.

You can try disabling momentum and playing with prop `scrollEndDragDebounceValue`. I recommend a higher value for Android (default is `50` for iOS and `150` for Android).

[2017-06-16 09:22] #79 closed

[2017-06-16 09:23] bd-arc commented on #66
@JohnProg Version 2.3.0 should solve the issue.

[2017-06-16 09:23] #66 closed

[2017-06-16 09:24] bd-arc commented on #62
Hi guys! Version 2.3.0 should solve this issue.

Let me know if you still have problem with this.

[2017-06-16 09:24] #62 closed

[2017-06-16 09:30] bd-arc commented on #34
@joseygordev Note that version 2.3.0 handles no-momentum callbacks way better ;-)

[2017-06-16 09:52] bd-arc commented on #12
Hi @MathieuSemain,

Thanks for sharing your code. I have to say that I see at least three issues with this approach:
1. `snapToItem` is not necessarily fired when slide animation is finished (see #34 for more info). This would result in jumps and flickers, and not a great user experience overall.
2. The peaking previous and next items would just "disappear" when the slider is re-positioned.
3. Mom

[2017-06-16 11:47] chaosLegacy opened #83 "this.props.navigate inside carousel is not working"
Hello,
I want to add navigation to my carousel but its not working I keep getting this error cannot read property navigation of undefined
I used the example provided in this repo, and I added my StackNavigator like this inside index.js

[code]
This is my Feed screen that i want to navigate to it when the user choose an item inside the carousel
[code]

and then inside SliderEntry.js I've just add a

[2017-06-16 12:15] chaosLegacy commented on #83
Never mind I finally figure it out I should pass navigation as a prop inside the SliderEntry like this
[code]
So silly -_- thanks anyway 👍

[2017-06-16 12:15] #83 closed

[2017-06-17 04:53] Minaghorbaani opened #84 "Application crashes on change item"
on android device , application crashes when i want to change slider item

[2017-06-17 08:34] bd-arc commented on #84
Hi @Minaghorbaani,

Does it happen when you build your app from the example?

[2017-06-18 04:11] Minaghorbaani commented on #84
@bd-arc thanks for your great hint :)
it has crashed because i've set number to sliderWidth

[2017-06-18 04:11] #84 closed

[2017-06-19 09:44] Clcll opened #85 "Handle on swipe"
Hello
How to handle Swipe(onChange) event.
For example do some action on swipe Left/Right
I saw these methods
snapToNext (animated = true)
snapToPrev (animated = true)

Thx

[2017-06-19 10:13] typhoon2099 opened #86 "Removing items from the carousel"
Hi,
I'm trying to implement a filter for items but the app crashes when the currentIndex is higher than the totla number of items (from removing items from the carousel). I get `Undefined is not an object (evaluating 'singleClick.stopTracking')`. Is there a way to reset the currentIndex to 0 to prevent this error? I've tried snapToItem (using animated = false) but this is still causing the error.

[2017-06-19 13:45] efournival opened #87 "undefined is not an object (evaluating '_reactNative.ViewPropTypes.style')"
Got this error when I added
[code]
React Native 0.42.0 and React 15.4.1

I'm a beginner with RN, can anybody help me?

Thanks.

[2017-06-19 17:37] stuharvey commented on #87
Just encountered the same issue and managed to work around it by upgrading to React Native v0.44.x. I think you'll need to update your React version as well. Check out the [React Native upgrade guide](https://facebook.github.io/react-native/docs/upgrading.html) for help with your specific setup.

See also this related issue: facebook/react-native#14032

[2017-06-19 21:08] Spookykiller commented on #71
This indeed, combined with the new release, gives me a performance boost. However, the snapping is still more responsive when swiping from right to left, in comparison from left to right. The initial slide is the first slide.

[2017-06-19 21:45] buskerone commented on #87
thanks @stuharvey ! upgrading to RN 0.44.3 fixed the problem.

[2017-06-20 07:47] efournival commented on #87
Thanks @stuharvey, that's what I was thinking.
However upgrading break some of my other plugins. I will try to sort it out.

[2017-06-20 07:47] #87 closed

[2017-06-20 10:45] efournival commented on #87
I can confirm that upgrading to React Native 0.45.1 and React 16 solved the issue.

[2017-06-20 20:40] buskerone opened #88 "not working on Android devices"
The library isn't working on Android devices. (iOS ok) I don't see the images and if I try to swipe on the container I get this error:
<img width="621" alt="captura de pantalla 2017-06-20 a la s 16 19 46" src="https://user-images.githubusercontent.com/2034112/27354549-f3abdfc6-55d5-11e7-9fce-a941c77b3e20.png">
<img width="623" alt="captura de pantalla 2017-06-20 a la s 16 29 04 copia" src="https:/

[2017-06-21 04:25] buskerone commented on #88
Just found the issue.
This was my code for a specific slide:
`<View
    style={styles.slideInnerContainer}

    <View style={styles.imageContainer}>
      <Image
        source={require('../images/sliders/kit/slide2.jpg')}
        style={styles.image}
      />
    </View>
 </View>
...
slideInnerContainer: {
  width: 'undefined',
  height: 'undefined
},
`
So if I define the the height for **slideIn

[2017-06-21 04:25] #88 closed

[2017-06-21 19:31] bd-arc commented on #86
Hi @typhoon2099,
Can you tell me which version of the plugin you're currently using? Also, can you share the relevant source code?

[2017-06-21 19:36] bd-arc commented on #71
Hi @Spookykiller,
I really have trouble wrapping my head around this one. I'm pretty sure this has to do with `ScrollView`'s implementation.

We will soon start working on implementing `FlatList` instead (see #73). Let's hope this is going to help!

[2017-06-21 19:42] bd-arc commented on #85
Hi @Clcll,

I'm not sure about what you want to achieve, but I think `onSnapToItem` is the prop you're looking for.

The index of the new slide is passed as an argument to this callback. This means that you can, for example, compare the new index to the previous one in order to determine if you've swiped right or left.

Hope this helps!

[2017-06-21 19:42] #85 closed

[2017-06-22 10:44] typhoon2099 commented on #86
Hi, I'm using 2.3.0. Here's my code which creates the carousel:

    componentDidUpdate() {
    this._carousel.snapToItem(this.getPlacePosition(this.props.activePlaceId));
    }

    onSnap(index) {
    this.props.setActivePlace(this.props.places[index]);
    }

    getPlacePosition(currentPlaceId) {
    return this.props.places.findIndex((place) => {
      return place.id === currentPlaceId;

[2017-06-28 09:19] pfulop opened #89 "Active slide above others"
Hi is it possible to achieve main slide to be above other ones? Something like this?

![sliders](https://user-images.githubusercontent.com/3984319/27629708-7d6b15ce-5bf3-11e7-8f23-94d76403a401.jpeg)

I tried playing with padding but couldn't get non active slides to be behind main one.

[2017-06-28 10:37] bd-arc commented on #89
Hi @pfulop! We've thought about that, but unfortunately it's not possible since the plugin is built on top of the `ScrollView` component.

This could be achieved with a custom `PanResponder` and a lot of head-scratching, but we want to rely on `ScrollView` and `FlatList`'s optimizations. Therefore, we won't be able to provide this kind of layout.

[This nice but no longer maintained plugin](https:

[2017-06-28 10:37] #89 closed

[2017-06-28 10:39] pfulop commented on #89
@bd-arc Thank you anyway, btw great job with this carousel :+1: .

[2017-06-29 18:58] codejet opened #90 "Swiping one item at a time (question)"
Hey, is there a way to enforce that the carousel only moves one item at a time, no matter how strong/fast the swipe is, without using a method/callback property? It already works relatively well (using the code of example 1, even better when activating momentum it seems), but it's also not too hard to swipe multiple items at a time.

[2017-06-29 20:18] bd-arc commented on #90
Hi @codejet,

If you didn't read it already, you might find [this](https://github.com/archriss/react-native-snap-carousel#momentum) useful.

I suggest you play with the prop `scrollEndDragDebounceValue`and set it to smaller values or even `0` (note that this prop only works when momentum is disabled). I also recommend that you take a look at [`ScrollView`'s `decelerationRate`](https://facebook.git

[2017-06-29 20:18] #90 closed

[2017-06-30 02:46] jonajgs opened #91 "onScrollEnd is not a function"
when I scroll in the carousel, I got this error, when the scroll is finish, but I am still scrolling.

[2017-06-30 07:39] bd-arc commented on #91
Hi @jonajgs,
Could you please share your code so I can try to reproduce the bug?

[2017-06-30 13:59] AndrePech commented on #91
I got the same problem.
Always happen when snapOnAndroid={false}

[2017-06-30 14:20] bd-arc commented on #91
@AndrePech Good catch: I've overlooked one condition when snap was disabled.

I've just released version 2.3.1 that should resolve the issue. Can you confirm?

[2017-06-30 14:23] AndrePech commented on #91
@bd-arc  that was fast =D

It works fine now, thanks.

[2017-06-30 14:30] bd-arc commented on #91
@AndrePech That wasn't much trouble ;-)

[2017-06-30 14:30] #91 closed

[2017-06-30 18:37] AndrePech opened #92 "Active slide delay Android"
I have noticed that the selected slide takes a while to show as active.

For example, on Android, when executing snapToItem(index) the carousel scrolls nicely to the desired slide, but it takes around 3 seconds for it to show as active.

I am using the example code.
No problem on iOS thought.

[2017-07-02 22:26] bd-arc commented on #92
Hi @AndrePech,

I haven't been able to reproduce the issue so far. Have you tested on different Android devices?

Can you try adding the following to your `<Carousel />` and see if it helps?
[code]

[2017-07-03 03:18] rafaelcorreiapoli commented on #35
Hi! When I append a new slide, I lose the focus on the current slide and the first slide is focused.. that is not the expected behaviour since i'm implementing infinite pagination with snap-carousel
Do you know how can I fix this? my code is exactly the same as @lsps9150414 's code

[2017-07-03 13:14] AndrePech commented on #92
Thanks @bd-arc

The effect got better but it still taking around 2s to activate the "slide"
I might be doing something wrong o my side:

(the code below is the way it worked better, on iOS it is very smooth)

`<Carousel
              ref={(carousel) => { this._carousel = carousel; }}
              itemWidth={itemWidth}
              sliderHeight={300}
              enableMomentum={false}

[2017-07-03 15:55] bd-arc commented on #35
Hi @rafaelcorreiapoli,

I guess it has to do with [this line](https://github.com/archriss/react-native-snap-carousel/blob/master/index.js#L255). Still, it's pretty strange since this would mean that `activeItem` is undefined...

If you set `firstItem` to, let's say `2`, is the third item always the one focused when you append a new slide?

[2017-07-04 10:39] fendorio opened #93 "react-addons-shallow-compare missing after upgrading to 2.3.1"
Just upgraded to the latest version of the repo, after clearing node modules and running **npm install** I get this error when the react native package manager is bundling my app:

[code]

[code]

I'm running on a Mac, node version 7.7.1 & npm version 5.0.4

Any ideas?

[2017-07-04 16:12] fendorio commented on #93
I've spent the afternoon on this, tried many attempts at fixing it.

I had to add react-addons-shallow-compare to my package.json to get this to work, however doing this then lead to the same UnableToResolve error being thrown for 'lodash.debounce' package.

I'm about to downgrade to the previous version 2.3.0 and run a fresh npm install, after removing react-addons-shallow-compare from my project

[2017-07-04 16:32] fendorio commented on #93
I can confirm that downgrading back to 2.3.0, clearing node modules, then running npm install results in both lodash.debounce and react-addons-shallow-compare being installed as expected.

Please let me know if you need any help with this, happy to lend a hand where I can.

[2017-07-04 18:20] bd-arc commented on #93
Hi @fendorio,

Thank you for your investigation! I'm surprised because I've been using version 2.3.1 on miscellaneous projects without any issue. Moreover, there wasn't any update linked to dependencies in 2.3.1...

Would you mind clearing your `nodes_modules` folder and try to install your dependencies with [Yarn](https://yarnpkg.com/lang/en/) instead of `npm`?

[2017-07-04 18:26] fendorio commented on #93
Hey @bd-arc  thanks for the swift response.

Absolutely no worries, your carousel is going to form a major element in an app my team have been commissioned to develop, with that i'm happy to contribute where and when I can.

I will try and reproduce this tomorrow, I did have a day of scratching my head unexpectedly today though so it may not be until Thursday that I get the time to properly go thr

[2017-07-04 20:39] bd-arc commented on #78
Implementation ideas :
- [Airbnb gif, biubiubiu freestyle, by JEE_lion](https://dribbble.com/shots/3623368-Airbnb-gif-biubiubiu-freestyle)

[2017-07-05 06:29] EdmundMai commented on #73
hi do you have any clue when this will be finished? really looking forward to the flatlist version!

[2017-07-05 07:19] bd-arc commented on #73
Hi @EdmundMai, I should be able to work on it this week or the the week after. Stay tuned!

[2017-07-05 07:20] EdmundMai commented on #73
@bd-arc awesome, thanks so much for this library!!

[2017-07-05 09:37] bd-arc commented on #92
@AndrePech Were you, by any chance, testing in debug mode? Because carousel's performances are crappy on Android when JS Dev Mode is activated.

Regarding the number of slides, I've used it with 15 really graphic slides on an old Android device without any issue. Still, you might be interested to know that I will probably release next week a `FlatList` implementation that should solve performance

[2017-07-05 13:23] AndrePech commented on #92
@bd-arc  Holy s***t I am really sorry, I is working wonder now.

Yes, I was JS DEV mode indeed, I was pretty sure it was off that did even check it. MY BAD.
hahaha, I will stick with this library.

Thank you very much and sorry again.

[2017-07-05 13:23] #92 closed

[2017-07-05 16:33] ozexpert opened #94 "pager (indicator) support?"
nice to have a pager (indicator / progress bar). btw, good job on this! I love it.

[2017-07-05 17:06] rafaelcorreiapoli commented on #35
Yes!
I tried to use `firstItem` to make the slider a "controlled" component (by keeping track of currentIndex and always forcing firstItem to be the currentIndex) but it does not work :(

[2017-07-06 07:56] bd-arc commented on #94
Hi @ozexpert,
Since, it's pretty easy to implement, I'll make sure to add one soon ;-)

[2017-07-06 14:51] #86 closed

[2017-07-06 15:46] bd-arc commented on #86
Hi @typhoon2099,

Did you find a way to solve the issue? I'm sorry, I have been overbooked for the past weeks and didn't have time to take a look at it...

[2017-07-06 16:05] typhoon2099 commented on #86
Yes, I'm not sure what fixed it exactly but I added a pile of extra validation to my app and I can't replicate the issue any more.

[2017-07-06 16:23] bd-arc commented on #86
Ok, good to know ;-)

[2017-07-07 15:26] typhoon2099 opened #95 "Horizontal Carousel can be dragged vertically [iOS]"
I've set up a Carousel but for some reason on iOS the Carousel can be dragged vertically, which looks weird. Here's the code for my Carousel
[code]

The Carousel is fine on Android, it's just iOS where I get this scrolling issue cropping up.

[2017-07-07 15:51] typhoon2099 commented on #95
Never mind, the Carousel was in a ScrollView for some reason...

[2017-07-07 15:51] #95 closed

[2017-07-11 07:38] tslater commented on #73
Is https://github.com/facebook/react-native/issues/14037 still an issue? It looks like it was closed for lack of data?  Does a throttle fix it sufficiently?

[2017-07-11 19:48] d7laungani opened #96 "This.updater.enqueCallback issue"
The exact issue is this.updater.enqueCallback is not a function. (in 'this.updater.enqueCallback(this,callback,'setState'), this.updater.enqueCallback is undefined.

the exact line is 393 in the carousel/index.js file and the code is below
[code]

[2017-07-16 21:26] kasparvihm opened #98 "Snap speed/duration"
Hi

Is there a way to change the snap speed and/or duration.

I would like to make the slide change bit faster

Thanks

[2017-07-17 12:20] bd-arc commented on #96
Hi @d7laungani,

Unfortunately, I haven't been able to reproduce the issue. Could you please provide a bit more context as well as precise reproduction steps ?

[2017-07-17 12:30] bd-arc commented on #35
Hi @rafaelcorreiapoli,

Sorry for the delay; I've overlooked this issue since it was closed. Would you mind opening a new one with some code that can help me reproduce the matter?

I should be able to take a look at it later this week...

[2017-07-17 16:21] k2glyph commented on #73
I am also having perfomance issues with this library. Please use flatlist.

[2017-07-17 19:50] GROL commented on #12
Hi guys,
My short trick :
- add to slides list additional first item from end and last item from start.

[code]
- manually scroll to "native item" when current item is first or last

[code]
Enjoy :)

[2017-07-19 05:33] nitish1099 opened #99 "FirstItem doesn't work properly"
Basically I have a listView at first and on click of any particular list item I open the specific index in the carousel by passing the index as props to the FirstItem. Although when i'm tapping quickly to other list item the carousel firstItem doesn't update.
[code]

[2017-07-20 08:22] emileNetter commented on #61
Hi I still have the same problem but only when I try to add horizontal margin between slides. Sliding through the elements shifts their position to the right each time.
I'm on Android and using the latest version of your plugin (2.3.1).
I tried to follow  your example :

[code]

[2017-07-20 08:59] bd-arc commented on #99
Hi @nitish1099,

I can confirm that updating `firstItem` will not update the active slide, and I'm going to work on a fix. Still, I wouldn't recommend using it in this case. Have you tried using the [`snapToItem` method](https://github.com/archriss/react-native-snap-carousel/#available-methods)?

[2017-07-20 17:05] nitish1099 commented on #99
I tried but didn't work for me. Which life cycle method would you recommend to put the snapToItem code in also, could you illustrate with an example?

[2017-07-20 18:39] Jaafar-abusair opened #100 "Have you guys considered using recycling pattern"
Hi guys,

I'm sorry but it has a poor performance, have you considered using recycling pattern?

any idea to enhance it for now?

Thanks

[2017-07-21 08:17] bd-arc commented on #100
Hi @Jaafar-abusair,

Yes, `ScrollView`'s performance (on which the carousel is built) is sub-par when displaying many items. That why we're currently working on implementing `FlatList` (see #73).

Stay tuned!

[2017-07-21 08:17] #100 closed

[2017-07-21 10:28] jkvim commented on #71
Hi @bd-arc , what is the`Easing` module in your example

[code]

[2017-07-21 11:09] bd-arc commented on #94
A `<Pagination />` component has been added in version 2.4.0.

Make sure to read the [specific doc](https://github.com/archriss/react-native-snap-carousel/blob/master/src/pagination/README.md) ;-)

[2017-07-21 11:09] #94 closed

[2017-07-21 11:10] bd-arc commented on #93
Hi @fendorio,

Any further feedback regarding your issue?

[2017-07-21 11:19] bd-arc commented on #99
Hi @nitish1099,

First, note that version 2.4.0 contains a fix for the dynamic update of `firstItem`.

Then, regarding your need, it should be pretty straightforward. This is how we usually do it:
[code]

[2017-07-21 11:19] #99 closed

[2017-07-21 11:20] bd-arc commented on #96
Closing as no further feedback was provided.

Feel free to continue the discussion if needed.

[2017-07-21 11:20] #96 closed

[2017-07-21 11:23] bd-arc commented on #63
Closing as no further feedback was provided.

Please note that version 2.4.0 fixes an issue that prevented `firstItem` to be updated dynamically. This might help.

[2017-07-21 11:23] #63 closed

[2017-07-21 11:25] bd-arc commented on #71
Hi @jkvim,

It comes straight from [React Native's doc](https://facebook.github.io/react-native/docs/easing.html) ;-)

[2017-07-21 11:26] jkvim commented on #71
@bd-arc thanks.

[2017-07-21 15:28] ozexpert commented on #94
You are the man!!!

[2017-07-21 18:05] nitish1099 commented on #99
@bd-arc I'm navigating between different scenes so maybe I would have to do it in a lifecycle method and 2.4.0 didn't fix it for me.

[2017-07-23 18:26] bd-arc commented on #99
@nitish1099 Unfortunately, I can't go further without a sample project that can help me reproduce the issue. If you have time to create one, I'll gladly take a look at it.

[2017-07-24 08:32] bd-arc commented on #61
Hi @emileNetter,

Does it work if you try the example itself? Is it possible that your carousel is wrapped in a container with margin or padding?

[2017-07-24 08:38] bd-arc commented on #93
Closing as no further feedback was provided.

Feel free to reopen if needed.

[2017-07-24 08:38] #93 closed

[2017-07-24 08:40] emileNetter commented on #61
Hi, I finally got it working. I guess I simply did `react-native run-android` and it worked as expected. Thank you for your time and great work by the way !

[2017-07-24 15:10] bd-arc commented on #73
Ok guys, I've got some good news: `FlatList`'s implementation is just a matter of hours now.

Currently checking if something obvious has been broken and implementing a few things, and then it's yours to try ;-)

[2017-07-24 21:37] bd-arc commented on #73
And here we are! I've just pushed [a `flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist) with all the relevant commits.

I've tested it thoroughly in real projects and it seemed pretty good to me (even though `FlatList` is still full of bugs). I've also added a new prop `activeSlideAlignment` (see #3), since it was pretty easy to implement with `FlatList`.

Now

[2017-07-25 07:50] bd-arc commented on #3
A new prop `activeSlideAlignment` has been added along with `FlatList`'s implementation. It accepts the following values: `'center'` (default), `'start'` and `'end'`.

This can be tried out in [the `flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist).

[2017-07-25 09:56] bd-arc commented on #26
Hi guys,

Great news: the `FlatList` implementation is finally here for you to try!

Take a look at [the `flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist) that features a `Carousel` more performant than ever, an updated README and an updated example.

I'm closing this issue since it's better if the follow-up discussion takes place in #73. Make sure to let me

[2017-07-25 09:56] #26 closed

[2017-07-25 16:43] itswaze commented on #80
+1

And i'm using 2.4.0

[2017-07-26 07:01] mazing opened #101 "this._carousel.currentIndex is undefined"
How can I store a state with the index of the currently active slide?

I have tried `this._carousel.currentIndex`, but I get the error `undefined is not an object (evaluating 'this._carousel.currentIndex')`.

I am setting the ref with

    <Carousel
      ref={carousel => { this._carousel = carousel; }}

[2017-07-26 07:05] mazing commented on #73
It works very well with FlatList! Thanks!

However, if data array is empty, it throws the error `scrollToIndex out of range: 0 vs -1` where `0` is the index of the current slide.

Looking forward to the release!

[2017-07-26 07:48] bd-arc commented on #101
Hi @mazing,

Does this happen with version 2.4.0 or with the `FlatList` version?

[2017-07-26 07:54] bd-arc commented on #73
Thanks for noting this issue @mazing!

I never initialize my carousels while data hasn't been fetched, which is why I tend to overlook this kind of error. I'll shortly push a fix.

[2017-07-26 08:45] bd-arc commented on #101
I've just tried the following and didn't face any issue:
[code]

Are you positive that the `<Carousel />` is mounted when you call `this._carousel.currentIndex` the first time?

[2017-07-26 09:11] itswaze commented on #101
Using the alert on onSnapToItem shouldn't be firing the the alert everytime I swipe?

[2017-07-26 09:41] mazing opened #102 "Multiple active items in each screen"
Would it be possible to have multiple items at one slide just like Apple Music:

<img width="450" alt="screen shot 2017-07-26 at 11 38 35" src="https://user-images.githubusercontent.com/4533204/28614753-294e0e00-71f7-11e7-9fa0-d69b60274e0b.png">

Would the right approach be to change data such that all elements are grouped with two elements in each group and then print the two elements side-by-sid

[2017-07-26 09:49] itswaze commented on #101
Im getting `undefined is not an objetct (evaluating 'this._carousel')` when running a function with `onSnapToItem`.

[code]

Function:
[code]

[2017-07-26 13:58] bd-arc commented on #102
Regarding your first question, having multiple acting items at once is possible but would require some heavy refactoring. I don't have time to work on it at the moment, but I'll keep that in mind for future releases.

And yes, as a workaround you can group two elements in one slide to emulate the behavior, if:
- the special index handling is not a no-go for you
- you're ok with snapping two slides

[2017-07-26 14:16] bd-arc commented on #101
@itswaze Did you make sure to bind `this` in your constructor? Something along those lines:
[code]

[2017-07-26 17:30] mazing commented on #102
Awesome! Thanks! Great library :-D

However, it seems if I have uneven number of items, I can swipe to a non-existing item such that, if I scroll as much as I can to the right, the last item is in the left of the screen and a non-existing item takes up the right part of the screen.

[2017-07-27 07:53] bd-arc commented on #102
If you're talking about your first idea (2 slides in one), that's to be expected since your `itemWidth` value is twice the real item's width.

Don't forget that you're "hacking" the plugin ;-)

[2017-07-28 13:34] itswaze commented on #101
Still didn't work...

[2017-07-28 13:39] bd-arc commented on #101
@itswaze I tried that myself and didn't have any issue. Could you please share the entire source code for your component?

[2017-07-28 14:03] itswaze commented on #101
Sure :)

Here is the relevant code: https://paste.ofcode.org/saNEHcfuwE2DKyQg49YaWy

What I want, is that when I press the X to go back, that the active slider that will show, was the last image I saw on the gallery.
Maybe I'm doing something wrong?

[2017-07-28 15:41] stueynet opened #103 "Creating an infinite slider?"
Has anyone tinkered with making an infinite slider where when you reach the last slide it shows the first slide to the right?

[2017-07-28 15:51] bd-arc commented on #103
Hi @stueynet,

There is a lot of discussion about that in #12, but as you can see in [this comment](https://github.com/archriss/react-native-snap-carousel/issues/12#issuecomment-308984390), it is not an easy feature to implement.

Your thoughts are welcome ;-)

[2017-07-28 15:51] #103 closed

[2017-07-28 16:19] bd-arc commented on #101
@itswaze I totally get what you're trying to achieve, and I don't see anything wrong with your code...

Maybe the first call to `updateIndex` is triggered too soon because of `firstItem`? What if you guard against it this way:

[2017-07-28 16:55] itswaze commented on #101
Still nothing :( I'll keep trying to find out why is not working... Since it works for you it's not a problem of this library, so you can close the issue :)

Thank you!

[2017-07-28 17:18] bd-arc commented on #101
I haven't ruled out the possibility that it might come from the plugin, so I'll keep the issue opened for now ;-)

Can you try to import the relevant code step by step in the provided example? It might help figuring out what's going on.

[2017-07-30 06:00] jarvisluong commented on #73
Hi!

How can I install this flatlist version by using npm? I would like to be a little white mouse to experiment this feature :-)

[2017-07-30 10:45] scerelli commented on #73
yes just use the GitHub link instead of version and point to the flatlist branch using #

[2017-07-30 15:14] wangdicoder opened #104 "How to disable the gesture?"
Hi,

I want to use this component to achieve a function like a wizard, which means I don't want to use the figure to drag into next screen. I just want to use `snapToNext` to switch. I don't find an attribute can set it, so how can I implement this effect?

Cheers

[2017-07-30 17:37] bd-arc commented on #73
Hi @jarvisluong,

@scerelli said it all :-) To get the current latest commit of the `flatlist` branch, and unless I'm mistaken, you would use the following:
[code]

Don't forget to check [the updated documentation](https://github.com/archriss/react-native-snap-carousel/blob/flatlist/README.md) as well as [the migration guide](https://github.com/archriss/react-native-snap-carousel/blob/flatlist/REA

[2017-07-31 15:41] bd-arc commented on #104
Hi @wangdicoder,

Currently, there is no way to disable gesture events. It's not a common use case, but I will look into adding a specific prop for that as soon as possible ;-)

[2017-08-01 10:40] wangdicoder commented on #104
Yes, if you could implement this function, that will be great. I'm looking forward the good news. 👍👍👍 Thanks

[2017-08-01 15:36] bd-arc commented on #73
Hi guys,

Here comes a pretty neat feature I've been working on during the past few days because I needed it for a project: **parallax images, native driver-powered** 🍾

![react-native-snap-carousel parallax image](http://i.imgur.com/6iIb4SR.gif)

As usual, [documentation](https://github.com/archriss/react-native-snap-carousel/blob/flatlist/src/parallaximage/README.md) and [example](https://github

[2017-08-01 15:40] bd-arc commented on #78
And here it is!

![react-native-snap-carousel parallax image](http://i.imgur.com/6iIb4SR.gif)

This can be tested in the [`flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist).
[Documentation](https://github.com/archriss/react-native-snap-carousel/blob/flatlist/src/parallaximage/README.md) and [example](https://github.com/archriss/react-native-snap-carousel/tree/

[2017-08-02 04:13] piuccio opened #105 "onSnapToItem receives incorrect parameter"
I'm using this code

[code]

There's a button that should snap to the last item. It works fine when you are displaying any of the carousel pages, however it fails if you're on the first item and swipe left.

Steps:

1. When the page load you're seeing the first item
1. Swipe left, nothing will change because it's the first item
1. Click on the button
1. `onSnapToItem` gets called with `index = 1`

[2017-08-02 04:18] piuccio commented on #105
Forgot to mention that I'm using the version `2.4.0` on react native `0.45.1`

[2017-08-02 07:38] bd-arc commented on #105
Hi @piuccio,

Thanks for letting me know. I'll investigate.

Note that callback handling is a real mess since `ScrollView` doesn't provide any callback when scroll ends; so I'm not surprised that some fine-tuning still needs to be done.

However, would you mind testing with the [`flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist)? It contains a lot of updates a

[2017-08-02 10:04] jarvisluong commented on #73
So far the FlatList version is working marvelously 👍 . The performance really bumped up!

[2017-08-02 13:27] bd-arc commented on #104
Hi @wangdicoder,

In the end, there is no need for specific code: `ScrollView` already has the required prop [`scrollEnabled`](https://facebook.github.io/react-native/docs/scrollview.html#scrollenabled). Since `Carousel` inherits `ScrollView`'s props, you can use it right away ;-)

[2017-08-02 13:27] #104 closed

[2017-08-02 13:39] bd-arc commented on #73
Thanks for the feedback @jarvisluong! I've squashed a few bugs today but yes, the new implementation seems to work as expected.

I'm now going to work on implementing a proper loop mode. If no major issue has been reported since then, it will probably be a good time to release version 3.0.0 ;-)

[2017-08-02 14:32] mazing commented on #73
I had some troubles updating to react-native v0.47.0.

First, I received errors about `react-native-snap-carousel`, so I uninstalled `react-native-snap-carousel` and installed `react-native@0.47.0` and re-installed `react-native-snap-carousel`. But now the items are not shown in the carousel, but I don't receive any errors.

[2017-08-02 16:27] bd-arc commented on #105
Hey @piuccio,

I've fixed the issue (see [this commit](https://github.com/archriss/react-native-snap-carousel/commit/9af3ac4d61e42f1668bc3c09acc790a1f8ac74d6)).

Thank you for discovering this very specific matter! Note that the fix is only available in the `flatlist` branch for now.

[2017-08-02 16:27] #105 closed

[2017-08-02 19:28] bd-arc commented on #73
Hey @mazing,

I've just updated the example to RN v0.47.1 (see the [latest commit](https://github.com/archriss/react-native-snap-carousel/commit/fbdb67109cccaeea3c64279ea63ff478ca2863fd)) and didn't have any issue. Would you mind trying it and let me know if you still have troubles?

[2017-08-02 23:25] ali-sao commented on #101
I am facing the same issue , I tried all your suggestions with no luck

[2017-08-03 08:00] bd-arc commented on #101
Hi @ali-sao,

If you can provide me with a simple example that reproduces the issue, I will gladly take a look at it. Since I can't reproduce it on my own, it might have something to do with how the data is handled, which is why I need a test case ;-)

Is the provided [example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) working for you? Also, have you tried the [`f

[2017-08-03 10:29] ali-sao commented on #101
Hey @bd-arc  and thanks for replying back ,

While I was trying to copy-paste the code to you , and for some weird reason , the error disappeared. and the pagination is working perfectly now , thank you.

[2017-08-03 10:35] bd-arc commented on #101
@ali-sao Good to know you've solved it, even though you and I would both appreciate to know how :-)

[2017-08-03 10:37] ali-sao commented on #101
Indeed , I will dig deep today to know why and how so this thread will be guide full for anyone with the same problem .

Thanks again

[2017-08-03 15:30] bd-arc commented on #40
Closing for now since we've favored `FlatList`'s implementation.
This feature will maybe be added as an extra component later.

[2017-08-03 15:30] #101 closed

[2017-08-03 15:40] stueynet opened #106 "Horizontal with items starting on the left"
I have been going crazy trying to adjust the slider so that the items start on the left side of the container. No mater what I try the items start centred. Here is a screenshot:

http://d.pr/i/F5lWoV

Here are the styles:

[code]

I have tried aligning the items with `containerCustomStyle` and `contentContainerCustomStyle` but also no luck there.

Would really appreciate any guidance on this.

[2017-08-03 16:56] bd-arc commented on #106
Hi @stueynet,

I think you'll be very pleased to know that the [`flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist) contains just what you need (check prop [`activeSlideAlignment`](https://github.com/archriss/react-native-snap-carousel/tree/flatlist#style-and-animation)).

Note that the [updated example](https://github.com/archriss/react-native-snap-carousel/tr

[2017-08-03 16:56] #106 closed

[2017-08-04 01:36] stueynet commented on #106
Thanks so much! When were you thinking of merging?

[2017-08-04 07:58] bd-arc commented on #106
My idea is to implement a proper loop mode before merging the branch, but if it takes me too long to figure out how I might decide on merging pretty soon.

Anyway, you can start using it already by referencing branch's latest commit:
[code]

Don't forget to check [the updated documentation](https://github.com/archriss/react-native-snap-carousel/blob/flatlist/README.md) as well as [the migration gu

[2017-08-04 08:14] mazing commented on #73
I'm sorry - my bad! When I reinstalled, I forgot to install the flatlist branch, so the items were simply not shown, since I only had a `renderItem` property, which wasn't used in the old version.

[2017-08-04 08:16] mazing commented on #73
I seem to have problems using

    this.props.navigation.setParams({
      key: 'value'
    });

in `react-navigation` at screen with `<Carousel ... />`.

I receive the error

![screen shot 2017-08-04 at 10 16 10](https://user-images.githubusercontent.com/4533204/28960204-f8689a40-78fd-11e7-96db-7dff505dc183.png)

[2017-08-04 08:20] bd-arc commented on #73
@mazing Do you mind copying/pasting your latest comment into a dedicated issue? I think it might have to do with your setup and not with the `FlatList` implementation ;-)

[2017-08-04 12:00] stueynet commented on #106
Ah that's easy I'll try that. Thanks again!

[2017-08-04 15:17] gvenk opened #107 "firstItem doesn't work as expected"
I'm using the flatlist branch and it looks like the firstItem isn't working. If I set it to something different than 0, the list is displayed on the correct position, but the item isn't rendered. If I start scrolling the list, it appears.

This doesn't happen on the iOS emulator, only on a real device.

For the rest everything is working just fine! Great work on the FlatList implementation!

[2017-08-04 15:29] gvenk commented on #107
It appears to be rather random, sometimes this will happen and sometimes not. Like it's some kind of timing issue?

[2017-08-04 15:30] bd-arc commented on #107
Hi @gvenk,

I'm afraid that this is a bug of the `FlatList` component itself. See issues [#1831](https://github.com/facebook/react-native/issues/1831) and [#13316](https://github.com/facebook/react-native/issues/13316).

One thing that could help is adding `removeClippedSubviews={false}` to the `<Carousel />`. Unfortunately, it might take a toll on performance...

You can also try playing with the

[2017-08-07 12:22] gvenk commented on #107
Thanks for the info. Unfortunately all the tips from the mentioned issues didn't result in a completely working list.
I tricked the list by setting the firstItem to the actual firstitem - 1 and then use snapToItem() to scroll to the correct item. I did this in componentDidMount() but I had to use a timeout of 250msec otherwise it's not working.
Not a solution I'm totally happy with, but for now it

[2017-08-07 12:56] bd-arc commented on #107
@gvenk That's the unfortunate tradeoff of migrating to `FlatList`: some issues are not resolved yet. You idea is indeed a hack, but it seems like the only solution at the moment.

Note that the 250 ms timeout might be linked to the new prop [`apparitionDelay`](https://github.com/archriss/react-native-snap-carousel/tree/flatlist#behavior) (its default value being... 250 ms). You can change it to su

[2017-08-07 14:46] gvenk commented on #107
Yes, I'll experiment a bit with apparitionDelay, but for now it's working good enough I think.

Thanks!

[2017-08-07 14:46] #107 closed

[2017-08-09 07:57] AndrewTi commented on #86
Hi @typhoon2099, @bd-arc
I have the same problem
you can help me fix it?:)

[2017-08-09 08:36] bd-arc commented on #86
Hi @AndrewTi,

Could you provide me with a simple example that reproduces the issue (based on [the example](https://github.com/archriss/react-native-snap-carousel/tree/master/example))? I will gladly take a look at it ;-)

Also, would you mind testing with the [`flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist)? It contains a lot of updates and a new implement

[2017-08-10 06:41] laclys commented on #87
also you can use  "react-native-snap-carousel": "2.1.1",

[2017-08-14 01:52] ImAtome opened #109 "Swipe gesture doesn't work on iOS"
When I'm swiping on the slide with the simulator or directly on a phone the slide doesn't slide as expected.Nothing happens.

[code]

When I use autoplay prop the slides swipe well, but automatically.

Does someone facing the same issue?

[2017-08-14 09:06] bd-arc commented on #109
Hi @ImAtome,

This behavior is only supposed to happen if you set [`scrollEnabled`](https://facebook.github.io/react-native/docs/scrollview.html#scrollenabled) to `false`. Does the issue persist if you try [the example](https://github.com/archriss/react-native-snap-carousel/tree/master/example)?

You can also try the soon-to-be-merged [`flatlist` branch](https://github.com/archriss/react-native-sn

[2017-08-14 11:15] ImAtome commented on #109
Hi @bd-arc ,

I fixed the problem by restarting the computer ... I don't understand why this happens sometimes.

Thank's for your help !

[2017-08-14 11:15] #109 closed

[2017-08-14 20:42] xvonabur opened #110 "Android. Debug build do not work as production build"
Hello.

I've run into the issue where android debug build is working not the same as production build.
I made a simple app which shows only one carousel item at the time. Production build works fine. But debug with enabled/disabled remote debugging is working like this:

![gif](https://thumbs.gfycat.com/ThoroughEvergreenIberianlynx-size_restricted.gif)

So, basically, I can move through all items

[2017-08-16 08:16] bd-arc commented on #110
Hi @xvonabur,

`ScrollView`'s performance on Android while debugging is everything but ideal. Unfortunately there is nothing we can do about it since React Native [doesn't offer a proper scroll callback for its component](https://github.com/archriss/react-native-snap-carousel#scrollviews-limitations). This means that when momentum is disabled (the default behavior), we have to rely on `onScrollEnd

[2017-08-16 09:29] Jithinag007 opened #111 "Undefined an object issue"
![simulator screen shot aug 16 2017 2 58 04 pm](https://user-images.githubusercontent.com/9103930/29356919-6e57dc5e-8293-11e7-8e5d-54699827b53f.png)

[2017-08-16 09:35] bd-arc commented on #111
You need to use at least version 0.44 of React Native (see #87).

[2017-08-16 09:35] #111 closed

[2017-08-16 16:05] sonnguyenit opened #112 "react native 0.42 error undefined is not an object (evaluating '_reactNative.ViewPropTypes.style')"
when i install this module with react native 0.42 then i get this error when run app:
 `undefined is not an object (evaluating '_reactNative.ViewPropTypes.style')`

[2017-08-16 20:25] bd-arc commented on #112
You need to use at least version 0.44 of React Native (see #87).

I will commit next week a quick fix that allows for retro-compatibilty. But note that the plugin is soon going to be based on `FlatList`, which is pretty unstable before RN 0.45 anyway.

[2017-08-16 20:25] #112 closed

[2017-08-17 02:39] lazyelegance opened #113 "Is it possible to expose ‘onScrollBeginDrag’ also like ‘onScroll’"

[2017-08-17 16:34] xvonabur commented on #110
Thanks, @br-arc.

I've already tried all your suggestions, but unfortunately neither of them suits me. It's not a big deal for me, cause production build is fine. I will use it for testing. It's really annoying to see such android only limitations, through. Hopefully some day things will be better.

[2017-08-17 16:34] #110 closed

[2017-08-18 10:11] naffiq opened #114 "Different colors of active/inactive pagination dots"
Hi and thanks for great plugin, it's very smooth!

I'm currently working on project, where inactive pagination dots are different color from active ones.
The documentation has only opacity and scale for inactive ones, but I guess it would be great if we could change border radius, colors, margin, etc.

[2017-08-18 16:40] ozexpert commented on #94
and also, would it be possible to tap on the pager (dot) to scroll over?

[2017-08-19 10:26] mazing opened #116 "Display `this._carousel.currentIndex`"
I don't understand `currentIndex`.

If I put it inside an `onPress` method, it works as it should, but I am not able to print it in a `<Text>`.

It says that `this._carousel` is undefined.

I am defining `this._carousel` with

    <Carousel
      ref={carousel => { this._carousel = carousel; }}
      ...

See the code below.

    elements.map((el, i) => {
      return (
        <TouchableOpacity o

[2017-08-20 15:51] NikitaKis commented on #116
I have the same issue too! Any ideas?

[2017-08-20 17:57] benjdlambert commented on #116
Easiest solution is not to use the `ref`.

The reason it doesn't work, is the component itself doesn't get re-rendered, which means that it will always display the value at render time.

A better solution would be to use `onSnapToItem` to set state inside the component that uses the carousel. Something like this, (not tested, just writing from memory)

[code]

Think that should do it...

[2017-08-20 18:19] NikitaKis commented on #116
Thank you! It works.

[2017-08-21 10:10] deadcoder0904 opened #117 "Snap Carousel not working suddenly on Android"
I don't know what just happened
It was working for 2 days then suddenly stopped working yesterday
I can't drag even the 1st slider with mouse, I can only use keyboards `left` & `right` to move them & they are only moving halfways
Its working pretty well in iOS simulator

[2017-08-21 21:58] bd-arc commented on #117
Hi @deadcoder0904,

From your description, I don't think it has anything to do with the plugin. You might want to check #109 for a similar issue (on iOS though) that has been fixed after restarting the computer...

[2017-08-21 21:58] #117 closed

[2017-08-21 22:01] bd-arc commented on #116
I didn't have time to answer this before today, so many thanks to @benjdlambert for shining in and explaining things thoroughly!

[2017-08-21 22:01] #116 closed

[2017-08-21 22:08] bd-arc commented on #113
Hi @lazyelegance,

No problem to expose this callback if this can be helpful for you. I'll keep you posted.

[2017-08-21 22:15] bd-arc commented on #114
Hi @naffiq,

That's a good idea! What do you think about adding a prop `inactiveDotStyle` on top of `dotStyle`? Note that the changes you mention won't be animated.

[2017-08-21 22:24] bd-arc commented on #94
Hi @ozexpert,

Those are good ideas. I'll take a look at it as soon as possible ;-)

[2017-08-21 22:30] ozexpert commented on #94
Yup. also haven't tried, but what if the list is long (let say about 100s) what would happen to the pager?

another thing is if carousel is vertical, the pager should have a way to show vertical as well. (I think that is the expected behaviour). Thanks a lot. I love the plugin!

[2017-08-22 06:38] naffiq commented on #114
Yep, I understand that Animations are coded within `PaginationDot` component, and here comes another idea: how about adding ability to define dot component within `Pagination` component?
It will allow developers to define their animations, without rewriting whole pagination code.

[2017-08-22 07:05] deadcoder0904 commented on #117
Naah, been trying to figure the issue from 2 days so I restarted it multiple times...I thought u might know the issue...still its not working...Thanks anyways....I'll post the answer as soon as I'm done & Idk but its the issue with the `plugin` or `react-native` or `plugin + react-native + android`

[2017-08-22 07:29] bd-arc commented on #117
I honestly don't see how the plugin could be the root of your issue, but I might have overlooked something.

My guess is that it has to do with React Native's `ScrollView` implementation. Still, would you mind trying with the [`flatlist` branch](https://github.com/archriss/react-native-snap-carousel/tree/flatlist)?

[2017-08-22 08:38] deadcoder0904 commented on #117
I will definitely use `flatlist` branch

I honestly don't know how the issue arose bcz its working smoothly in iOS Simulator & was working on Android Emulator & Genymotion but now its not even responding to the PanResponder API, i.e, whenever I click & slide there is no response in Android the Slides just go inside & if I set `autoplay={true}` it works on Android but whenever I click it goes insid

[2017-08-22 08:46] deadcoder0904 commented on #117
Confirming it works well standalone without using [react-native-infinite-scroll](https://github.com/lexor90/react-native-infinite-scroll)

[2017-08-22 13:27] bd-arc commented on #117
Thanks for letting me know.

Unfortunately, there are a lot of issues with nested `ScrollViews`, so that's no surprise the two plugins aren't working well together.

[2017-08-22 13:30] deadcoder0904 commented on #117
Will `FlatList` inside `ScrollView` do the job ?

[2017-08-22 13:37] fendorio opened #119 "Disabling scroll"
Is there a way to conditionally disable scrolling the slideshow? I.e. temporarily disable scroll and have the user have to manually navigate between slides (next/prev buttons)

[2017-08-23 08:02] bd-arc commented on #117
Not sure about that since `FlatList` [is based on `VirtualizedList` which, in turned, is based on `ScrollView`](https://github.com/facebook/react-native/blob/master/Libraries/Lists/FlatList.js#L290:L292).

[2017-08-23 08:12] bd-arc commented on #119
Hi @fendorio,

You can set prop [`scrollEnabled`](https://facebook.github.io/react-native/docs/scrollview.html#scrollenabled) to either `true` (default) or `false`. This prop is inherited from `ScrollView`.

Note that there is a side-effect with `autoplay` because `onTouchStart` is triggered even when the prop is set to `false`. I will push a fix for that shortly.

[2017-08-23 08:12] #119 closed

[2017-08-23 08:59] deadcoder0904 commented on #117
Well that sucks as I need Nested Scroll Views on Android
I tried everything but nothing is helping out
I'm gonna post now on StackOverflow 😂

[2017-08-23 09:26] NicholasBertazzon opened #120 "snapToPrev - vertical"
Hi,
I'm using the latest version of snap-carousel and when i press on my button that call "snapToPrev()", and i'm focussing the first item of the vertical list (yes, I'm using it in vertical mode), instead of doing nothing(since I'm already in the first item), it snaps to the last item. It seems like it counts the last item (index 10 right now in my app) as the first.

SnapToNext works perfectly :

[2017-08-23 10:42] deadcoder0904 commented on #117
I am so stupiddd
Sorry for all the trouble
I didn't needed Nested Scrollviews, I just needed Horizontal Infinite Carousel which fetches data when the right end is reached
I used `onScroll` function on this package & did [this](https://stackoverflow.com/questions/41056761/detect-scrollview-has-reached-the-end/45836560) to detect horizontal scrollview & it works on Android & iOS smoothly

Thank you

[2017-08-23 11:13] bd-arc commented on #117
Thanks for the love ;-)

I'm going to release 3.0.0 pretty soon. Note that you will no longer need to detect the end of the `ScrollView` since `FlatList` has a [`onEndReached` prop](https://facebook.github.io/react-native/docs/flatlist.html#onendreached)...

[2017-08-23 13:16] bd-arc commented on #114
@naffiq Thank you very much for the PR!

Regarding the custom implementation, you're absolutely right: that's what I was planning to do. I've only added the component due to popular demand, and did not have time to update `Pagination`. I'll take a look at it as soon as possible.

[2017-08-23 15:06] bd-arc opened #122 "Replace `shallowCompare` with `PureComponent`?"
It might be a good idea to replace `shallowCompare` with `PureComponent`, but will it work with dynamic data?

From [React's doc](https://facebook.github.io/react/docs/react-api.html#react.purecomponent):

[2017-08-23 15:34] bd-arc commented on #113
Done in version 3.0.0. Make sure to read the [migration guide](https://github.com/archriss/react-native-snap-carousel/#migration-from-version-2x) ;-)

[2017-08-23 15:34] #113 closed

[2017-08-23 15:35] bd-arc commented on #78
Available in version 3.0.0.

[2017-08-23 15:35] #78 closed

[2017-08-23 15:35] bd-arc commented on #3
Available in version 3.0.0.

[2017-08-23 15:35] #3 closed

[2017-08-23 15:36] bd-arc commented on #73
Version 3.0.0 has been published!

[2017-08-23 15:36] #73 closed

[2017-08-23 15:49] bd-arc commented on #120
Hi @NicholasBertazzon,

Well, that's the expected behavior at the moment. If you look at [theses lines](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L750:L752), you'll understand why.

Let's face it: it's a pretty bad substitute for a proper loop mode, on which I'm currently working. When it's going to be ready, snapping from one edge to the other wil

[2017-08-23 15:49] naffiq commented on #114
@bd-arc

Cool, I might help if I'll have my hands free 🙌  I'm going to use this component again right after my current project, so it's also quite important for me 😄

Thank you!

[2017-08-24 03:07] EyreGe opened #124 "cannot read property 'foreach' of undefined"
<Carousel
          sliderWidth={viewportWidth}
          itemWidth={viewportWidth}
          slideStyle={{ width: viewportWidth }}
          inactiveSlideOpacity={1}
          inactiveSlideScale={1}

            <View style={{ height: viewportHeight }} />
            <View style={{ height: viewportHeight }} />
            <View style={{ height: viewportHeight }} />
        </Carousel>

[2017-08-24 03:14] bendellarocco commented on #124
+1

"react-native-snap-carousel": "^3.0.0",
"react-native": "^0.44.0",

Implementation:
`<Carousel
              ref={(carousel) => { this._carousel = carousel; }}
              sliderWidth={width}
              itemWidth={width * .9}

              <View><Text>jbsfjhbfsdhjfbsdjfb</Text></View>
              <View><Text>kjasbndkjsdbnsjkdnasjkdnasjkasnjk</Text></View>
            </Carousel>`

[2017-08-24 03:24] EyreGe commented on #124
my version "react-native": "^0.45.1"

[2017-08-24 07:16] NicholasBertazzon commented on #120
Oh, ok, thanks for the clarification.

[2017-08-24 07:33] VrajSolanki commented on #124
Cannot add property 2, object is not extensible, react-native version:  "^0.45.1"

[2017-08-24 07:45] bd-arc commented on #124
Hi guys,

Have you made sure to read the [migration guide](https://github.com/archriss/react-native-snap-carousel#migration-from-version-2x) as well as the [release notes](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.0.0) for version 3.0.0?

As the version tag indicates, there were some breaking changes :-) Implementation is now based on `FlatList` instead of `ScrollView`

[2017-08-24 07:48] #120 closed

[2017-08-24 07:54] NicholasBertazzon opened #125 "Double rendered."
Using your new update.
I don't know why, but my entries has doubled.
Example, if I have [{title:"Rome"},{title:"Paris},{title:"Berlin"}] as entries, the rendered items are: Rome - Paris - Berlin - Rome - Paris - Berlin.

Also, in the documentation, "inactiveSlideOpacity" is no more default:1.

[2017-08-24 08:08] bd-arc commented on #125
Good catch regarding the default value `inactiveSlideOpacity`! I'll update it later, along with other changes.

Regarding your issue, can your try the [example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) and see if it works as intended for you? I've used the new version in production with real data and did not have a "double rendering" issue...

[2017-08-24 09:15] NicholasBertazzon commented on #125
I'm trying your project but it doesn't start.

Error:
(function (exports, require, module, __filename, __dirname) { import { AppRegistry } from 'react-native';
                                                              ^^^^^^

SyntaxError: Unexpected token import
    at createScript (vm.js:74:10)
    at Object.runInThisContext (vm.js:116:10)
    at Module._compile (module.js:533:28)
    at Obje

[2017-08-24 11:14] bd-arc commented on #125
I must admit that I haven't tested the example on Android in a while; I was doing all my testing inside production apps. I'll make sure that the example can run on Android and get back to you real soon.

In the meantime, is it possible for you to try the iOS example?

[2017-08-24 12:26] ragnorc commented on #125
Also experiencing double rendering.

[2017-08-24 13:27] Softcadbury opened #126 "undefined is not an object (evaluating '_reactNative.FlatList.propTypes')"
Hello, I got this error when using react-native-snap-carousel 3.0.0.
I use react 15.4.2 and react-native 0.42.3 (I cannot update yet).

This code seems to fix the problem :
In Carousel.js, replace `...FlatList.propTypes,` by `...FlatList ? FlatList.propTypes : {},`

[2017-08-24 13:49] bd-arc commented on #125
Oh my gosh! I had some temporary code that I forgot to stash before publishing :-( Really sorry about that...

You can start using version `3.1.0` immediately, which should fix the issue. Can you confirm?

[2017-08-24 13:49] #125 closed

[2017-08-24 13:55] bd-arc commented on #114
I think that version `3.1.0` and the bunch of [new props](https://github.com/archriss/react-native-snap-carousel/blob/master/src/pagination/README.md) for `<Pagination />` will do the trick ;-)

[2017-08-24 13:55] #114 closed

[2017-08-24 14:21] VrajSolanki commented on #124
@bd-arc hi, I may be wrong but dug in the code for Carousel.js line 781, replacing const customData = data, by let customData = [] and then pushing data in customData seems to solve the problem for me for now. I don't know what it is doing it here, or how can it be fixed. Line 780 in Carousel need to fix?

Please Suggest!

[2017-08-24 14:44] bd-arc commented on #126
Hi @Softcadbury,

Starting with version `3.0.0`, the plugin is now based on `FlatList` instead of `ScrollView`. This comes with a bunch of benefits, but also with one drawback: **since `FlatList` was introduced in React Native `0.43.x`, you are stuck with version `2.4.0` of the plugin if you're currently using an older release of RN**. Sorry about that, but there is no way for us to maintain backw

[2017-08-24 14:44] #126 closed

[2017-08-24 14:50] bd-arc commented on #124
@VrajSolanki I made a mistake while publishing version `3.0.0` and ended up pushing some temporary code I forgot to stash...

Can you try version `3.1.0` and let me know if the issue persists?

[2017-08-24 15:31] ragnorc commented on #125
@bd-arc Don't mind! The bug is now gone. Thank you very much!

[2017-08-24 16:18] alxvallejo commented on #95
I'm facing this issue, but i'm not using ScrollView. I am using animations for toggling dimensions when keyboard is in place tho.

[2017-08-24 17:27] bd-arc commented on #95
Hi @alxvallejo,

Could you provide a test case? Because I don't have any clue about how to reproduce the issue...

[2017-08-24 17:35] RWOverdijk opened #127 "docs"
Short Q, what's up with the docs? I'm trying to use this component but it can't find data. I tried setting the items in the body which does work, so I'm not sure which docs are accurate. What am I missing?

Awesome component by the way!

[2017-08-24 17:37] RWOverdijk commented on #127
You recently pushed a new version... That's why. I was right in the middle of things. Sorry!

[2017-08-24 17:37] #127 closed

[2017-08-24 17:48] RWOverdijk opened #128 "No dots visible"
I'm using the Pagination component but it's not showing.

[code]

I added some containerStyle to see if it shows up at _all_ but it seems to not do that.

[2017-08-24 17:59] RWOverdijk commented on #128
**Update:** It works when place outside of the Carousel. Inside, it just doesn't do anything.

[2017-08-25 01:33] stueynet opened #129 "console.log('CUSTOM DATA', customData) ?"
Removed `node_modules` and reinstalled latest package from scratch and yet is has the following at `node_modules/react-native-snap-carousel/src/carousel/Carousel.js`

![screen shot 2017-08-24 at 9 32 15 pm](https://user-images.githubusercontent.com/1100677/29695979-cb1b4d00-8913-11e7-9c68-455e0c35bced.jpg)

This causes the following in the console:

![screen shot 2017-08-24 at 9 33 12 pm](https://

[2017-08-25 05:36] VrajSolanki commented on #124
@bd-arc Hi, i checked the commit but that does not fix the Carousel.js and that has CUSTOM_DATA check issue  console log as well, if you could just have a look or I can request a PR and check my updates??
Issue 129 https://github.com/archriss/react-native-snap-carousel/issues/129

[2017-08-25 07:53] bd-arc commented on #128
Hi @RWOverdijk,

If you look at [component's doc](https://github.com/archriss/react-native-snap-carousel/blob/master/src/pagination/README.md#usage), you'll see that it is supposed to be rendered **outside** `<Carousel />`.

Moreover, the carousel component is now based on `FlatList`, which means it just won't render any direct children.

[2017-08-25 07:53] #128 closed

[2017-08-25 07:55] RWOverdijk commented on #128
Ah... The indentation threw me off. My bad.

[2017-08-25 07:56] bd-arc commented on #129
Hi @stueynet,

This has been fixed in `3.1.0`. See [this comment](https://github.com/archriss/react-native-snap-carousel/issues/125#issuecomment-324640733).

[2017-08-25 07:56] #129 closed

[2017-08-25 08:01] bd-arc commented on #124
@VrajSolanki You won't find a commit that fixes it because the mistake was made when publishing to `npm` (I forgot to stash some temporary code).

As you can see [in the source code](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js), there is no `console.log()` call. So, trust me: delete the appropriate folder in `nodes_modules`, update to `3.1.0` and the

[2017-08-25 08:01] #124 closed

[2017-08-25 12:18] VrajSolanki commented on #124
@bd-arc cool

[2017-08-25 13:54] stueynet commented on #129
Thanks @bd-arc. Any idea why it still installs the old version?

[2017-08-25 14:19] bd-arc commented on #129
That's pretty strange... I've just tried `npm i react-native-snap-carousel` in a new project and version `3.1.0` was properly installed.

Are you experiencing something different?

[2017-08-25 14:55] marcolino opened #130 "I get `_this4.myfunc is not a function` calling this.myfunc() from onPress() of a TouchableHighlight in an item"
I've got a carousel like this:
[code]

The problem is I don't know how to `bind` to `this` in `_renderCarouselItem` function, since when pressing on an image I get a reddish `_this4.setFullscreen is not  a function`... Any clue?

[2017-08-25 15:06] NicholasBertazzon commented on #130
[code]

[2017-08-25 15:24] bd-arc commented on #130
@marcolino Did you make sure to bind `this` to your function in your constructor? Something along those lines:
[code]

[2017-08-25 15:26] marcolino commented on #130
Thanks! I understand this is not a react-native-snap-carousel issue, but simply a lack of understanding bind functioning of mine... :-(
This is the working code, for me:
[code]

[2017-08-25 15:26] #130 closed

[2017-08-25 15:29] marcolino commented on #130
@bd-arc: I did try that too, but it wasn't clear to me how to pass parameters afterwards, since the I should use `this.setFullscreen` and not `this.setFullscreen(params)` ... :-(

[2017-08-25 15:55] bd-arc commented on #130
@marcolino Just for your information, parameters are kept when binding to a function; the purpose is only [to provide the context of `this`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind).

You can absolutely do something along those lines:
[code]

[2017-08-25 16:05] VrajSolanki opened #131 "multiple carousels in react native sibling childs."

[2017-08-25 17:34] #131 closed

[2017-08-26 01:04] yogevlahyani opened #132 "RTL Snap isn't working properly"
I run "react-native-snap-carousel" version "3.1.0" and when I swipe with 3 slides, when i get to the last it's automatically jumps to the first, same with the first to the last.
another thing - my first slide isn't active by default.

All of the code I took from the usage instructions from this git repository..

https://drive.google.com/file/d/0B8qw0MlJdTYJRWgyNEVBOXFnOWs/view?usp=sharing

THANK Y

[2017-08-26 19:37] bd-arc commented on #132
Hi @yogevlahyani,

I'm not surprised because RTL was based on a hack to counteract a React Native bug. I have to admit that I didn't test it with the recent updates (notably `FlatList` implementation).

I'll take a look at it as soon as I can ;-)

[2017-08-27 10:58] sooyang commented on #61
hi @bd-arc,

Great screenshot there displaying the `sliderWidth` and the explanation.

I am trying to achieve the similar padding spacing between the slides like in example 1 but only difference is I would like the `inactiveSlideScale={1}` . Tried adjusting the `slideStyle` with `paddingHorizontal` but it pushes the all the slides to the right causing them to be not `centered`.

Any clarification

[2017-08-27 14:36] bd-arc commented on #61
Hi @sooyang,

Typically, this means that you've updated slide's styles without adding your padding to `itemWidth`. Am I right? Note that the value of `itemWidth` **must include any extra padding**. Typically, it's going to be equal to `custom slide width + (extra padding * 2)`, and is not affected by the value of `inactiveSlideScale`.

You can also take a look at [this part](https://github.com/arc

[2017-08-28 02:20] sooyang commented on #61
Hi @bd-arc,
Spot on!
I have read the doc before reaching out. Somehow I misunderstood the explanation on adding `paddingHorizontal` in the docs. Your explanation really clear things up for me. Thanks so much !

Made 2 mistakes:
i) Updating the slide's style by adding `paddingHorizontal` but did not account the additional padding to `itemWidth`
ii) Added additional `paddingHorizontal` to the slides

[2017-08-28 08:04] bd-arc commented on #61
Thanks @sooyang for the detailed example that will certainly help others.

And you're right: the doc was missing a note clarifying that `itemWidth` needs to include the extra padding. I'll make sure to update it!

[2017-08-29 08:05] KevKo1990 opened #133 "Problem on re-rendering of component, setting a new firstItem index"
I have several `miniComponents` listed in my carousel and a user can select and deselect these `miniComponents` on different screens to be visible in the carousel or not.
Removing and adding them works splendidly (the `miniComponents.map` function below).

So an actual rerendering is on this page with the Carousel happening.

But if remove one of the `miniComponents`, my `activeMiniCompIndex` migh

[2017-08-29 08:36] bd-arc commented on #133
Hi @KevKo1990,

Just a quick thought, but does it work if you add `extraData={this.state}` to the `<Carousel />`? (from [`FlatList`'s doc](https://facebook.github.io/react-native/docs/flatlist.html#extradata))

And if it doesn't, can you set up a simple test case so I can easily reproduce the issue?

[2017-08-29 12:30] blargity opened #134 "Can't get anything to render with 3.1.0"
Hi there,

First off, thank you for building this component, it's been very useful thus far!

I upgraded to the `flat-list` branch before you released 3.0.0 and it was working fine, but now that I'm using 3.1.0 I can't get anything to render. I had it working just fine with the prerelease branch, so I'm not sure what changed.

Here's an example that just shows a white screen on both iOS and Androi

[2017-08-29 12:45] bd-arc commented on #134
Hi @blargity,

Well, you shouldn't be having any difference from when you were using the `FlatList` branch; that's surprising. Can you tell me the latest commit of that branch you were previously using?

Also, did you try the example and is it working for you?

[2017-08-29 13:02] blargity commented on #134
I'm not sure what it was at this stage. The example I'm trying is the code above. I don't see a more complete example to try, is there one I'm missing?

[2017-08-29 15:47] bd-arc commented on #134
My mistake, I haven't been clear enough. I was talking about [this one](https://github.com/archriss/react-native-snap-carousel#example) ;-)

[2017-08-30 01:03] KevKo1990 commented on #133
@bd-arc
Thanks, adding it directly behind the `ref=` part my Carousel will re-render!
Placing it somewhere else within the `<Carousel />` not (why? I don't know).

[2017-08-30 02:05] KevKo1990 commented on #133
I had a look into your Carousel componentWillReceiveProps() function and I think I found the problematic part:
https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L214

I checked in your code the `SnapToItem` function. It is just changing the `activeItem`, however not the `firstItem`. https://github.com/archriss/react-native-snap-carousel/blob/master/src/car

[2017-08-30 07:43] yogevlahyani commented on #132
Thank you @bd-arc
If you could notify me on this issue it will be great!

[2017-08-30 07:51] bd-arc commented on #133
Yep, that's a real head-scratching issue. A while ago, I anticipated this kind of problem and tried to figure out a solution, but didn't come up with anything satisfying (and ended up forgetting it...). Now is the time to tackle it for good!

First, after 7 (when you remove the currently selected component), can you confirm that [this condition](https://github.com/archriss/react-native-snap-carous

[2017-08-30 15:00] itswaze opened #135 "[Android] Images won't show"
Hey!

Images won't load on Android, but they do work perfectly on iOS.
I'm using FlatList.

[code]

[2017-08-30 15:14] bd-arc commented on #135
Hi @itswaze,

In the [example](https://github.com/archriss/react-native-snap-carousel/tree/master/example), remote images are displayed without issues. It has been tested on both iOS and Android.

Can you try it and let me know if it works for you?

[2017-08-30 15:52] itswaze commented on #135
@bd-arc The example works perfectly...
It's something on my end then.

[2017-08-30 16:01] bd-arc commented on #135
If you look at the dedicated [React Native issues](https://github.com/facebook/react-native/issues?utf8=%E2%9C%93&q=android%20image%20not%20rendered%20), it's apparently a common problem. Hope you'll find something useful there!

[2017-08-30 16:01] #135 closed

[2017-08-31 06:03] KevKo1990 commented on #133
https://github.com/KevKo1990/Snap-Carousel-Fix-Dynamic

I created a example repo with not completely our problem but a really close one. If this would be fixed, our problem would be as well. ;)

Just to show you the problem that I rebuild:
![example problem](https://user-images.githubusercontent.com/12497609/29908711-930ffd30-8e5d-11e7-807d-760bfee667d1.gif)

Does this help you?

[2017-08-31 06:39] KevKo1990 commented on #133
Concerning your proposed fix, it would not solve our problem.

I can confirm, the condition is met as soon as we remove or add a component.
However, if we remove the actual selected component, we want to jump to a defined position by ourselves (in our case the first one).

[2017-08-31 08:36] bd-arc commented on #133
Hey @KevKo1990,

Thanks for the awesome example! This is really going to help me figure out a solution. I'll take a look at it today and keep you posted ;-)

By the way, I'm curious about how you created your gif file. I'm always hitting GitHub's 5 Mo limit with mines, with as little as a 4 to 5 seconds duration...

[2017-08-31 11:26] KevKo1990 commented on #133
@bd-arc

No worries, I asked for your help ;)

I am developing right now on Ubuntu and there I found this tool. I think it is really nice!
https://github.com/phw/peek/blob/master/README.md

[2017-09-01 04:39] adarshTS commented on #134
Can anyone here help with this : [https://stackoverflow.com/questions/45992749/how-to-get-and-pass-the-details-of-the-active-slide-in-react-native-using-react](https://stackoverflow.com/questions/45992749/how-to-get-and-pass-the-details-of-the-active-slide-in-react-native-using-react)

[2017-09-01 04:40] adarshTS commented on #105
Can someone help with this [https://stackoverflow.com/questions/45992749/how-to-get-and-pass-the-details-of-the-active-slide-in-react-native-using-react](https://stackoverflow.com/questions/45992749/how-to-get-and-pass-the-details-of-the-active-slide-in-react-native-using-react)

[2017-09-01 16:09] bd-arc commented on #133
@KevKo1990 Thanks for sharing your tool! It won't work for me, but it's still good to know.

Anyway, I finally started working on the issue and, well, the first thing to be noted is that Android and iOS do not behave the same at all: http://www.giphy.com/gifs/l1J9Geez5TJ78POuI

Usually all hell breaks loose 2 to 3 minutes after such a revelation...

[2017-09-01 16:12] bd-arc commented on #133
@KevKo1990 By the way, it seems that your example is missing an Android version ;-)

[2017-09-01 21:49] bd-arc commented on #94
Hi @ozexpert,

It hasn't been published yet but the update is already available on `master`: new props for advanced customization of the `Pagination` component. Make sure to take a look at [the updated doc](https://github.com/archriss/react-native-snap-carousel/blob/master/src/pagination/README.md) ;-)

You can now animate color change, make dots tappable, layout dots vertically, and use the `rend

[2017-09-01 23:52] ozexpert commented on #94
You know what? I already changed it according to your docs. :-) thanks for the fantastic support!

[2017-09-03 18:35] gonzalezchris commented on #64
@tiaaaa123  @yanush what was the issue? I also have the same issue

[2017-09-03 19:09] gonzalezchris opened #137 "When swiping through slides quickly carousel returns to item at first index"
I ran into an issue, where if I swipe (left) at a high speed through a few full screen slides then instead of staying on the slide I stopped sliding on, it instead returns to the first slide.

In the attached gif I am sliding my finger to the left for several slides, and then when I let go, the carousel seems to be swiping right on its own. Any ideas?

In some cases, while swiping left, the carous

[2017-09-03 20:04] bd-arc commented on #137
Hi @gonzalezchris,

Since the plugin hasn't been designed with fullscreen slides in mind, some fine-tuning may be needed ;-)

One question thought: have you tried your app in production mode? Android performance is just horrendous in debug mode (see the ["Known issues"](https://github.com/archriss/react-native-snap-carousel#known-issues) section of the doc).

[2017-09-03 20:11] bd-arc commented on #137
I would also try setting `activeSlideOffset` to a much higher value than the default one in order to prevent the "fighting effect".

Currently, when you're not triggering a short snap, you need to slide almost half the screen for the next slide to become active. It might be useful for you to temporary set `inactiveSlideScale` to something other than `1` in order to clearly see when you pass the pi

[2017-09-04 01:14] Jayiitb commented on #137
Hi @bd-arc,
Thanks for this awesome component.

Can we limit its scroll to one slide per swipe? Like the one shown in demo gif 'Archriss' "Ville d'Aix-en-Provence" app'.

Facing the same issue of swiping back/fighting with scroll.

[2017-09-04 06:02] bd-arc commented on #137
Hi @Jayiitb,

Are you using fullscreen slides too?

I'm going to see if I can implement a specific prop that would smooth things out for this kind of use cases. Note that this is far from easy because of [miscellaneous limitations](https://github.com/archriss/react-native-snap-carousel/#flatlist-and-scrollviews-limitations).

[2017-09-04 07:38] bd-arc commented on #133
Hey @KevKo1990,

So, fixing the main issue (scrolling back to the previous slide on Android) was no big trouble. But now comes another one: displaying the active animation for the previous slide.

I might implement a recent PR idea to see if that helps.

[2017-09-04 11:15] bd-arc commented on #133
Good news: [this commit](https://github.com/archriss/react-native-snap-carousel/commit/ca4faa84d283d2771d8ee69f3d21b97c8c86185a) should solve the issue. It wasn't that easy, but I think I got it :-)

Can you try the fix and let me know if it works for you and if you don't find any drawbacks?

[2017-09-04 16:20] henninghall commented on #135
Make sure you haven't saved images in .psd format but with another file extension, i.e .png. Those will render perfectly on ios but are inivisible on Android.

[2017-09-05 05:09] KevKo1990 commented on #133
@bd-arc Thank you! Sorry, I am right now a bit busy and saw your replies just now.
I don't understand the point with no android version as I checked just for android, however I am glad that you figured it out.

I will try to check tonight (JST) and let you know if the fix works!

[2017-09-05 07:45] sean-macfarlane opened #138 "Dynamic Height of Slides ?"
I'm having an issue with the height of the slides, I would like the Carousel to be `flex: 1` and all the slides height be dynamic to the content. I.e. I have some slides with an image and some with text.
But I have found I cannot get the slides height to be greater than 277 ? but it can vary under 277, but it seems that is the max of the Carousel height.
I've tried putting `flex: 1` on all the pro

[2017-09-05 09:01] bd-arc commented on #133
I just meant that [your repo](https://github.com/KevKo1990/Snap-Carousel-Fix-Dynamic) didn't contain the android source code. But adding it wasn't too much trouble ;-)

Make sure to test [the latest commit on master](https://github.com/archriss/react-native-snap-carousel/commit/6bb15c81603b445c8c8d639b7831336fac578fb2), because I made a substantial update and then modified the fix accordingly.

[2017-09-05 09:13] adarshTS commented on #134
even I am having the same issue nothing is displayed : [https://stackoverflow.com/questions/46049871/why-is-the-data-not-getting-displayed-using-react-native-snap-carousel](https://stackoverflow.com/questions/46049871/why-is-the-data-not-getting-displayed-using-react-native-snap-carousel)

[2017-09-05 09:48] bd-arc commented on #134
@adarshTS Can you try to build [the provided example](https://github.com/archriss/react-native-snap-carousel#example) and see if the images are properly displayed?

Have you tried on both Android and iOS? What is your React Native version?

[2017-09-05 09:58] bd-arc commented on #138
Hi @sean-macfarlane,

You shouldn't have any issue with dynamic height; I'm almost always using the carousel that way. I see two possibilities as to why it doesn't work for you:
- your `< Carousel />` is rendered inside a view with a constrained height
- setting `contentContainerCustomStyle` to `{ flex: 1 }` can mess with slides' layout. By the way, your `style` prop won't have any effect.

Here i

[2017-09-05 10:31] adarshTS commented on #134
I have done this in the same way, I am running this in android presently RN version is : 0.47.1
this is my code have a look : [https://jsfiddle.net/tnxpLj8c/2/](https://jsfiddle.net/tnxpLj8c/2/)

[2017-09-05 12:56] bd-arc commented on #134
Hey @blargity,

I had time to try your example and found out what was missing:
- you were using `style` instead of `containerCustomStyle` (I will push a commit to make it interchangeable)
- you forgot to transfer `{ flex: 1 }` with `slideStyle`
- your tile element was missing a width.

Here is the updated code:
[code]

[2017-09-05 13:14] bd-arc commented on #134
@adarshTS You did not pass any source to your `<Image />`...

Here is your example, updated:
[code]

And here is the result:
![react-native-snap-carousel](https://media.giphy.com/media/xT9IgFXqcB7GW2rcs0/giphy.gif)

[2017-09-05 13:14] #134 closed

[2017-09-05 15:00] KevKo1990 commented on #133
Thank you!

Hm, I am facing now a problem. In my provided repo, I solved the carousel entries via the data props, but in my actual problem case, I have the above structure:

[code]

I replaced now my existing above solution with data and renderItem which are now required...
Then it works, it LGTM!

I think you want to fix above mentioned problem or is this a mistake from my side?

PS: Sorry for no

[2017-09-05 15:23] bd-arc commented on #133
@KevKo1990 I'm not sure that I totally get what you wrote.

What I can tell you is that I've tried the new code with your custom example and everything is working perfectly, both slider and pagination.

Here is a quick screencast:

![react-native-snap-carousel](https://media.giphy.com/media/3ohhwjJllwhcKZEspO/giphy.gif)

[2017-09-05 16:05] KevKo1990 commented on #133
Forget my comment from above, a colleague of mine implemented the Carousel view, maybe it was still an old implementation... (we had this solution still working https://github.com/archriss/react-native-snap-carousel#migration-from-version-2x).

I have to update my code from my app. I think it is fine, I will tell you asap if not.
For now, it looks good to me!

[2017-09-05 17:07] adarshTS commented on #134
@bd-arc thanks for the example and thankyou again for building this great component its so awesome

[2017-09-06 04:50] adarshTS commented on #134
@bd-arc But this is not working for local images the images that I use
I have tried in two ways : [https://jsfiddle.net/hc8hx4dn/](https://jsfiddle.net/hc8hx4dn/)  &  [https://jsfiddle.net/u95ukjmg/](https://jsfiddle.net/u95ukjmg/)

[2017-09-06 08:46] KevKo1990 commented on #133
I am facing one problem after some more checks.

If set in my repo in `src/static/entries.js` `showInitial: true` for the second entry and `src/components/TopSlider.js` `firstItem=1`, then I receive the following:
![screenshot_1504687339](https://user-images.githubusercontent.com/12497609/30102489-c88fab6e-932a-11e7-9f62-85711f75e32b.png)

Actually, my firstItem set value should be active (, so th

[2017-09-06 09:16] bd-arc commented on #133
@KevKo1990 Does it work if you use the code from [this commit](https://github.com/archriss/react-native-snap-carousel/commit/ca4faa84d283d2771d8ee69f3d21b97c8c86185a)?

[2017-09-06 09:37] bd-arc commented on #134
As already answered [on Stack Overflow](https://stackoverflow.com/a/46056598/8412141): this has nothing to do with the plugin but, most probably, with your images' path.

To prevent such issues, you should define a name for your app in your `package.json` file:
[code]

Then, you'll be able to require your local images this way:
[code]

Note that I won't debug your app for issues that have nothing

[2017-09-06 09:52] #138 closed

[2017-09-06 10:43] KevKo1990 commented on #133
Yes, I can confirm it is fine. I tested it on my example repo and my app.

I tested further my app and I recognized now if I rerender my carousel with a reduced set of components because I deselected them, the `onSnapOnItem` is called even it is not based on user interaction. This is problematic for me, if I determine especially to go back to the 0 position as then instead because of OnSnapOnItem

[2017-09-06 10:49] blargity commented on #134
@bd-arc, thank you so much!

[2017-09-06 12:41] adarshTS commented on #134
@bd-arc I don't think its the problem with the image path

**-  I have tried replacing carousel with an Image component  it then showed the image

-  I also tried putting a few Image components explicitly inside carousel which also worked**

This is where I put the images:  **Project -> src -> components -> Images -> <all the images>**

@blargity can u pls try with local images

[2017-09-06 13:00] bd-arc commented on #133
@KevKo1990 Im glad you're testing the plugin thoroughly :-) I am triggering `onSnapOnItem` in order to be able to automatically update the `<Pagination />` component, but I agree that this is a bad idea. I'll change that, but you'll have then have to update pagination manually.

Be aware that the commit I made you test is an older one; it was a previous attempt at solving your issue, but I've over

[2017-09-06 13:11] edo1493 opened #139 "Performance on renderItem"
I am noticing renderItem gets called every time position changes in my case. This happens on the whole set, so performance goes really down as I swipe through my list.

I was wondering if you guys were seeing this, which can probably be related to https://github.com/facebook/react-native/issues/13597.

[2017-09-06 13:45] bd-arc commented on #134
@adarshTS I've just tried the refactored example with local images and didn't have any issue. This is clearly something on your end.

You should really try the tip I gave with defining an app name...

[2017-09-06 13:57] KevKo1990 commented on #133
Thank you!

@bd-arc I really love your solution, so it is worth!
I think you did a great job here.

I will probably test it then altogether, take as much time as you need. ;)

[2017-09-06 14:05] bd-arc commented on #139
@edo1493 Wow, this is a real matter! Thanks for reporting in.

I'm afraid that this is out of my hands (if it really has to do with `FlatList` implementation), but I will run some tests to see if there is anything I can do about it.

[2017-09-06 14:15] edo1493 commented on #139
Yes, I was looking at your shallow comparison, which is missing my array of objects and always returning true in shouldUpdateComponent. However, that's not the main issue. I have re-written that method and I still see performance problems, but it seems they are from RN core.

I am concatenating new items at the end of the flat list, while I swipe through, so when I get to a couple of dozens, it's

[2017-09-06 14:22] bd-arc commented on #139
I'm interested in your rewriting of `shouldUpdateComponent()`... ;-)

Does the issue remains if your convert the `<Carousel />` to `PureComponent`?

[2017-09-06 14:26] edo1493 commented on #139
Well, I am just doing a comparison on this.props.data.length, when it changes, I return true, otherwise false. This, in theory, reduces the number of renderings. However, even in this case, I still have the FlatList issue.

I have tried to move move the animation on the native thread, setting a windowSize, but I don't see any improvements. Nothing changes with PureComponent, I also tried to wrap C

[2017-09-06 15:01] bd-arc commented on #139
I'll run a few tests as soon as I can and I'll keep you posted. Unfortunately, this looks like a React Native issue...

[2017-09-06 15:41] edo1493 commented on #139
They say it's okay renderItem gets called every time, not sure how this impacts this component. It's getting really slow and bumping my ram. This is my configuratioN:

`        <Carousel
          ref={(carousel) => { this._carousel = carousel; }}
          data={data}
          renderItem={this.renderItem}
          sliderWidth={width}
          itemWidth={width / 2}
          inverted={true}

[2017-09-06 15:46] edo1493 commented on #139
As I keep scrolling down and getting more rows, the ram goes up like crazy. :(

[2017-09-06 16:06] bd-arc commented on #139
Do you have the same issue with your other `FlatList` components?

[2017-09-06 16:09] edo1493 commented on #139
Not this bad. I have moved the animation to the native thread and set inactiveSlideScale={1} and inactiveSlideOpacity={1}. It looks better, but with large lists doesn't look good.

It gets to the point it misses onPress events on the items.

[2017-09-06 19:40] bd-arc commented on #139
Have you tested on both Android and iOS? Have you tried to build a production version?

[2017-09-06 20:32] bd-arc commented on #133
@KevKo1990 I'll let you play with [this commit](https://github.com/archriss/react-native-snap-carousel/commit/283656296c7edab78bdadb859ab5ddd942378a19) ;-)

[2017-09-06 20:47] edo1493 commented on #139
I am on the iOS simulator. I have tried on production too. What I see here is that with 30 elements, I start getting: "VirtualizedList: You have a large list that is slow to update - make sure your renderItem function renders components that follow React performance best practices like PureComponent, shouldComponentUpdate, etc. ", which is quite ugly.

I have removed the scale and opacity because

[2017-09-06 21:51] bd-arc commented on #139
That's really annoying since we've recently migrated to `FlatList` instead of `ScrollView` in order to be able to handle many items without impairing performance...

Still, can you try [the latest commit](https://github.com/archriss/react-native-snap-carousel/commit/6bb15c81603b445c8c8d639b7831336fac578fb2) on master and see if it changes anything? It features a new animation mechanism as well as

[2017-09-07 05:07] KevKo1990 commented on #133
Hm...

So actually the onSnapItem is not longer called, but I have now a different problem :/

I rerender my Carousel with a firstItem=0 after removing my actual selected component... But it goes to into index 1...

[2017-09-07 06:57] adarshTS commented on #134
@bd-arc It finally worked after doing this :

- **I uninstalled and reinstalled react-native-snap-carousel**
by doing this I could get the item name and index details in a console
but still had some errors when I gave `source={item}` so then,

- **I replaced `source={item}` to `source={item.item}`**
and now the images  are displayed

[2017-09-07 11:43] edo1493 commented on #139
Another thing I have noticed is when I set deceleration "fast", the component has even more issues; because it stops in the middle of two elements and has a much bigger delay in focusing.

[2017-09-07 14:05] asantos00 opened #141 "Lazy loading"
Hi, at first good job with this package, it definitely simplifies the usage of a carousel without having to directly handle FlatList.

I have a question regarding the lazy loading of the items, does this package renders all the steps on the first render? or only when needed?

Thanks!

[2017-09-08 05:40] est7 commented on #12
please implement it.....

[2017-09-08 08:41] edo1493 commented on #139
Btw, I am playing with your component and also tried to work out a better shouldComponentUpdate for my scenario with deepEqual, instead of shallow. However, what I am seeing is an actual delay on scrollToIndex from the FlatList component.

This happens with 20 elements, your method gets triggered, but then the list takes a while before moving.

[2017-09-08 09:22] edo1493 commented on #141
Hey @asantos00, the package is build on top of a FlatList, with a windowSize, so the answer is no. It doesn't render them all at first.

[2017-09-08 11:48] edo1493 commented on #139
I am closing this. After digging, I have realised redux-undo was creating performance issues with this component transitions. This was a really weird discovery, since no one of the props involved here were anything to do with one of my reducers that was implementing undo.

[2017-09-08 11:48] #139 closed

[2017-09-08 13:26] bd-arc commented on #139
@edo1493 Ok, thanks the detailed feedback. This has been very useful anyway ;-)

[2017-09-09 05:09] jarvisluong opened #142 "Option to render a React Component when data has no items?"
Hi! Should this library have an option that does allow us to render something when there isn't any item?

[2017-09-09 16:17] gauravdhiman opened #143 "Not rendering the cards in carousel correctly."
I am using [react-native-snap-carousel][1] NPM package with [NativeBase][2] in a react-native app. I am able to load the page successfully but the carousel is not showing up the children components as expected. Cards in Carousel are rendering very small (very small height, not visible clearly)

If I use the card component in `<ListItem>` component of NativeBase, the cards come up perfectly fine, b

[2017-09-09 18:57] #141 closed

[2017-09-09 19:21] bd-arc commented on #142
Hi @jarvisluong,

Well, I don't think that this should be handled by the component itself since it would mess with the rendering logic of the `FlatList`. Instead, I recommend you to settle for something along those lines:

[code]

[2017-09-09 19:21] #142 closed

[2017-09-10 19:25] jasongrishkoff commented on #27
Hi @prithsharma did you get anywhere accomplishing the one-at-a-time feel you were going for?  Trying to build a player similar to Spotify with album artwork in the carousel, but am also encountering this issue where a fast swipe will go from A -> D, then snap back to B.

[2017-09-11 05:26] pritishvaidya94 opened #144 "Carousel Component ref getting null for small instance on re render"
![simulator screen shot sep 11 2017 10 51 49 am](https://user-images.githubusercontent.com/26863724/30259525-688732ce-96df-11e7-9428-589c05c87a33.png)
Hello,
If I try to do a re render to the carousel using the same page, the ref gets null for a small instance and throws this error. But this does not happen in native FlatList.

![screen shot 2017-09-11 at 10 55 53 am](https://user-images.githubuse

[2017-09-11 07:32] bd-arc commented on #27
Hi @jasongrishkoff,

I'm currently trying to hack a way around `ScrollView`'s erratic behavior. This is far from easy, but I'll let you know if I manage to achieve something useful.

[2017-09-11 07:36] jasongrishkoff commented on #27
Thanks @bd-arc! Ultimately just trying to force it to do one slide at a time, regardless of what sort of swipe action the user initiates.

[2017-09-11 10:04] bd-arc commented on #133
Ok, here is [a new commit](https://github.com/archriss/react-native-snap-carousel/commit/d54c0e8fc888ede5a6ff68df394a11e8e54963c0) for you to try. This one should address the active state being displayed on the wrong item when using a `firstItem` other than `0`.

I if doesn't solve your issue, could you update your example repo with a reproductible test case?

[2017-09-11 10:16] bd-arc commented on #143
Hi @gauravdhiman,

While not required, I would recommend defining your carousel's height, particularly when that much nesting is involved.

Is there a specific height you're after or are you trying to pass down something like `{ flex: 1 }`?

[2017-09-11 10:20] bd-arc commented on #144
Hi @pritishvaidya94,

Can you provide a simple test case? Because I'm not able to reproduce the issue...

[2017-09-11 15:36] pritishvaidya94 commented on #144
Hello @bd-arc,
I have the code in the following way,

**Main Screen**
`render () {
renderCarousel = (data) => {
    return (
      <Carousel
        ref={(c) => {
        console.log('Checking Callback Ref' + c)
        this._carousel = c }}
        data={data}
        renderItem={this._renderItemWithParallax}
        sliderWidth={width}
        itemWidth={itemWidth}
        hasParallaxImages

[2017-09-11 16:55] dnish opened #145 "Cards not rendered when firstItem > 0"
Hey,
I'm having a player component which displays the current covers of the loaded playlist. If the user opens the player and the firstItem (which is the current played song) is bigger than 0, the covers are not rendered properly:

![img_0219](https://user-images.githubusercontent.com/7636313/30286681-ade47190-9722-11e7-823f-9c97f582ea37.PNG)

When I now start sliding to the right (next item), the

[2017-09-11 19:28] bd-arc commented on #144
Do you have the same issue with only one `<Carousel />`? With a button that triggers a prop update for example...

I would gladly take a look at the issue, but I need to be able to reproduce it. If you could modify [the example](https://github.com/archriss/react-native-snap-carousel/tree/master/example) and share it on a public repo, I'll then be able to investigate ;-)

[2017-09-11 20:47] bd-arc commented on #145
Hi @dnish,

First of all: congratulations, your app looks awesome! I've always thought that this plugin should be used to make a great music player ;-)

The issue you're having has to do with the `FlatList` component on which the carousel is now based since version 3 (instead of `ScrollView` in previous versions). I recommend you to:
- take a look at [this RN issue](https://github.com/facebook/rea

[2017-09-11 21:47] pritishvaidya commented on #144
Hello @bd-arc ,
I have added you as a collab in my repo.A simple test case would be to checkout branch **react-native-carousel-demo** and search **Doteysir** in the loginscreen as shown in the screenshot.

![screenshot_3](https://user-images.githubusercontent.com/19945677/30298277-7294dc38-9768-11e7-94fe-ab26ef5a0bcf.png)

and navigate to friends tab,  and click **Get Info**.It would show the erro

[2017-09-12 06:08] cinder92 commented on #145
@dnish your app looks awesome! could you share your link to itunes after published is finish? really nice!

[2017-09-12 07:55] mostafa commented on #57
Would you mind mentioning this in documentation!

[2017-09-12 07:58] bd-arc commented on #144
@pritishvaidya Thanks for trusting me with your private repo! I'll take a look at it as soon as possible.

It's good to know that the PR fixed the issue since I'm currently working on a big refactoring that includes a fix like this one. Hopefully, this will also enhance carousel's overall feeling, especially on Android (even though I have absolutely no control over the `scrollToIndex()` duration w

[2017-09-12 08:12] bd-arc commented on #57
@mostafa No problem :-) I'll add the following to the documentation as soon as I'm finished with the update I'm currently working on.

---

### Carousel's stretched height

Since `<Carousel />` is, ultimately, based on `<ScrollView />`, it inherits [its default styles](https://github.com/facebook/react-native/blob/master/Libraries/Components/ScrollView/ScrollView.js#L864) and particularly `{ flexG

[2017-09-12 08:28] gauravdhiman commented on #143
@bd-arc thanks for response. I will try that, but please let me know how to define height of Carousel that you are asking for. Please give some example. I gave my code, can you give example, based on that?

[2017-09-12 09:21] bd-arc commented on #143
If you're going for a flexible height, you could try the following:
[code]
This should allow you to see the space reserved for carousel's slides.

Then, you need to make your `<Cards />` fill up this space. I've never used Native Base, so maybe nothing else is required to make it work. Can you share a screenshot of the end result?

[2017-09-12 10:35] dnish commented on #145
Hey,
thank you guys ☺️. The app is available on iTunes (https://itunes.apple.com/ch/app/muzica-cloud/id1248339418?l=en&mt=8) and Google Play Store (https://play.google.com/store/apps/details?id=com.muzica.android). The app allows you to upload songs from your devices (like Android smartphone, laptop or Mac) to the cloud and make them available on every single device you own. I'm currently developi

[2017-09-12 10:53] dnish commented on #145
It seems like an issue with react-navigation and their animation. If I set <code> apparitionDelay</code> to a high value (f.e. 5000), the covers are rendered correctly. I guess because the view is then fully loaded. So I need to find a way to render the covers after the navigation animation has finished.

[2017-09-12 13:19] pritishvaidya94 commented on #144
@bd-arc , yes thanks for the update, you may close this issue if necessary.

[2017-09-12 22:18] pcooney10 opened #146 "Best way to access Navigation prop with renderItem function"
Hi, this project looks awesome but I had a quick question about the new `renderItem` function.

I would like to pass the navigation prop down to my individual `SliderEntry` items, but can't seem to find the best way to do so. I tried doing something like [this](https://github.com/react-community/react-navigation/issues/2135#issuecomment-315247220), but the `renderItem` function in this example doe

[2017-09-13 07:28] nichesoftgh01 commented on #132
Is this working now?

[2017-09-13 07:34] gauravdhiman commented on #143
@bd-arc thanks for response.

I applied below properties to `<Carousel>` component. That started showing the cards under carousel but still the height of slider is less than height of cards - you can see the white space below carousel, not sure what that is and why carousel is not covering that.

Please see below screenshot.
![card-carousel](https://user-images.githubusercontent.com/5612223/303649

[2017-09-13 07:46] bd-arc commented on #132
Not yet. I'm working on a big refactoring of the plugin and this issue is going to be next in my todo list.

Don't worry, I'll keep you posted :-)

[2017-09-13 21:33] bd-arc commented on #145
@dnish I've just released [version `3.2.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.2.0). I don't know if it can help with your issue, but it's worth trying.

By the way, thanks for the info regarding your app. I'll make sure to check it out!

[2017-09-13 21:34] bd-arc commented on #144
Hey @pritishvaidya,

I've just released [version `3.2.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.2.0) which should solve your issue. Can you confirm?

[2017-09-13 21:44] bd-arc commented on #143
1. To achieve this you just need to specify an `itemWidth` smaller than your `sliderWidth`. In your example, you could try `itemWidth={ width * 0.75 }`. I would also get rid of `contentContainerCustomStyle={{ minHeight: 800 }}`.

2. I've just released [version `3.2.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.2.0) which should help with Android transitions. There are

[2017-09-13 21:53] bd-arc commented on #137
Hi @gonzalezchris @Jayiitb,

I've just released [version `3.2.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.2.0) which should help with your issue. Can you confirm? Don't forget to test [without enabling JS Dev Mode](https://github.com/archriss/react-native-snap-carousel/#android-performances).

Note that there are a lot of issues at stake with how the carousel behave

[2017-09-13 22:05] bd-arc commented on #146
Hi @pcooney10,

Well, you need to create a custom function that "extends" `renderItem()`. If you take a look at [the source code of the plugin](https://github.com/archriss/react-native-snap-carousel/blob/master/src/carousel/Carousel.js#L685:736), you'll see that it's exactly what I've done.

My answer to [this SO question](https://stackoverflow.com/a/45995946/8412141) might also help you figuring

[2017-09-13 22:05] #146 closed

[2017-09-13 22:07] bd-arc commented on #27
Hi @jasongrishkoff,

I've just released [version `3.2.0`](https://github.com/archriss/react-native-snap-carousel/releases/tag/v3.2.0) which should help with your issue. Don't forget to test [without enabling JS Dev Mode](https://github.com/archriss/react-native-snap-carousel/#android-performances).

Note that there are a lot of issues at stake with how the carousel behave on Android, but it all co

[2017-09-13 22:46] jeffreyffs opened #148 "License?"
Hey there,

Awesome looking component here. I was wondering what the license is? If it is fully open, would you consider adding a license file to the repository?

Something simple like this would be awesome :)
https://opensource.org/licenses/MIT

[2017-09-14 00:20] medisoft opened #149 "Swipe up to remove an item"
Hello. I'm looking for a component like yours, that can get a bunch of cards/elements, and the user be able to swipe left/right to browse the elements, but when the user swipes up, the card needs to be removed from the list and a new card loaded from the backend using state or something.

Also when swipe down, the card should load another scene/page.

Is this possible?

Thank you!

[2017-09-14 01:30] KevKo1990 commented on #133
I downloaded your commitment and extracted it into the node_moduls/react-native-snap-carousel folder and replaced the existing version (this is how I test it, right? Just want to confirm)

![still_problem](https://user-images.githubusercontent.com/12497609/30408101-90264874-9937-11e7-8828-1cc9e39e6f2f.gif)
I still have a problem with it - as you can see, as soon as I remove my favorite component,

[2017-09-14 06:44] jasongrishkoff commented on #27
Thanks, @bd-arc. Testing this now. Does the below config look right for forcing a 1-at-a-time config?

[code]

[2017-09-14 07:43] bd-arc commented on #27
Oh, your carousel's container is a `ScrollView`? I must warn you that there are countless [React Native issues about nested `ScrollView`](https://github.com/facebook/react-native/issues?utf8=%E2%9C%93&q=nested%20scrollview) (which the carousel basically is). As long as this for works for you, no need to panic, but stay alert ;-)

Regarding your config, this seems legit to me. Make sure to take a l

[2017-09-14 07:58] bd-arc commented on #27
One final piece of advice: on Android, make sure to test carousel's performance and behavior without JS Dev Mode enabled, and ideally with a production build.

[2017-09-14 08:41] jasongrishkoff commented on #27
Wow, didn't realize I didn't need ScrollView -- I think I pulled that from the example file.  Going to use the settings you have above, without ScrollView :)

And totally understand re: production testing on Android.

Thanks for your help!  I'll let you know if anything looks wonky.

[2017-09-14 08:49] bd-arc commented on #27
@jasongrishkoff You're right: I forgot that I've used a top-level `ScrollView` in the example... Well, apparently it can work ;-)

By the way, I've just release version `3.2.1` which fixes an issue introduced in `3.2.0`.

[2017-09-14 08:52] jasongrishkoff commented on #27
Thanks :)

[2017-09-14 09:09] bd-arc commented on #148
Hi @jeffreyffs,

And [here you are](https://github.com/archriss/react-native-snap-carousel/blob/master/LICENSE)! To sum up: do whatever you want with the plugin and make awesome pull requests; just don't use our names without asking for it ;-)

[2017-09-14 09:09] #148 closed

[2017-09-14 11:13] jungleyu opened #150 "autoplay failed."
When I set autoplay to true, it just slide to next item and then stopped

[2017-09-14 12:28] bd-arc commented on #150
Have you tried version `3.2.1`? It should fix this issue introduced in `3.2.0`. Can you confirm that it works as expected?

[2017-09-14 12:46] pritishvaidya commented on #144
@bd-arc  yes, it works now in version 3.2.1, Thanks !

[2017-09-14 13:10] #144 closed

[2017-09-14 15:30] bd-arc commented on #149
Hi @medisoft,

Currently, this can't be implemented because the plugin is based on a `FlatList` component while what you're after requires an advanced `PanResponder`. I've favored the former so far because of its ability to handle huge amounts of items.

Still, my roadmap includes implementing a custom `PanResponder` on top of the `FlatList` to unify the snap behavior between Android and iOS. This